<div class="center jumbotron">
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<!-- Esthetician Certificate -->
<!-- https://paroba.edu/programs/esthetics/ -->
<div class="center jumbotron">
  <h1>Online Esthetics Certificate</h1>
</div>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 text-right">
      <p>Knowledge you will gain:</p>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">Facials</li>
        <li class="list-group-item list-group-item-success">Hair Removal</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">Body Treatments</li>
        <li class="list-group-item list-group-item-success">Makeup</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">Retail Sales</li>
        <li class="list-group-item list-group-item-success">Product Knowledge</li>
      </ul>
    </div>
  </div>
</div>

<!-- Nails Tech -->
<div class="center jumbotron">
  <h1>Online Nails Tech Certificate</h1>
</div>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 text-right">
      <p>Knowledge you will gain:</p>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">Acrylic Nails</li>
        <li class="list-group-item list-group-item-info">Manicure</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">Pedicure</li>
        <li class="list-group-item list-group-item-info">Nails Design</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">Nail Tips</li>
        <li class="list-group-item list-group-item-info">Nail Wraps</li>
      </ul>
    </div>
  </div>
</div>

<!-- Cosmetology -->
<!-- http://paroba.edu/lp/cosmetology.php?gclid=CMfehpCIyc4CFdFefgodXPAG0A -->
<div class="center jumbotron">
  <h1>Online Cosmetology Certificate</h1>
</div>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 text-right">
      <p>Knowledge you will gain:</p>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">Haircutting and Styling</li>
        <li class="list-group-item list-group-item-success">Coloring</li>
        <li class="list-group-item list-group-item-success">Chemical Texturing</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">Straight Hair Relaxing</li>
        <li class="list-group-item list-group-item-success">Manicuring</li>
        <li class="list-group-item list-group-item-success">Facials</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">Retail Sales</li>
        <li class="list-group-item list-group-item-success">Makeup</li>
        <li class="list-group-item list-group-item-success">Hair Removal</li>
      </ul>
    </div>
  </div>
</div>

<!-- Barber -->
<!-- https://paroba.edu/programs/esthetics/ -->
<div class="center jumbotron">
  <h1>Online Barber Certificate</h1>
</div>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 text-right">
      <p>Knowledge you will gain:</p>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">Haircutting & styling</li>
        <li class="list-group-item list-group-item-info">Clipper cutting and designing</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">Shaving and facial hair trimming</li>
        <li class="list-group-item list-group-item-info">Shampooing and scalp treatments</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">Fitting and styling of artificial hair</li>
        <li class="list-group-item list-group-item-info">Product Knowledge</li>
      </ul>
    </div>
  </div>
</div>

<!-- Instructor -->
<div class="center jumbotron">
  <h1>Online Instructor Certificate</h1>
</div>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 text-right">
      <p>Knowledge you will gain:</p>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">Manage Classroom</li>
        <li class="list-group-item list-group-item-success">Train Students</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">Teaching Skills</li>
        <li class="list-group-item list-group-item-success">Social Skills</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">Lesson Plans</li>
        <li class="list-group-item list-group-item-success">Skill Assessment</li>
      </ul>
    </div>
  </div>
</div>

<!-- Hair Design -->
<div class="center jumbotron">
  <h1>Online Hair Design Certificate</h1>
</div>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 text-right">
      <p>Knowledge you will gain:</p>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">Haircutting and Styling</li>
        <li class="list-group-item list-group-item-info">Coloring</li>
        <li class="list-group-item list-group-item-info">Chemical Texturing</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">Straight Hair Relaxing</li>
        <li class="list-group-item list-group-item-info">Facials</li>
        <li class="list-group-item list-group-item-info">Retail Sales</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">Makeup</li>
        <li class="list-group-item list-group-item-info">Hair Removal</li>
        <li class="list-group-item list-group-item-info">Product Knowledge</li>
      </ul>
    </div>
  </div>
</div>

<!-- ==============================================================  -->

<!-- Esthetician -->
<!-- https://paroba.edu/programs/esthetics/ -->
<div class="center jumbotron">
  <h1>Esthetics Program</h1>
</div>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 text-right">
      <p>Skills & knowledge you will gain:</p>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">Facials</li>
        <li class="list-group-item list-group-item-success">Hair Removal</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">Body Treatments</li>
        <li class="list-group-item list-group-item-success">Makeup</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">Retail Sales</li>
        <li class="list-group-item list-group-item-success">Product Knowledge</li>
      </ul>
    </div>
  </div>
</div>

<!-- Nails Tech -->
<div class="center jumbotron">
  <h1>Nails Tech Program</h1>
</div>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 text-right">
      <p>Skills & knowledge you will gain:</p>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">Acrylic Nails</li>
        <li class="list-group-item list-group-item-info">Manicure</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">Pedicure</li>
        <li class="list-group-item list-group-item-info">Nails Design</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">Nail Tips</li>
        <li class="list-group-item list-group-item-info">Nail Wraps</li>
      </ul>
    </div>
  </div>
</div>

<!-- Cosmetology -->
<!-- http://paroba.edu/lp/cosmetology.php?gclid=CMfehpCIyc4CFdFefgodXPAG0A -->
<div class="center jumbotron">
  <h1>Cosmetology Program</h1>
</div>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 text-right">
      <p>Skills & knowledge you will gain:</p>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">Haircutting and Styling</li>
        <li class="list-group-item list-group-item-success">Coloring</li>
        <li class="list-group-item list-group-item-success">Chemical Texturing</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">Straight Hair Relaxing</li>
        <li class="list-group-item list-group-item-success">Manicuring</li>
        <li class="list-group-item list-group-item-success">Facials</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">Retail Sales</li>
        <li class="list-group-item list-group-item-success">Makeup</li>
        <li class="list-group-item list-group-item-success">Hair Removal</li>
      </ul>
    </div>
  </div>
</div>

<!-- Barber -->
<!-- https://paroba.edu/programs/esthetics/ -->
<div class="center jumbotron">
  <h1>Barber Program</h1>
</div>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 text-right">
      <p>Skills & knowledge you will gain:</p>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">Haircutting & styling</li>
        <li class="list-group-item list-group-item-info">Clipper cutting and designing</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">Shaving and facial hair trimming</li>
        <li class="list-group-item list-group-item-info">Shampooing and scalp treatments</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">Fitting and styling of artificial hair</li>
        <li class="list-group-item list-group-item-info">Product Knowledge</li>
      </ul>
    </div>
  </div>
</div>

<!-- Instructor -->
<div class="center jumbotron">
  <h1>Instructor Program</h1>
</div>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 text-right">
      <p>Skills & knowledge you will gain:</p>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">Manage Classroom</li>
        <li class="list-group-item list-group-item-success">Train Students</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">Teaching Skills</li>
        <li class="list-group-item list-group-item-success">Social Skills</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">Lesson Plans</li>
        <li class="list-group-item list-group-item-success">Skill Assessment</li>
      </ul>
    </div>
  </div>
</div>

<!-- Hair Design -->
<div class="center jumbotron">
  <h1>Hair Design Program</h1>
</div>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 text-right">
      <p>Skills & knowledge you will gain:</p>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">Haircutting and Styling</li>
        <li class="list-group-item list-group-item-info">Coloring</li>
        <li class="list-group-item list-group-item-info">Chemical Texturing</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">Straight Hair Relaxing</li>
        <li class="list-group-item list-group-item-info">Facials</li>
        <li class="list-group-item list-group-item-info">Retail Sales</li>
      </ul>
    </div>
    <div class="col-sm-3 text-left">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">Makeup</li>
        <li class="list-group-item list-group-item-info">Hair Removal</li>
        <li class="list-group-item list-group-item-info">Product Knowledge</li>
      </ul>
    </div>
  </div>
</div>
