<% provide(:title, 'Enrolled program') %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for current_user %>
        <%= current_user.full_name %>
      </h1>
    </section>
  </aside>
</div>


<h1>Enrolled Program</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Program Name</th>
      <th>Duration in Months</th>
      <th>Tution Cost</th>
    </tr>
    <%= render @study_program %>
  </table>
</div>