<% provide(:title, 'Student Lessons') %>

<h2>
  <%= link_to gravatar_for(current_user, size: 50), current_user %> <%= current_user.school_users.first.school.name %>'s Student Lessons  
</h2>

<div class="row">
  <div class="col-md-2 col-md-offset-4">
    <% if school_admin?(current_user) %>
      <%= link_to new_student_lesson_path, remote: true do %>
          <button class="btn btn-lg btn-primary">Assign Lesson</button>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-2" id="student-lesson-form" style="display:none;"></div>
</div>

<!-- Map the following to index -->
<div class="row">
  <div class="col-md-8 col-md-offset-1" id="student-lessons"><%= render @student_lessons %></div>
</div>