
<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#submitExam").click(function(){
      var questionAnswerObj = {};
      $('#myForm input[type=radio]:checked').each(function(){
  		  questionAnswerObj[this.name] = this.value;
  	  }); 
  
      $.ajax({
        type:'POST',
        url:'/submit_Exam',
        data: { questionAnswerObj: JSON.stringify(questionAnswerObj) },
        success:function(result){
          var i;
          var out = "<table class=\"table table-striped\">";
          out += "<th>Question #</th><th>Answer Key</th><th>Your Answer Is</th>";
          x = result;
          $("#answers").empty();
          for (i = 0; i < x.length; i++) {
            out +=  "<tr><td>"  +  x[i].question_number + 
                    "</td><td>" +  x[i].answer_key +
                    "</td><td>" + x[i].your_answer + "</td></tr>";
          }
          out += "</table>";
          $("#answers").append(out);

        }
      }); // ajax
    }); // #submitExam
  });
</script>
</head>
<body>

  <h2>Chapter 22: The Skin Care Business </h2>
  <hr>

  <form id="myForm" >

    <p>1. When should you confirm that you are in complaince with all local, state, and federal regulations, in order to avoid the risk of violations?
		<table class="table table-condensed">
		  <tr><td><input type="radio" name="esthetics_22_1" value="a"></td><td>a) before opening your salon </td></tr>
		  <tr><td><input type="radio" name="esthetics_22_1" value="b"></td><td>b) during your first week of business </td></tr>
		  <tr><td><input type="radio" name="esthetics_22_1" value="c"></td><td>c) during your first month of business </td></tr>
		  <tr><td><input type="radio" name="esthetics_22_1" value="d"></td><td>d) during your first year of business </td></tr>
		</table>
    </p>

    <p>2. Why should you contact local authordities after confirming your ability to own and operate a salon?  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_2" value="a"></td><td>a) to request favorable write-ups in local tourism guides </td></tr>
		  <tr><td><input type="radio" name="esthetics_22_2" value="b"></td><td>b) hyperpigmentation </td></tr>
		  <tr><td><input type="radio" name="esthetics_22_2" value="c"></td><td>c) hypopigmentation </td></tr>
		  <tr><td><input type="radio" name="esthetics_22_2" value="d"></td><td>d) albinism </td></tr>
  		</table>
    </p>

    <p>3. Whose assistance should you seek out if you do not understand your obligations as a business owner? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_3" value="a"></td><td>a) marketing specialist and architect </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_3" value="b"></td><td>b) architect and accountant </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_3" value="c"></td><td>c) attorney and accountant </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_3" value="d"></td><td>d) marketing specialist and attorney </td></tr>
  		</table>
    </p>

    <p>4. What does OSHA oversee? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_4" value="a"></td><td>a) efficacy of the skin care products </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_4" value="b"></td><td>b) compliance with tax regulations </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_4" value="c"></td><td>c) product advertising </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_4" value="d"></td><td>d) workplace safety </td></tr>
  		</table>
    </p>

    <p>5. What is the purpose of a noncompete clause within an agreement to buy an established salon? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_5" value="a"></td><td>a) to ensure to seller does not go on to offer similar services to the same market </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_5" value="b"></td><td>b) to ensure the salon has no existing competitors </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_5" value="c"></td><td>c) to avoid the deal if anyone opens a competing salon within a year </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_5" value="d"></td><td>d) to ensure the buyer will not terminate any current employees </td></tr>
  		</table>
    </p>

    <p>6. What procedures should be spelled out in a security checklist? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_6" value="a"></td><td>a) opening and closing procedures </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_6" value="b"></td><td>b) client-consultation procedures </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_6" value="c"></td><td>c) facial and waxing procedures </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_6" value="d"></td><td>d) greeting and welcoming rocedures </td></tr>
  		</table>
    </p>

    <p>7. What is a good approach for a business owner to have regarding lapses in insurance coverage? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_7" value="a"></td><td>a) coverage should never lapse </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_7" value="b"></td><td>b) occasional lapses are not a big deal </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_7" value="c"></td><td>c) coverage is typically unnecessary </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_7" value="d"></td><td>d) insurance should only be purchased when there is a problem </td></tr>
  		</table>
    </p>

    <p>8. What key information is supplied by accurate daily reports? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_8" value="a"></td><td>a) future marketing opportunities </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_8" value="b"></td><td>b) client satisfaction rates </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_8" value="c"></td><td>c) product efficcacy flutuations </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_8" value="d"></td><td>d) gross income and cost of operarions </td></tr>
  		</table>
    </p>
    
    <p>9. When answering the phone, how can you let clients know you are eager to serve them?
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_9" value="a"></td><td>a) by surshing them off the phone as fast as possible, because time is money </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_9" value="b"></td><td>b) by telling them questions can only be answered via in-person service </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_9" value="c"></td><td>c) by offering to send an esthetician to their home for the first service </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_9" value="d"></td><td>d) by answering in a sincere, welcoming tone of voice </td></tr>
  		</table>
    </p>
    
    <p>10. What should you REFRAIN from doing hen using the phone? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_10" value="a"></td><td>a) being fully attentive to the caller </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_10" value="b"></td><td>b) chewing gum </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_10" value="c"></td><td>c) actively listening to the caller </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_10" value="d"></td><td>d) projecting a positive attitude </td></tr>
  		</table>
    </p>
    
    <p>11. What is the correct term for the money needed to invest in a business?
 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_11" value="a"></td><td>a) collateral </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_11" value="b"></td><td>b) lucre </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_11" value="c"></td><td>c) down payment </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_11" value="d"></td><td>d) capital </td></tr>
  		</table>
    </p>
    
    <p>12. What are consumption supplies? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_12" value="a"></td><td>a) supplies used in the lunchroom </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_12" value="b"></td><td>b) supplies used to conduct daily business operations </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_12" value="c"></td><td>c) items available for sale to clients </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_12" value="d"></td><td>d) supplies used to build the physical plant of a salon, like lumber </td></tr>
  		</table>
    </p>
    
    <p>13. What are retail supplies? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_13" value="a"></td><td>a) supplies used in the reception area </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_13" value="b"></td><td>b) supplies used to conduct daily business operations </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_13" value="c"></td><td>c) items available for sale to clients </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_13" value="d"></td><td>d) record-keeping tools like blank sales slips and rolls of receipt paper </td></tr>
  		</table>
    </p>
    
    <p>14. What is NOT a characteristic of a corporation? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_14" value="a"></td><td>a) shared ownership </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_14" value="b"></td><td>b) involvement of stockholders </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_14" value="c"></td><td>c) status as an indeendent legal entity </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_14" value="d"></td><td>d) ownership limited to one individual </td></tr>
  		</table>
    </p>
    
    <p>15. What is the term for the particular identifying characteristics of an area or population, such as the specific size, agem sex, or ethnicity of its residents? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_15" value="a"></td><td>a) demographics </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_15" value="b"></td><td>b) quotas </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_15" value="c"></td><td>c) marketing strategies </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_15" value="d"></td><td>d) criteria </td></tr>
  		</table>
    </p>
    
    <p>16. What is an employee manual?
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_16" value="a"></td><td>a) handbook or guide containing data about salon operations </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_16" value="b"></td><td>b) brochure listing businesses with which the salon has professional relationship </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_16" value="c"></td><td>c) list of paid holidays and days the salon will close early </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_16" value="d"></td><td>d) handout with names and contact information of all emloyees </td></tr>
  		</table>
    </p>
    
    <p>17. Why is an example of a fixed cost?  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_17" value="a"></td><td>a) advertising budget </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_17" value="b"></td><td>b) plumbing repair cost </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_17" value="c"></td><td>c) air-conditioning repair cost </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_17" value="d"></td><td>d) rent </td></tr>
  		</table>
    </p>
    
    <p>18. What BEST describes a partbership? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_18" value="a"></td><td>a) multiple stockholders sharing ownership of a business </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_18" value="b"></td><td>b) one person owning a business and another person sesrving as manager </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_18" value="c"></td><td>c) one person starting a business and the selling it to another person </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_18" value="d"></td><td>d) multiple people sharing ownership of a business </td></tr>
  		</table>
    </p>

    <p>19. What term refers to the employees that work for you? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_19" value="a"></td><td>a) vendors </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_19" value="b"></td><td>b) clients </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_19" value="c"></td><td>c) personnel </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_19" value="d"></td><td>d) constituents </td></tr>
  		</table>
    </p>

    <p>20. What is the PRIMARY purpose of creating a procedural guide? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_21" value="a"></td><td>a) standardizing operations </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_21" value="b"></td><td>b) establishing disciplinary policies </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_21" value="c"></td><td>c) wedding out bad employees  </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_21" value="d"></td><td>d) relieving managers of responsibility </td></tr>
  		</table>
    </p>

    <p>21. What is profit?
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_22" value="a"></td><td>a) total amount of expenses plus revenues </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_22" value="b"></td><td>b) money left after expenses are subtracted from revenues </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_22" value="c"></td><td>c) all salon income prior to expenses </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_22" value="d"></td><td>d) salaries minus tips </td></tr>
  		</table>
    </p>

    <p>22. What is the MAIN goal of public relations? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_22" value="a"></td><td>a) gaining more personal friends </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_22" value="b"></td><td>b) achieving a certain desired behavior </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_22" value="c"></td><td>c) attracting  potential new employees </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_22" value="d"></td><td>d) distracting  the public from crimes </td></tr>
  		</table>
    </p>

    <p>23. What is revenue? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_23" value="a"></td><td>a) income generated from selling products and services </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_23" value="b"></td><td>b) amount spent on purchasing products that will be sold to clients </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_23" value="c"></td><td>c) total amount of all expenses for which the salon is liable </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_23" value="d"></td><td>d) portion of income set aside for taxes </td></tr>
  		</table>
    </p>

    <p>24. Who generally pays for the utilities an esthetician uses in a boothrental arrangement ?
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_24" value="a"></td><td>a) esthetician </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_24" value="b"></td><td>b) financing company </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_24" value="c"></td><td>c) stockholders </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_24" value="d"></td><td>d) clients </td></tr>
  		</table>
    </p>

    <p>25. What is a business plan? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_25" value="a"></td><td>a) document outlining a company's beliefs and goals </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_25" value="b"></td><td>b) strategy for understanding ey elements in developing business </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_25" value="c"></td><td>c) handout given to employees explaining company policies </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_25" value="d"></td><td>d) checklist explaining how procedures are followed </td></tr>
  		</table>
    </p>

    <p>26. What should you do 24 to 48 hours before an appointment ith a client?
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_26" value="a"></td><td>a) confirm the appointment with the client by phone </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_26" value="b"></td><td>b) prepare your workstation by laying out needed products and supplies </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_26" value="c"></td><td>c) turn on the towel warmer an insert fresh lines </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_26" value="d"></td><td>d) wash your hands to ensure cleanliness during the treatment </td></tr>
  		</table>
    </p>

    <p>27. What should you do hen leaving phone messages? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_27" value="a"></td><td>a) remind the client to bring enough money to pay for services </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_27" value="b"></td><td>b) address the client by name </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_27" value="c"></td><td>c) leave a thorough description of all services you expert to perform </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_27" value="d"></td><td>d) pretend to be the salon manager </td></tr>
  		</table>
    </p>

    <p>28. What is true of the front desk in a salon or spa?  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_28" value="a"></td><td>a) few customers will have direct interaction with the front desk </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_28" value="b"></td><td>b) only the manager needs to kno ho the front desk operates </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_28" value="c"></td><td>c) it is the center of business operations in the salon </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_28" value="d"></td><td>d) every esthetician takes a turn working at the front desk </td></tr>
  		</table>
    </p>

    <p>29. What do you gain through education? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_29" value="a"></td><td>a) compassion for dealing with employees' problems </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_29" value="b"></td><td>b) patience for awiting out slow periods in business </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_29" value="c"></td><td>c) inspiration you need for inventing a successfull product </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_29" value="d"></td><td>d) knowledge you need to operate a rofitable business </td></tr>
  		</table>
    </p>
  
    <p>30. When should you become familiar with the basic business principle of accounting? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_30" value="a"></td><td>a) before you open your business </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_30" value="b"></td><td>b) during your first week in business </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_30" value="c"></td><td>c) during your first month in business </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_30" value="d"></td><td>d) during your first year in business </td></tr>
  		</table>
    </p>

    <p>31. What business type requires the propritor to bear losses alone? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_31" value="a"></td><td>a) limited liability corporation </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_31" value="b"></td><td>b) sole proprietorship </td></tr>
                  <tr><td><input type="radio" name="esthetics_22_31" value="d"></td><td>c) partnership </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_31" value="d"></td><td>d) corporation </td></tr>
  		</table>
    </p>

    <p>32. What sort of person might thrive by operating a sole proprietorship? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_32" value="a"></td><td>a) collaborative person who enjoys bouncing ideas off others </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_32" value="b"></td><td>b) independent, self-motivated individual who likes to be in charge </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_32" value="c"></td><td>c) risk-averse person who does not mind sharing profits </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_32" value="d"></td><td>d) quiet person who feels uncomfortable giving orders </td></tr>
  		</table>
    </p>

    <p>33. What is characteristic of someone who might thrive in a partnership?
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_33" value="a"></td><td>a) prefers to do everything instead of delegating tasks </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_33" value="b"></td><td>b) wants to keep all profits instead of sharing them </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_33" value="c"></td><td>c) worries about the risks associated with assuming liability </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_33" value="d"></td><td>d) enjoys the security of working with others </td></tr>
  		</table>
    </p>

    <p>34. When should you learn as much as possible about a prospective partner's ethics and philosohies? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_34" value="a"></td><td>a) before entering into any binding agreement </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_34" value="b"></td><td>b) before discussing  the possibility of going into business together </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_34" value="c"></td><td>c) during the first year of business, so you can see how the person works </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_34" value="d"></td><td>d) after spending your capital on equipment and other necessities </td></tr>
  		</table>
    </p>

    <p>35. What is one of the effects of incorporating? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_35" value="a"></td><td>a) eliminates the need to pay any type of taxes </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_35" value="b"></td><td>b) requires all investors to be actively involved in managing the company </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_35" value="c"></td><td>c) eliminates the need to obtain government recognition of the business </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_35" value="d"></td><td>d) help to protect personal assets </td></tr>
  		</table>
    </p>

    <p>36. What does a corporation accomplish by issuing stock certificates or shares? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_36" value="a"></td><td>a) adding members to the board of directors </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_36" value="b"></td><td>b) raising capital </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_36" value="c"></td><td>c) eliminating corporate liability </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_36" value="d"></td><td>d) diversifying corporate investments </td></tr>
  		</table>
    </p>

    <p>37. What is a sole proprietoship? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_37" value="a"></td><td>a) business owned by one person </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_37" value="b"></td><td>b) business owned by two or more people </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_37" value="c"></td><td>c) business owned by stockholders </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_37" value="d"></td><td>d) local business that is part of a larger national chain </td></tr>
  		</table>
    </p>

    <p>38. What is the term for business expenses that fluctuate? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_38" value="a"></td><td>a) fixed costs </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_38" value="b"></td><td>b) marketing costs </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_38" value="c"></td><td>c) utility costs </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_38" value="d"></td><td>d) variable costs </td></tr>
  		</table>
    </p>

    <p>39. What is the right approach for conflicts involving employees? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_39" value="a"></td><td>a) letting employees work out their own problems </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_39" value="b"></td><td>b) responding quickly and diplomatically </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_39" value="c"></td><td>c) immediately firing any employee involved in a conflict </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_39" value="d"></td><td>d) immediately sending the employee home to "cool off" </td></tr>
  		</table>
    </p>

    <p>40. Who do employees typically regard as the leader of the team in the salon? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_40" value="a"></td><td>a) client </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_40" value="b"></td><td>b) receptionist </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_40" value="c"></td><td>c) manager </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_40" value="d"></td><td>d) most experienced esthetician </td></tr>
  		</table>
    </p>

    <p>41. What aspect of employee relations includes active listening? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_41" value="a"></td><td>a) negative surveillance </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_41" value="b"></td><td>b) positive surveillance </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_41" value="c"></td><td>c) negative communication </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_41" value="d"></td><td>d) positive communication </td></tr>
  		</table>
    </p>

    <p>42. What is an employer's TOP financial priority? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_42" value="a"></td><td>a) payroll </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_42" value="b"></td><td>b) utilities </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_42" value="c"></td><td>c) rent or mortgage </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_42" value="d"></td><td>d) product vendors </td></tr>
  		</table>
    </p>

    <p>43. What costs should you cover for employees to the best of your financial ability? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_43" value="a"></td><td>a) transportation </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_43" value="b"></td><td>b) meals </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_43" value="c"></td><td>c) benefits </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_43" value="d"></td><td>d) leisure activities </td></tr>
  		</table>
    </p>

    <p>44. What happens when stockholders buy additional shared of stock? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_44" value="a"></td><td>a) they diminish the overall value of the coropration </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_44" value="b"></td><td>b) they increase their salaries </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_44" value="c"></td><td>c) their voting power remains unchanged </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_44" value="d"></td><td>d) they increase their ownership interest in the corporation </td></tr>
  		</table>
    </p>

    <p>45. What type of business is managed by a board of directors? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_45" value="a"></td><td>a) sole proprietorship </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_45" value="b"></td><td>b) coropration </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_45" value="c"></td><td>c) partnership </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_45" value="d"></td><td>d) booth rental </td></tr>
  		</table>
    </p>

    <p>46. Why should you require the services of a competent lawyer and tax accountant if you want to form a coropration? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_46" value="a"></td><td>a) to ensure compliance with complex state rules and regulations </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_46" value="b"></td><td>b) in order to establish tax shelters in which you can hide income </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_46" value="c"></td><td>c) to protect yourself since most companies get sued often </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_46" value="d"></td><td>d) because every business needs a full-time layer and tax accountant </td></tr>
  		</table>
    </p>

    <p>47. What is a benefit of renting a booth or space within an extablished salon? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_47" value="a"></td><td>a) booth rental exposes you to every possible business situation </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_47" value="b"></td><td>b) you gain experience by running a business on a small scale </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_47" value="c"></td><td>c) if you succeed in booth rental, you will succeed in anything you try </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_47" value="d"></td><td>d) booth renters usually end up buying the salon after a short period </td></tr>
  		</table>
    </p>

    <p>48. What are two of the MOST important factors when choosing the location of your salon? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_48" value="a"></td><td>a) product pricing and quality of service </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_48" value="b"></td><td>b) visibility and accessibility </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_48" value="c"></td><td>c) distance from the bank and age of the building </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_48" value="d"></td><td>d) size of the building and quality of its fixtures </td></tr>
  		</table>
    </p>

    <p>49. What is the term for locating a business close to other businesses that offer different products and/or services?  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_49" value="a"></td><td>a) ones-stop shopping </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_49" value="b"></td><td>b) cluster retailing </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_49" value="c"></td><td>c) group marketing </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_49" value="d"></td><td>d) demographic geography </td></tr>
  		</table>
    </p>

    <p>50. Why is parking a critical element in attracting business?  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_50" value="a"></td><td>a) because employee convenience is always your first priority </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_50" value="b"></td><td>b) safety and convenience are important marketing features </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_50" value="c"></td><td>c) you won't enjoy wwork if you have to park a long distance away </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_50" value="d"></td><td>d) only people who drive are likely to seek out salon services </td></tr>
  		</table>
    </p>

    <p>51. What is a function of the federal agency called the Small Business Administration (SBA)?  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_51" value="a"></td><td>a) ensuring workplace safety </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_51" value="b"></td><td>b) ensuring compliance with employment laws </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_51" value="c"></td><td>c) performing workplace inspections </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_51" value="d"></td><td>d) helping small business succeed </td></tr>
  		</table>
    </p>

    <p>52. What is true of financial management?  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_52" value="a"></td><td>a) it is your accountant's responsibility, not yours </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_52" value="b"></td><td>b) it is the cornnerstone of a successful business plan </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_52" value="c"></td><td>c) no one experts every business owner to know how to manage money </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_52" value="d"></td><td>d) it is the cornerstone of a successful employee handbook </td></tr>
  		</table>
    </p>

    <p>53. What helps you learn how to forecast (make predictions) about your business?  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_53" value="a"></td><td>a) achieving five or more years of consistent profitability </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_53" value="b"></td><td>b) maintaining a staff of five or more for at least one year </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_53" value="c"></td><td>c) becoming familiar with the financial affairs of your competitors </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_53" value="d"></td><td>d) becoming familiar with specific costs related to running the business </td></tr>
  		</table>
    </p>

    <p>54. What should your dispensary feature in addition to ease of mobility?  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_54" value="a"></td><td>a) soothing paint colors on the wall </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_54" value="b"></td><td>b) high-fashion furniture </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_54" value="c"></td><td>c) adequate storage space </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_54" value="d"></td><td>d) fluorescent lighting </td></tr>
  		</table>
    </p>


    <p>55. What evokes a professional ambiance in the salon?  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_55" value="a"></td><td>a) clientele of the salon </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_55" value="b"></td><td>b) style of the salon </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_55" value="c"></td><td>c) neighborhood in hich the salon operates </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_55" value="d"></td><td>d) popularity of the salon </td></tr>
  		</table>
    </p>

    <p>56. What do you communicate to your employees by setting clear goals and obectives and by acting consistently?  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_56" value="a"></td><td>a) that you are boring and predictable </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_56" value="b"></td><td>b) that you don't want their input </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_56" value="c"></td><td>c) that you are a person of your word </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_56" value="d"></td><td>d) that you will be quick to punish </td></tr>
  		</table>
    </p>

    <p>57. What is the term for items you might offer your employees, such as tickets to educational conferences?  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_57" value="a"></td><td>a) widgets </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_57" value="b"></td><td>b) revenues </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_57" value="c"></td><td>c) tips </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_57" value="d"></td><td>d) incentives </td></tr>
  		</table>
    </p>

    <p>58. How quickly should you answer the phone in a professional setting?  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_58" value="a"></td><td>a) during the first ring </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_58" value="b"></td><td>b) after about one minute of ringing </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_58" value="c"></td><td>c) you should send all calls to voicemail </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_58" value="d"></td><td>d) within three rings </td></tr>
  		</table>
    </p>

    <p>59. What should you do after asking a caller for permission toput the caller on hold?  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_59" value="a"></td><td>a) immediately put the caller on hold </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_59" value="b"></td><td>b) allow enough time for a response </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_59" value="c"></td><td>c) shout to the person in the salon with whom the caller needs to speak </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_59" value="d"></td><td>d) warn the caller that he or she might be on hold for a long time </td></tr>
  		</table>
    </p>

    <p>60. What is the protocol for missed calls in a professional setting?  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_22_60" value="a"></td><td>a) every call to a business must be answered immediately </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_60" value="b"></td><td>b) check messages often and respond as quickly as possible </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_60" value="c"></td><td>c) returning these calls is unnecessary because the person will call back </td></tr>
  		  <tr><td><input type="radio" name="esthetics_22_60" value="d"></td><td>d) returning calls within a week is sufficiently professional </td></tr>
  		</table>
    </p>

  </form>
  
  <button id="submitExam" class="btn btn-lg btn-primary">Submit</button>

</body>
</html>
