
<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#submitExam").click(function(){
      var questionAnswerObj = {};
      $('#myForm input[type=radio]:checked').each(function(){
  		  questionAnswerObj[this.name] = this.value;
  	  }); 
  
      $.ajax({
        type:'POST',
        url:'/submit_Exam',
        data: { questionAnswerObj: JSON.stringify(questionAnswerObj) },
        success:function(result){
          var i;
          var out = "<table class=\"table table-striped\">";
          out += "<th>Question #</th><th>Answer Key</th><th>Your Answer Is</th>";
          x = result;
          $("#answers").empty();
          for (i = 0; i < x.length; i++) {
            out +=  "<tr><td>"  +  x[i].question_number + 
                    "</td><td>" +  x[i].answer_key +
                    "</td><td>" + x[i].your_answer + "</td></tr>";
          }
          out += "</table>";
          $("#answers").append(out);

        }
      }); // ajax
    }); // #submitExam
  });
</script>
</head>
<body>

  <h2>Chapter 20: The World Of Makeup </h2>
  <hr>

  <form id="myForm" >

    <p>1. What type of light is BEST for makeup application?
		<table class="table table-condensed">
		  <tr><td><input type="radio" name="esthetics_20_1" value="a"></td><td>a) natural </td></tr>
		  <tr><td><input type="radio" name="esthetics_20_1" value="b"></td><td>b) incandescent </td></tr>
		  <tr><td><input type="radio" name="esthetics_20_1" value="c"></td><td>c) fluorescent </td></tr>
		  <tr><td><input type="radio" name="esthetics_20_1" value="d"></td><td>d) LED </td></tr>
		</table>
    </p>

    <p>2. What is one of the factors to consider when choosing colors for a client?  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_2" value="a"></td><td>a) skin type </td></tr>
		  <tr><td><input type="radio" name="esthetics_20_2" value="b"></td><td>b) skin color </td></tr>
		  <tr><td><input type="radio" name="esthetics_20_2" value="c"></td><td>c) skin pH </td></tr>
		  <tr><td><input type="radio" name="esthetics_20_2" value="d"></td><td>d) skin density </td></tr>
  		</table>
    </p>

    <p>3. What is NOT true of the color temperature green? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_3" value="a"></td><td>a) bright green can downplay red in the skin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_3" value="b"></td><td>b) it is easy on the eyes </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_3" value="c"></td><td>c) it is flattering to many skin tones </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_3" value="d"></td><td>d) blue-greens are cool </td></tr>
  		</table>
    </p>

    <p>4. What is true of the color temperature brown? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_4" value="a"></td><td>a) it is a drab and unflattening color rarely used in makeup </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_4" value="b"></td><td>b) it can be ind to many complexion tones </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_4" value="c"></td><td>c) it is only flattening to dark complexion tones </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_4" value="d"></td><td>d) it is only flattening to pale complexion tones </td></tr>
  		</table>
    </p>

    <p>5. What is NOT true  of the beige skin tone? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_5" value="a"></td><td>a) it is a medium skin tone </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_5" value="b"></td><td>b) it may have pink undertones </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_5" value="c"></td><td>c) it may have yellow undertones </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_5" value="d"></td><td>d) it may have green undertones </td></tr>
  		</table>
    </p>

    <p>6. What skin tone has creamy or slightly pink undertones? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_6" value="a"></td><td>a) deep or black </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_6" value="b"></td><td>b) olive or hot </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_6" value="c"></td><td>c) beige or median </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_6" value="d"></td><td>d) iovy to fair </td></tr>
  		</table>
    </p>

    <p>7. What hue does sallow skin have? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_7" value="a"></td><td>a) pinkish </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_7" value="b"></td><td>b) reddish </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_7" value="c"></td><td>c) greenish </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_7" value="d"></td><td>d) yellowish </td></tr>
  		</table>
    </p>

    <p>8. What type of skin would NOT be called ruddy? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_8" value="a"></td><td>a) red skin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_8" value="b"></td><td>b) wind-burned skin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_8" value="c"></td><td>c) skin affected by rosacea </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_8" value="d"></td><td>d) skin affected by albinism </td></tr>
  		</table>
    </p>
    
    <p>9. What is the complementary color to orange?
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_9" value="a"></td><td>a) blue </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_9" value="b"></td><td>b) red </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_9" value="c"></td><td>c) yellow </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_9" value="d"></td><td>d) green </td></tr>
  		</table>
    </p>
    
    <p>10. What is the complementary color to red? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_10" value="a"></td><td>a) blue </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_10" value="b"></td><td>b) yellow </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_10" value="c"></td><td>c) green </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_10" value="d"></td><td>d) orange </td></tr>
  		</table>
    </p>
    
    <p>11. What are the elements of a shade?
 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_11" value="a"></td><td>a) pure hue plus black </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_11" value="b"></td><td>b) pure hue plus gray </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_11" value="c"></td><td>c) pure hue plus white </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_11" value="d"></td><td>d) pure hue plus yellow </td></tr>
  		</table>
    </p>
    
    <p>12. What are the elements of a tone? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_12" value="a"></td><td>a) pure hue plus black </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_12" value="b"></td><td>b) pure hue plus gray </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_12" value="c"></td><td>c) pure hue plus white </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_12" value="d"></td><td>d) pure hue plus yellow </td></tr>
  		</table>
    </p>
    
    <p>13. What is NOT one of the reasons a particular makeup product might be momre expensive than another product? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_13" value="a"></td><td>a) higher-quality ingredients </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_13" value="b"></td><td>b) more elaborate packaging </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_13" value="c"></td><td>c) larger oadvertising budget </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_13" value="d"></td><td>d) FDA approval </td></tr>
  		</table>
    </p>
    
    <p>14. What is NOT true of primers? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_14" value="a"></td><td>a) they are liquid or silicone-based formulas </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_14" value="b"></td><td>b) they are designed to go underneath foundations </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_14" value="c"></td><td>c) they are designed to penetrate into the deepest layer of the skin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_14" value="d"></td><td>d) they prepare the skin for makeup and help keep product on the skin  </td></tr>
  		</table>
    </p>
    
    <p>15. What type of makeup is considered healthy because it is less heavy, more noncomedogenic, and more natueal than other types of makeup? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_15" value="a"></td><td>a) chemical </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_15" value="b"></td><td>b) synthetic </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_15" value="c"></td><td>c) mineral </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_15" value="d"></td><td>d) acrylic </td></tr>
  		</table>
    </p>
    
    <p>16. Who often prefers liquid foundation over mineral makeup because mineral makeup can sometimes tend to be shiny and too drying?
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_16" value="a"></td><td>a) clients with comebination skin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_16" value="b"></td><td>b) male clients </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_16" value="c"></td><td>c) young clients </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_16" value="d"></td><td>d) mature clients </td></tr>
  		</table>
    </p>
    
    <p>17. What sort of finish does face powder add to the face?  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_17" value="a"></td><td>a) sheer </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_17" value="b"></td><td>b) traslucent </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_17" value="c"></td><td>c) matte </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_17" value="d"></td><td>d) shiny </td></tr>
  		</table>
    </p>
    
    <p>18. What is NOT a form in which chee color is commonly available? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_18" value="a"></td><td>a) cream </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_18" value="b"></td><td>b) liquid </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_18" value="c"></td><td>c) powder </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_18" value="d"></td><td>d) spray </td></tr>
  		</table>
    </p>

    <p>19. What is true of the eyes? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_19" value="a"></td><td>a) they are the focal point in makeup design </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_19" value="b"></td><td>b) because makeup cannot be applied onto the eyes, they are unimportant </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_19" value="c"></td><td>c) the goal of the makeup artist is to downplay the eyes </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_19" value="d"></td><td>d) makeup that accentuates teh eyes has been applied improperly </td></tr>
  		</table>
    </p>

    <p>20. What sort of loo do liquid or gel eyeliners create, as opposed to pencil eyeliners? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_21" value="a"></td><td>a) more subdued </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_21" value="b"></td><td>b) more natural </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_21" value="c"></td><td>c) more dramatic </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_21" value="d"></td><td>d) more cheap </td></tr>
  		</table>
    </p>

    <p>21. What are band lashes?
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_22" value="a"></td><td>a) lashes enlarged by infection </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_22" value="b"></td><td>b) patches where lashes are absent </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_22" value="c"></td><td>c) lashes laden with heavy makeup </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_22" value="d"></td><td>d) artificial lashes on a strip </td></tr>
  		</table>
    </p>

    <p>22. What is cake makeup used for? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_22" value="a"></td><td>a) light coverage </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_22" value="b"></td><td>b) heavy coverage </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_22" value="c"></td><td>c) giving the eyes a dramatic look </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_22" value="d"></td><td>d) downplaying the appearance of the eyes </td></tr>
  		</table>
    </p>

    <p>23. Why is the relationship on the color wheel between complementary colors? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_23" value="a"></td><td>a) they are next to each other </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_23" value="b"></td><td>b) they are one color removed from each other </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_23" value="c"></td><td>c) they are two colors removed from each other </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_23" value="d"></td><td>d) they are opposite to each other </td></tr>
  		</table>
    </p>

    <p>24. What are concealers used to cover?
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_24" value="a"></td><td>a) poorly applied makeup </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_24" value="b"></td><td>b) blemishes and discoloration </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_24" value="c"></td><td>c) a client's natural skin color </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_24" value="d"></td><td>d) unwanted hair growth </td></tr>
  		</table>
    </p>

    <p>25. What undertones do cool colors have? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_25" value="a"></td><td>a) red </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_25" value="b"></td><td>b) yellow </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_25" value="c"></td><td>c) green </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_25" value="d"></td><td>d) blue </td></tr>
  		</table>
    </p>

    <p>26. What is attached to a client in the procedure called eye tabbing?
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_26" value="a"></td><td>a) band lashes </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_26" value="b"></td><td>b) mascara</td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_26" value="c"></td><td>c) eye shadow </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_26" value="d"></td><td>d) individual lashes </td></tr>
  		</table>
    </p>

    <p>27. What is another name for foundation? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_27" value="a"></td><td>a) mascara </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_27" value="b"></td><td>b) lip liner </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_27" value="c"></td><td>c) base makeup </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_27" value="d"></td><td>d) concealer </td></tr>
  		</table>
    </p>

    <p>28. What is greasepaint typically used for?  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_28" value="a"></td><td>a) glamorous evening look </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_28" value="b"></td><td>b) casual daytime look </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_28" value="c"></td><td>c) theatrical purposes </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_28" value="d"></td><td>d) pharmaceutical purposes </td></tr>
  		</table>
    </p>

    <p>29. What is the term that means "nonshiny or dull"? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_29" value="a"></td><td>a) translucent </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_29" value="b"></td><td>b) iridescent </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_29" value="c"></td><td>c) prismatic </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_29" value="d"></td><td>d) matte </td></tr>
  		</table>
    </p>
  
    <p>30. What is NOT an effect mascara has on eyelashes? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_30" value="a"></td><td>a) darkens </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_30" value="b"></td><td>b) thickens </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_30" value="c"></td><td>c) defines </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_30" value="d"></td><td>d) elongates </td></tr>
  		</table>
    </p>

    <p>31. What is a large, soft brush used for blending and apying  poweder or blush? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_31" value="a"></td><td>a) blush brush </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_31" value="b"></td><td>b) powder brush </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_31" value="c"></td><td>c) concealer brush </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_31" value="d"></td><td>d) kabuki brush </td></tr>
  		</table>
    </p>

    <p>32. What is a short brush with dense bristles for powder or blush? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_32" value="a"></td><td>a) angle brow brush </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_32" value="b"></td><td>b) lip brush </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_32" value="c"></td><td>c) lash and brow brush </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_32" value="d"></td><td>d) kabuki brush </td></tr>
  		</table>
    </p>

    <p>33. What is a blush brush?
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_33" value="a"></td><td>a) smaller version of the powder brush </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_33" value="b"></td><td>b) larger version of the powder brush </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_33" value="c"></td><td>c) smaller version of the kabuki brush </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_33" value="d"></td><td>d) larger version of the kabuki brush </td></tr>
  		</table>
    </p>

    <p>34. What can you do to prevent brush bristles to dry in the shae they are left in while wet? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_34" value="a"></td><td>a) avoid washing brushes and simly discard them when dirtied </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_34" value="b"></td><td>b) avoid using moisture, including water, to wash brushes </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_34" value="c"></td><td>c) reshape the wet bristles and lay the brush flat to dry </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_34" value="d"></td><td>d) any shape the bristles dry into after cleansing is acceptable </td></tr>
  		</table>
    </p>

    <p>35. What is the purpose od using a neck strip? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_35" value="a"></td><td>a) to keep the cape clean from one client to the next </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_35" value="b"></td><td>b) to enhance the moisturizer you place on the client's neck </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_35" value="c"></td><td>c) to give you a surface for wiping your hands during makeup application </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_35" value="d"></td><td>d) to give you a surface to wipe excess makeup off brushes </td></tr>
  		</table>
    </p>

    <p>36. What is the term for fundamental colors that cannot be obtained from a mixture? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_36" value="a"></td><td>a) primary colors </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_36" value="b"></td><td>b) secondary colors </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_36" value="c"></td><td>c) tertiary colors </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_36" value="d"></td><td>d) lakes </td></tr>
  		</table>
    </p>

    <p>37. What is the term for colors obtained by mixing equal parts of two primary colors? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_37" value="a"></td><td>a) secondary colors </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_37" value="b"></td><td>b) tertiary colors </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_37" value="c"></td><td>c) derivative colors </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_37" value="d"></td><td>d) mixed colors </td></tr>
  		</table>
    </p>

    <p>38. What is the term for colors that are formed by mising equal amounts of a secondary color and its neighboring primary color? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_38" value="a"></td><td>a) complementary colors </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_38" value="b"></td><td>b) derivative colors </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_38" value="c"></td><td>c) coordinating colors </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_38" value="d"></td><td>d) tertiary colors </td></tr>
  		</table>
    </p>

    <p>39. What undertones do warm colors have? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_39" value="a"></td><td>a) blue </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_39" value="b"></td><td>b) red </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_39" value="c"></td><td>c) green </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_39" value="d"></td><td>d) yellow </td></tr>
  		</table>
    </p>

    <p>40. What are the  three primary colors? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_40" value="a"></td><td>a) green, orange, purple </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_40" value="b"></td><td>b) green, yellow, orange </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_40" value="c"></td><td>c) white, black, gray </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_40" value="d"></td><td>d) red, blue, yellow </td></tr>
  		</table>
    </p>

    <p>41. What color is created when blue and yellow are mixed together? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_41" value="a"></td><td>a) purple </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_41" value="b"></td><td>b) green </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_41" value="c"></td><td>c) orange </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_41" value="d"></td><td>d) brown </td></tr>
  		</table>
    </p>

    <p>42. What color is created when red and yellow are mixed together? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_42" value="a"></td><td>a) green </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_42" value="b"></td><td>b) orange </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_42" value="c"></td><td>c) purple </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_42" value="d"></td><td>d) brown </td></tr>
  		</table>
    </p>

    <p>43. What is an example of a tertiary color? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_43" value="a"></td><td>a) blue </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_43" value="b"></td><td>b) white </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_43" value="c"></td><td>c) purple </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_43" value="d"></td><td>d) blue-violet </td></tr>
  		</table>
    </p>

    <p>44. What is hue? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_44" value="a"></td><td>a) specific density of a color </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_44" value="b"></td><td>b) malleability of a color </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_44" value="c"></td><td>c) distinct characteristic of a color </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_44" value="d"></td><td>d) temperature of a color </td></tr>
  		</table>
    </p>


    <p>45. What are the elements of a tint? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_20_45" value="a"></td><td>a) pure hue plus black </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_45" value="b"></td><td>b) pure hue plus gray </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_45" value="c"></td><td>c) pure hue plus white </td></tr>
  		  <tr><td><input type="radio" name="esthetics_20_45" value="d"></td><td>d) pure hue plus yellow </td></tr>
  		</table>
    </p>

  </form>
  
  <button id="submitExam" class="btn btn-lg btn-primary">Submit</button>

</body>
</html>
