<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#submitExam").click(function(){
      var questionAnswerObj = {};
      $('#myForm input[type=radio]:checked').each(function(){
  		  questionAnswerObj[this.name] = this.value;
  	  }); 
  
      $.ajax({
        type:'POST',
        url:'/submit_Exam',
        data: { questionAnswerObj: JSON.stringify(questionAnswerObj) },
        success:function(result){
          var i;
          var out = "<table class=\"table table-striped\">";
          out += "<th>Question #</th><th>Answer Key</th><th>Your Answer Is</th>";
          x = result;
          $("#answers").empty();
          for (i = 0; i < x.length; i++) {
            out +=  "<tr><td>"  +  x[i].question_number + 
                    "</td><td>" +  x[i].answer_key +
                    "</td><td>" + x[i].your_answer + "</td></tr>";
          }
          out += "</table>";
          $("#answers").append(out);

        }
      }); // ajax
    }); // #submitExam
  });
</script>
</head>
<body>

  <h2>Chapter 10: Physiology And Histology Of The Skin</h2>
  <hr>

  <form id="myForm" >

    <p>1. Why is UVB radiation also known as "burning rays"?</p>
		<table class="table table-condensed">
		  <tr><td><input type="radio" name="esthetics_10_1" value="a"></td><td>a) UVB wavelengths cause burning of the skin as well as cancer </td></tr>
		  <tr><td><input type="radio" name="esthetics_10_1" value="b"></td><td>b) UVB radiation burns paper upon direct exposure  </td></tr>
		  <tr><td><input type="radio" name="esthetics_10_1" value="c"></td><td>c) UVB radiation burns wood upon direct expouse  </td></tr>
		  <tr><td><input type="radio" name="esthetics_10_1" value="d"></td><td>d) UVB causes premature aging in skin </td></tr>
		</table>
    </p>

    <p>2. What is NOT an element of the skin's acid mantle?  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_2" value="a"></td><td>a) blood </td></tr>
		  <tr><td><input type="radio" name="esthetics_10_2" value="b"></td><td>b) sebum </td></tr>
		  <tr><td><input type="radio" name="esthetics_10_2" value="c"></td><td>c) lipids </td></tr>
		  <tr><td><input type="radio" name="esthetics_10_2" value="d"></td><td>d) sweat </td></tr>
  		</table>
    </p>

    <p>3. What causes injured skin to restore itsef to its nomar thickness? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_3" value="a"></td><td>a) hyperroduction of cells </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_3" value="b"></td><td>b) daily expouse to the sun </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_3" value="c"></td><td>c) gentle massage </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_3" value="d"></td><td>d) Botox injections </td></tr>
  		</table>
    </p>

    <p>4. What are the items in the dermis that respond to touch, pain, cold, heat, and pressure? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_4" value="a"></td><td>a) sebaceous glands </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_4" value="b"></td><td>b) sensory nerve endings </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_4" value="c"></td><td>c) fibrous tissues </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_4" value="d"></td><td>d) pituitary glands </td></tr>
  		</table>
    </p>

    <p>5. What are most abundant in the fingertis, as opposed to other parts of the body? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_5" value="a"></td><td>a) red blood cells </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_5" value="b"></td><td>b) white blood cells </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_5" value="c"></td><td>c) lymph nodes </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_5" value="d"></td><td>d) sensory nerve fibers </td></tr>
  		</table>
    </p>

    <p>6. What is the average interna temperatire of the body in degrees Fahrenheit 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_6" value="a"></td><td>a) 37 </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_6" value="b"></td><td>b) 96.8 </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_6" value="c"></td><td>c) 98.6 </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_6" value="d"></td><td>d) 99.5 </td></tr>
  		</table>
    </p>

    <p>7. Why does the body perpire? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_7" value="a"></td><td>a) to protect us from overheating </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_7" value="b"></td><td>b) to protect us from freezing </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_7" value="c"></td><td>c) to protect us from dehydration </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_7" value="d"></td><td>d) to protect us from overhydration </td></tr>
  		</table>
    </p>

    <p>8. What are foices? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_8" value="a"></td><td>a) sweat gland openings </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_8" value="b"></td><td>b) tubelike openings in the epidermis </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_8" value="c"></td><td>c) tubelike openings in the musscles </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_8" value="d"></td><td>d) ingron hair shafts </td></tr>
  		</table>
    </p>
    
    <p>9. Why is NOT a compound in the body from which free radicals take electrons?
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_9" value="a"></td><td>a) sebum </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_9" value="b"></td><td>b) protein </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_9" value="c"></td><td>c) lipid </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_9" value="d"></td><td>d) DNA </td></tr>
  		</table>
    </p>
    
    <p>10. What is glycation? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_10" value="a"></td><td>a) fibrous, connective tissue made from rotein </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_10" value="b"></td><td>b) a white blood cell that has enzymes to digest and kill bacteria   </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_10" value="c"></td><td>c) the binding of a protein molecule to a glucose molecule </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_10" value="d"></td><td>d) a chronic condition that appears rimariy in the cheeks </td></tr>
  		</table>
    </p>
    
    <p>11. What are hair papillae?
 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_11" value="a"></td><td>a) ingrown hairs </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_11" value="b"></td><td>b) cone-shaped elevations at the base of the follicle </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_11" value="c"></td><td>c) shaved hairs </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_11" value="d"></td><td>d) membranes of ridges and grooves that attach to the epidermis </td></tr>
  		</table>
    </p>
    
    <p>12. Where in the body is hyauronic acid found? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_12" value="a"></td><td>a) hair </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_12" value="b"></td><td>b) skin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_12" value="c"></td><td>c) kidney </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_12" value="d"></td><td>d) liver </td></tr>
  		</table>
    </p>
    
    <p>13. What is hydrolipidic film?
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_13" value="a"></td><td>a) salt-water balance that damages the skin's surface </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_13" value="b"></td><td>b) oil-water balance that damages the skin's surface </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_13" value="c"></td><td>c) salt-water balance that protects the skin's surface </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_13" value="d"></td><td>d) oil-water balance that protects the skin's surface </td></tr>
  		</table>
    </p>
    
    <p>14. What is a fiber protein found in skin, hair, and nails 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_14" value="a"></td><td>a) keratin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_14" value="b"></td><td>b) keloid </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_14" value="c"></td><td>c) lymph </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_14" value="d"></td><td>d) sebum </td></tr>
  		</table>
    </p>
    
    <p>15. What is the acid mantle? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_15" value="a"></td><td>a) deposit left on the skin after the use of an acidic product </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_15" value="b"></td><td>b) protective layer of lipids and secretions on the skins surface </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_15" value="c"></td><td>c) reservoir of digestive juices located in the stomach </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_15" value="d"></td><td>d) deposit left on the skin after the use of an alkaline product </td></tr>
  		</table>
    </p>
    
    <p>16. Where in the body are the coiled structures known as apocrine glands found?
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_16" value="a"></td><td>a) mouth and nostrils </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_16" value="b"></td><td>b) underarm and genital areas </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_16" value="c"></td><td>c) eyes and ears </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_16" value="d"></td><td>d) lower back and inner knees </td></tr>
  		</table>
    </p>
    
    <p>17. What is the result of the contraction of the arrector pili musscle?  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_17" value="a"></td><td>a) penile erection </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_17" value="b"></td><td>b) excessive sweating </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_17" value="c"></td><td>c) gaseous discharge </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_17" value="d"></td><td>d) goose bumps </td></tr>
  		</table>
    </p>
    
    <p>18. What does the skin's barrier function protect us from, in addition to irritation? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_18" value="a"></td><td>a) excessive hair loss </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_18" value="b"></td><td>b) hypopigmentation </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_18" value="c"></td><td>c) hyperpigmentation </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_18" value="d"></td><td>d) intercellular water loss </td></tr>
  		</table>
    </p>

    <p>19. What are ceramindes? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_19" value="a"></td><td>a) glycolipid materials </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_19" value="b"></td><td>b) hydrolipid materials </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_19" value="c"></td><td>c) neurolipid materials </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_19" value="d"></td><td>d) psycholipid materials </td></tr>
  		</table>
    </p>

    <p>20. What is collagen? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_21" value="a"></td><td>a) hardened keratinocyte </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_21" value="b"></td><td>b) fibrous tissue made from protein </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_21" value="c"></td><td>c) hydrating fluid found in the skin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_21" value="d"></td><td>d) pigment-carrying  granule </td></tr>
  		</table>
    </p>

    <p>21. What are corneocytes? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_22" value="a"></td><td>a) open comedones </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_22" value="b"></td><td>b) hardened keratinocytes  </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_22" value="c"></td><td>c) closed comedones </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_22" value="d"></td><td>d) softened keratinocytes </td></tr>
  		</table>
    </p>

    <p>22. What are membranes of ridges and grooves that attach to the epidermis? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_22" value="a"></td><td>a) follicular papillae </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_22" value="b"></td><td>b) dermal papillae </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_22" value="c"></td><td>c) epidermal papillae </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_22" value="d"></td><td>d) hair papillae </td></tr>
  		</table>
    </p>

    <p>23. Where in the face does the chronic condition rosacea primarilly appear? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_23" value="a"></td><td>a) forehead and chin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_23" value="b"></td><td>b) ears and eyelids </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_23" value="c"></td><td>c) jawline and ears </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_23" value="d"></td><td>d) cheeks and nose </td></tr>
  		</table>
    </p>

    <p>24. What protects th surface of the skin? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_24" value="a"></td><td>a) hair papillae </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_24" value="b"></td><td>b) sebaceous glands </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_24" value="c"></td><td>c) pituitary glands </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_24" value="d"></td><td>d) dermal papillae </td></tr>
  		</table>
    </p>

    <p>25. What are guard cells of the immune system that sense unrecognied foreign invaders, such as bacteria? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_25" value="a"></td><td>a) stratum germinativum </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_25" value="b"></td><td>b) stratum lucidum </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_25" value="c"></td><td>c) integumentary production cells </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_25" value="d"></td><td>d) langerhans immune cells </td></tr>
  		</table>
    </p>


    <p>26. What is the oil that provides protection for the epidermis from external factors and that lubricates both the skin and hair?
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_26" value="a"></td><td>a) lymph </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_26" value="b"></td><td>b) pus </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_26" value="c"></td><td>c) blood </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_26" value="d"></td><td>d) sebum </td></tr>
  		</table>
    </p>


    <p>27. What is the common nae for the stratum corneum? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_27" value="a"></td><td>a) horny layer </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_27" value="b"></td><td>b) spiny layer </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_27" value="c"></td><td>c) granular layer </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_27" value="d"></td><td>d) clear layer </td></tr>
  		</table>
    </p>

    <p>28. What is true of the stratum corneum?  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_28" value="a"></td><td>a) it is made of hardened sebum </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_28" value="b"></td><td>b) it is the outermost layer of the skin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_28" value="c"></td><td>c) it is the innermost layer of the skin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_28" value="d"></td><td>d) it is devoid of the corneocytes </td></tr>
  		</table>
    </p>

    <p>29. What is the common name of the stratum germiniativum? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_29" value="a"></td><td>a) spiny layer </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_29" value="b"></td><td>b) basal layer </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_29" value="c"></td><td>c) horny layer </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_29" value="d"></td><td>d) clear layer </td></tr>
  		</table>
    </p>
  
    <p>30. Where in the skin is the stratum germiniativum located? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_30" value="a"></td><td>a) below the papillary layer of the dermis </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_30" value="b"></td><td>b) below the hypodermis </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_30" value="c"></td><td>c) above the epidermis </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_30" value="d"></td><td>d) above the papillary layer of the dermis </td></tr>
  		</table>
    </p>

    <p>31. What is the common name of the stratum granulosum? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_31" value="a"></td><td>a) clear layer </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_31" value="b"></td><td>b) granular layer </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_31" value="c"></td><td>c) basal layer </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_31" value="d"></td><td>d) spiny layer </td></tr>
  		</table>
    </p>

    <p>32. What forms the cells in the stratum granulosum that resemble granules? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_32" value="a"></td><td>a) collagen </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_32" value="b"></td><td>b) keratin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_32" value="c"></td><td>c) elastin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_32" value="d"></td><td>d) melanin </td></tr>
  		</table>
    </p>


    <p>33. What is the common name of the stratum corneum?
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_33" value="a"></td><td>a) horny layer </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_33" value="b"></td><td>b) cleaer layer </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_33" value="c"></td><td>c) basal layer </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_33" value="d"></td><td>d) spiny layer </td></tr>
  		</table>
    </p>


    <p>34. What is another name for the subcutaneous layer of the skin? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_34" value="a"></td><td>a) epidermis </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_34" value="b"></td><td>b) dermis </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_34" value="c"></td><td>c) hypodermis </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_34" value="d"></td><td>d) subdermis </td></tr>
  		</table>
    </p>


    <p>35. What part of the skin provides a protective cushion and energy storage for the body? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_35" value="a"></td><td>a) epidermis </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_35" value="b"></td><td>b) subcutaneous layer </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_35" value="c"></td><td>c) dermis </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_35" value="d"></td><td>d) barries function </td></tr>
  		</table>
    </p>

    <p>36. What is another name for subcutis tissue? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_36" value="a"></td><td>a) acidic tissue </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_36" value="b"></td><td>b) alkaline tissue </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_36" value="c"></td><td>c) adipose tissue </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_36" value="d"></td><td>d) arretor tissue </td></tr>
  		</table>
    </p>

    <p>37. What are the glands that excrete perspiration, regulate body temperature, and detoxify the body? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_37" value="a"></td><td>a) sudoriferous </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_37" value="b"></td><td>b) thyroid </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_37" value="c"></td><td>c) hyperthyroid </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_37" value="d"></td><td>d) pituitary </td></tr>
  		</table>
    </p>

    <p>38. What cells identify molecules that have foreign peptides, and help to regulate immune response? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_38" value="a"></td><td>a) A-cells </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_38" value="b"></td><td>b) D-cells </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_38" value="c"></td><td>c) T-cells </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_38" value="d"></td><td>d) X-cells </td></tr>
  		</table>
    </p>

    <p>39. What causes telangiectasia? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_39" value="a"></td><td>a) capillary damage </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_39" value="b"></td><td>b) follicle damage </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_39" value="c"></td><td>c) aging </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_39" value="d"></td><td>d) poor nutrition </td></tr>
  		</table>
    </p>

    <p>40. What causes transepidermal water loss? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_40" value="a"></td><td>a) perspiration </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_40" value="b"></td><td>b) evaporation </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_40" value="c"></td><td>c) salivation </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_40" value="d"></td><td>d) secretion </td></tr>
  		</table>
    </p>

    <p>41. What is the common term for UVA radiation? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_41" value="a"></td><td>a) aging rays </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_41" value="b"></td><td>b) burning rays </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_41" value="c"></td><td>c) tanning rays </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_41" value="d"></td><td>d) brightening rays </td></tr>
  		</table>
    </p>

    <p>42. What is the dermis? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_42" value="a"></td><td>a) innermost layer of the skin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_42" value="b"></td><td>b) outermost layer of the skin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_42" value="c"></td><td>c) support layer above the epidermis </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_42" value="d"></td><td>d) support layer below the epidermis </td></tr>
  		</table>
    </p>

    <p>43. What function do desmosomes perform? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_43" value="a"></td><td>a) assist in keeping cells apart </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_43" value="b"></td><td>b) assist in holding cells together </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_43" value="c"></td><td>c) fight inflammation </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_43" value="d"></td><td>d) fight infection </td></tr>
  		</table>
    </p>

   <p>44. What are eccrine glands? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_44" value="a"></td><td>a) tastebuds </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_44" value="b"></td><td>b) goosebumps </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_44" value="c"></td><td>c) salivary glands </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_44" value="d"></td><td>d) sweat glands </td></tr>
  		</table>
    </p>

 <p>45. What protein fiber is found in the dermis and gives skin its flexibility and firmness? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_45" value="a"></td><td>a) collagen </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_45" value="b"></td><td>b) melanin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_45" value="c"></td><td>c) ketarin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_45" value="d"></td><td>d) elastin </td></tr>
  		</table>
    </p>

 <p>46. What hormone stimulates cells to reproduce and heal? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_46" value="a"></td><td>a) dermal stimulant factor (DSF) </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_46" value="b"></td><td>b) epidermal growth factor (EGF) </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_46" value="c"></td><td>c) integumentary regulatory factor (IRF) </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_46" value="d"></td><td>d) integumentary manufacturing factor (IMF) </td></tr>
  		</table>
    </p>

<p>47. What is true of the epidermis? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_47" value="a"></td><td>a) it is the outermost layer of the skin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_47" value="b"></td><td>b) it is the innermost layer of the skin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_47" value="c"></td><td>c) it is below the dermis </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_47" value="d"></td><td>d) it is below the subcutaneuos layer </td></tr>
  		</table>
    </p>

<p>48. What performs the function of stimulating cells, collagen, and amino acids that form protein? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_48" value="a"></td><td>a) epidermablasts </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_48" value="b"></td><td>b) dermablasts </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_48" value="c"></td><td>c) elastiblasts </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_48" value="d"></td><td>d) fibroblasts </td></tr>
  		</table>
    </p>

<p>50. What comprises about 50 to 70 percent of the skin? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_50" value="a"></td><td>a) lymph </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_50" value="b"></td><td>b) water </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_50" value="c"></td><td>c) oil </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_50" value="d"></td><td>d) pus </td></tr>
  		</table>
    </p>

<p>51. What causes the body to produce its own vitamin D? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_51" value="a"></td><td>a) drinking orange juice </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_51" value="b"></td><td>b) exposure to the sun </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_51" value="c"></td><td>c) drinking a liter of water </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_51" value="d"></td><td>d) exposure to heat </td></tr>
  		</table>
    </p>

<p>52. What is NOT one of the six primary functions of the skin? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_52" value="a"></td><td>a) heat regulation </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_52" value="b"></td><td>b) sensation </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_52" value="c"></td><td>c) absorption </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_52" value="d"></td><td>d) reflection </td></tr>
  		</table>
    </p>

<p>53. What function does the enzyme tyrosinase perform? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_53" value="a"></td><td>a) helps to regulate the body's internal temperature </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_53" value="b"></td><td>b) stimulates melanocytes and thus produces melanin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_53" value="c"></td><td>c) triggers hyperproduction of cells and blood clotting </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_53" value="d"></td><td>d) helps to regulate the body's external temperature </td></tr>
  		</table>
    </p>

<p>54. What is the other type of melanin the body produces besides eumelanin? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_54" value="a"></td><td>a) pheomelanin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_54" value="b"></td><td>b) photo melanin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_54" value="c"></td><td>c) pseudomelanin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_54" value="d"></td><td>d) protomelanin </td></tr>
  		</table>
    </p>

<p>55. How many times thicker than the epidermis is the dermis approximately? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_55" value="a"></td><td>a) 25 </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_55" value="b"></td><td>b) 50 </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_55" value="c"></td><td>c) 75 </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_55" value="d"></td><td>d) 100 </td></tr>
  		</table>
    </p>

<p>56. When do free radicals produce more free radicals? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_56" value="a"></td><td>a) before causing oxidation reactions </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_56" value="b"></td><td>b) while causing oxiidation reactions </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_56" value="c"></td><td>c) only when exposed to hydrogen </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_56" value="d"></td><td>d) only when exposed to carbon </td></tr>
  		</table>
    </p>

<p>57. What causes skin cells' built-in antioxidants to lose their ability to protect cells ? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_57" value="a"></td><td>a) sun exposure </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_57" value="b"></td><td>b) sun deprivation </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_57" value="c"></td><td>c) excessive moisture </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_57" value="d"></td><td>d) excessive heat </td></tr>
  		</table>
    </p>

<p>58. What is true of sun exposure?  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_58" value="a"></td><td>a) all skin types benefit from extensive exposure to the sun </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_58" value="b"></td><td>b) of all factors, it has the least impact on how our skin ages </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_58" value="c"></td><td>c) of all factors, it has the greatest impact on how our skin ages </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_58" value="d"></td><td>d) several hours of sun exposure every day is recommended for the skin </td></tr>
  		</table>
    </p>

<p>59. What is keratinocytes? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_59" value="a"></td><td>a) dermal cells compoed of keratin, lipid, and other proteins </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_59" value="b"></td><td>b) epidermal cells composed of karetin, lipid, and other proteins </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_59" value="c"></td><td>c) dangerous bacteria that target and destroy keratin the body </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_59" value="d"></td><td>d) products that are unsafe to use because thy deplete keratin </td></tr>
  		</table>
    </p>

<p>60. Where in the skin are lymph vessels located? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_60" value="a"></td><td>a) dermis </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_60" value="b"></td><td>b) epidermis </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_60" value="c"></td><td>c) subcutaneous layer </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_60" value="d"></td><td>d) hypodermis </td></tr>
  		</table>
    </p>

<p>61. What protein determines hair, eye, and skin color? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_61" value="a"></td><td>a) collagen </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_61" value="b"></td><td>b) elastin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_61" value="c"></td><td>c) melanin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_61" value="d"></td><td>d) keratin </td></tr>
  		</table>
    </p>

<p>62. What are melanocytes? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_62" value="a"></td><td>a) dangerous bacteria that impede melanin production </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_62" value="b"></td><td>b) cells that produce skin pigment granules in the basal layer </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_62" value="c"></td><td>c) products that are unsafe to use because they deplete melanin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_62" value="d"></td><td>d) cells that produce melanin within the horny and siny layers </td></tr>
  		</table>
    </p>

<p>63. What are melanosomes? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_63" value="a"></td><td>a) blood vessels dedicated to moving melanin through the body </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_63" value="b"></td><td>b) blotches on the skin where excess melanin is located </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_63" value="c"></td><td>c) pale patches on the skin where insufficient melanin is located </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_63" value="d"></td><td>d) pigment-carrying granules that produce melanin </td></tr>
  		</table>
    </p>

<p>64. What is true of the papillary layer of the skin? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_64" value="a"></td><td>a) it is the top layer of the dermis </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_64" value="b"></td><td>b) it is the middle layer of the dermis </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_64" value="c"></td><td>c) it is the deepest layer of the dermis </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_64" value="d"></td><td>d) it is part of the epidermis </td></tr>
  		</table>
    </p>

<p>65. What is true of the reticular layer of the skin? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_10_65" value="a"></td><td>a) it is part of the epidermis </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_65" value="b"></td><td>b) it is the deepest layer of the dermis </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_65" value="c"></td><td>c) it is the middle layer of the dermis </td></tr>
  		  <tr><td><input type="radio" name="esthetics_10_65" value="d"></td><td>d) it is the top layer of the dermis </td></tr>
  		</table>
    </p>

  </form>
  
  <button id="submitExam" class="btn btn-lg btn-primary">Submit</button>

</body>
</html>
