<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#submitExam").click(function(){
      var questionAnswerObj = {};
      $('#myForm input[type=radio]:checked').each(function(){
  		  questionAnswerObj[this.name] = this.value;
  	  }); 
  
      $.ajax({
        type:'POST',
        url:'/submit_Exam',
        data: { questionAnswerObj: JSON.stringify(questionAnswerObj) },
        success:function(result){
          var i;
          var out = "<table class=\"table table-striped\">";
          out += "<th>Question #</th><th>Answer Key</th><th>Your Answer Is</th>";
          x = result;
          $("#answers").empty();
          for (i = 0; i < x.length; i++) {
            out +=  "<tr><td>"  +  x[i].question_number + 
                    "</td><td>" +  x[i].answer_key +
                    "</td><td>" + x[i].your_answer + "</td></tr>";
          }
          out += "</table>";
          $("#answers").append(out);

        }
      }); // ajax
    }); // #submitExam
  });
</script>
</head>
<body>

  <h2>Chapter 8 -- Basics Of Electricity</h2>
  <hr>

  <form id="myForm" >

    <p>1.  What does the acronym LED stand for?
  		<table class="table table-condensed">
  		  <tr><td>a)  light-emitting diode</td><td><input type="radio" name="esthetics_8_1" value="a"></td></tr>
  		  <tr><td>b)  laser-emitting device</td><td><input type="radio" name="esthetics_8_1" value="b"></td></tr>
  		  <tr><td>c)  light electrical device</td><td><input type="radio" name="esthetics_8_1" value="c"></td></tr>
  		  <tr><td>d)  laser electrode dial</td><td><input type="radio" name="esthetics_8_1" value="d"></td></tr>
  		</table>
    </p>

    <p>2.  What measure is one-thousandth of an ampere?
  		<table class="table table-condensed">
  		  <tr><td>a)  multiampere</td><td><input type="radio" name="esthetics_8_2" value="a"></td></tr>
  		  <tr><td>b)  milliampere</td><td><input type="radio" name="esthetics_8_2" value="b"></td></tr>
  		  <tr><td>c)  microampere</td><td><input type="radio" name="esthetics_8_2" value="c"></td></tr>
  		  <tr><td>d)  macroampere</td><td><input type="radio" name="esthetics_8_2" value="d"></td></tr>
  		</table>
    </p>

    <p>3.  What term refers to currents used as electrical facial and scalp treatments?
  		<table class="table table-condensed">
  		  <tr><td>a)  modems</td><td><input type="radio" name="esthetics_8_3" value="a"></td></tr>
  		  <tr><td>b)  moderations</td><td><input type="radio" name="esthetics_8_3" value="b"></td></tr>
  		  <tr><td>c)  modalities</td><td><input type="radio" name="esthetics_8_3" value="c"></td></tr>
  		  <tr><td>d)  modes</td><td><input type="radio" name="esthetics_8_3" value="d"></td></tr>
  		</table>
    </p>

    <p>4.  What apparatus changes alternating current to direct current?
  		<table class="table table-condensed">
  		  <tr><td>a)  charger</td><td><input type="radio" name="esthetics_8_4" value="a"></td></tr>
  		  <tr><td>b)  actuator</td><td><input type="radio" name="esthetics_8_4" value="b"></td></tr>
  		  <tr><td>c)  modifier</td><td><input type="radio" name="esthetics_8_4" value="c"></td></tr>
  		  <tr><td>d)  rectifier</td><td><input type="radio" name="esthetics_8_4" value="d"></td></tr>
  		</table>
    </p>

    <p>5.  What describes Tesla high-frequency current?
  		<table class="table table-condensed">
  		  <tr><td>a)  high rate of oscillation and a low rate of vibration</td><td><input type="radio" name="esthetics_8_5" value="a"></td></tr>
  		  <tr><td>b)  high rate of oscillation and vibration</td><td><input type="radio" name="esthetics_8_5" value="b"></td></tr>
  		  <tr><td>c)  low rate of oscillation and vibration</td><td><input type="radio" name="esthetics_8_5" value="c"></td></tr>
  		  <tr><td>d)  low rate of oscillation and a high rate of vibration</td><td><input type="radio" name="esthetics_8_5" value="d"></td></tr>
  		</table>
    </p>

    <p>6.  What is a description of white light?
  		<table class="table table-condensed">
  		  <tr><td>a)  complete absence of light of any color</td><td><input type="radio" name="esthetics_8_6" value="a"></td></tr>
  		  <tr><td>b)  combination of all the visible rays of the spectrum</td><td><input type="radio" name="esthetics_8_6" value="b"></td></tr>
  		  <tr><td>c)  combination of all the invisible rays of the spectrum</td><td><input type="radio" name="esthetics_8_6" value="c"></td></tr>
  		  <tr><td>d)  combination of any two or more colors of visible light</td><td><input type="radio" name="esthetics_8_6" value="d"></td></tr>
  		</table>
    </p>

    <p>7.  What is yellow LEF light used for?
  		<table class="table table-condensed">
  		  <tr><td>a)  aiding in facial and scalp treatments</td><td><input type="radio" name="esthetics_8_7" value="a"></td></tr>
  		  <tr><td>b)  detoxifying the skin</td><td><input type="radio" name="esthetics_8_7" value="b"></td></tr>
  		  <tr><td>c)  reducing inflammation and swelling</td><td><input type="radio" name="esthetics_8_7" value="c"></td></tr>
  		  <tr><td>d)  stimulating circulation</td><td><input type="radio" name="esthetics_8_7" value="d"></td></tr>
  		</table>
    </p>

    <p>8.  What is red LED light used for?
  		<table class="table table-condensed">
  		  <tr><td>a)  stimulating circulation</td><td><input type="radio" name="esthetics_8_8" value="a"></td></tr>
  		  <tr><td>b)  reducing inflammation and swelling</td><td><input type="radio" name="esthetics_8_8" value="b"></td></tr>
  		  <tr><td>c)  detoxifying the skin</td><td><input type="radio" name="esthetics_8_8" value="c"></td></tr>
  		  <tr><td>d)  aiding in facial and scalp treatments</td><td><input type="radio" name="esthetics_8_8" value="d"></td></tr>
  		</table>
    </p>
    
    <p>9.  What is green LED light used for?
  		<table class="table table-condensed">
  		  <tr><td>a)  aiding in facial and scalp treatments</td><td><input type="radio" name="esthetics_8_9" value="a"></td></tr>
  		  <tr><td>b)  reducing inflammation and swelling</td><td><input type="radio" name="esthetics_8_9" value="b"></td></tr>
  		  <tr><td>c)  stimulating circulation</td><td><input type="radio" name="esthetics_8_9" value="c"></td></tr>
  		  <tr><td>d)  detoxifying the skin</td><td><input type="radio" name="esthetics_8_9" value="d"></td></tr>
  		</table>
    </p>
    
    <p>10.  What is the primary source of light used in facial and scalp treatments?
  		<table class="table table-condensed">
  		  <tr><td>a)  visible light</td><td><input type="radio" name="esthetics_8_10" value="a"></td></tr>
  		  <tr><td>b)  invisible light</td><td><input type="radio" name="esthetics_8_10" value="b"></td></tr>
  		  <tr><td>c)  natural light</td><td><input type="radio" name="esthetics_8_10" value="c"></td></tr>
  		  <tr><td>d)  artificial light</td><td><input type="radio" name="esthetics_8_10" value="d"></td></tr>
  		</table>
    </p>
    
    <p>11.  What is a device in which UVA radiation is used?
  		<table class="table table-condensed">
  		  <tr><td>a)  autoclave</td><td><input type="radio" name="esthetics_8_11" value="a"></td></tr>
  		  <tr><td>b)  tanning bed</td><td><input type="radio" name="esthetics_8_11" value="b"></td></tr>
  		  <tr><td>c)  hairdryer</td><td><input type="radio" name="esthetics_8_11" value="c"></td></tr>
  		  <tr><td>d)  towel warner</td><td><input type="radio" name="esthetics_8_11" value="d"></td></tr>
  		</table>
    </p>
    
    <p>12.  What is a term commonly used in reference to UVB radiation?
  		<table class="table table-condensed">
  		  <tr><td>a)  tanning light</td><td><input type="radio" name="esthetics_8_12" value="a"></td></tr>
  		  <tr><td>b)  rainbow light</td><td><input type="radio" name="esthetics_8_12" value="b"></td></tr>
  		  <tr><td>c)  ozone light</td><td><input type="radio" name="esthetics_8_12" value="c"></td></tr>
  		  <tr><td>d)  burning light</td><td><input type="radio" name="esthetics_8_12" value="d"></td></tr>
  		</table>
    </p>
    
    <p>13.  What is true of UVC radiation?
  		<table class="table table-condensed">
  		  <tr><td>a)  it is the least dangerous type of UV radiation</td><td><input type="radio" name="esthetics_8_13" value="a"></td></tr>
  		  <tr><td>b)  it is the most dangerous type of UV radiation</td><td><input type="radio" name="esthetics_8_13" value="b"></td></tr>
  		  <tr><td>c)  it is used in tanning beds</td><td><input type="radio" name="esthetics_8_13" value="c"></td></tr>
  		  <tr><td>d)  it is often called the burning light</td><td><input type="radio" name="esthetics_8_13" value="d"></td></tr>
  		</table>
    </p>
    
    <p>14.  What term refers to a color component within the skin such as blood or melanin?
  		<table class="table table-condensed">
  		  <tr><td>a)  chromoform</td><td><input type="radio" name="esthetics_8_14" value="a"></td></tr>
  		  <tr><td>b)  chromophore</td><td><input type="radio" name="esthetics_8_14" value="b"></td></tr>
  		  <tr><td>c)  chromakey</td><td><input type="radio" name="esthetics_8_14" value="c"></td></tr>
  		  <tr><td>d)  chromazyme</td><td><input type="radio" name="esthetics_8_14" value="d"></td></tr>
  		</table>
    </p>
    
    <p>15.  How does red LED light affect cellular processes?
  		<table class="table table-condensed">
  		  <tr><td>a)  decreases cellular processes</td><td><input type="radio" name="esthetics_8_15" value="a"></td></tr>
  		  <tr><td>b)  increases cellular processes</td><td><input type="radio" name="esthetics_8_15" value="b"></td></tr>
  		  <tr><td>c)  stops cellular processes completely</td><td><input type="radio" name="esthetics_8_15" value="c"></td></tr>
  		  <tr><td>d)  interrupts cellular processes temporarily</td><td><input type="radio" name="esthetics_8_15" value="d"></td></tr>
  		</table>
    </p>
    
    <p>16.  What is NOT a condition that intense pulsed light is used to treat?
  		<table class="table table-condensed">
  		  <tr><td>a)  spider veins</td><td><input type="radio" name="esthetics_8_16" value="a"></td></tr>
  		  <tr><td>b)  hyperpigmentation</td><td><input type="radio" name="esthetics_8_16" value="b"></td></tr>
  		  <tr><td>c)  albinism</td><td><input type="radio" name="esthetics_8_16" value="c"></td></tr>
  		  <tr><td>d)  excessive hair</td><td><input type="radio" name="esthetics_8_16" value="d"></td></tr>
  		</table>
    </p>
    
    <p>17.  What is wavelength?
  		<table class="table table-condensed">
  		  <tr><td>a)  primary source of light used in facial and scalp treatments</td><td><input type="radio" name="esthetics_8_17" value="a"></td></tr>
  		  <tr><td>b)  distance between two successive peaks of electromagnetic waves</td><td><input type="radio" name="esthetics_8_17" value="b"></td></tr>
  		  <tr><td>c)  flow of electricity along a conductor</td><td><input type="radio" name="esthetics_8_17" value="c"></td></tr>
  		  <tr><td>d)  color of component of the skin found at different depths</td><td><input type="radio" name="esthetics_8_17" value="d"></td></tr>
  		</table>
    </p>
    
    <p>18.  What does a watt measure?
  		<table class="table table-condensed">
  		  <tr><td>a)  how much electric energy is used in one second</td><td><input type="radio" name="esthetics_8_18" value="a"></td></tr>
  		  <tr><td>b)  how much electric energy is used in 10 seconds</td><td><input type="radio" name="esthetics_8_18" value="b"></td></tr>
  		  <tr><td>c)  how much electric energy is used in one minute</td><td><input type="radio" name="esthetics_8_18" value="c"></td></tr>
  		  <tr><td>d)  how much electric energy is used in 10 minutes</td><td><input type="radio" name="esthetics_8_18" value="d"></td></tr>
  		</table>
    </p>

    <p>19.  What do volts measure?
  		<table class="table table-condensed">
  		  <tr><td>a)  force pushing electrons forward through a conductor</td><td><input type="radio" name="esthetics_8_19" value="a"></td></tr>
  		  <tr><td>b)  force moving protons backward through a conductor</td><td><input type="radio" name="esthetics_8_19" value="b"></td></tr>
  		  <tr><td>c)  resistance keeping electrons from moving through a conductor</td><td><input type="radio" name="esthetics_8_19" value="c"></td></tr>
  		  <tr><td>d)  resistance keeping protons from moving through a conductor</td><td><input type="radio" name="esthetics_8_19" value="d"></td></tr>
  		</table>
    </p>

    <p>20.  What do ohms measure?
  		<table class="table table-condensed">
  		  <tr><td>a)  force of electric current</td><td><input type="radio" name="esthetics_8_20" value="a"></td></tr>
  		  <tr><td>b)  direction of electric current</td><td><input type="radio" name="esthetics_8_20" value="b"></td></tr>
  		  <tr><td>c)  resistance of electric current</td><td><input type="radio" name="esthetics_8_20" value="c"></td></tr>
  		  <tr><td>d)  absence of electric current</td><td><input type="radio" name="esthetics_8_20" value="d"></td></tr>
  		</table>
    </p>

    <p>21.  What is the term for a rapid and interrupted current, flowing first in one direction and then in opposite direction?
  		<table class="table table-condensed">
  		  <tr><td>a)  direct current</td><td><input type="radio" name="esthetics_8_21" value="a"></td></tr>
  		  <tr><td>b)  alternating current</td><td><input type="radio" name="esthetics_8_21" value="b"></td></tr>
  		  <tr><td>c)  advanced current</td><td><input type="radio" name="esthetics_8_21" value="c"></td></tr>
  		  <tr><td>d)  directional current</td><td><input type="radio" name="esthetics_8_21" value="d"></td></tr>
  		</table>
    </p>

    <p>22.  What is the term for a constant, even-flowing current that travels in one direction only?
  		<table class="table table-condensed">
  		  <tr><td>a)  steady current</td><td><input type="radio" name="esthetics_8_22" value="a"></td></tr>
  		  <tr><td>b)  direct current</td><td><input type="radio" name="esthetics_8_22" value="b"></td></tr>
  		  <tr><td>c)  even current</td><td><input type="radio" name="esthetics_8_22" value="c"></td></tr>
  		  <tr><td>d)  alternating current</td><td><input type="radio" name="esthetics_8_22" value="d"></td></tr>
  		</table>
    </p>

    <p>23.  What unit measures the amount of an electric current?
  		<table class="table table-condensed">
  		  <tr><td>a)  ohm</td><td><input type="radio" name="esthetics_8_23" value="a"></td></tr>
  		  <tr><td>b)  watt</td><td><input type="radio" name="esthetics_8_23" value="b"></td></tr>
  		  <tr><td>c)  volt</td><td><input type="radio" name="esthetics_8_23" value="c"></td></tr>
  		  <tr><td>d)  amp</td><td><input type="radio" name="esthetics_8_23" value="d"></td></tr>
  		</table>
    </p>

    <p>24.  What type of LED light is used to treat acne?
  		<table class="table table-condensed">
  		  <tr><td>a)  blue</td><td><input type="radio" name="esthetics_8_24" value="a"></td></tr>
  		  <tr><td>b)  green</td><td><input type="radio" name="esthetics_8_24" value="b"></td></tr>
  		  <tr><td>c)  yellow</td><td><input type="radio" name="esthetics_8_24" value="c"></td></tr>
  		  <tr><td>d)  red</td><td><input type="radio" name="esthetics_8_24" value="d"></td></tr>
  		</table>
    </p>

    <p>25.  What is the term for a negative electrode?
  		<table class="table table-condensed">
  		  <tr><td>a)  diode</td><td><input type="radio" name="esthetics_8_25" value="a"></td></tr>
  		  <tr><td>b)  anode</td><td><input type="radio" name="esthetics_8_25" value="b"></td></tr>
  		  <tr><td>c)  cathode</td><td><input type="radio" name="esthetics_8_25" value="c"></td></tr>
  		  <tr><td>d)  nullode</td><td><input type="radio" name="esthetics_8_25" value="d"></td></tr>
  		</table>
    </p>


    <p>26.  What is the movement of particles around an atom that creates pure energy?
  		<table class="table table-condensed">
  		  <tr><td>a)  fission</td><td><input type="radio" name="esthetics_8_26" value="a"></td></tr>
  		  <tr><td>b)  fusion</td><td><input type="radio" name="esthetics_8_26" value="b"></td></tr>
  		  <tr><td>c)  electricity</td><td><input type="radio" name="esthetics_8_26" value="c"></td></tr>
  		  <tr><td>d)  magnetism</td><td><input type="radio" name="esthetics_8_26" value="d"></td></tr>
  		</table>
    </p>


    <p>27.  What should you do on a regular basis?
  		<table class="table table-condensed">
  		  <tr><td>a)  inspect electrical equipment</td><td><input type="radio" name="esthetics_8_27" value="a"></td></tr>
  		  <tr><td>b)  submerge electrical equipment in water for cleaning purposes</td><td><input type="radio" name="esthetics_8_27" value="b"></td></tr>
  		  <tr><td>c)  discard any electrical equipment that looks old-fashioned</td><td><input type="radio" name="esthetics_8_27" value="c"></td></tr>
  		  <tr><td>d)  dismantle electrical equipment</td><td><input type="radio" name="esthetics_8_27" value="d"></td></tr>
  		</table>
    </p>

    <p>28.  What is ionization?
  		<table class="table table-condensed">
  		  <tr><td>a)  forcing acidic substances into deeper tissue using galvanic current</td><td><input type="radio" name="esthetics_8_28" value="a"></td></tr>
  		  <tr><td>b)  introducing water-suoluble products into the skin with electric current</td><td><input type="radio" name="esthetics_8_28" value="b"></td></tr>
  		  <tr><td>c)  using galvanic current to create an alkaline chemical reaction</td><td><input type="radio" name="esthetics_8_28" value="c"></td></tr>
  		  <tr><td>d)  the use of electrical devices for therapeutic benefits</td><td><input type="radio" name="esthetics_8_28" value="d"></td></tr>
  		</table>
    </p>

    <p>29.  What is cataphoresis?
  		<table class="table table-condensed">
  		  <tr><td>a)  forcing alkaline substances into deeper tissues using galvanic current</td><td><input type="radio" name="esthetics_8_29" value="a"></td></tr>
  		  <tr><td>b)  withdrawing alkaline substances from the skin with microcurrent</td><td><input type="radio" name="esthetics_8_29" value="b"></td></tr>
  		  <tr><td>c)  withdrawing acidic substances from the skin with microcurrent</td><td><input type="radio" name="esthetics_8_29" value="c"></td></tr>
  		  <tr><td>d)  forcing acidic substances into deeper tissues using galvanic current</td><td><input type="radio" name="esthetics_8_29" value="d"></td></tr>
  		</table>
    </p>
  
    <p>30.  What is anaphoresis?
  		<table class="table table-condensed">
  		  <tr><td>a)  forcing liquids into tissues from the negative toward the positive pole</td><td><input type="radio" name="esthetics_8_30" value="a"></td></tr>
  		  <tr><td>b)  forcing liquids into tissues from the positive toward the negative pole</td><td><input type="radio" name="esthetics_8_30" value="b"></td></tr>
  		  <tr><td>c)  pulling liquids from tissues, from the negative toward the positive pole</td><td><input type="radio" name="esthetics_8_30" value="c"></td></tr>
  		  <tr><td>d)  pulling liquids from tissues, from the positive toward the negative pole</td><td><input type="radio" name="esthetics_8_30" value="d"></td></tr>
  		</table>
    </p>

    <p>31.  What is the other method for applying high-frequency current, besides indirect application?
  		<table class="table table-condensed">
  		  <tr><td>a)  angular surface application</td><td><input type="radio" name="esthetics_8_31" value="a"></td></tr>
  		  <tr><td>b)  angular superficial application</td><td><input type="radio" name="esthetics_8_31" value="b"></td></tr>
  		  <tr><td>c)  direct surface application</td><td><input type="radio" name="esthetics_8_31" value="c"></td></tr>
  		  <tr><td>d)  indirect superficial application</td><td><input type="radio" name="esthetics_8_31" value="d"></td></tr>
  		</table>
    </p>

    <p>32.  What percentage of natural sunlight does invisible infrared light comprise?
  		<table class="table table-condensed">
  		  <tr><td>a)  10</td><td><input type="radio" name="esthetics_8_32" value="a"></td></tr>
  		  <tr><td>b)  30</td><td><input type="radio" name="esthetics_8_32" value="b"></td></tr>
  		  <tr><td>c)  60</td><td><input type="radio" name="esthetics_8_32" value="c"></td></tr>
  		  <tr><td>d)  100</td><td><input type="radio" name="esthetics_8_32" value="d"></td></tr>
  		</table>
    </p>


    <p>33.  What is a complete circuit?
  		<table class="table table-condensed">
  		  <tr><td>a)  path of current from one conductor to the next</td><td><input type="radio" name="esthetics_8_33" value="a"></td></tr>
  		  <tr><td>b)  path of current from the source through conductors and back</td><td><input type="radio" name="esthetics_8_33" value="b"></td></tr>
  		  <tr><td>c)  path of current from the source to the first conductor</td><td><input type="radio" name="esthetics_8_33" value="c"></td></tr>
  		  <tr><td>d)  path of current from the last conductor back to the source</td><td><input type="radio" name="esthetics_8_33" value="d"></td></tr>
  		</table>
    </p>


    <p>34.  What is the term for any substance that easily transmits electricity?
  		<table class="table table-condensed">
  		  <tr><td>a)  transmitter</td><td><input type="radio" name="esthetics_8_34" value="a"></td></tr>
  		  <tr><td>b)  receiver</td><td><input type="radio" name="esthetics_8_34" value="b"></td></tr>
  		  <tr><td>c)  resister</td><td><input type="radio" name="esthetics_8_34" value="c"></td></tr>
  		  <tr><td>d)  conductor</td><td><input type="radio" name="esthetics_8_34" value="d"></td></tr>
  		</table>
    </p>


    <p>35.  What is the device that prevents excessive current from passing through a circuit?
  		<table class="table table-condensed">
  		  <tr><td>a)  switch</td><td><input type="radio" name="esthetics_8_35" value="a"></td></tr>
  		  <tr><td>b)  outlet</td><td><input type="radio" name="esthetics_8_35" value="b"></td></tr>
  		  <tr><td>c)  fuse</td><td><input type="radio" name="esthetics_8_35" value="c"></td></tr>
  		  <tr><td>d)  ground</td><td><input type="radio" name="esthetics_8_35" value="d"></td></tr>
  		</table>
    </p>

    <p>36.  What completes a circuit and carries the current safely away?
  		<table class="table table-condensed">
  		  <tr><td>a)  circuit breaker</td><td><input type="radio" name="esthetics_8_36" value="a"></td></tr>
  		  <tr><td>b)  mainline</td><td><input type="radio" name="esthetics_8_36" value="b"></td></tr>
  		  <tr><td>c)  fuse</td><td><input type="radio" name="esthetics_8_36" value="c"></td></tr>
  		  <tr><td>d)  ground</td><td><input type="radio" name="esthetics_8_36" value="d"></td></tr>
  		</table>
    </p>

    <p>37.  What are visible rays with long wavelengths?
  		<table class="table table-condensed">
  		  <tr><td>a)  phantom light rays</td><td><input type="radio" name="esthetics_8_37" value="a"></td></tr>
  		  <tr><td>b)  infrared light rays</td><td><input type="radio" name="esthetics_8_37" value="b"></td></tr>
  		  <tr><td>c)  translucent light rays</td><td><input type="radio" name="esthetics_8_37" value="c"></td></tr>
  		  <tr><td>d)  ethereal light rays</td><td><input type="radio" name="esthetics_8_37" value="d"></td></tr>
  		</table>
    </p>

    <p>38.  What is the term for a substance that does not easily transmit electricity?
  		<table class="table table-condensed">
  		  <tr><td>a)  conductor</td><td><input type="radio" name="esthetics_8_38" value="a"></td></tr>
  		  <tr><td>b)  insulator</td><td><input type="radio" name="esthetics_8_38" value="b"></td></tr>
  		  <tr><td>c)  fuse</td><td><input type="radio" name="esthetics_8_38" value="c"></td></tr>
  		  <tr><td>d)  circuit</td><td><input type="radio" name="esthetics_8_38" value="d"></td></tr>
  		</table>
    </p>

    <p>39.  What is the measurement for 1,000 watts?
  		<table class="table table-condensed">
  		  <tr><td>a)  megawatt</td><td><input type="radio" name="esthetics_8_39" value="a"></td></tr>
  		  <tr><td>b)  macrowatt</td><td><input type="radio" name="esthetics_8_39" value="b"></td></tr>
  		  <tr><td>c)  kilowatt</td><td><input type="radio" name="esthetics_8_39" value="c"></td></tr>
  		  <tr><td>d)  kerawatt</td><td><input type="radio" name="esthetics_8_39" value="d"></td></tr>
  		</table>
    </p>

    <p>40.  What is NOT a condition treated with light therapy?
  		<table class="table table-condensed">
  		  <tr><td>a)  obsity</td><td><input type="radio" name="esthetics_8_40" value="a"></td></tr>
  		  <tr><td>b)  capillaries</td><td><input type="radio" name="esthetics_8_40" value="b"></td></tr>
  		  <tr><td>c)  wrinkles</td><td><input type="radio" name="esthetics_8_40" value="c"></td></tr>
  		  <tr><td>d)  acne</td><td><input type="radio" name="esthetics_8_40" value="d"></td></tr>
  		</table>
    </p>

  </form>
  
  <button id="submitExam" class="btn btn-lg btn-primary">Submit</button>

</body>
</html>
