<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#submitExam").click(function(){
      var questionAnswerObj = {};
      $('#myForm input[type=radio]:checked').each(function(){
  		  questionAnswerObj[this.name] = this.value;
  	  }); 
  
      $.ajax({
        type:'POST',
        url:'/submit_Exam',
        data: { questionAnswerObj: JSON.stringify(questionAnswerObj) },
        success:function(result){
          var i;
          var out = "<table class=\"table table-striped\">";
          out += "<th>Question #</th><th>Answer Key</th><th>Your Answer Is</th>";
          x = result;
          $("#answers").empty();
          for (i = 0; i < x.length; i++) {
            out +=  "<tr><td>"  +  x[i].question_number + 
                    "</td><td>" +  x[i].answer_key +
                    "</td><td>" + x[i].your_answer + "</td></tr>";
          }
          out += "</table>";
          $("#answers").append(out);

        }
      }); // ajax
    }); // #submitExam
  });
</script>
</head>
<body>

  <h2>Chapter 2 -- Life Skills</h2>
  <hr>

  <form id="myForm" >

    <p>1.  What term refers to the conscious act of planning your life?
  		<table class="table table-condensed">
  		  <tr><td>a)  game plan</td><td><input type="radio" name="esthetics_2_1" value="a"></td></tr>
  		  <tr><td>b)  personal scheme</td><td><input type="radio" name="esthetics_2_1" value="b"></td></tr>
  		  <tr><td>c)  life design</td><td><input type="radio" name="esthetics_2_1" value="c"></td></tr>
  		  <tr><td>d)  course of action</td><td><input type="radio" name="esthetics_2_1" value="d"></td></tr>
  		</table>
    </p>

    <p>2.  What propels you to do something?
  		<table class="table table-condensed">
  		  <tr><td>a)  procrastination</td><td><input type="radio" name="esthetics_2_2" value="a"></td></tr>
  		  <tr><td>b)  motivation</td><td><input type="radio" name="esthetics_2_2" value="b"></td></tr>
  		  <tr><td>c)  criticism</td><td><input type="radio" name="esthetics_2_2" value="c"></td></tr>
  		  <tr><td>d)  self-management</td><td><input type="radio" name="esthetics_2_2" value="d"></td></tr>
  		</table>
    </p>

    <p>3.  When you prioritize, in what order should you list tasks that need to be done?
  		<table class="table table-condensed">
  		  <tr><td>a)  most to least important</td><td><input type="radio" name="esthetics_2_3" value="a"></td></tr>
  		  <tr><td>b)  least to most important</td><td><input type="radio" name="esthetics_2_3" value="b"></td></tr>
  		  <tr><td>c)  easiest to hardest</td><td><input type="radio" name="esthetics_2_3" value="c"></td></tr>
  		  <tr><td>d)  hardest to easiest</td><td><input type="radio" name="esthetics_2_3" value="d"></td></tr>
  		</table>
    </p>

    <p>4.  What do good life skills help you achieve?
  		<table class="table table-condensed">
  		  <tr><td>a)  guaranteed financial success</td><td><input type="radio" name="esthetics_2_4" value="a"></td></tr>
  		  <tr><td>b)  your personal best</td><td><input type="radio" name="esthetics_2_4" value="b"></td></tr>
  		  <tr><td>c)  guaranteed career advancement</td><td><input type="radio" name="esthetics_2_4" value="c"></td></tr>
  		  <tr><td>d)  more than anyone else</td><td><input type="radio" name="esthetics_2_4" value="d"></td></tr>
  		</table>
    </p>

    <p>5.  What is your professional responsibility with regard to personal problems?
  		<table class="table table-condensed">
  		  <tr><td>a)  seek guidance from your manager</td><td><input type="radio" name="esthetics_2_5" value="a"></td></tr>
  		  <tr><td>b)  seek guidance from your clients</td><td><input type="radio" name="esthetics_2_5" value="b"></td></tr>
  		  <tr><td>c)  keep these problems to yourself</td><td><input type="radio" name="esthetics_2_5" value="c"></td></tr>
  		  <tr><td>d)  avoid people when you're in a bad mood</td><td><input type="radio" name="esthetics_2_5" value="d"></td></tr>
  		</table>
    </p>

    <p>6.  What helps you understand the needs and desires of the people around you?
  		<table class="table table-condensed">
  		  <tr><td>a)  judgement</td><td><input type="radio" name="esthetics_2_6" value="a"></td></tr>
  		  <tr><td>b)  communication</td><td><input type="radio" name="esthetics_2_6" value="b"></td></tr>
  		  <tr><td>c)  prioritizing</td><td><input type="radio" name="esthetics_2_6" value="c"></td></tr>
  		  <tr><td>d)  self-management</td><td><input type="radio" name="esthetics_2_6" value="d"></td></tr>
  		</table>
    </p>

    <p>7.  What is true about deep breathing?
  		<table class="table table-condensed">
  		  <tr><td>a)  it is an effective tool for stress management</td><td><input type="radio" name="esthetics_2_7" value="a"></td></tr>
  		  <tr><td>b)  it should be avoided in the workplace because of chemicals</td><td><input type="radio" name="esthetics_2_7" value="b"></td></tr>
  		  <tr><td>c)  you should only do this after work because you need time to relax</td><td><input type="radio" name="esthetics_2_7" value="c"></td></tr>
  		  <tr><td>d)  it is relaxing, but it inhibits your concentration</td><td><input type="radio" name="esthetics_2_7" value="d"></td></tr>
  		</table>
    </p>

    <p>8.  When should you begin organizing for the next day?
  		<table class="table table-condensed">
  		  <tr><td>a)  at the end of the work day</td><td><input type="radio" name="esthetics_2_8" value="a"></td></tr>
  		  <tr><td>b)  during your last appointment</td><td><input type="radio" name="esthetics_2_8" value="b"></td></tr>
  		  <tr><td>c)  while you are having lunch</td><td><input type="radio" name="esthetics_2_8" value="c"></td></tr>
  		  <tr><td>d)  whenever you take a break</td><td><input type="radio" name="esthetics_2_8" value="d"></td></tr>
  		</table>
    </p>
    
    <p>9.  What is time management?
  		<table class="table table-condensed">
  		  <tr><td>a)  alloting time for tasks so all tasks can be completed</td><td><input type="radio" name="esthetics_2_9" value="a"></td></tr>
  		  <tr><td>b)  making a list of things you want to accomplish</td><td><input type="radio" name="esthetics_2_9" value="b"></td></tr>
  		  <tr><td>c)  keeping track of what time it is throughout the day</td><td><input type="radio" name="esthetics_2_9" value="c"></td></tr>
  		  <tr><td>d)  supervising people to make sure they record their time properly</td><td><input type="radio" name="esthetics_2_9" value="d"></td></tr>
  		</table>
    </p>
    
    <p>10.  What is your scope of practice?
  		<table class="table table-condensed">
  		  <tr><td>a)  the hours your salon is open every day</td><td><input type="radio" name="esthetics_2_10" value="a"></td></tr>
  		  <tr><td>b)  the amount of time you can make available to each client</td><td><input type="radio" name="esthetics_2_10" value="b"></td></tr>
  		  <tr><td>c)  the geographical region in which you can legally operate</td><td><input type="radio" name="esthetics_2_10" value="c"></td></tr>
  		  <tr><td>d)  the products and treatments you can offer</td><td><input type="radio" name="esthetics_2_10" value="d"></td></tr>
  		</table>
    </p>
    
    <p>11.  What is teamwork?
  		<table class="table table-condensed">
  		  <tr><td>a)  working collaboratively to maintain productivity and reduce stress</td><td><input type="radio" name="esthetics_2_11" value="a"></td></tr>
  		  <tr><td>b)  helping others do their jobs even if you have a client at your station</td><td><input type="radio" name="esthetics_2_11" value="b"></td></tr>
  		  <tr><td>c)  identifying tasks that your supervisor can perform for you</td><td><input type="radio" name="esthetics_2_11" value="c"></td></tr>
  		  <tr><td>d)  asking other estheticians to help you perform client services</td><td><input type="radio" name="esthetics_2_11" value="d"></td></tr>
  		</table>
    </p>
    
    <p>12.  What term refers to putting off until tomorrow what you can do today?
  		<table class="table table-condensed">
  		  <tr><td>a)  time management</td><td><input type="radio" name="esthetics_2_12" value="a"></td></tr>
  		  <tr><td>b)  scheduling</td><td><input type="radio" name="esthetics_2_12" value="b"></td></tr>
  		  <tr><td>c)  prioritizing</td><td><input type="radio" name="esthetics_2_12" value="c"></td></tr>
  		  <tr><td>d)  procrastination</td><td><input type="radio" name="esthetics_2_12" value="d"></td></tr>
  		</table>
    </p>
    
    <p>13.  What does a mission statement establish?
  		<table class="table table-condensed">
  		  <tr><td>a)  how much money a business will make in its first year</td><td><input type="radio" name="esthetics_2_13" value="a"></td></tr>
  		  <tr><td>b)  the values an institution or individual lives by</td><td><input type="radio" name="esthetics_2_13" value="b"></td></tr>
  		  <tr><td>c)  how many employees a business will have after five years</td><td><input type="radio" name="esthetics_2_13" value="c"></td></tr>
  		  <tr><td>d)  which charities a business plans to support</td><td><input type="radio" name="esthetics_2_13" value="d"></td></tr>
  		</table>
    </p>
    
    <p>14.  What is NOT an element of a good work ethic?
  		<table class="table table-condensed">
  		  <tr><td>a)  trustworthiness</td><td><input type="radio" name="esthetics_2_14" value="a"></td></tr>
  		  <tr><td>b)  tardiness</td><td><input type="radio" name="esthetics_2_14" value="b"></td></tr>
  		  <tr><td>c)  respectfulness</td><td><input type="radio" name="esthetics_2_14" value="c"></td></tr>
  		  <tr><td>d)  supportiveness</td><td><input type="radio" name="esthetics_2_14" value="d"></td></tr>
  		</table>
    </p>
    
    <p>15.  What are boundaries?
  		<table class="table table-condensed">
  		  <tr><td>a)  limits you set on sharing personal information</td><td><input type="radio" name="esthetics_2_15" value="a"></td></tr>
  		  <tr><td>b)  physical borders of your work station</td><td><input type="radio" name="esthetics_2_15" value="b"></td></tr>
  		  <tr><td>c)  draping you place across clients to protect them from spillage</td><td><input type="radio" name="esthetics_2_15" value="c"></td></tr>
  		  <tr><td>d)  limits you set on how much work you are willing to do</td><td><input type="radio" name="esthetics_2_15" value="d"></td></tr>
  		</table>
    </p>
    
    <p>16.  What is the term for your outlook on life, based on your beliefs?
  		<table class="table table-condensed">
  		  <tr><td>a)  attitude</td><td><input type="radio" name="esthetics_2_16" value="a"></td></tr>
  		  <tr><td>b)  emotional stability</td><td><input type="radio" name="esthetics_2_16" value="b"></td></tr>
  		  <tr><td>c)  equilibrium</td><td><input type="radio" name="esthetics_2_16" value="c"></td></tr>
  		  <tr><td>d)  reliability</td><td><input type="radio" name="esthetics_2_16" value="d"></td></tr>
  		</table>
    </p>
    
    <p>17.  What is NOT one of the things that will determinine your success?
  		<table class="table table-condensed">
  		  <tr><td>a)  the way you handle yourself</td><td><input type="radio" name="esthetics_2_17" value="a"></td></tr>
  		  <tr><td>b)  your technical skills</td><td><input type="radio" name="esthetics_2_17" value="b"></td></tr>
  		  <tr><td>c)  whether you get a medical license</td><td><input type="radio" name="esthetics_2_17" value="c"></td></tr>
  		  <tr><td>d)  the way you behave toward others</td><td><input type="radio" name="esthetics_2_17" value="d"></td></tr>
  		</table>
    </p>
    
    <p>18.  What is a good strategy if you find studying overwhelming?
  		<table class="table table-condensed">
  		  <tr><td>a)  break studying down into manageable tasks</td><td><input type="radio" name="esthetics_2_18" value="a"></td></tr>
  		  <tr><td>b)  cram at the end so you get studying over with quickly</td><td><input type="radio" name="esthetics_2_18" value="b"></td></tr>
  		  <tr><td>c)  learn everything you can during class and avoid studying</td><td><input type="radio" name="esthetics_2_18" value="c"></td></tr>
  		  <tr><td>d)  find out what is on the exam and learn only that information</td><td><input type="radio" name="esthetics_2_18" value="d"></td></tr>
  		</table>
    </p>

    <p>19.  What posture should you use when studying?
  		<table class="table table-condensed">
  		  <tr><td>a)  lying down on your back</td><td><input type="radio" name="esthetics_2_19" value="a"></td></tr>
  		  <tr><td>b)  lying down on your chest</td><td><input type="radio" name="esthetics_2_19" value="b"></td></tr>
  		  <tr><td>c)  sitting upright</td><td><input type="radio" name="esthetics_2_19" value="c"></td></tr>
  		  <tr><td>d)  sitting in a reclining position</td><td><input type="radio" name="esthetics_2_19" value="d"></td></tr>
  		</table>
    </p>

    <p>20.  What is true about mission statement?
  		<table class="table table-condensed">
  		  <tr><td>a)  they are essential elements of business plans</td><td><input type="radio" name="esthetics_2_20" value="a"></td></tr>
  		  <tr><td>b)  they are optional elements of business plans</td><td><input type="radio" name="esthetics_2_20" value="b"></td></tr>
  		  <tr><td>c)  they should not be created until the business is already operating</td><td><input type="radio" name="esthetics_2_20" value="c"></td></tr>
  		  <tr><td>d)  mission statements are not approriate for every business</td><td><input type="radio" name="esthetics_2_20" value="d"></td></tr>
  		</table>
    </p>

    <p>21.  What helps you decide what you want out of life?
  		<table class="table table-condensed">
  		  <tr><td>a)  procrastinating</td><td><input type="radio" name="esthetics_2_21" value="a"></td></tr>
  		  <tr><td>b)  goal setting</td><td><input type="radio" name="esthetics_2_21" value="b"></td></tr>
  		  <tr><td>c)  time management</td><td><input type="radio" name="esthetics_2_21" value="c"></td></tr>
  		  <tr><td>d)  prioritizing</td><td><input type="radio" name="esthetics_2_21" value="d"></td></tr>
  		</table>
    </p>

    <p>22.  What does the term ethics refer to?
  		<table class="table table-condensed">
  		  <tr><td>a)  moral principles by which we live and work</td><td><input type="radio" name="esthetics_2_22" value="a"></td></tr>
  		  <tr><td>b)  laws that keep us from stealing from employers</td><td><input type="radio" name="esthetics_2_22" value="b"></td></tr>
  		  <tr><td>c)  regulations that state which products can be used</td><td><input type="radio" name="esthetics_2_22" value="c"></td></tr>
  		  <tr><td>d)  services you can perform, based on your certification</td><td><input type="radio" name="esthetics_2_22" value="d"></td></tr>
  		</table>
    </p>

    <p>23.  Why should you learn from your mistakes?
  		<table class="table table-condensed">
  		  <tr><td>a)  so you know how to get away with things in the workplace</td><td><input type="radio" name="esthetics_2_23" value="a"></td></tr>
  		  <tr><td>b)  so you know the limitations of your abilities</td><td><input type="radio" name="esthetics_2_23" value="b"></td></tr>
  		  <tr><td>c)  to help you grow in your professional life</td><td><input type="radio" name="esthetics_2_23" value="c"></td></tr>
  		  <tr><td>d)  to help you avoid interactions with your manager</td><td><input type="radio" name="esthetics_2_23" value="d"></td></tr>
  		</table>
    </p>

    <p>24.  What blocks the creative mind from exploring ideas?
  		<table class="table table-condensed">
  		  <tr><td>a)  feedback</td><td><input type="radio" name="esthetics_2_24" value="a"></td></tr>
  		  <tr><td>b)  guidance</td><td><input type="radio" name="esthetics_2_24" value="b"></td></tr>
  		  <tr><td>c)  criticism</td><td><input type="radio" name="esthetics_2_24" value="c"></td></tr>
  		  <tr><td>d)  enthusiasm</td><td><input type="radio" name="esthetics_2_24" value="d"></td></tr>
  		</table>
    </p>

    <p>25.  What term refers to a well thought-out process for achieving?
  		<table class="table table-condensed">
  		  <tr><td>a)  self-management</td><td><input type="radio" name="esthetics_2_25" value="a"></td></tr>
  		  <tr><td>b)  procrastination</td><td><input type="radio" name="esthetics_2_25" value="b"></td></tr>
  		  <tr><td>c)  prioritizing</td><td><input type="radio" name="esthetics_2_25" value="c"></td></tr>
  		  <tr><td>d)  time management</td><td><input type="radio" name="esthetics_2_25" value="d"></td></tr>
  		</table>
    </p>


    <p>26.  What is diplomacy?
  		<table class="table table-condensed">
  		  <tr><td>a)  keeping personal problems to yourself</td><td><input type="radio" name="esthetics_2_26" value="a"></td></tr>
  		  <tr><td>b)  being tactful in your dealings with others</td><td><input type="radio" name="esthetics_2_26" value="b"></td></tr>
  		  <tr><td>c)  making critical observations when people do things wrong</td><td><input type="radio" name="esthetics_2_26" value="c"></td></tr>
  		  <tr><td>d)  telling a client she looks good when she actually does not</td><td><input type="radio" name="esthetics_2_26" value="d"></td></tr>
  		</table>
    </p>


    <p>27.  What is true of a pleasing attitude?
  		<table class="table table-condensed">
  		  <tr><td>a)  it will gain you associates, clients, and friends</td><td><input type="radio" name="esthetics_2_27" value="a"></td></tr>
  		  <tr><td>b)  it will send the message you can be pushed around by managers</td><td><input type="radio" name="esthetics_2_27" value="b"></td></tr>
  		  <tr><td>c)  it makes clients worry that you will only say what they want to hear</td><td><input type="radio" name="esthetics_2_27" value="c"></td></tr>
  		  <tr><td>d)  it will benefit you in your private life, but not in your work life</td><td><input type="radio" name="esthetics_2_27" value="d"></td></tr>
  		</table>
    </p>

    <p>28.  What is true about obtaining approriate state licensure or certification?
  		<table class="table table-condensed">
  		  <tr><td>a)  it is not necessary for establishing credibility as an esthetician</td><td><input type="radio" name="esthetics_2_28" value="a"></td></tr>
  		  <tr><td>b)  it is the first step to establishing credibility as an esthetician</td><td><input type="radio" name="esthetics_2_28" value="b"></td></tr>
  		  <tr><td>c)  only managers are expected to have licenses and certificates</td><td><input type="radio" name="esthetics_2_28" value="c"></td></tr>
  		  <tr><td>d)  only salon owners are expected to have licenses and certificates</td><td><input type="radio" name="esthetics_2_28" value="d"></td></tr>
  		</table>
    </p>

    <p>29.  What is true about staying on time with appointments?
  		<table class="table table-condensed">
  		  <tr><td>a)  it is not very important, because clients are almost always late</td><td><input type="radio" name="esthetics_2_29" value="a"></td></tr>
  		  <tr><td>b)  it is a minor aspect of time management for estheticians</td><td><input type="radio" name="esthetics_2_29" value="b"></td></tr>
  		  <tr><td>c)  it is the most important aspect of time management for estheticians</td><td><input type="radio" name="esthetics_2_29" value="c"></td></tr>
  		  <tr><td>d)  you should expect to fall behind at least once every day</td><td><input type="radio" name="esthetics_2_29" value="d"></td></tr>
  		</table>
    </p>
  
    <p>30.  How early should a new client arrive before his or her first appointment in order to fill out a client intake form?
  		<table class="table table-condensed">
  		  <tr><td>a)  5 minutes</td><td><input type="radio" name="esthetics_2_30" value="a"></td></tr>
  		  <tr><td>b)  10 minutes</td><td><input type="radio" name="esthetics_2_30" value="b"></td></tr>
  		  <tr><td>c)  15 minutes</td><td><input type="radio" name="esthetics_2_30" value="c"></td></tr>
  		  <tr><td>d)  30 minutes</td><td><input type="radio" name="esthetics_2_30" value="d"></td></tr>
  		</table>
    </p>

    <p>31. How should you measure your sense of achievement?
  		<table class="table table-condensed">
  		  <tr><td>a)  by asking other people whether they consider you successful</td><td><input type="radio" name="esthetics_2_31" value="a"></td></tr>
  		  <tr><td>b)  by comparing your achievements to your definition of success</td><td><input type="radio" name="esthetics_2_31" value="b"></td></tr>
  		  <tr><td>c)  by keeping track of how much money your fellow students make</td><td><input type="radio" name="esthetics_2_31" value="c"></td></tr>
  		  <tr><td>d)  by comparing your achievements to your parents's level of affluence</td><td><input type="radio" name="esthetics_2_31" value="d"></td></tr>
  		</table>
    </p>

    <p>32.  What is true of a healthy lifestyle?
  		<table class="table table-condensed">
  		  <tr><td>a)  it is a tremendous asset in reaching your goals</td><td><input type="radio" name="esthetics_2_32" value="a"></td></tr>
  		  <tr><td>b)  it is a luxury for people with money to buy gym memberships</td><td><input type="radio" name="esthetics_2_32" value="b"></td></tr>
  		  <tr><td>c)  it has no bearing upon your professional career</td><td><input type="radio" name="esthetics_2_32" value="c"></td></tr>
  		  <tr><td>d)  it is impossible to live a healthy lifestyle if you are an esthetician</td><td><input type="radio" name="esthetics_2_32" value="d"></td></tr>
  		</table>
    </p>


    <p>33.  What will happen if you demonstrate good manners?
  		<table class="table table-condensed">
  		  <tr><td>a)  you will get along with every single person you meet</td><td><input type="radio" name="esthetics_2_33" value="a"></td></tr>
  		  <tr><td>b)  you will engender goodwill and respect</td><td><input type="radio" name="esthetics_2_33" value="b"></td></tr>
  		  <tr><td>c)  you will never have problems with your clients or managers</td><td><input type="radio" name="esthetics_2_33" value="c"></td></tr>
  		  <tr><td>d)  you will always earn larger tips than other estheticians in your salon</td><td><input type="radio" name="esthetics_2_33" value="d"></td></tr>
  		</table>
    </p>


    <p>34.  When should you ask questions in class?
  		<table class="table table-condensed">
  		  <tr><td>a)  when you don't understand something</td><td><input type="radio" name="esthetics_1_34" value="a"></td></tr>
  		  <tr><td>b)  when you want to give the impression you are paying attention</td><td><input type="radio" name="esthetics_1_34" value="b"></td></tr>
  		  <tr><td>c)  whenever the teacher discusses something you find interesting</td><td><input type="radio" name="esthetics_1_34" value="c"></td></tr>
  		  <tr><td>d)  whenever the teacher discusses what information will be on the exam</td><td><input type="radio" name="esthetics_1_34" value="d"></td></tr>
  		</table>
    </p>

  </form>
  
  <button id="submitExam" class="btn btn-lg btn-primary">Submit</button>

</body>
</html>
