<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#submitExam").click(function(){
      var questionAnswerObj = {};
      $('#myForm input[type=radio]:checked').each(function(){
  		  questionAnswerObj[this.name] = this.value;
  	  }); 
  
      $.ajax({
        type:'POST',
        url:'/submit_Exam',
        data: { questionAnswerObj: JSON.stringify(questionAnswerObj) },
        success:function(result){
          var i;
          var out = "<table class=\"table table-striped\">";
          out += "<th>Question #</th><th>Answer Key</th><th>Your Answer Is</th>";
          x = result;
          $("#answers").empty();
          for (i = 0; i < x.length; i++) {
            out +=  "<tr><td>"  +  x[i].question_number + 
                    "</td><td>" +  x[i].answer_key +
                    "</td><td>" + x[i].your_answer + "</td></tr>";
          }
          out += "</table>";
          $("#answers").append(out);

        }
      }); // ajax
    }); // #submitExam
  });
</script>
</head>
<body>

  <h2>Chapter 11: Disorders And Diseases Of The Skin</h2>
  <hr>

  <form id="myForm" >

    <p>1. What term is used to describe any mark, wound, or abnormality?</p>
		<table class="table table-condensed">
		  <tr><td><input type="radio" name="esthetics_11_1" value="a"></td><td>a) lesion </td></tr>
		  <tr><td><input type="radio" name="esthetics_11_1" value="b"></td><td>b) papule </td></tr>
		  <tr><td><input type="radio" name="esthetics_11_1" value="c"></td><td>c) cyst </td></tr>
		  <tr><td><input type="radio" name="esthetics_11_1" value="d"></td><td>d) skin tag </td></tr>
		</table>
    </p>

    <p>2. What is leukoderma?  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_2" value="a"></td><td>a) flat, hairy spots on the skin </td></tr>
		  <tr><td><input type="radio" name="esthetics_11_2" value="b"></td><td>b) light patches caused by destroyed pigmentproducing cells </td></tr>
		  <tr><td><input type="radio" name="esthetics_11_2" value="c"></td><td>c) brown or winecolored discoloration </td></tr>
		  <tr><td><input type="radio" name="esthetics_11_2" value="d"></td><td>d) thick scar resulting from excessive fibrous tissue </td></tr>
  		</table>
    </p>

    <p>3. What is the term for a flat spot or discoloration of te skin, such as a freckle? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_3" value="a"></td><td>a) pustule </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_3" value="b"></td><td>b) cyst </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_3" value="c"></td><td>c) macule </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_3" value="d"></td><td>d) stain </td></tr>
  		</table>
    </p>

    <p>4. What is true of malignant melanoma? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_4" value="a"></td><td>a) it is a benign form of skin cancer </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_4" value="b"></td><td>b) it is the least serious form of skin cancer </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_4" value="c"></td><td>c) it is a moderately serious form of skin cancer </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_4" value="d"></td><td>d) it is the most serious form of skin cancer </td></tr>
  		</table>
    </p>

    <p>5. What condition is also known as melasma? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_5" value="a"></td><td>a) hyperpigmentation </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_5" value="b"></td><td>b) hypopigmentation </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_5" value="c"></td><td>c) benign melanoma </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_5" value="d"></td><td>d) malingnant melanoma </td></tr>
  		</table>
    </p>

    <p>6. What is an example of epidermal cysts? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_6" value="a"></td><td>a) scars </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_6" value="b"></td><td>b) milia </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_6" value="c"></td><td>c) boils </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_6" value="d"></td><td>d) blisters </td></tr>
  		</table>
    </p>

    <p>7. What is another name for the acute inflammatory disorder miliaria rubra? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_7" value="a"></td><td>a) prickly heat </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_7" value="b"></td><td>b) scabies </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_7" value="c"></td><td>c) rabies </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_7" value="d"></td><td>d) shigles </td></tr>
  		</table>
    </p>

    <p>8. What term refers to a pigmented venus? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_8" value="a"></td><td>a) nodule </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_8" value="b"></td><td>b) veside </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_8" value="c"></td><td>c) papule </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_8" value="d"></td><td>d) mole </td></tr>
  		</table>
    </p>
    
    <p>9. What are nodules?
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_9" value="a"></td><td>a) brown or wine-colored discolorations </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_9" value="b"></td><td>b) small bumps caused by conditions such as scar tissue or infections </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_9" value="c"></td><td>c) large blisters containing watery fluid </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_9" value="d"></td><td>d) clusters of boils </td></tr>
  		</table>
    </p>
    
    <p>10. What is another name for a nevus? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_10" value="a"></td><td>a) carbuncle </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_10" value="b"></td><td>b) wheal  </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_10" value="c"></td><td>c) birthmark </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_10" value="d"></td><td>d) skin tag </td></tr>
  		</table>
    </p>
    
    <p>11. What is the tubercle?
 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_11" value="a"></td><td>a) open lesion on the skin or ucous membrane of the body </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_11" value="b"></td><td>b) abnormal rounded, solid lump larger than a papue </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_11" value="c"></td><td>c) yeast infection of the skin that inhibits melanin production </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_11" value="d"></td><td>d) another name for the contagious infection called ringworm </td></tr>
  		</table>
    </p>
    
    <p>12. What is tinea versicolor? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_12" value="a"></td><td>a) pigmentation disease characteried by white patches </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_12" value="b"></td><td>b) yeast infection of the skin that inhibits melanin production </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_12" value="c"></td><td>c) generic term for any kind of fungal infection </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_12" value="d"></td><td>d) severe oilness of the skin </td></tr>
  		</table>
    </p>
    
    <p>13. What is the common name for the contagious infection tinea corporis? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_13" value="a"></td><td>a) ringworm </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_13" value="b"></td><td>b) shingles </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_13" value="c"></td><td>c) rabies </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_13" value="d"></td><td>d) scabies </td></tr>
  		</table>
    </p>
    
    <p>14. What is the generic term for a fungal infection? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_14" value="a"></td><td>a) miliaria </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_14" value="b"></td><td>b) tinea </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_14" value="c"></td><td>c) verruca </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_14" value="d"></td><td>d) barbae </td></tr>
  		</table>
    </p>
    
    <p>15. What is the scientific term for couperose skin? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_15" value="a"></td><td>a) tinea barbae </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_15" value="b"></td><td>b) tinea pedis </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_15" value="c"></td><td>c) telangiectasia </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_15" value="d"></td><td>d) pseudofolliculitis </td></tr>
  		</table>
    </p>
    
    <p>16. What causes the skin to tan upon exposure to ultraviolet (UV) radiation?
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_16" value="a"></td><td>a) increase in pigmentation </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_16" value="b"></td><td>b) increase in blood circulation </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_16" value="c"></td><td>c) increase in lymph production </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_16" value="d"></td><td>d) increase in body temperature </td></tr>
  		</table>
    </p>
    
    <p>17. What is a steatoma?  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_17" value="a"></td><td>a) brown or wine-colored diccoloration </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_17" value="b"></td><td>b) sebaceous cyst of subcutaneous tumor filled with sebum </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_17" value="c"></td><td>c) brownish spot ranging in color from tan to bluish-black </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_17" value="d"></td><td>d) small, benign outgrowth of the skin that looks like a flap </td></tr>
  		</table>
    </p>
    
    <p>18. What is the term for a brown or wine-colored discoloration? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_18" value="a"></td><td>a) wen </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_18" value="b"></td><td>b) wheal </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_18" value="c"></td><td>c) tan </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_18" value="d"></td><td>d) stain </td></tr>
  		</table>
    </p>

    <p>19. What is a characteristic of the form of skin cancer called squamous cell carcinoma? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_19" value="a"></td><td>a) pearly translucency to fleshy color </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_19" value="b"></td><td>b) scaly red or pink papules or nodules </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_19" value="c"></td><td>c) dark purple splotches at the joints </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_19" value="d"></td><td>d) asymmetrical area and color variation </td></tr>
  		</table>
    </p>

    <p>20. What are skin tags? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_21" value="a"></td><td>a) small, benign outgrowths of the skin that look like flaps </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_21" value="b"></td><td>b) dangerous manifestations of malignant melanoma </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_21" value="c"></td><td>c) thick scars resulting from excessive fibrous tissue </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_21" value="d"></td><td>d) decaying discharges from infected comedones </td></tr>
  		</table>
    </p>

    <p>21. What is rosacea? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_22" value="a"></td><td>a) any skin with a naturally rose-hued color </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_22" value="b"></td><td>b) condition characterized by redness and dilation of blood vessels </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_22" value="c"></td><td>c) light-colored, raised mark on the skin formed after injury </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_22" value="d"></td><td>d) skin cream used for treating fair-skinned clients </td></tr>
  		</table>
    </p>

    <p>22. What is the term for flaky skin cells or any thin plate of epidermal flakes, dry or oily? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_22" value="a"></td><td>a) vesicles </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_22" value="b"></td><td>b) scales </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_22" value="c"></td><td>c) skin tag </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_22" value="d"></td><td>d) papules </td></tr>
  		</table>
    </p>

    <p>23. What is a light-colored, slightly raised mark on the skin that is  formed after an injury or lesion of the skin has healed? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_23" value="a"></td><td>a) stain </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_23" value="b"></td><td>b) scar </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_23" value="c"></td><td>c) tan </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_23" value="d"></td><td>d) wheal </td></tr>
  		</table>
    </p>

    <p>24. What are sebaceous filaments? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_24" value="a"></td><td>a) mainly solididied impactions of oil without the ccell matter </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_24" value="b"></td><td>b) light-colored, slightly raised marks on the skin formed after injuries </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_24" value="c"></td><td>c) thin plates of epidermal flakes, such as excessive dandruff </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_24" value="d"></td><td>d) small clusters of papules caused by products used on the face</td></tr>
  		</table>
    </p>

    <p>25. What is an example of sebaceous hyperplasia? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_25" value="a"></td><td>a) benign lesions frequently seen in oilier areas of the face </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_25" value="b"></td><td>b) solidified impactions of oil without the cell matter </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_25" value="c"></td><td>c) light-colored, slightly raised marks on the skin formed after injuries </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_25" value="d"></td><td>d) patches covered with white-silver scales </td></tr>
  		</table>
    </p>


    <p>26. What is acne?
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_26" value="a"></td><td>a) medical condition defined by an absence of melanin pigment </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_26" value="b"></td><td>b) chronic inflammatory skin disorder of the sebaceous glands </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_26" value="c"></td><td>c) excess inflammation from allergies and irritants </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_26" value="d"></td><td>d) foul-smelling perspiration, usually in the armpits or feet </td></tr>
  		</table>
    </p>


    <p>27. What is acne exxcorciee? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_27" value="a"></td><td>a) severe form of acne that is considered precancerous </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_27" value="b"></td><td>b) skin type of anyone who regulary gets acne lesions </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_27" value="c"></td><td>c) product that makes acne lesions vanish instantaneously </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_27" value="d"></td><td>d) disorder where clients purposely scrape off acne lesions </td></tr>
  		</table>
    </p>

    <p>28. What are actinic ketatoses?  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_28" value="a"></td><td>a) large blisters containing watery fluid that are similar to vesicles </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_28" value="b"></td><td>b) clusters of boils </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_28" value="c"></td><td>c) pink or flesh-colored precancerous lesions that result from sun damage </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_28" value="d"></td><td>d) closed, abnormally developed sacs </td></tr>
  		</table>
    </p>

    <p>29. What is albinism? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_29" value="a"></td><td>a) deficiency in perspiration </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_29" value="b"></td><td>b) dry, scaly skin resulting from sebum deficiency </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_29" value="c"></td><td>c) foul-smelling perspiration </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_29" value="d"></td><td>d) medical condition defined by an absence of melanin pigment </td></tr>
  		</table>
    </p>
  
    <p>30. Where is anhidrosis? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_30" value="a"></td><td>a) deficiency in erspiration </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_30" value="b"></td><td>b) excessive perspiration </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_30" value="c"></td><td>c) foul-smelling perspiration </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_30" value="d"></td><td>d) bloddy perspiration </td></tr>
  		</table>
    </p>

    <p>31. What is asteatosis? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_31" value="a"></td><td>a) medical condition defined by an absence of melanin pigment </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_31" value="b"></td><td>b) dry, scaly skin from sebum deficiency </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_31" value="c"></td><td>c) excess inflammation from allergies and irritants </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_31" value="d"></td><td>d) disorder where clients purposely scrape off acne lesions </td></tr>
  		</table>
    </p>

    <p>32. What is the cells in the term for excess inflammation (dry skin, redness, itching) from allergies and irritants? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_32" value="a"></td><td>a) squamous cell melanoma </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_32" value="b"></td><td>b) contact dermatitis </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_32" value="c"></td><td>c) atopic dermatitis </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_32" value="d"></td><td>d) basal cell melanoma </td></tr>
  		</table>
    </p>


    <p>33. What is the true of basal cell carcinoma?
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_33" value="a"></td><td>a) it is the least common type of skin cancer </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_33" value="b"></td><td>b) it is the least severe type of skin cancer </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_33" value="c"></td><td>c) it is the most serious type of skin cancer </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_33" value="d"></td><td>d) it is a begin form of skin cancer </td></tr>
  		</table>
    </p>


    <p>34. What is the term for foul-smelling perspiration, usually in the armpits or on the feet? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_34" value="a"></td><td>a) tinea pedis </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_34" value="b"></td><td>b) bromhidrosis </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_34" value="c"></td><td>c) asteatosis </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_34" value="d"></td><td>d) tinea barbae </td></tr>
  		</table>
    </p>


    <p>35. What is bulla? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_35" value="a"></td><td>a) mass of hardened sebum and skin cells in a hair follicle </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_35" value="b"></td><td>b) closed comedone </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_35" value="c"></td><td>c) open comedone </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_35" value="d"></td><td>d) large blister containing watery fluid that is larger than a vesicle </td></tr>
  		</table>
    </p>

    <p>36. What is hyperkeratosis? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_36" value="a"></td><td>a) overproduction of pigment </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_36" value="b"></td><td>b) underproduction of pigment </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_36" value="c"></td><td>c) thickening of the skin caused by a mass of keratinied cells </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_36" value="d"></td><td>d) thinning of the skin caused by a lack of keratinied cells </td></tr>
  		</table>
    </p>

    <p>37. What is the term for the overproduction of ppigment? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_37" value="a"></td><td>a) hyperpigmentation </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_37" value="b"></td><td>b) superpigmentation </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_37" value="c"></td><td>c) metapigmentation </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_37" value="d"></td><td>d) hypopigmentation </td></tr>
  		</table>
    </p>

    <p>38. What is hypertrophy? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_38" value="a"></td><td>a) abnormal growth </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_38" value="b"></td><td>b) normal growth </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_38" value="c"></td><td>c) abnormal perspiration </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_38" value="d"></td><td>d) normal perspiration </td></tr>
  		</table>
    </p>

    <p>39. What is hypopigmentation? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_39" value="a"></td><td>a) excess of pigment </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_39" value="b"></td><td>b) injection of pigment </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_39" value="c"></td><td>c) surgical removal of pigment </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_39" value="d"></td><td>d) lack of pigment </td></tr>
  		</table>
    </p>

    <p>40. What is impetigo? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_40" value="a"></td><td>a) light, abnormal patches that are the result of congentital defects </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_40" value="b"></td><td>b) scar tissue resulting from excessive growth of fibrous tissue </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_40" value="c"></td><td>c) contagious bacterial infection marked by clusters of small blisteres </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_40" value="d"></td><td>d) redness and bumpiness in the cheeks caused by blocked follicles </td></tr>
  		</table>
    </p>

    <p>41. What is a thick scar resulting from excessive growth of fibrous tissue (collagen)? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_41" value="a"></td><td>a) stain </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_41" value="b"></td><td>b) keloid </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_41" value="c"></td><td>c) wheal </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_41" value="d"></td><td>d) wen </td></tr>
  		</table>
    </p>

    <p>42. What is a keratoma? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_42" value="a"></td><td>a) thick scar resulting from excessive growth of fibrous tissue </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_42" value="b"></td><td>b) open comedone </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_42" value="c"></td><td>c) closed comedone </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_42" value="d"></td><td>d) acquired, thickened patch of epidermis </td></tr>
  		</table>
    </p>

    <p>43. What are abnormally thick build-ups of cells? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_43" value="a"></td><td>a) keratoses </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_43" value="b"></td><td>b) keloids </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_43" value="c"></td><td>c) vesicles </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_43" value="d"></td><td>d) papules </td></tr>
  		</table>
    </p>

   <p>44. What is keratosis pilaris? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_44" value="a"></td><td>a) acquired, thickened patch of epidermis </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_44" value="b"></td><td>b) redness and bumpiness in the cheeks caused by blocked follicles </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_44" value="c"></td><td>c) most malignant form of skin cancer </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_44" value="d"></td><td>d) least malignant form of skin cancer </td></tr>
  		</table>
    </p>

 <p>45. What is the scientific name for a freckle? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_45" value="a"></td><td>a) vitiligo </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_45" value="b"></td><td>b) macule </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_45" value="c"></td><td>c) melasma </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_45" value="d"></td><td>d) lentigo </td></tr>
  		</table>
    </p>

 <p>46. What are secondary lesions? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_46" value="a"></td><td>a) benign outgrowths of the skin that look like flaps </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_46" value="b"></td><td>b) skin damage that changes the structure of tissues or organs </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_46" value="c"></td><td>c) thick scars resulting from excessive growth of fibrous tissue </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_46" value="d"></td><td>d) brown or wine-colored discolorations </td></tr>
  		</table>
    </p>

<p>47. What is seborrheic dermatitis? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_47" value="a"></td><td>a) rare form of rosacea </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_47" value="b"></td><td>b) common from of rosacea </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_47" value="c"></td><td>c) rare form of eczema </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_47" value="d"></td><td>d) common form of eczema </td></tr>
  		</table>
    </p>

<p>48. What is severe oiliness of the skin called? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_48" value="a"></td><td>a) dermatitis </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_48" value="b"></td><td>b) seborrhea </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_48" value="c"></td><td>c) eczema </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_48" value="d"></td><td>d) rosacea </td></tr>
  		</table>
    </p>

<p>49. where in the face does the acne-like coditon perioral dermatitis manifest? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_49" value="a"></td><td>a) forehead </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_49" value="b"></td><td>b) chin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_49" value="c"></td><td>c) nose </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_49" value="d"></td><td>d) mouth </td></tr>
  		</table>

<p>50. What is a characteristic of primary lesions? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_50" value="a"></td><td>a) brownish spots ranging in color from tan to bluish-black </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_50" value="b"></td><td>b) subcutaneous tumors filled with sebum </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_50" value="c"></td><td>c) infection with ringed, red pattern with elevated ridges </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_50" value="d"></td><td>d) flat, nonpalpable changes in skin color such as maculae or patches </td></tr>
  		</table>
    </p>

<p>51. What is the term for persistent itching? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_51" value="a"></td><td>a) dermatitis </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_51" value="b"></td><td>b) pruitis </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_51" value="c"></td><td>c) hepatitis </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_51" value="d"></td><td>d) mitosis </td></tr>
  		</table>
    </p>

<p>52. What is the common name for pseudofolliculitis? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_52" value="a"></td><td>a) red patches covered with whitesilver scales </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_52" value="b"></td><td>b) subcutaneous tumors filled with sebum </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_52" value="c"></td><td>c) flat, nonpalpable changes in skin color such as maculae or patches </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_52" value="d"></td><td>d) reflection </td></tr>
  		</table>
    </p>

<p>53. What function does the enzyme tyrosinase perform? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_53" value="a"></td><td>a) helps to regulate the body's internal temperature </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_53" value="b"></td><td>b) stimulates melanocytes and thus produces melanin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_53" value="c"></td><td>c) triggers hyperproduction of cells and blood clotting </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_53" value="d"></td><td>d) benign outgrowths of the skin that look like flaps </td></tr>
  		</table>
    </p>

<p>54. What is a pustule? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_54" value="a"></td><td>a) inflamed wheal </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_54" value="b"></td><td>b) irritated wen </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_54" value="c"></td><td>c) irritated vesicle </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_54" value="d"></td><td>d) inflamed papule </td></tr>
  		</table>
    </p>

<p>55. When someone has retention hyperkeratinosis, what builds up and fails to shed from the follicles as happens in normal skin? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_55" value="a"></td><td>a) sebum </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_55" value="b"></td><td>b) dead skin cells </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_55" value="c"></td><td>c) perspiration </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_55" value="d"></td><td>d) hairs </td></tr>
  		</table>
    </p>

<p>56. What is the term for a cluster of boils? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_56" value="a"></td><td>a) wheals </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_56" value="b"></td><td>b) wen </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_56" value="c"></td><td>c) comedone </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_56" value="d"></td><td>d) carbuncle </td></tr>
  		</table>
    </p>

<p>57. What is the common name for chloasma? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_57" value="a"></td><td>a) razor bumps </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_57" value="b"></td><td>b) skin tag </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_57" value="c"></td><td>c) liver spots </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_57" value="d"></td><td>d) fine wrinkles </td></tr>
  		</table>
    </p>

<p>58. What is true of a comedogenic product?  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_58" value="a"></td><td>a) it has no adverse effects on the skin whatsover  </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_58" value="b"></td><td>b) it tends to clog follicles and cause a buildu of dead skin cells  </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_58" value="c"></td><td>c) it helps clear up comedones quickly and safely </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_58" value="d"></td><td>d) this sort of product should not be used on human skin </td></tr>
  		</table>
    </p>

<p>59. What is a comdone? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_59" value="a"></td><td>a) cluster of boils </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_59" value="b"></td><td>b) large blister containing watery fluid </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_59" value="c"></td><td>c) mass of hardened sebum and skin cels in a hair foicle </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_59" value="d"></td><td>d) pink or flesh-colored precaneous lesion  </td></tr>
  		</table>
    </p>

<p>60. What is the common name for the very contagious infection conjunctivitis? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_60" value="a"></td><td>a) ringworm </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_60" value="b"></td><td>b) pinkeye </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_60" value="c"></td><td>c) rabies </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_60" value="d"></td><td>d) scabies </td></tr>
  		</table>
    </p>

<p>61. What is contact dermatitis? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_61" value="a"></td><td>a) foul-smelling perspiration </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_61" value="b"></td><td>b) the effect when two skin desorder connect with each other </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_61" value="c"></td><td>c) an inflammation caused by contact with a subtance or chemical </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_61" value="d"></td><td>d) excessive perspiration </td></tr>
  		</table>
    </p>

<p>62. What is crust an accumulation of? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_62" value="a"></td><td>a) sweat and dirt </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_62" value="b"></td><td>b) water and salt </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_62" value="c"></td><td>c) blood and lymph </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_62" value="d"></td><td>d) sebum and pus </td></tr>
  		</table>
    </p>

<p>63. What is a closed, abnormally developed sac containing fluid, infection, or other matter above and below the skin? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_63" value="a"></td><td>a) vesicle </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_63" value="b"></td><td>b) cyst </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_63" value="c"></td><td>c) comedone </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_63" value="d"></td><td>d) papule </td></tr>
  		</table>
    </p>

<p>64. What is dermatitis? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_64" value="a"></td><td>a) excessive oiiness of the skin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_64" value="b"></td><td>b) excessive dryness of the skin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_64" value="c"></td><td>c) any cancerous condition of the skin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_64" value="d"></td><td>d) any inflammatory condition of the skin </td></tr>
  		</table>
    </p>

<p>65. What type of physicain speciaies in treating skin desorders and diseases? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_65" value="a"></td><td>a) dermatoogist </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_65" value="b"></td><td>b) physiologist </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_65" value="c"></td><td>c) esthetician </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_65" value="d"></td><td>d) cosmetologist </td></tr>
  		</table>
    </p>

<p>66. What is a papule? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_66" value="a"></td><td>a) another name for the skin malformations called birthmarks </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_66" value="b"></td><td>b) tumors caused by conditions such as scar tissue and infections </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_66" value="c"></td><td>c) small elevation of the skin that contains no fluid and may develope pus </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_66" value="d"></td><td>d) itchy, swollen lesion caused by a blow, insect bite, or sting </td></tr>
  		</table>
    </p>

<p>67. What are NOT exmaples of wheals? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_67" value="a"></td><td>a) hives </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_67" value="b"></td><td>b) mosquito bites </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_67" value="c"></td><td>c) uticaria </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_67" value="d"></td><td>d) pustules </td></tr>
  		</table>
    </p>

<p>68. What is vitiligo? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_68" value="a"></td><td>a) contagious skin condition </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_68" value="b"></td><td>b) allergic reaction to strong chemicals in cleaning products </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_68" value="c"></td><td>c) total absence of pigmentation </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_68" value="d"></td><td>d) pigmentation disease characterized by white patches </td></tr>
  		</table>
    </p>

<p>69. What is a small blister or sac containing clear fluid? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_69" value="a"></td><td>a) vesicle </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_69" value="b"></td><td>b) carbuncle </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_69" value="c"></td><td>c) melanoma </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_69" value="d"></td><td>d) wen </td></tr>
  		</table>
    </p>

<p>70. What is the common name for the hypertrohy of the papillae abd epidermis known as a verruca? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_70" value="a"></td><td>a) wheal </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_70" value="b"></td><td>b) wart </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_70" value="c"></td><td>c) wen </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_70" value="d"></td><td>d) wick </td></tr>
  		</table>
    </p>

<p>71. What is another term for varicose veins? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_71" value="a"></td><td>a) primary lesions </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_71" value="b"></td><td>b) vascular lesions </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_71" value="c"></td><td>c) secondary lesions </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_71" value="d"></td><td>d) foreign lesions </td></tr>
  		</table>
    </p>

<p>72. What is the term for vascular dilation of blood vessels? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_72" value="a"></td><td>a) cardiodilation </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_72" value="b"></td><td>b) pulmodilation </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_72" value="c"></td><td>c) plasmadilation </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_72" value="d"></td><td>d) vasodilation </td></tr>
  		</table>
    </p>

<p>73. What is the common name for urticaria, which is caused by an allergic reaction from the body's histamine production? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_73" value="a"></td><td>a) pinkeye </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_73" value="b"></td><td>b) ringworm </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_73" value="c"></td><td>c) scabies </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_73" value="d"></td><td>d) hives </td></tr>
  		</table>
    </p>

<p>74. What accompanies an ulcer in addition to a loss of skin depth? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_74" value="a"></td><td>a) pus </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_74" value="b"></td><td>b) blood </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_74" value="c"></td><td>c) lymph </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_74" value="d"></td><td>d) sebum </td></tr>
  		</table>
    </p>

<p>75. What is the term for an abnormal cell mass that results from excessive cell multiplication and varies in size, shape, and color? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_75" value="a"></td><td>a) tumor </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_75" value="b"></td><td>b) comedone </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_75" value="c"></td><td>c) skin tag </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_75" value="d"></td><td>d) razor bump </td></tr>
  		</table>
    </p>

<p>76. What is eczema? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_76" value="a"></td><td>a) pigmentation disease characterized by white patches </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_76" value="b"></td><td>b) inflammatory, painful itching disease of the skin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_76" value="c"></td><td>c) yeast infextion on the skin that inhibits melanin production </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_76" value="d"></td><td>d) contagious infection that forms a ringed, red pattern </td></tr>
  		</table>
    </p>

<p>77. What is edema? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_77" value="a"></td><td>a) any infammatory condition of the skin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_77" value="b"></td><td>b) swelling caused by a fluid imbalance in cells </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_77" value="c"></td><td>c) brownish spot ranging in color from tan to bluish-black </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_77" value="d"></td><td>d) closed, abnormaly developed sac containing fluid or other matter </td></tr>
  		</table>
    </p>

<p>78. What is erythema? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_78" value="a"></td><td>a) oiliness caused by inflammation </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_78" value="b"></td><td>b) redness caused by inflammation </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_78" value="c"></td><td>c) dryness by inflammation </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_78" value="d"></td><td>d) pain caused by inflammation </td></tr>
  		</table>
    </p>

<p>79. What is excoriation? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_79" value="a"></td><td>a) lesion caused by an allergic reaction </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_79" value="b"></td><td>b) skin sore or abrasion produced by scratching or scraping </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_79" value="c"></td><td>c) type of contagious fungal infection </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_79" value="d"></td><td>d) common side effect of bloodthinning medications </td></tr>
  		</table>
    </p>

<p>80. What is a fissure? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_80" value="a"></td><td>a) crack in the skin that penetrates the dermis </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_80" value="b"></td><td>b) opening, such as a pore, through hich fluids escape the body </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_80" value="c"></td><td>c) another name for a follicle </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_80" value="d"></td><td>d) another name for an orifice </td></tr>
  		</table>
    </p>

<p>81. What is folliculitis? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_81" value="a"></td><td>a) excessive hair groth </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_81" value="b"></td><td>b) insufficient hair growthn </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_81" value="c"></td><td>c) inflammation of the hair follicles </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_81" value="d"></td><td>d) another term for razor bumps </td></tr>
  		</table>
    </p>

<p>82. What is true of herpes simplex 1? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_82" value="a"></td><td>a) it causes fever blisters and cold sores </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_82" value="b"></td><td>b) it causes hepatitis </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_82" value="c"></td><td>c) it is the virus that causes AIDS </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_82" value="d"></td><td>d) it is always a terminal condition </td></tr>
  		</table>
    </p>

<p>83. What is the common name for the painful viral infection gerpes zoster? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_83" value="a"></td><td>a) scabies </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_83" value="b"></td><td>b) shingles </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_83" value="c"></td><td>c) pinkeye </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_83" value="d"></td><td>d) ringworm </td></tr>
  		</table>
    </p>

<p>84. What is hyperhidrosis? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_84" value="a"></td><td>a) insufficient perspiration </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_84" value="b"></td><td>b) excessive perspiration </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_84" value="c"></td><td>c) foul-smelling perspiration </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_84" value="d"></td><td>d) sweet-smelling perspiration </td></tr>
  		</table>
    </p>

<p>85. What part of the body is affected by herpes simplex 2? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_11_85" value="a"></td><td>a) face </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_85" value="b"></td><td>b) hair </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_85" value="c"></td><td>c) feet </td></tr>
  		  <tr><td><input type="radio" name="esthetics_11_85" value="d"></td><td>d) genitals </td></tr>
  		</table>
    </p>
  </form>
  
  <button id="submitExam" class="btn btn-lg btn-primary">Submit</button>

</body>
</html>
