<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#submitExam").click(function(){
      var questionAnswerObj = {};
      $('#myForm input[type=radio]:checked').each(function(){
  		  questionAnswerObj[this.name] = this.value;
  	  }); 
  
      $.ajax({
        type:'POST',
        url:'/submit_Exam',
        data: { questionAnswerObj: JSON.stringify(questionAnswerObj) },
        success:function(result){
          var i;
          var out = "<table class=\"table table-striped\">";
          out += "<th>Question #</th><th>Answer Key</th><th>Your Answer Is</th>";
          x = result;
          $("#answers").empty();
          for (i = 0; i < x.length; i++) {
            out +=  "<tr><td>"  +  x[i].question_number + 
                    "</td><td>" +  x[i].answer_key +
                    "</td><td>" + x[i].your_answer + "</td></tr>";
          }
          out += "</table>";
          $("#answers").append(out);

        }
      }); // ajax
    }); // #submitExam
  });
</script>
</head>
<body>

  <h2>Chapter 9 -- Basics Of Nutrition</h2>
  <hr>

  <form id="myForm" >

    <p>1.  What term refers to carbohydrates that contain three or more simple carbohydrate molecules?
  		<table class="table table-condensed">
  		  <tr><td>a)  polysaccharides</td><td><input type="radio" name="esthetics_9_1" value="a"></td></tr>
  		  <tr><td>b)  monosaccharides</td><td><input type="radio" name="esthetics_9_1" value="b"></td></tr>
  		  <tr><td>c)  mucopolysaccharides</td><td><input type="radio" name="esthetics_9_1" value="c"></td></tr>
  		  <tr><td>d)  disaccharides</td><td><input type="radio" name="esthetics_9_1" value="d"></td></tr>
  		</table>
    </p>

    <p>2.  What term refers to carbohydrate-lipid complexes that are also good water binders?
  		<table class="table table-condensed">
  		  <tr><td>a)  disaccharides</td><td><input type="radio" name="esthetics_9_2" value="a"></td></tr>
  		  <tr><td>b)  mucopolysaccharides</td><td><input type="radio" name="esthetics_9_2" value="b"></td></tr>
  		  <tr><td>c)  monosaccharides</td><td><input type="radio" name="esthetics_9_2" value="c"></td></tr>
  		  <tr><td>d)  polysaccharides</td><td><input type="radio" name="esthetics_9_2" value="d"></td></tr>
  		</table>
    </p>

    <p>3.  How are nonessential amino acids different from other amino acids?
  		<table class="table table-condensed">
  		  <tr><td>a)  they are toxic to the human body</td><td><input type="radio" name="esthetics_9_3" value="a"></td></tr>
  		  <tr><td>b)  they cannot be synthesized by the body and must be obtained from diet</td><td><input type="radio" name="esthetics_9_3" value="b"></td></tr>
  		  <tr><td>c)  they can be synthesized by the body and need not be obtained from diet</td><td><input type="radio" name="esthetics_9_3" value="c"></td></tr>
  		  <tr><td>d)  they are not among the 20 "common" amino acids</td><td><input type="radio" name="esthetics_9_3" value="d"></td></tr>
  		</table>
    </p>

    <p>4.  What is another name for alpha-linoleic acid, a type of "good" polyunsaturated fat that may descrease  cardiovascular diseases?
  		<table class="table table-condensed">
  		  <tr><td>a)  omega-3 fatty acids</td><td><input type="radio" name="esthetics_9_4" value="a"></td></tr>
  		  <tr><td>b)  alpha-3 fatty acids</td><td><input type="radio" name="esthetics_9_4" value="b"></td></tr>
  		  <tr><td>c)  omega-6 fatty acids</td><td><input type="radio" name="esthetics_9_4" value="c"></td></tr>
  		  <tr><td>d)  alpha-6 fatty acids</td><td><input type="radio" name="esthetics_9_4" value="d"></td></tr>
  		</table>
    </p>

    <p>5.  What is the term for a thinning of the bones caused by the reabsorption of calcium into the bones?
  		<table class="table table-condensed">
  		  <tr><td>a)  osteology</td><td><input type="radio" name="esthetics_9_5" value="a"></td></tr>
  		  <tr><td>b)  osteoporosis</td><td><input type="radio" name="esthetics_9_5" value="b"></td></tr>
  		  <tr><td>c)  osteohydrosis</td><td><input type="radio" name="esthetics_9_5" value="c"></td></tr>
  		  <tr><td>d)  osteoculosis</td><td><input type="radio" name="esthetics_9_5" value="d"></td></tr>
  		</table>
    </p>

    <p>6.  What are proteins?
  		<table class="table table-condensed">
  		  <tr><td>a)  inorganic materials</td><td><input type="radio" name="esthetics_9_6" value="a"></td></tr>
  		  <tr><td>b)  macronutrients used to produce energy</td><td><input type="radio" name="esthetics_9_6" value="b"></td></tr>
  		  <tr><td>c)  chains of amino acid molecules</td><td><input type="radio" name="esthetics_9_6" value="c"></td></tr>
  		  <tr><td>d)  compounds that break down the basic chemical sugars</td><td><input type="radio" name="esthetics_9_6" value="d"></td></tr>
  		</table>
    </p>

    <p>7.  What is the commercial name for the vitamin-A derivative retinoic acid?
  		<table class="table table-condensed">
  		  <tr><td>a)  Proactiv</td><td><input type="radio" name="esthetics_9_7" value="a"></td></tr>
  		  <tr><td>b)  Retin-A</td><td><input type="radio" name="esthetics_9_7" value="b"></td></tr>
  		  <tr><td>c)  Retino</td><td><input type="radio" name="esthetics_9_7" value="c"></td></tr>
  		  <tr><td>d)  Botox</td><td><input type="radio" name="esthetics_9_7" value="d"></td></tr>
  		</table>
    </p>

    <p>8.  What is the vitamin from which tretinoin (used for collagen systhesis, hyperpigmentation, and acne) is derived?
  		<table class="table table-condensed">
  		  <tr><td>a)  vitamin A</td><td><input type="radio" name="esthetics_9_8" value="a"></td></tr>
  		  <tr><td>b)  vitamin C</td><td><input type="radio" name="esthetics_9_8" value="b"></td></tr>
  		  <tr><td>c)  vitamin E</td><td><input type="radio" name="esthetics_9_8" value="c"></td></tr>
  		  <tr><td>d)  vitamin K</td><td><input type="radio" name="esthetics_9_8" value="d"></td></tr>
  		</table>
    </p>
    
    <p>9.  What is one of the functions of the antioxidant vitamin A?
  		<table class="table table-condensed">
  		  <tr><td>a)  facilitates the systhesis of factors necessary for blood coagulation</td><td><input type="radio" name="esthetics_9_9" value="a"></td></tr>
  		  <tr><td>b)  aids in the functioning and repair of the skin cells</td><td><input type="radio" name="esthetics_9_9" value="b"></td></tr>
  		  <tr><td>c)  essential for gowth and development</td><td><input type="radio" name="esthetics_9_9" value="c"></td></tr>
  		  <tr><td>d)  prevents collagen systhesis and is used to treat visible signs of aging</td><td><input type="radio" name="esthetics_9_9" value="d"></td></tr>
  		</table>
    </p>
    
    <p>10.  What is another name for vitamin C?
  		<table class="table table-condensed">
  		  <tr><td>a)  ascorbic acid</td><td><input type="radio" name="esthetics_9_10" value="a"></td></tr>
  		  <tr><td>b)  retinol</td><td><input type="radio" name="esthetics_9_10" value="b"></td></tr>
  		  <tr><td>c)  sunshine vitamin</td><td><input type="radio" name="esthetics_9_10" value="c"></td></tr>
  		  <tr><td>d)  tocopherol</td><td><input type="radio" name="esthetics_9_10" value="d"></td></tr>
  		</table>
    </p>
    
    <p>11.  What does adenosine triphosphate do?
  		<table class="table table-condensed">
  		  <tr><td>a)  forms the building blocks of proteins</td><td><input type="radio" name="esthetics_9_11" value="a"></td></tr>
  		  <tr><td>b)  facilitates enzymatic reactions</td><td><input type="radio" name="esthetics_9_11" value="b"></td></tr>
  		  <tr><td>c)  provides energy to cells and converts energy to carbon dioxide</td><td><input type="radio" name="esthetics_9_11" value="c"></td></tr>
  		  <tr><td>d)  protects nerves and contributes to the structure of cells</td><td><input type="radio" name="esthetics_9_11" value="d"></td></tr>
  		</table>
    </p>
    
    <p>12.  What forms the building blocks of protein?
  		<table class="table table-condensed">
  		  <tr><td>a)  bioflavonoids</td><td><input type="radio" name="esthetics_9_12" value="a"></td></tr>
  		  <tr><td>b)  amino acids</td><td><input type="radio" name="esthetics_9_12" value="b"></td></tr>
  		  <tr><td>c)  adenosine triphosphate</td><td><input type="radio" name="esthetics_9_12" value="c"></td></tr>
  		  <tr><td>d)  carbohydrates</td><td><input type="radio" name="esthetics_9_12" value="d"></td></tr>
  		</table>
    </p>
    
    <p>13.  What is the term for clogging and hardening of the arteries?
  		<table class="table table-condensed">
  		  <tr><td>a)  osteoporosis</td><td><input type="radio" name="esthetics_9_13" value="a"></td></tr>
  		  <tr><td>b)  arteriosclerosis</td><td><input type="radio" name="esthetics_9_13" value="b"></td></tr>
  		  <tr><td>c)  hypoglycemia</td><td><input type="radio" name="esthetics_9_13" value="c"></td></tr>
  		  <tr><td>d)  arteriogylcemia</td><td><input type="radio" name="esthetics_9_13" value="d"></td></tr>
  		</table>
    </p>
    
    <p>14.  What food contains the greatest abundance of bioflavonoids?
  		<table class="table table-condensed">
  		  <tr><td>a)  leafy greens</td><td><input type="radio" name="esthetics_9_14" value="a"></td></tr>
  		  <tr><td>b)  citrus fruits</td><td><input type="radio" name="esthetics_9_14" value="b"></td></tr>
  		  <tr><td>c)  dairy products</td><td><input type="radio" name="esthetics_9_14" value="c"></td></tr>
  		  <tr><td>d)  whole grains</td><td><input type="radio" name="esthetics_9_14" value="d"></td></tr>
  		</table>
    </p>
    
    <p>15.  What are measures of heat units, used to measure food energy for the body?
  		<table class="table table-condensed">
  		  <tr><td>a)  grams</td><td><input type="radio" name="esthetics_9_15" value="a"></td></tr>
  		  <tr><td>b)  calories</td><td><input type="radio" name="esthetics_9_15" value="b"></td></tr>
  		  <tr><td>c)  pints</td><td><input type="radio" name="esthetics_9_15" value="c"></td></tr>
  		  <tr><td>d)  ounces</td><td><input type="radio" name="esthetics_9_15" value="d"></td></tr>
  		</table>
    </p>
    
    <p>16.  What are compounds that break down sugars and supply body energy?
  		<table class="table table-condensed">
  		  <tr><td>a)  proteins</td><td><input type="radio" name="esthetics_9_16" value="a"></td></tr>
  		  <tr><td>b)  calories</td><td><input type="radio" name="esthetics_9_16" value="b"></td></tr>
  		  <tr><td>c)  carbohydrates</td><td><input type="radio" name="esthetics_9_16" value="c"></td></tr>
  		  <tr><td>d)  enzymes</td><td><input type="radio" name="esthetics_9_16" value="d"></td></tr>
  		</table>
    </p>
    
    <p>17.  What term refers to sugars made up of two simple sugars, such as lactose and sucrose?
  		<table class="table table-condensed">
  		  <tr><td>a)  bisaccharides</td><td><input type="radio" name="esthetics_9_17" value="a"></td></tr>
  		  <tr><td>b)  polysaccharides</td><td><input type="radio" name="esthetics_9_17" value="b"></td></tr>
  		  <tr><td>c)  monosaccharides</td><td><input type="radio" name="esthetics_9_17" value="c"></td></tr>
  		  <tr><td>d)  disaccharides</td><td><input type="radio" name="esthetics_9_17" value="d"></td></tr>
  		</table>
    </p>
    
    <p>18.  What are catalysts that break down complex food molecules?
  		<table class="table table-condensed">
  		  <tr><td>a)  carbohydrates</td><td><input type="radio" name="esthetics_9_18" value="a"></td></tr>
  		  <tr><td>b)  calories</td><td><input type="radio" name="esthetics_9_18" value="b"></td></tr>
  		  <tr><td>c)  enzymes</td><td><input type="radio" name="esthetics_9_18" value="c"></td></tr>
  		  <tr><td>d)  proteins</td><td><input type="radio" name="esthetics_9_18" value="d"></td></tr>
  		</table>
    </p>

    <p>19.  What type of vitamin is riboflavin?
  		<table class="table table-condensed">
  		  <tr><td>a)  vitamin A</td><td><input type="radio" name="esthetics_9_19" value="a"></td></tr>
  		  <tr><td>b)  vitamin B</td><td><input type="radio" name="esthetics_9_19" value="b"></td></tr>
  		  <tr><td>c)  vitamin C</td><td><input type="radio" name="esthetics_9_19" value="c"></td></tr>
  		  <tr><td>d)  vitamin D</td><td><input type="radio" name="esthetics_9_19" value="d"></td></tr>
  		</table>
    </p>

    <p>20.  What mineral serves the function of forming and maintaining teeth and bones?
  		<table class="table table-condensed">
  		  <tr><td>a)  calcium</td><td><input type="radio" name="esthetics_9_20" value="a"></td></tr>
  		  <tr><td>b)  iodine</td><td><input type="radio" name="esthetics_9_20" value="b"></td></tr>
  		  <tr><td>c)  iron</td><td><input type="radio" name="esthetics_9_20" value="c"></td></tr>
  		  <tr><td>d)  copper</td><td><input type="radio" name="esthetics_9_20" value="d"></td></tr>
  		</table>
    </p>

    <p>21.  What mineral is required for energy use, water balance, and molecular movement?
  		<table class="table table-condensed">
  		  <tr><td>a)  magnesium</td><td><input type="radio" name="esthetics_9_21" value="a"></td></tr>
  		  <tr><td>b)  calcium</td><td><input type="radio" name="esthetics_9_21" value="b"></td></tr>
  		  <tr><td>c)  sodium</td><td><input type="radio" name="esthetics_9_21" value="c"></td></tr>
  		  <tr><td>d)  potassium</td><td><input type="radio" name="esthetics_9_21" value="d"></td></tr>
  		</table>
    </p>

    <p>22.  What mineral is required for energy release and protein synthesis?
  		<table class="table table-condensed">
  		  <tr><td>a)  iron</td><td><input type="radio" name="esthetics_9_22" value="a"></td></tr>
  		  <tr><td>b)  calcium</td><td><input type="radio" name="esthetics_9_22" value="b"></td></tr>
  		  <tr><td>c)  magnesium</td><td><input type="radio" name="esthetics_9_22" value="c"></td></tr>
  		  <tr><td>d)  potassium</td><td><input type="radio" name="esthetics_9_22" value="d"></td></tr>
  		</table>
    </p>

    <p>23.  What mineral moves carbon dioxide, regulates water levels, and transports materials through cell membranes?
  		<table class="table table-condensed">
  		  <tr><td>a)  potassium</td><td><input type="radio" name="esthetics_9_23" value="a"></td></tr>
  		  <tr><td>b)  sodium</td><td><input type="radio" name="esthetics_9_23" value="b"></td></tr>
  		  <tr><td>c)  iron</td><td><input type="radio" name="esthetics_9_23" value="c"></td></tr>
  		  <tr><td>d)  calcium</td><td><input type="radio" name="esthetics_9_23" value="d"></td></tr>
  		</table>
    </p>

    <p>24.  What is NOT an important reason for estheticians to develop and use good health habits?
  		<table class="table table-condensed">
  		  <tr><td>a)  setting an example for clients</td><td><input type="radio" name="esthetics_9_24" value="a"></td></tr>
  		  <tr><td>b)  having more energy for work</td><td><input type="radio" name="esthetics_9_24" value="b"></td></tr>
  		  <tr><td>c)  seeking superficial approval</td><td><input type="radio" name="esthetics_9_24" value="c"></td></tr>
  		  <tr><td>d)  trying to achieve personal balance</td><td><input type="radio" name="esthetics_9_24" value="d"></td></tr>
  		</table>
    </p>

    <p>25.  How often should you excercise for about 30 minutes in order to maintain good health habits?
  		<table class="table table-condensed">
  		  <tr><td>a)  twice a day</td><td><input type="radio" name="esthetics_9_25" value="a"></td></tr>
  		  <tr><td>b)  twice a week</td><td><input type="radio" name="esthetics_9_25" value="b"></td></tr>
  		  <tr><td>c)  three times a week</td><td><input type="radio" name="esthetics_9_25" value="c"></td></tr>
  		  <tr><td>d)  five times a week</td><td><input type="radio" name="esthetics_9_25" value="d"></td></tr>
  		</table>
    </p>


    <p>26.  What is true of water?
  		<table class="table table-condensed">
  		  <tr><td>a)  you should only drink water after you excercise</td><td><input type="radio" name="esthetics_9_26" value="a"></td></tr>
  		  <tr><td>b)  it can be refreshing but is not necessary for the body's health</td><td><input type="radio" name="esthetics_9_26" value="b"></td></tr>
  		  <tr><td>c)  it is the one essential nutrient no person can live without</td><td><input type="radio" name="esthetics_9_26" value="c"></td></tr>
  		  <tr><td>d)  you should only drink water when it is hot outside</td><td><input type="radio" name="esthetics_9_26" value="d"></td></tr>
  		</table>
    </p>


    <p>27.  What are fats?
  		<table class="table table-condensed">
  		  <tr><td>a)  chains of amino acid molecules</td><td><input type="radio" name="esthetics_9_27" value="a"></td></tr>
  		  <tr><td>b)  macronutrients used to produce energy in the body</td><td><input type="radio" name="esthetics_9_27" value="b"></td></tr>
  		  <tr><td>c)  inorganic materials required for many reactions of the cells</td><td><input type="radio" name="esthetics_9_27" value="c"></td></tr>
  		  <tr><td>d)  organic acids that form protein</td><td><input type="radio" name="esthetics_9_27" value="d"></td></tr>
  		</table>
    </p>

    <p>28.  What has been added to a food product if it is labeled as fortified?
  		<table class="table table-condensed">
  		  <tr><td>a)  flavor enhancer</td><td><input type="radio" name="esthetics_9_28" value="a"></td></tr>
  		  <tr><td>b)  preservatives</td><td><input type="radio" name="esthetics_9_28" value="b"></td></tr>
  		  <tr><td>c)  one or more vitamins</td><td><input type="radio" name="esthetics_9_28" value="c"></td></tr>
  		  <tr><td>d)  sodium</td><td><input type="radio" name="esthetics_9_28" value="d"></td></tr>
  		</table>
    </p>

    <p>29.  What is glycosaminoglycan?
  		<table class="table table-condensed">
  		  <tr><td>a)  water-binding substance between the fibers of the dermis</td><td><input type="radio" name="esthetics_9_29" value="a"></td></tr>
  		  <tr><td>b)  substance that provides energy to the cells</td><td><input type="radio" name="esthetics_9_29" value="b"></td></tr>
  		  <tr><td>c)  waxy substance in your body needed to produce hormones</td><td><input type="radio" name="esthetics_9_29" value="c"></td></tr>
  		  <tr><td>d)  sugar made up of two simple sugars, such as lactose and sucrose</td><td><input type="radio" name="esthetics_9_29" value="d"></td></tr>
  		</table>
    </p>
  
    <p>30.  What is hypoglycemia?
  		<table class="table table-condensed">
  		  <tr><td>a)  allergy to sugar</td><td><input type="radio" name="esthetics_9_30" value="a"></td></tr>
  		  <tr><td>b)  inability to taste sugar</td><td><input type="radio" name="esthetics_9_30" value="b"></td></tr>
  		  <tr><td>c)  condition in which blood sugar rises too high</td><td><input type="radio" name="esthetics_9_30" value="c"></td></tr>
  		  <tr><td>d)  condition in which blood sugar drops too low</td><td><input type="radio" name="esthetics_9_30" value="d"></td></tr>
  		</table>
    </p>

    <p>31.  What is the common name for linoleic acid, which is used to make important hormones?
  		<table class="table table-condensed">
  		  <tr><td>a)  omega-3</td><td><input type="radio" name="esthetics_9_31" value="a"></td></tr>
  		  <tr><td>b)  omega-6</td><td><input type="radio" name="esthetics_9_31" value="b"></td></tr>
  		  <tr><td>c)  omega-9</td><td><input type="radio" name="esthetics_9_31" value="c"></td></tr>
  		  <tr><td>d)  omega-12</td><td><input type="radio" name="esthetics_9_31" value="d"></td></tr>
  		</table>
    </p>

    <p>32.  What is true of macronutrients?
  		<table class="table table-condensed">
  		  <tr><td>a)  they are harmful to body systems and must be avoided</td><td><input type="radio" name="esthetics_9_32" value="a"></td></tr>
  		  <tr><td>b)  they make up the largest part of the nutrition we take in</td><td><input type="radio" name="esthetics_9_32" value="b"></td></tr>
  		  <tr><td>c)  they make up the smallest part of the nutrition we take in</td><td><input type="radio" name="esthetics_9_32" value="c"></td></tr>
  		  <tr><td>d)  they offer nutrition without calories</td><td><input type="radio" name="esthetics_9_32" value="d"></td></tr>
  		</table>
    </p>


    <p>33.  What is true of micronutrients?
  		<table class="table table-condensed">
  		  <tr><td>a)  they make up the largest part of the nutrition we take in</td><td><input type="radio" name="esthetics_9_33" value="a"></td></tr>
  		  <tr><td>b)  they are high in fat and calories</td><td><input type="radio" name="esthetics_9_33" value="b"></td></tr>
  		  <tr><td>c)  micronutrients have no calories or nutritional value</td><td><input type="radio" name="esthetics_9_33" value="c"></td></tr>
  		  <tr><td>d)  they are harmful to body systems and must be avoided</td><td><input type="radio" name="esthetics_9_33" value="d"></td></tr>
  		</table>
    </p>


    <p>34.  What term refers to inorganic materials that are required for many reactions of the cells and the body?
  		<table class="table table-condensed">
  		  <tr><td>a)  calories</td><td><input type="radio" name="esthetics_9_34" value="a"></td></tr>
  		  <tr><td>b)  enzymes</td><td><input type="radio" name="esthetics_9_34" value="b"></td></tr>
  		  <tr><td>c)  carbohydrates</td><td><input type="radio" name="esthetics_9_34" value="c"></td></tr>
  		  <tr><td>d)  minerals</td><td><input type="radio" name="esthetics_9_34" value="d"></td></tr>
  		</table>
    </p>


    <p>35.  What term refers to carbohydrates made up of one basic sugar unit?
  		<table class="table table-condensed">
  		  <tr><td>a)  unisaccharides</td><td><input type="radio" name="esthetics_9_35" value="a"></td></tr>
  		  <tr><td>b)  disaccharides</td><td><input type="radio" name="esthetics_9_35" value="b"></td></tr>
  		  <tr><td>c)  polysaccharides</td><td><input type="radio" name="esthetics_9_35" value="c"></td></tr>
  		  <tr><td>d)  monosaccharides</td><td><input type="radio" name="esthetics_9_35" value="d"></td></tr>
  		</table>
    </p>

    <p>36.  What is a common name for vitamin D?
  		<table class="table table-condensed">
  		  <tr><td>a)  sunshine vitamin</td><td><input type="radio" name="esthetics_9_36" value="a"></td></tr>
  		  <tr><td>b)  riboflavin</td><td><input type="radio" name="esthetics_9_36" value="b"></td></tr>
  		  <tr><td>c)  ascorbic acid</td><td><input type="radio" name="esthetics_9_36" value="c"></td></tr>
  		  <tr><td>d)  skin vitamin</td><td><input type="radio" name="esthetics_9_36" value="d"></td></tr>
  		</table>
    </p>

    <p>37.  What is the scientific name for vitamin E?
  		<table class="table table-condensed">
  		  <tr><td>a)  tocopherol</td><td><input type="radio" name="esthetics_9_37" value="a"></td></tr>
  		  <tr><td>b)  ascorbic acid</td><td><input type="radio" name="esthetics_9_37" value="b"></td></tr>
  		  <tr><td>c)  retinol</td><td><input type="radio" name="esthetics_9_37" value="c"></td></tr>
  		  <tr><td>d)  linoleic acid</td><td><input type="radio" name="esthetics_9_37" value="d"></td></tr>
  		</table>
    </p>

    <p>38.  What body function is aided by vitamin K?
  		<table class="table table-condensed">
  		  <tr><td>a)  healthy bone function</td><td><input type="radio" name="esthetics_9_38" value="a"></td></tr>
  		  <tr><td>b)  blood coagulation</td><td><input type="radio" name="esthetics_9_38" value="b"></td></tr>
  		  <tr><td>c)  respiration of body organs</td><td><input type="radio" name="esthetics_9_38" value="c"></td></tr>
  		  <tr><td>d)  red blood cell formation</td><td><input type="radio" name="esthetics_9_38" value="d"></td></tr>
  		</table>
    </p>

    <p>39.  What is a function of the United States Department of Agriculture (USDA)?
  		<table class="table table-condensed">
  		  <tr><td>a)  overseeing financial transactions</td><td><input type="radio" name="esthetics_9_39" value="a"></td></tr>
  		  <tr><td>b)  approving drugs for public use</td><td><input type="radio" name="esthetics_9_39" value="b"></td></tr>
  		  <tr><td>c)  studying diseases</td><td><input type="radio" name="esthetics_9_39" value="c"></td></tr>
  		  <tr><td>d)  regulating nutrition-related affairs</td><td><input type="radio" name="esthetics_9_39" value="d"></td></tr>
  		</table>
    </p>

    <p>40.  What is the governmental agency that issues the recommended nutritional guideline MyPlate?
  		<table class="table table-condensed">
  		  <tr><td>a)  Centers for Disease Control and Prevention (CDC)</td><td><input type="radio" name="esthetics_9_40" value="a"></td></tr>
  		  <tr><td>b)  Federal Trade Commission (FTC)</td><td><input type="radio" name="esthetics_9_40" value="b"></td></tr>
  		  <tr><td>c)  United States Department of Agriculture (USDA)</td><td><input type="radio" name="esthetics_9_40" value="c"></td></tr>
  		  <tr><td>d)  Food and Drug Administration (FDA)</td><td><input type="radio" name="esthetics_9_40" value="d"></td></tr>
  		</table>
    </p>

    <p>41.  What are recommended dietary allowances (RDAs)?
  		<table class="table table-condensed">
  		  <tr><td>a)  government-issued measurements for amounts of foods we should eat</td><td><input type="radio" name="esthetics_9_41" value="a"></td></tr>
  		  <tr><td>b)  industry-issued suggestions for amounts of food we should eat</td><td><input type="radio" name="esthetics_9_41" value="b"></td></tr>
  		  <tr><td>c)  government-mandated requirements for amounts of food we should eat</td><td><input type="radio" name="esthetics_9_41" value="c"></td></tr>
  		  <tr><td>d)  consumer-group recommendations for amounts of food we should eat</td><td><input type="radio" name="esthetics_9_41" value="d"></td></tr>
  		</table>
    </p>

    <p>42.  What type of vitamin is niacin?
  		<table class="table table-condensed">
  		  <tr><td>a)  vitamin A</td><td><input type="radio" name="esthetics_9_42" value="a"></td></tr>
  		  <tr><td>b)  vitamin B</td><td><input type="radio" name="esthetics_9_42" value="b"></td></tr>
  		  <tr><td>c)  vitamin C</td><td><input type="radio" name="esthetics_9_42" value="c"></td></tr>
  		  <tr><td>d)  vitamin D</td><td><input type="radio" name="esthetics_9_42" value="d"></td></tr>
  		</table>
    </p>

    <p>43.  What mineral contributes to body tissue formation and gives strength to keratin?
  		<table class="table table-condensed">
  		  <tr><td>a)  sulphur</td><td><input type="radio" name="esthetics_9_43" value="a"></td></tr>
  		  <tr><td>b)  zinc</td><td><input type="radio" name="esthetics_9_43" value="b"></td></tr>
  		  <tr><td>c)  selenium</td><td><input type="radio" name="esthetics_9_43" value="c"></td></tr>
  		  <tr><td>d)  fluoride</td><td><input type="radio" name="esthetics_9_43" value="d"></td></tr>
  		</table>
    </p>

    <p>44.  What mineral is commonly used in toothpaste because it contributes to bone and teeth formation?
  		<table class="table table-condensed">
  		  <tr><td>a)  manganese</td><td><input type="radio" name="esthetics_9_44" value="a"></td></tr>
  		  <tr><td>b)  fluoride</td><td><input type="radio" name="esthetics_9_44" value="b"></td></tr>
  		  <tr><td>c)  zinc</td><td><input type="radio" name="esthetics_9_44" value="c"></td></tr>
  		  <tr><td>d)  phosphorus</td><td><input type="radio" name="esthetics_9_44" value="d"></td></tr>
  		</table>
    </p>

  </form>
  
  <button id="submitExam" class="btn btn-lg btn-primary">Submit</button>

</body>
</html>
