<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#submitExam").click(function(){
      var questionAnswerObj = {};
      $('#myForm input[type=radio]:checked').each(function(){
  		  questionAnswerObj[this.name] = this.value;
  	  }); 
  
      $.ajax({
        type:'POST',
        url:'/submit_Exam',
        data: { questionAnswerObj: JSON.stringify(questionAnswerObj) },
        success:function(result){
          var i;
          var out = "<table class=\"table table-striped\">";
          out += "<th>Question #</th><th>Answer Key</th><th>Your Answer Is</th>";
          x = result;
          $("#answers").empty();
          for (i = 0; i < x.length; i++) {
            out +=  "<tr><td>"  +  x[i].question_number + 
                    "</td><td>" +  x[i].answer_key +
                    "</td><td>" + x[i].your_answer + "</td></tr>";
          }
          out += "</table>";
          $("#answers").append(out);

        }
      }); // ajax
    }); // #submitExam
  });
</script>
</head>
<body>

  <h2>Chapter 12: Skin Analysis </h2>
  <hr>

  <form id="myForm" >

    <p>1. What is a characteristic of seborrhea?</p>
		<table class="table table-condensed">
		  <tr><td><input type="radio" name="esthetics_12_1" value="a"></td><td>a) oily skin </td></tr>
		  <tr><td><input type="radio" name="esthetics_12_1" value="b"></td><td>b) dry skin </td></tr>
		  <tr><td><input type="radio" name="esthetics_12_1" value="c"></td><td>c) flaky skin </td></tr>
		  <tr><td><input type="radio" name="esthetics_12_1" value="d"></td><td>d) scaly skin </td></tr>
		</table>
    </p>

    <p>2. What are instrinsic factors?  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_2" value="a"></td><td>a) nutritional qualities in the food that we eat </td></tr>
		  <tr><td><input type="radio" name="esthetics_12_2" value="b"></td><td>b) factors related to our body's internal health </td></tr>
		  <tr><td><input type="radio" name="esthetics_12_2" value="c"></td><td>c) factors related to our body's external health </td></tr>
		  <tr><td><input type="radio" name="esthetics_12_2" value="d"></td><td>d) unavoidable environmental factors in a geograhic area </td></tr>
  		</table>
    </p>

    <p>3. What are extrinsic factors? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_3" value="a"></td><td>a) health factors inside the body </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_3" value="b"></td><td>b) health factors outside the body </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_3" value="c"></td><td>c) circulatory health factors </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_3" value="d"></td><td>d) genetic health factors </td></tr>
  		</table>
    </p>

    <p>4. What is true of sun damage? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_4" value="a"></td><td>a) it is a myth that sun exposure damages the skin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_4" value="b"></td><td>b) sun damage is only a minor factor in the overall health of the skin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_4" value="c"></td><td>c) it is the main intrinsic cause of aging </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_4" value="d"></td><td>d) it is the main extrinsic cause of aging </td></tr>
  		</table>
    </p>

    <p>5. What does dehydrated skin lack? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_5" value="a"></td><td>a) oil </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_5" value="b"></td><td>b) water </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_5" value="c"></td><td>c) lymph </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_5" value="d"></td><td>d) sebum </td></tr>
  		</table>
    </p>

    <p>6. What is NOT an indicator of dry skin? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_6" value="a"></td><td>a) flaky appearance </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_6" value="b"></td><td>b) tight feeling </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_6" value="c"></td><td>c) absorbs product quickly </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_6" value="d"></td><td>d) absorbs product slowly </td></tr>
  		</table>
    </p>

    <p>7. What is true of normal skin? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_7" value="a"></td><td>a) it has a good oil-water balance </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_7" value="b"></td><td>b) it has a poor oil-water balance </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_7" value="c"></td><td>c) it has no oil content </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_7" value="d"></td><td>d) it has no water content </td></tr>
  		</table>
    </p>

    <p>8. Where on the face of a client with normal skin are foolicles? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_8" value="a"></td><td>a) on the forehead </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_8" value="b"></td><td>b) on the chin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_8" value="c"></td><td>c) on the edge of the T-zone by the nose </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_8" value="d"></td><td>d) beneath the eyes </td></tr>
  		</table>
    </p>
    
    <p>9. What skin type is associated with the treatment goals of maintenance and preventative care?
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_9" value="a"></td><td>a) combination </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_9" value="b"></td><td>b) dry </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_9" value="c"></td><td>c) normal </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_9" value="d"></td><td>d) oily </td></tr>
  		</table>
    </p>
    
    <p>10. What skin type is associated with the treatment goals of using occlusive products to reduce transepidermal water loss (TWL)? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_10" value="a"></td><td>a) combination </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_10" value="b"></td><td>b) dry </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_10" value="c"></td><td>c) normal </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_10" value="d"></td><td>d) oily </td></tr>
  		</table>
    </p>
    
    <p>11. What skin type is associated with the treatment goals of extra cleansing and exfoliating?
 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_11" value="a"></td><td>a) combination </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_11" value="b"></td><td>b) dry </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_11" value="c"></td><td>c) oily </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_11" value="d"></td><td>d) normal </td></tr>
  		</table>
    </p>
    
    <p>12. What skin type is associated with the treatment goals of soothing, drying, and protecting? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_12" value="a"></td><td>a) dry </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_12" value="b"></td><td>b) normal </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_12" value="c"></td><td>c) oily </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_12" value="d"></td><td>d) sensitive </td></tr>
  		</table>
    </p>
    
    <p>13. Where on the face of a client with combination skin are the follicles medium to larger? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_13" value="a"></td><td>a) on the forehead </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_13" value="b"></td><td>b) outside the T-zone on the cheeks </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_13" value="c"></td><td>c) outside the mouth on the chin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_13" value="d"></td><td>d) on the nose </td></tr>
  		</table>
    </p>
    
    <p>14. What cause actinic aging? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_14" value="a"></td><td>a) sun exposure </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_14" value="b"></td><td>b) excessive moisture </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_14" value="c"></td><td>c) improper shaving </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_14" value="d"></td><td>d) inappropriate use of drying products </td></tr>
  		</table>
    </p>
    
    <p>15. What does alipidic skin lack? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_15" value="a"></td><td>a) water </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_15" value="b"></td><td>b) oil </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_15" value="c"></td><td>c) lymph </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_15" value="d"></td><td>d) oxygen </td></tr>
  		</table>
    </p>
    
    <p>16. What are contraindications?
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_16" value="a"></td><td>a) instructions for the use of products </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_16" value="b"></td><td>b) instructions for the use od tools </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_16" value="c"></td><td>c) factors that prohibit a treatment </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_16" value="d"></td><td>d) factors that indicate a treatment will be beneficial </td></tr>
  		</table>
    </p>
    
    <p>17. What type of skin is indicated by redness and is the result of distended capillaries from weakening of the capillary walls?  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_17" value="a"></td><td>a) dry </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_17" value="b"></td><td>b) combination </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_17" value="c"></td><td>c) oily </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_17" value="d"></td><td>d) couperose </td></tr>
  		</table>
    </p>
    
    <p>18. What does the Fitzpatrick Scale measure? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_18" value="a"></td><td>a) skin's ability to tolerate sun exposure </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_18" value="b"></td><td>b) skin's ability to tolerate water exposure </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_18" value="c"></td><td>c) skin's ability to absorb products applied to the epidermis </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_18" value="d"></td><td>d) skin's ability to recover from injection puntures </td></tr>
  		</table>
    </p>

    <p>19. What does the term "keratosis" refer to? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_19" value="a"></td><td>a) abnormally thick buildup of cells </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_19" value="b"></td><td>b) area with insufficient cells </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_19" value="c"></td><td>c) bruise caused by injury </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_19" value="d"></td><td>d) acne caused by poor skin care </td></tr>
  		</table>
    </p>

    <p>20. What do occlusive products reduce? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_21" value="a"></td><td>a) water loss </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_21" value="b"></td><td>b) heat loss </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_21" value="c"></td><td>c) pigmentation loss </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_21" value="d"></td><td>d) skin density loss </td></tr>
  		</table>
    </p>

    <p>21. When should you analyze the client's skin type and conditions? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_22" value="a"></td><td>a) before erforming serivices </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_22" value="b"></td><td>b) while erforming serivices </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_22" value="c"></td><td>c) after erforming serivices </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_22" value="d"></td><td>d) while scheduling the client's next appointment </td></tr>
  		</table>
    </p>

    <p>22. What type on  the Fitzpatric Scale is a person with Middle Eastern skin, darkk or black hair, and brown eyes? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_22" value="a"></td><td>a) type II </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_22" value="b"></td><td>b) type III </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_22" value="c"></td><td>c) type IV </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_22" value="d"></td><td>d) type V </td></tr>
  		</table>
    </p>

    <p>23. What are the general characteristics of type III skin on the Fitzpatric Scale? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_23" value="a"></td><td>a) fair-skinned; light eyes; light hair </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_23" value="b"></td><td>b) very fair; blond or red hair; light colored eyes; freckles common </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_23" value="c"></td><td>c) fair skin; varied eye color; varied hair color  </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_23" value="d"></td><td>d) Mediterranean Caucasian skin; dark brown hair </td></tr>
  		</table>
    </p>

    <p>24. What is type VI skin on the Fitzpatrick Scale? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_24" value="a"></td><td>a) pale skin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_24" value="b"></td><td>b) fair skin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_24" value="c"></td><td>c) Mediterranean skin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_24" value="d"></td><td>d) black skin </td></tr>
  		</table>
    </p>

    <p>25. What is true of type I skin on the Fitzpatrick Scale? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_25" value="a"></td><td>a) always burns </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_25" value="b"></td><td>b) often burns </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_25" value="c"></td><td>c) sometimes burns </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_25" value="d"></td><td>d) never burns </td></tr>
  		</table>
    </p>

    <p>26. What is true of type VI skin on the Fitzpatrick Scale?
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_26" value="a"></td><td>a) always burns </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_26" value="b"></td><td>b) often burns </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_26" value="c"></td><td>c) sometimes burns </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_26" value="d"></td><td>d) never burns </td></tr>
  		</table>
    </p>

    <p>27. What evaluates photodamage based on wrinkling categorized by age? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_27" value="a"></td><td>a) Fitzpatrick Scale </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_27" value="b"></td><td>b) McCormick Scale </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_27" value="c"></td><td>c) Glogau Scale </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_27" value="d"></td><td>d) Richter Scale </td></tr>
  		</table>
    </p>

    <p>28. What makes one person's sin darker than another person's skin?  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_28" value="a"></td><td>a) greater amounts of melanin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_28" value="b"></td><td>b) lesser amounts of melanin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_28" value="c"></td><td>c) greater amounts of lymph </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_28" value="d"></td><td>d) lesser amounts of lymph </td></tr>
  		</table>
    </p>

    <p>29. What skin type is more likely to have a greater roblem with hyperpigmentation than the other skin types? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_29" value="a"></td><td>a) pale </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_29" value="b"></td><td>b) fair </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_29" value="c"></td><td>c) medium </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_29" value="d"></td><td>d) dark </td></tr>
  		</table>
    </p>
  
    <p>30. Where is a characterisitic of actinic keratosis? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_30" value="a"></td><td>a) oily patch that does not abate after thorough cleansing </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_30" value="b"></td><td>b) rough area resulting from sun exposure, sometimes peeling off </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_30" value="c"></td><td>c) cluster of comedones surrounded by a field of redness </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_30" value="d"></td><td>d) irrtated area exuding pus through cracks in the skin </td></tr>
  		</table>
    </p>

    <p>31. What is a characteristic of erythema? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_31" value="a"></td><td>a) irregular heartbeat </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_31" value="b"></td><td>b) irregular respiration </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_31" value="c"></td><td>c) redness caused by inflammation </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_31" value="d"></td><td>d) pain caused by swelling </td></tr>
  		</table>
    </p>

    <p>32. What term indicates that a treatment is prohibited for a particular client? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_32" value="a"></td><td>a) contravened </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_32" value="b"></td><td>b) contradicted </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_32" value="c"></td><td>c) contraindicated </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_32" value="d"></td><td>d) contrasted </td></tr>
  		</table>
    </p>

    <p>33. What are sin types?
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_33" value="a"></td><td>a) medical terms differentiating between ethnicities </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_33" value="b"></td><td>b) esthetician term used to identify common sin conditions </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_33" value="c"></td><td>c) classifications that describe a person's genetic skin type </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_33" value="d"></td><td>d) pharmaceutical terms referring to thickness of the skin </td></tr>
  		</table>
    </p>

    <p>34. What determines a person's skin type? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_34" value="a"></td><td>a) genetics and ethnicity </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_34" value="b"></td><td>b) personality and temperament </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_34" value="c"></td><td>c) diet and exercise </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_34" value="d"></td><td>d) personal stress level </td></tr>
  		</table>
    </p>

    <p>35. What can be indicated by the size of the pores in the T-zone and throughout the face? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_35" value="a"></td><td>a) skin type </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_35" value="b"></td><td>b) blood pressure </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_35" value="c"></td><td>c) internal body temperature </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_35" value="d"></td><td>d) overall health </td></tr>
  		</table>
    </p>

    <p>36. What is NOT one of the four skin types? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_36" value="a"></td><td>a) combination  </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_36" value="b"></td><td>b) dry </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_36" value="c"></td><td>c) sensitive </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_36" value="d"></td><td>d) oily </td></tr>
  		</table>
    </p>

    <p>37. What skin types require proper cleansing, exfoliating, and hydrating? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_37" value="a"></td><td>a) normal and oily </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_37" value="b"></td><td>b) dry and oily </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_37" value="c"></td><td>c) normal and combination </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_37" value="d"></td><td>d) all sin types </td></tr>
  		</table>
    </p>

    <p>38. What is a characteristic of dry skin? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_38" value="a"></td><td>a) large follicles </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_38" value="b"></td><td>b) small follicles </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_38" value="c"></td><td>c) normal follicles </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_38" value="d"></td><td>d) closed follicles </td></tr>
  		</table>
    </p>

    <p>39. What type of sin needs extra care because it does not produce enough oil? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_39" value="a"></td><td>a) dry </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_39" value="b"></td><td>b) oily </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_39" value="c"></td><td>c) normal </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_39" value="d"></td><td>d) sensitive </td></tr>
  		</table>
    </p>

    <p>40. What is a characteristic of dry skin? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_40" value="a"></td><td>a) tight feeling, slightly rough </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_40" value="b"></td><td>b) loose feeling, soft to the touch </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_40" value="c"></td><td>c) large, spreadout follicles </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_40" value="d"></td><td>d) large, sebum-filled follicles </td></tr>
  		</table>
    </p>

    <p>41. What is another name for oily skin? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_41" value="a"></td><td>a) wet skin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_41" value="b"></td><td>b) moist skin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_41" value="c"></td><td>c) lymphatic skin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_41" value="d"></td><td>d) lipidic skin </td></tr>
  		</table>
    </p>

    <p>42. What is a characteristic of oily skin? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_42" value="a"></td><td>a) extremely small follicles throughout the face </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_42" value="b"></td><td>b) follicles that are visible or larger over most of the face </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_42" value="c"></td><td>c) follicles that are larger only on the chin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_42" value="d"></td><td>d) follicles that are larger only on the cheeks </td></tr>
  		</table>
    </p>

    <p>43. What is oily skin prone to because pores get clogged with oil? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_43" value="a"></td><td>a) hyperpigmentation </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_43" value="b"></td><td>b) hypopigmentation </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_43" value="c"></td><td>c) blemishes </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_43" value="d"></td><td>d) vellus hair </td></tr>
  		</table>
    </p>

   <p>44. What should you try to balance in all skin types? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_44" value="a"></td><td>a) skin color </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_44" value="b"></td><td>b) barrier function </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_44" value="c"></td><td>c) skin thickness </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_44" value="d"></td><td>d) circulation </td></tr>
  		</table>
    </p>

 <p>45. What type of skin ages more slowly than the other types? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_45" value="a"></td><td>a) dry skin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_45" value="b"></td><td>b) oily skin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_45" value="c"></td><td>c) normal </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_45" value="d"></td><td>d) sensitive </td></tr>
  		</table>
    </p>

 <p>46. What is a characteristic of sensitive skin? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_46" value="a"></td><td>a) easy absorption of product </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_46" value="b"></td><td>b) small follicles </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_46" value="c"></td><td>c) fragile, thin skin and redness </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_46" value="d"></td><td>d) large follicles </td></tr>
  		</table>
    </p>

<p>47. What type of skin can be difficult to treat because of its low tolerance for products and stimulation? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_47" value="a"></td><td>a) oily </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_47" value="b"></td><td>b) combination </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_47" value="c"></td><td>c) normal </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_47" value="d"></td><td>d) sensitive </td></tr>
  		</table>
    </p>

<p>48. What type on the Fitzpatrick Scale is a person with very fair skin, blond or red hair, light color eyes, and possibly freckles? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_48" value="a"></td><td>a) type I </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_48" value="b"></td><td>b) type II </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_48" value="c"></td><td>c) type III </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_48" value="d"></td><td>d) Type IV </td></tr>
  		</table>
    </p>

<p>49. What type on the Fitzpatrick Scale is a person with Mediterranean Caucasian sin and dark bron hair? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_49" value="a"></td><td>a) type II </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_49" value="b"></td><td>b) type III </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_49" value="c"></td><td>c) type IV </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_49" value="d"></td><td>d) type V </td></tr>
  		</table>

<p>50. What type on the Fiztpatric Scale is a person with fair skin, light eyes, and light hair? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_12_50" value="a"></td><td>a) type I </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_50" value="b"></td><td>b) type II </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_50" value="c"></td><td>c) type III </td></tr>
  		  <tr><td><input type="radio" name="esthetics_12_50" value="d"></td><td>d) type IV </td></tr>
  		</table>
    </p>

  </form>
  
  <button id="submitExam" class="btn btn-lg btn-primary">Submit</button>

</body>
</html>
