<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#submitExam").click(function(){
      var questionAnswerObj = {};
      $('#myForm input[type=radio]:checked').each(function(){
  		  questionAnswerObj[this.name] = this.value;
  	  }); 
  
      $.ajax({
        type:'POST',
        url:'/submit_Exam',
        data: { questionAnswerObj: JSON.stringify(questionAnswerObj) },
        success:function(result){
          var i;
          var out = "<table class=\"table table-striped\">";
          out += "<th>Question #</th><th>Answer Key</th><th>Your Answer Is</th>";
          x = result;
          $("#answers").empty();
          for (i = 0; i < x.length; i++) {
            out +=  "<tr><td>"  +  x[i].question_number + 
                    "</td><td>" +  x[i].answer_key +
                    "</td><td>" + x[i].your_answer + "</td></tr>";
          }
          out += "</table>";
          $("#answers").append(out);

        }
      }); // ajax
    }); // #submitExam
  });
</script>
</head>
<body>

  <h2>Chapter 5 -- Infection Control: Principles and Practices</h2>
  <hr>

  <form id="myForm" >

    <p>1.  What term refers to the ability to produce an effect?
  		<table class="table table-condensed">
  		  <tr><td>a)  efficacy</td><td><input type="radio" name="esthetics_5_1" value="a"></td></tr>
  		  <tr><td>b)  disinfection</td><td><input type="radio" name="esthetics_5_1" value="b"></td></tr>
  		  <tr><td>c)  motility</td><td><input type="radio" name="esthetics_5_1" value="c"></td></tr>
  		  <tr><td>d)  sterilization</td><td><input type="radio" name="esthetics_5_1" value="d"></td></tr>
  		</table>
    </p>

    <p>2.  What term indicates that a product is capable of destroying bacteria?
  		<table class="table table-condensed">
  		  <tr><td>a)  bacteriphobic</td><td><input type="radio" name="esthetics_5_2" value="a"></td></tr>
  		  <tr><td>b)  bacterial</td><td><input type="radio" name="esthetics_5_2" value="b"></td></tr>
  		  <tr><td>c)  probacterial</td><td><input type="radio" name="esthetics_5_2" value="c"></td></tr>
  		  <tr><td>d)  bactericidal</td><td><input type="radio" name="esthetics_5_2" value="d"></td></tr>
  		</table>
    </p>

    <p>3.  What term refers to a resistance to disease that is partly inherited and partly developed through healthy living?
  		<table class="table table-condensed">
  		  <tr><td>a)  natural immunity</td><td><input type="radio" name="esthetics_5_3" value="a"></td></tr>
  		  <tr><td>b)  physical immunity</td><td><input type="radio" name="esthetics_5_3" value="b"></td></tr>
  		  <tr><td>c)  acquired immunity</td><td><input type="radio" name="esthetics_5_3" value="c"></td></tr>
  		  <tr><td>d)  healthy immunity</td><td><input type="radio" name="esthetics_5_3" value="d"></td></tr>
  		</table>
    </p>

    <p>4.  What is scabies?
  		<table class="table table-condensed">
  		  <tr><td>a)  bloodborne virus that causes disease</td><td><input type="radio" name="esthetics_5_4" value="a"></td></tr>
  		  <tr><td>b)  type of fungus that affects plants or grows on inanimate objects</td><td><input type="radio" name="esthetics_5_4" value="b"></td></tr>
  		  <tr><td>c)  superficial fungal infection that commonly affects the skin</td><td><input type="radio" name="esthetics_5_4" value="c"></td></tr>
  		  <tr><td>d)  contagious disease caused by the itch mite</td><td><input type="radio" name="esthetics_5_4" value="d"></td></tr>
  		</table>
    </p>

    <p>5.  What does the term porous mean?
  		<table class="table table-condensed">
  		  <tr><td>a)  made or constructed of a material that does not have openings</td><td><input type="radio" name="esthetics_5_5" value="a"></td></tr>
  		  <tr><td>b)  made or constructed of a material that has openings</td><td><input type="radio" name="esthetics_5_5" value="b"></td></tr>
  		  <tr><td>c)  susceptible to disease</td><td><input type="radio" name="esthetics_5_5" value="c"></td></tr>
  		  <tr><td>d)  immune to a disease</td><td><input type="radio" name="esthetics_5_5" value="d"></td></tr>
  		</table>
    </p>

    <p>6.  What are bacilli?
  		<table class="table table-condensed">
  		  <tr><td>a)  round-shaped bacteria</td><td><input type="radio" name="esthetics_5_6" value="a"></td></tr>
  		  <tr><td>b)  spherical bacteria that grow in pairs</td><td><input type="radio" name="esthetics_5_6" value="b"></td></tr>
  		  <tr><td>c)  spiral or corkscrew-shaped bacteria</td><td><input type="radio" name="esthetics_5_6" value="c"></td></tr>
  		  <tr><td>d)  short, rod-shaped bacteria</td><td><input type="radio" name="esthetics_5_6" value="d"></td></tr>
  		</table>
    </p>

    <p>7.  What are staphylococci?
  		<table class="table table-condensed">
  		  <tr><td>a)  pus-forming bacteria that grow in clusters like a bunch of grapes</td><td><input type="radio" name="esthetics_5_7" value="a"></td></tr>
  		  <tr><td>b)  spiral or corkscrew-shaped bacteria that cause diseases such as syphilis</td><td><input type="radio" name="esthetics_5_7" value="b"></td></tr>
  		  <tr><td>c)  microscopic plant parasites, including molds and mildews</td><td><input type="radio" name="esthetics_5_7" value="c"></td></tr>
  		  <tr><td>d)  slender, hair-like extensions used by parasites for locomotion</td><td><input type="radio" name="esthetics_5_7" value="d"></td></tr>
  		</table>
    </p>

    <p>8.  What are flagella?
  		<table class="table table-condensed">
  		  <tr><td>a)  microscopic plant parasites, including molds and mildews</td><td><input type="radio" name="esthetics_5_8" value="a"></td></tr>
  		  <tr><td>b)  pus-forming bacteria that grow in clusters like a bunch of grapes</td><td><input type="radio" name="esthetics_5_8" value="b"></td></tr>
  		  <tr><td>c)  slender, hair-like extensions used by parasites for locomotion</td><td><input type="radio" name="esthetics_5_8" value="c"></td></tr>
  		  <tr><td>d)  spiral or corkscrew-shaped bacteria that cause diseases such as syphilis</td><td><input type="radio" name="esthetics_5_8" value="d"></td></tr>
  		</table>
    </p>
    
    <p>9.  What is a microscopic germ that normally exists in tap water in small number?
  		<table class="table table-condensed">
  		  <tr><td>a)  diplococci</td><td><input type="radio" name="esthetics_5_9" value="a"></td></tr>
  		  <tr><td>b)  mycobacterium fortuitum</td><td><input type="radio" name="esthetics_5_9" value="b"></td></tr>
  		  <tr><td>c)  human immunodeficiency virus</td><td><input type="radio" name="esthetics_5_9" value="c"></td></tr>
  		  <tr><td>d)  mildew</td><td><input type="radio" name="esthetics_5_9" value="d"></td></tr>
  		</table>
    </p>
    
    <p>10.  What is methicillin-resistant staphylococcus aureus?
  		<table class="table table-condensed">
  		  <tr><td>a)  superficial fungal infection that commonly affects the skin</td><td><input type="radio" name="esthetics_5_10" value="a"></td></tr>
  		  <tr><td>b)  microscopic germ that normally exists in tap water</td><td><input type="radio" name="esthetics_5_10" value="b"></td></tr>
  		  <tr><td>c)  pus-forming bacteria that grow in clusters like a bunch of grapes</td><td><input type="radio" name="esthetics_5_10" value="c"></td></tr>
  		  <tr><td>d)  type of infectious bacteria that is highly resistant to antibiotics</td><td><input type="radio" name="esthetics_5_10" value="d"></td></tr>
  		</table>
    </p>
    
    <p>11.  What is the responsibility of the Environmental Protection Agency (EPA)?
  		<table class="table table-condensed">
  		  <tr><td>a)  testing and approving drugs sold and used in the United States</td><td><input type="radio" name="esthetics_5_11" value="a"></td></tr>
  		  <tr><td>b)  overseeing all agricultural practices of U.S. farmers</td><td><input type="radio" name="esthetics_5_11" value="b"></td></tr>
  		  <tr><td>c)  supervising employee safety in U.S. workplaces</td><td><input type="radio" name="esthetics_5_11" value="c"></td></tr>
  		  <tr><td>d)  registering all types of disinfectants sold and used in the United States</td><td><input type="radio" name="esthetics_5_11" value="d"></td></tr>
  		</table>
    </p>
    
    <p>12.  What happened in 1985 that triggered the creation of Universal Precautions?
  		<table class="table table-condensed">
  		  <tr><td>a)  bird flu pandemic</td><td><input type="radio" name="esthetics_5_12" value="a"></td></tr>
  		  <tr><td>b)  AIDS public health crisis</td><td><input type="radio" name="esthetics_5_12" value="b"></td></tr>
  		  <tr><td>c)  hepatitis pandemic</td><td><input type="radio" name="esthetics_5_12" value="c"></td></tr>
  		  <tr><td>d)  evidence of the return of the bubonic plague</td><td><input type="radio" name="esthetics_5_12" value="d"></td></tr>
  		</table>
    </p>
    
    <p>13.  What is responsibility of the Centers for Disease Control and Prevention (CDC)?
  		<table class="table table-condensed">
  		  <tr><td>a)  reviewing and approving pharmaceutical products</td><td><input type="radio" name="esthetics_5_13" value="a"></td></tr>
  		  <tr><td>b)  testing and licensing medical professionals</td><td><input type="radio" name="esthetics_5_13" value="b"></td></tr>
  		  <tr><td>c)  testing and approving preparation techniques for food products</td><td><input type="radio" name="esthetics_5_13" value="c"></td></tr>
  		  <tr><td>d)  studying diseases and providing guidance to prevent their spread</td><td><input type="radio" name="esthetics_5_13" value="d"></td></tr>
  		</table>
    </p>
    
    <p>14.  What set of practices replaced Universal Precautions in 1996?
  		<table class="table table-condensed">
  		  <tr><td>a)  Standard Precautions</td><td><input type="radio" name="esthetics_5_14" value="a"></td></tr>
  		  <tr><td>b)  Global Precautions</td><td><input type="radio" name="esthetics_5_14" value="b"></td></tr>
  		  <tr><td>c)  Standard Procedures</td><td><input type="radio" name="esthetics_5_14" value="c"></td></tr>
  		  <tr><td>d)  Global Procedures</td><td><input type="radio" name="esthetics_5_14" value="d"></td></tr>
  		</table>
    </p>
    
    <p>15.  When should an adhesive bandage be used?
  		<table class="table table-condensed">
  		  <tr><td>a)  after breaking a pimple</td><td><input type="radio" name="esthetics_5_15" value="a"></td></tr>
  		  <tr><td>b)  in response to an exposure incident</td><td><input type="radio" name="esthetics_5_15" value="b"></td></tr>
  		  <tr><td>c)  prior to a dermabrasion treatment</td><td><input type="radio" name="esthetics_5_15" value="c"></td></tr>
  		  <tr><td>d)  during tweezing to aid hair removal</td><td><input type="radio" name="esthetics_5_15" value="d"></td></tr>
  		</table>
    </p>
    
    <p>16.  What is true of cardiopulmonary resuscitation (CPR)?
  		<table class="table table-condensed">
  		  <tr><td>a)  it should only be performed by licensed medical professionals</td><td><input type="radio" name="esthetics_5_16" value="a"></td></tr>
  		  <tr><td>b)  it is a basic element of first aid every esthetician should know</td><td><input type="radio" name="esthetics_5_16" value="b"></td></tr>
  		  <tr><td>c)  only a salon manager is authorized to perform CPR</td><td><input type="radio" name="esthetics_5_16" value="c"></td></tr>
  		  <tr><td>d)  you should only perform CPR if a client gives you verbal permission</td><td><input type="radio" name="esthetics_5_16" value="d"></td></tr>
  		</table>
    </p>
    
    <p>17.  When should you call emergency medical technicians (EMTs)?
  		<table class="table table-condensed">
  		  <tr><td>a)  only if it appears that someone in the salon is in mortal danger</td><td><input type="radio" name="esthetics_5_17" value="a"></td></tr>
  		  <tr><td>b)  as soon as possible after any significant accident has occurred</td><td><input type="radio" name="esthetics_5_17" value="b"></td></tr>
  		  <tr><td>c)  only after you have exhausted your knowledge of first-aid techniques</td><td><input type="radio" name="esthetics_5_17" value="c"></td></tr>
  		  <tr><td>d)  after the worst results of an accident have been addressed</td><td><input type="radio" name="esthetics_5_17" value="d"></td></tr>
  		</table>
    </p>
    
    <p>18.  How many levels of burns are there?
  		<table class="table table-condensed">
  		  <tr><td>a)  three</td><td><input type="radio" name="esthetics_5_18" value="a"></td></tr>
  		  <tr><td>b)  four</td><td><input type="radio" name="esthetics_5_18" value="b"></td></tr>
  		  <tr><td>c)  six</td><td><input type="radio" name="esthetics_5_18" value="c"></td></tr>
  		  <tr><td>d)  eight</td><td><input type="radio" name="esthetics_5_18" value="d"></td></tr>
  		</table>
    </p>

    <p>19.  What is fluid created by infection?
  		<table class="table table-condensed">
  		  <tr><td>a)  mold</td><td><input type="radio" name="esthetics_5_19" value="a"></td></tr>
  		  <tr><td>b)  mildew</td><td><input type="radio" name="esthetics_5_19" value="b"></td></tr>
  		  <tr><td>c)  lymph</td><td><input type="radio" name="esthetics_5_19" value="c"></td></tr>
  		  <tr><td>d)  pus</td><td><input type="radio" name="esthetics_5_19" value="d"></td></tr>
  		</table>
    </p>

    <p>20.  What is the term for illness related to conditions associated with employment?
  		<table class="table table-condensed">
  		  <tr><td>a)  employment disorder</td><td><input type="radio" name="esthetics_5_20" value="a"></td></tr>
  		  <tr><td>b)  employment disease</td><td><input type="radio" name="esthetics_5_20" value="b"></td></tr>
  		  <tr><td>c)  occupational disorder</td><td><input type="radio" name="esthetics_5_20" value="c"></td></tr>
  		  <tr><td>d)  occupational disease</td><td><input type="radio" name="esthetics_5_20" value="d"></td></tr>
  		</table>
    </p>

    <p>21.  What part of the body does tinea pedis affects?
  		<table class="table table-condensed">
  		  <tr><td>a)  hands</td><td><input type="radio" name="esthetics_5_21" value="a"></td></tr>
  		  <tr><td>b)  elbows</td><td><input type="radio" name="esthetics_5_21" value="b"></td></tr>
  		  <tr><td>c)  knees</td><td><input type="radio" name="esthetics_5_21" value="c"></td></tr>
  		  <tr><td>d)  feet</td><td><input type="radio" name="esthetics_5_21" value="d"></td></tr>
  		</table>
    </p>

    <p>22.  What disease is caused by bacteria transmitted through coughing or sneezing?
  		<table class="table table-condensed">
  		  <tr><td>a)  tuberculosis</td><td><input type="radio" name="esthetics_5_22" value="a"></td></tr>
  		  <tr><td>b)  AIDS</td><td><input type="radio" name="esthetics_5_22" value="b"></td></tr>
  		  <tr><td>c)  hepatitis</td><td><input type="radio" name="esthetics_5_22" value="c"></td></tr>
  		  <tr><td>d)  disabetes</td><td><input type="radio" name="esthetics_5_22" value="d"></td></tr>
  		</table>
    </p>

    <p>23.  What is the term for any organism of microscopic or submicroscopic size?
  		<table class="table table-condensed">
  		  <tr><td>a)  miniorganism</td><td><input type="radio" name="esthetics_5_23" value="a"></td></tr>
  		  <tr><td>b)  suborganism</td><td><input type="radio" name="esthetics_5_23" value="b"></td></tr>
  		  <tr><td>c)  microorganism</td><td><input type="radio" name="esthetics_5_23" value="c"></td></tr>
  		  <tr><td>d)  quasiorganism</td><td><input type="radio" name="esthetics_5_23" value="d"></td></tr>
  		</table>
    </p>

    <p>24.  What is the body fluid or secretion to which Standard Precautions do NOT apply?
  		<table class="table table-condensed">
  		  <tr><td>a)  blood</td><td><input type="radio" name="esthetics_5_24" value="a"></td></tr>
  		  <tr><td>b)  saliva</td><td><input type="radio" name="esthetics_5_24" value="b"></td></tr>
  		  <tr><td>c)  pus</td><td><input type="radio" name="esthetics_5_24" value="c"></td></tr>
  		  <tr><td>d)  sweat</td><td><input type="radio" name="esthetics_5_24" value="d"></td></tr>
  		</table>
    </p>

    <p>25.  When should you apply a mask, eyewear, or gown, according to Standard Precautions?
  		<table class="table table-condensed">
  		  <tr><td>a)  whenever you come in contact with the human body</td><td><input type="radio" name="esthetics_5_25" value="a"></td></tr>
  		  <tr><td>b)  if the splashing of body fluids is likely</td><td><input type="radio" name="esthetics_5_25" value="b"></td></tr>
  		  <tr><td>c)  if the splashing of treatment product is likely</td><td><input type="radio" name="esthetics_5_25" value="c"></td></tr>
  		  <tr><td>d)  whenever you come in contact with a pregnant client</td><td><input type="radio" name="esthetics_5_25" value="d"></td></tr>
  		</table>
    </p>


    <p>26.  What should you do FIRST when responding to an exposure incident?
  		<table class="table table-condensed">
  		  <tr><td>a)  call an ambulance</td><td><input type="radio" name="esthetics_5_26" value="a"></td></tr>
  		  <tr><td>b)  disinfect your hands</td><td><input type="radio" name="esthetics_5_26" value="b"></td></tr>
  		  <tr><td>c)  stop the bleeding</td><td><input type="radio" name="esthetics_5_26" value="c"></td></tr>
  		  <tr><td>d)  stop the service</td><td><input type="radio" name="esthetics_5_26" value="d"></td></tr>
  		</table>
    </p>


    <p>27.  When in the process of responding to an exposure incident should you recommend that the client see a physician if symptoms develop?
  		<table class="table table-condensed">
  		  <tr><td>a)  at the beginning of the process</td><td><input type="radio" name="esthetics_5_27" value="a"></td></tr>
  		  <tr><td>b)  in the middle of the process</td><td><input type="radio" name="esthetics_5_27" value="b"></td></tr>
  		  <tr><td>c)  at the end of the process</td><td><input type="radio" name="esthetics_5_27" value="c"></td></tr>
  		  <tr><td>d)  several times throughout the process</td><td><input type="radio" name="esthetics_5_27" value="d"></td></tr>
  		</table>
    </p>

    <p>28.  What term refers to disease-causing microorganisms carried in the body by blood?
  		<table class="table table-condensed">
  		  <tr><td>a)  bloodstream invaders</td><td><input type="radio" name="esthetics_5_28" value="a"></td></tr>
  		  <tr><td>b)  bloodstream pathogens</td><td><input type="radio" name="esthetics_5_28" value="b"></td></tr>
  		  <tr><td>c)  bloodborne invaders</td><td><input type="radio" name="esthetics_5_28" value="c"></td></tr>
  		  <tr><td>d)  bloodborne pathogens</td><td><input type="radio" name="esthetics_5_28" value="d"></td></tr>
  		</table>
    </p>

    <p>29.  What is infection control?
  		<table class="table table-condensed">
  		  <tr><td>a)  wearing protective gear at all times in the salon</td><td><input type="radio" name="esthetics_5_29" value="a"></td></tr>
  		  <tr><td>b)  methods used to eliminate or reduce transmission of infectious organisms</td><td><input type="radio" name="esthetics_5_29" value="b"></td></tr>
  		  <tr><td>c)  methods that ensure absolutely no infections organism enter the salon</td><td><input type="radio" name="esthetics_5_29" value="c"></td></tr>
  		  <tr><td>d)  step-by-step instructions for performing medical aesthetic treatments</td><td><input type="radio" name="esthetics_5_29" value="d"></td></tr>
  		</table>
    </p>
  
    <p>30.  What term refers to the process for properly handling sterilized and disinfected equipment and supplies to reduce contamination?
  		<table class="table table-condensed">
  		  <tr><td>a)  infection control</td><td><input type="radio" name="esthetics_5_30" value="a"></td></tr>
  		  <tr><td>b)  infection procedures</td><td><input type="radio" name="esthetics_5_30" value="b"></td></tr>
  		  <tr><td>c)  aseptic control</td><td><input type="radio" name="esthetics_5_30" value="c"></td></tr>
  		  <tr><td>d)  aseptic procedures</td><td><input type="radio" name="esthetics_5_30" value="d"></td></tr>
  		</table>
    </p>

    <p>31.  What is the difference between rules and laws?
  		<table class="table table-condensed">
  		  <tr><td>a)  laws are more specific than rules</td><td><input type="radio" name="esthetics_5_31" value="a"></td></tr>
  		  <tr><td>b)  you are not expected to obey rules</td><td><input type="radio" name="esthetics_5_31" value="b"></td></tr>
  		  <tr><td>c)  each salon makes up its own rules</td><td><input type="radio" name="esthetics_5_31" value="c"></td></tr>
  		  <tr><td>d)  rules are more specific than laws</td><td><input type="radio" name="esthetics_5_31" value="d"></td></tr>
  		</table>
    </p>

    <p>32.  Which organization regulates and enforces safety standards to protect employees at work?
  		<table class="table table-condensed">
  		  <tr><td>a)  Food and Drug Administration (FDA)</td><td><input type="radio" name="esthetics_5_32" value="a"></td></tr>
  		  <tr><td>b)  United States Department of Agriculture (USDA)</td><td><input type="radio" name="esthetics_5_32" value="b"></td></tr>
  		  <tr><td>c)  Centers for Disease Control and Prevention (CDC)</td><td><input type="radio" name="esthetics_5_32" value="c"></td></tr>
  		  <tr><td>d)  Occupational Safety and Health Administration (OSHA)</td><td><input type="radio" name="esthetics_5_32" value="d"></td></tr>
  		</table>
    </p>


    <p>33.  What can you find on Material Safety Data Sheets (MSDSs)
  		<table class="table table-condensed">
  		  <tr><td>a)  lists of companies that sell the specified product</td><td><input type="radio" name="esthetics_5_33" value="a"></td></tr>
  		  <tr><td>b)  information about possible hazards and safe use of products</td><td><input type="radio" name="esthetics_5_33" value="b"></td></tr>
  		  <tr><td>c)  product pricing information</td><td><input type="radio" name="esthetics_5_33" value="c"></td></tr>
  		  <tr><td>d)  comparison charts describing efficacy of similar products</td><td><input type="radio" name="esthetics_5_33" value="d"></td></tr>
  		</table>
    </p>


    <p>34.  What must every employee in the salon do after reading each MSDS that comes into the salon?
  		<table class="table table-condensed">
  		  <tr><td>a)  verify having read the MSDS</td><td><input type="radio" name="esthetics_5_34" value="a"></td></tr>
  		  <tr><td>b)  memorize the entire MSDS</td><td><input type="radio" name="esthetics_5_34" value="b"></td></tr>
  		  <tr><td>c)  write a report on the MSDS</td><td><input type="radio" name="esthetics_5_34" value="c"></td></tr>
  		  <tr><td>d)  copy the MSDS by hand</td><td><input type="radio" name="esthetics_5_34" value="d"></td></tr>
  		</table>
    </p>


    <p>35.  What part of the body is MOST often affected by folliculitis?
  		<table class="table table-condensed">
  		  <tr><td>a)  eyebrows</td><td><input type="radio" name="esthetics_5_35" value="a"></td></tr>
  		  <tr><td>b)  bridge of the nose</td><td><input type="radio" name="esthetics_5_35" value="b"></td></tr>
  		  <tr><td>c)  armpits</td><td><input type="radio" name="esthetics_5_35" value="c"></td></tr>
  		  <tr><td>d)  bearded areas of the face</td><td><input type="radio" name="esthetics_5_35" value="d"></td></tr>
  		</table>
    </p>

    <p>36.  What term indicates that a product is capable of destroying viruses?
  		<table class="table table-condensed">
  		  <tr><td>a)  antibacerial</td><td><input type="radio" name="esthetics_5_36" value="a"></td></tr>
  		  <tr><td>b)  neutroviral</td><td><input type="radio" name="esthetics_5_36" value="b"></td></tr>
  		  <tr><td>c)  virucidal</td><td><input type="radio" name="esthetics_5_36" value="c"></td></tr>
  		  <tr><td>d)  viruphobic</td><td><input type="radio" name="esthetics_5_36" value="d"></td></tr>
  		</table>
    </p>

    <p>37.  What term indicates that a person shows no signs or symptoms of infection?
  		<table class="table table-condensed">
  		  <tr><td>a)  asymptomatic</td><td><input type="radio" name="esthetics_5_37" value="a"></td></tr>
  		  <tr><td>b)  antisymptomatic</td><td><input type="radio" name="esthetics_5_37" value="b"></td></tr>
  		  <tr><td>c)  symptomatic</td><td><input type="radio" name="esthetics_5_37" value="c"></td></tr>
  		  <tr><td>d)  nonsymptomatic</td><td><input type="radio" name="esthetics_5_37" value="d"></td></tr>
  		</table>
    </p>

    <p>38.  What term refers to a reaction caused by extreme sensitivity to a normally harmless substance?
  		<table class="table table-condensed">
  		  <tr><td>a)  analogy</td><td><input type="radio" name="esthetics_5_38" value="a"></td></tr>
  		  <tr><td>b)  infection</td><td><input type="radio" name="esthetics_5_38" value="b"></td></tr>
  		  <tr><td>c)  allergy</td><td><input type="radio" name="esthetics_5_38" value="c"></td></tr>
  		  <tr><td>d)  contagion</td><td><input type="radio" name="esthetics_5_38" value="d"></td></tr>
  		</table>
    </p>

    <p>39.  What is the term for the number of viable organisms in or on an object or surface?
  		<table class="table table-condensed">
  		  <tr><td>a)  bioload</td><td><input type="radio" name="esthetics_5_39" value="a"></td></tr>
  		  <tr><td>b)  bioburden</td><td><input type="radio" name="esthetics_5_39" value="b"></td></tr>
  		  <tr><td>c)  viable load</td><td><input type="radio" name="esthetics_5_39" value="c"></td></tr>
  		  <tr><td>d)  viable burden</td><td><input type="radio" name="esthetics_5_39" value="d"></td></tr>
  		</table>
    </p>

    <p>40.  What is true of touching?
  		<table class="table table-condensed">
  		  <tr><td>a)  touching is harmless since infection cannot be spread through touching</td><td><input type="radio" name="esthetics_5_40" value="a"></td></tr>
  		  <tr><td>b)  it is rare for infection to be spread through touching</td><td><input type="radio" name="esthetics_5_40" value="b"></td></tr>
  		  <tr><td>c)  every time you touch someone, you will get an infection</td><td><input type="radio" name="esthetics_5_40" value="c"></td></tr>
  		  <tr><td>d)  touching is the most common method of spreading infection</td><td><input type="radio" name="esthetics_5_40" value="d"></td></tr>
  		</table>
    </p>

    <p>41.  What is the term <i>immunity</i> refer to?
  		<table class="table table-condensed">
  		  <tr><td>a)  physical characteristics of people who are always sick</td><td><input type="radio" name="esthetics_5_41" value="a"></td></tr>
  		  <tr><td>b)  ability of the body to easily absorb infection</td><td><input type="radio" name="esthetics_5_41" value="b"></td></tr>
  		  <tr><td>c)  ability of the body to destroy and resist infection</td><td><input type="radio" name="esthetics_5_41" value="c"></td></tr>
  		  <tr><td>d)  physical characteristics of people who are never sick</td><td><input type="radio" name="esthetics_5_41" value="d"></td></tr>
  		</table>
    </p>

    <p>42.  What term refers to the invasion of body tissues by disease-causing pathogens?
  		<table class="table table-condensed">
  		  <tr><td>a)  inoculation</td><td><input type="radio" name="esthetics_5_42" value="a"></td></tr>
  		  <tr><td>b)  allergy</td><td><input type="radio" name="esthetics_5_42" value="b"></td></tr>
  		  <tr><td>c)  motility</td><td><input type="radio" name="esthetics_5_42" value="c"></td></tr>
  		  <tr><td>d)  infection</td><td><input type="radio" name="esthetics_5_42" value="d"></td></tr>
  		</table>
    </p>

    <p>43.  What is the condition in which the body reacts to injury, irritation, or infection?
  		<table class="table table-condensed">
  		  <tr><td>a)  inflammation</td><td><input type="radio" name="esthetics_5_43" value="a"></td></tr>
  		  <tr><td>b)  immunity</td><td><input type="radio" name="esthetics_5_43" value="b"></td></tr>
  		  <tr><td>c)  integrity</td><td><input type="radio" name="esthetics_5_43" value="c"></td></tr>
  		  <tr><td>d)  incapacitation</td><td><input type="radio" name="esthetics_5_43" value="d"></td></tr>
  		</table>
    </p>

    <p>44.  What is sterilization?
  		<table class="table table-condensed">
  		  <tr><td>a)  degree of cleansing acquired by rinsing with tap water</td><td><input type="radio" name="esthetics_5_44" value="a"></td></tr>
  		  <tr><td>b)  process that completely destroys all microbial life</td><td><input type="radio" name="esthetics_5_44" value="b"></td></tr>
  		  <tr><td>c)  process that destroys most, but not all, microorganisms on a surface</td><td><input type="radio" name="esthetics_5_44" value="c"></td></tr>
  		  <tr><td>d)  degree of cleansing acquired by washing one's hands</td><td><input type="radio" name="esthetics_5_44" value="d"></td></tr>
  		</table>
    </p>

    <p>45.  What is a type of fungus that affects plants or grows on inanimate objects?
  		<table class="table table-condensed">
  		  <tr><td>a)  pus</td><td><input type="radio" name="esthetics_5_45" value="a"></td></tr>
  		  <tr><td>b)  mildew</td><td><input type="radio" name="esthetics_5_45" value="b"></td></tr>
  		  <tr><td>c)  lymph</td><td><input type="radio" name="esthetics_5_45" value="c"></td></tr>
  		  <tr><td>d)  spirilla</td><td><input type="radio" name="esthetics_5_45" value="d"></td></tr>
  		</table>
    </p>

    <p>46.  What is true of fourth-degree  burns?
  		<table class="table table-condensed">
  		  <tr><td>a)  they are not very serious</td><td><input type="radio" name="esthetics_5_46" value="a"></td></tr>
  		  <tr><td>b)  they are the most common type of burn</td><td><input type="radio" name="esthetics_5_46" value="b"></td></tr>
  		  <tr><td>c)  they always require medical attention</td><td><input type="radio" name="esthetics_5_46" value="c"></td></tr>
  		  <tr><td>d)  they are always fatal</td><td><input type="radio" name="esthetics_5_46" value="d"></td></tr>
  		</table>
    </p>

    <p>47. What term refers to a parasitic particle that infects and resides in the cells of biological organisms? 
  		<table class="table table-condensed">
  		  <tr><td>a)  fungus</td><td><input type="radio" name="esthetics_5_47" value="a"></td></tr>
  		  <tr><td>b)  immunization</td><td><input type="radio" name="esthetics_5_47" value="b"></td></tr>
  		  <tr><td>c)  bacteria</td><td><input type="radio" name="esthetics_5_47" value="c"></td></tr>
  		  <tr><td>d)  virus</td><td><input type="radio" name="esthetics_5_47" value="d"></td></tr>
  		</table>
    </p>

    <p>48.  What term refers to various poisonous substances produced by some microorganisms?
  		<table class="table table-condensed">
  		  <tr><td>a)  quats</td><td><input type="radio" name="esthetics_5_48" value="a"></td></tr>
  		  <tr><td>b)  toxins</td><td><input type="radio" name="esthetics_5_48" value="b"></td></tr>
  		  <tr><td>c)  phenols</td><td><input type="radio" name="esthetics_5_48" value="c"></td></tr>
  		  <tr><td>d)  flagella</td><td><input type="radio" name="esthetics_5_48" value="d"></td></tr>
  		</table>
    </p>

    <p>49.  What is the common term for tinea versicolor?
  		<table class="table table-condensed">
  		  <tr><td>a)  migraine</td><td><input type="radio" name="esthetics_5_49" value="a"></td></tr>
  		  <tr><td>b)  sun spots</td><td><input type="radio" name="esthetics_5_49" value="b"></td></tr>
  		  <tr><td>c)  athlete's foot</td><td><input type="radio" name="esthetics_5_49" value="c"></td></tr>
  		  <tr><td>d)  barber's itch</td><td><input type="radio" name="esthetics_5_49" value="d"></td></tr>
  		</table>
    </p>

    <p>50.  What is a systemic disease?
  		<table class="table table-condensed">
  		  <tr><td>a)  disease that affects only one particular body system</td><td><input type="radio" name="esthetics_5_50" value="a"></td></tr>
  		  <tr><td>b)  disease that affects the body as a whole</td><td><input type="radio" name="esthetics_5_50" value="b"></td></tr>
  		  <tr><td>c)  disease that affects only two particular body systems</td><td><input type="radio" name="esthetics_5_50" value="c"></td></tr>
  		  <tr><td>d)  disease that systemically runs its course in 24 hours</td><td><input type="radio" name="esthetics_5_50" value="d"></td></tr>
  		</table>
    </p>

  </form>
  
  <button id="submitExam" class="btn btn-lg btn-primary">Submit</button>

</body>
</html>
