
<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#submitExam").click(function(){
      var questionAnswerObj = {};
      $('#myForm input[type=radio]:checked').each(function(){
  		  questionAnswerObj[this.name] = this.value;
  	  }); 
  
      $.ajax({
        type:'POST',
        url:'/submit_Exam',
        data: { questionAnswerObj: JSON.stringify(questionAnswerObj) },
        success:function(result){
          var i;
          var out = "<table class=\"table table-striped\">";
          out += "<th>Question #</th><th>Answer Key</th><th>Your Answer Is</th>";
          x = result;
          $("#answers").empty();
          for (i = 0; i < x.length; i++) {
            out +=  "<tr><td>"  +  x[i].question_number + 
                    "</td><td>" +  x[i].answer_key +
                    "</td><td>" + x[i].your_answer + "</td></tr>";
          }
          out += "</table>";
          $("#answers").append(out);

        }
      }); // ajax
    }); // #submitExam
  });
</script>
</head>
<body>

  <h2> Chapter 18: UV And LED Gels </h2>
  <hr>

  <form id="myForm" >

    <p>1. UV nail enhancement ingredients are part of a subcategory of a chemical family called acrylates and _________.
		<table class="table table-condensed">
		  <tr><td><input type="radio" name="nails_18_1" value="a"></td><td>a) methacrylates </td></tr>
		  <tr><td><input type="radio" name="nails_18_1" value="b"></td><td>b) cyanoacrylates </td></tr>
		  <tr><td><input type="radio" name="nails_18_1" value="c"></td><td>c) acrylics </td></tr>
		  <tr><td><input type="radio" name="nails_18_1" value="d"></td><td>d) wrap resins </td></tr>
		</table>
    </p>

    <p>2. "Oligo" means _________.  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_2" value="a"></td><td>a) many </td></tr>
		  <tr><td><input type="radio" name="nails_18_2" value="b"></td><td>b) only one </td></tr>
		  <tr><td><input type="radio" name="nails_18_2" value="c"></td><td>c) a few </td></tr>
		  <tr><td><input type="radio" name="nails_18_2" value="d"></td><td>d) units </td></tr>
  		</table>
    </p>

    <p>3. Oligomers are typically thick, gel-like, and ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_3" value="a"></td><td>a) creamy </td></tr>
  		  <tr><td><input type="radio" name="nails_18_3" value="b"></td><td>b) dry </td></tr>
  		  <tr><td><input type="radio" name="nails_18_3" value="c"></td><td>c) moist </td></tr>
  		  <tr><td><input type="radio" name="nails_18_3" value="d"></td><td>d) sticky </td></tr>
  		</table>
    </p>

    <p>4. The term ________ refers to the type of starting material that is used to create the most common UV gel resins. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_4" value="a"></td><td>a) "acrylic" </td></tr>
  		  <tr><td><input type="radio" name="nails_18_4" value="b"></td><td>b) "methacrylate" </td></tr>
  		  <tr><td><input type="radio" name="nails_18_4" value="c"></td><td>c) "urethane" </td></tr>
  		  <tr><td><input type="radio" name="nails_18_4" value="d"></td><td>d) "resin" </td></tr>
  		</table>
    </p>

    <p>5. UV gel resins react when exposed to the gel's recommended UV light because of a chemical called a ______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_5" value="a"></td><td>a) photocatalyst </td></tr>
  		  <tr><td><input type="radio" name="nails_18_5" value="b"></td><td>b) photoinitiator </td></tr>
  		  <tr><td><input type="radio" name="nails_18_5" value="c"></td><td>c) photopolymerizer </td></tr>
  		  <tr><td><input type="radio" name="nails_18_5" value="d"></td><td>d) photo-oligomer </td></tr>
  		</table>
    </p>

    <p>6. UV gels are typically not as _______ as monomer polymer enhancements. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_6" value="a"></td><td>a) soft </td></tr>
  		  <tr><td><input type="radio" name="nails_18_6" value="b"></td><td>b) hard </td></tr>
  		  <tr><td><input type="radio" name="nails_18_6" value="c"></td><td>c) resilient </td></tr>
  		  <tr><td><input type="radio" name="nails_18_6" value="d"></td><td>d) easy to apply </td></tr>
  		</table>
    </p>

    <p>7. When UV gel enhancements cure, they _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_7" value="a"></td><td>a) harden to a solid material </td></tr>
  		  <tr><td><input type="radio" name="nails_18_7" value="b"></td><td>b) soften and remove easily </td></tr>
  		  <tr><td><input type="radio" name="nails_18_7" value="c"></td><td>c) become cooler </td></tr>
  		  <tr><td><input type="radio" name="nails_18_7" value="d"></td><td>d) become more viscous </td></tr>
  		</table>
    </p>

    <p>8. A _______ resin is used for the one-color method of UV gel enhancement for clients who wish to wear colored polish or UV gel polish over the enhancement. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_8" value="a"></td><td>a) white </td></tr>
  		  <tr><td><input type="radio" name="nails_18_8" value="b"></td><td>b) red </td></tr>
  		  <tr><td><input type="radio" name="nails_18_8" value="c"></td><td>c) pink </td></tr>
  		  <tr><td><input type="radio" name="nails_18_8" value="d"></td><td>d) clear </td></tr>
  		</table>
    </p>
    
    <p>9. Which type of gel product is used to increase adhesion to the natural nail plate? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_9" value="a"></td><td>a) UV building gel </td></tr>
  		  <tr><td><input type="radio" name="nails_18_9" value="b"></td><td>b) Pigmented UV gel </td></tr>
  		  <tr><td><input type="radio" name="nails_18_9" value="c"></td><td>c) UV bonding gel </td></tr>
  		  <tr><td><input type="radio" name="nails_18_9" value="d"></td><td>d) Self-leveling UV gel </td></tr>
  		</table>
    </p>
    
    <p>10. Which type of UV gel is used to enhance the thickness of other gels while providing a smoother surface than some other UV building gels? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_10" value="a"></td><td>a) Self-leveling UV gel </td></tr>
  		  <tr><td><input type="radio" name="nails_18_10" value="b"></td><td>b) Pigmented UV gel </td></tr>
  		  <tr><td><input type="radio" name="nails_18_10" value="c"></td><td>c) UV gel polish </td></tr>
  		  <tr><td><input type="radio" name="nails_18_10" value="d"></td><td>d) UV bonding gel </td></tr>
  		</table>
    </p>
    
    <p>11. UV building gels include any thick viscosity resin that allows the nail technician to build ________ to the fingernail.
 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_11" value="a"></td><td>a) bridge and curve </td></tr>
  		  <tr><td><input type="radio" name="nails_18_11" value="b"></td><td>b) curve and mound </td></tr>
  		  <tr><td><input type="radio" name="nails_18_11" value="c"></td><td>c) arch and slope </td></tr>
  		  <tr><td><input type="radio" name="nails_18_11" value="d"></td><td>d) arch and curve </td></tr>
  		</table>
    </p>
    
    <p>12. UV gloss gels are also called sealing gels, finishing gels, or _______ gels. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_12" value="a"></td><td>a) buffing </td></tr>
  		  <tr><td><input type="radio" name="nails_18_12" value="b"></td><td>b) patina </td></tr>
  		  <tr><td><input type="radio" name="nails_18_12" value="c"></td><td>c) shine </td></tr>
  		  <tr><td><input type="radio" name="nails_18_12" value="d"></td><td>d) luster </td></tr>
  		</table>
    </p>
    
    <p>13. Which type of UV gel does not produce an inhibition layer?
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_13" value="a"></td><td>a) Traditional gloss gel </td></tr>
  		  <tr><td><input type="radio" name="nails_18_13" value="b"></td><td>b) Tack-free gloss gel </td></tr>
  		  <tr><td><input type="radio" name="nails_18_13" value="c"></td><td>c) Bonding gel </td></tr>
  		  <tr><td><input type="radio" name="nails_18_13" value="d"></td><td>d) Self-leveling gel </td></tr>
  		</table>
    </p>
    
    <p>14. The tacky surface left on the nail after a UV gel has cured is known as the _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_14" value="a"></td><td>a) bonding seal </td></tr>
  		  <tr><td><input type="radio" name="nails_18_14" value="b"></td><td>b) sealing bond </td></tr>
  		  <tr><td><input type="radio" name="nails_18_14" value="c"></td><td>c) tack finish </td></tr>
  		  <tr><td><input type="radio" name="nails_18_14" value="d"></td><td>d) inhibition layer </td></tr>
  		</table>
    </p>
    
    <p>15. What does nail primer do? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_15" value="a"></td><td>a) Properly cures the gel product </td></tr>
  		  <tr><td><input type="radio" name="nails_18_15" value="b"></td><td>b) Improves adhesion of the gel product </td></tr>
  		  <tr><td><input type="radio" name="nails_18_15" value="c"></td><td>c) Spreads the gel product </td></tr>
  		  <tr><td><input type="radio" name="nails_18_15" value="d"></td><td>d) Secures the gel product </td></tr>
  		</table>
    </p>
    
    <p>16. It is recommended that you select a ________ abrasive for smoothing when performing UV gel services. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_16" value="a"></td><td>a) coarse </td></tr>
  		  <tr><td><input type="radio" name="nails_18_16" value="b"></td><td>b) extra coarse </td></tr>
  		  <tr><td><input type="radio" name="nails_18_16" value="c"></td><td>c) medium </td></tr>
  		  <tr><td><input type="radio" name="nails_18_16" value="d"></td><td>d) fine </td></tr>
  		</table>
    </p>
    
    <p>17. If your client returns to the salon often with her enhancements broken, it is recommended that you try_______.  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_17" value="a"></td><td>a) a UV gel with fiberglass </td></tr>
  		  <tr><td><input type="radio" name="nails_18_17" value="b"></td><td>b) a self-leveling UV gel</td></tr>
  		  <tr><td><input type="radio" name="nails_18_17" value="c"></td><td>c) a thicker UV gel </td></tr>
  		  <tr><td><input type="radio" name="nails_18_17" value="d"></td><td>d) a thinner UV gel </td></tr>
  		</table>
    </p>
    
    <p>18. The special bulb that is used to cure UV gel nail enhancements is known as a ______ bulb. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_18" value="a"></td><td>a) halogen </td></tr>
  		  <tr><td><input type="radio" name="nails_18_18" value="b"></td><td>b) soft white </td></tr>
  		  <tr><td><input type="radio" name="nails_18_18" value="c"></td><td>c) UV or LED </td></tr>
  		  <tr><td><input type="radio" name="nails_18_18" value="d"></td><td>d) flourescent </td></tr>
  		</table>
    </p>

    <p>19. The specialized electronic device that powders and controls UV and LED bulbs to cure gel nail enhancements is known as a________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_19" value="a"></td><td>a) UV bulb </td></tr>
  		  <tr><td><input type="radio" name="nails_18_19" value="b"></td><td>b) UV or LED lamp </td></tr>
  		  <tr><td><input type="radio" name="nails_18_19" value="c"></td><td>c) curing light unit </td></tr>
  		  <tr><td><input type="radio" name="nails_18_19" value="d"></td><td>d) electric light control </td></tr>
  		</table>
    </p>

    <p>20. Which of the following is a measurement of how much electricity is consumed by a UV lamp? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_21" value="a"></td><td>a) Wattage </td></tr>
  		  <tr><td><input type="radio" name="nails_18_21" value="b"></td><td>b) Voltage </td></tr>
  		  <tr><td><input type="radio" name="nails_18_21" value="c"></td><td>c) Opacity </td></tr>
  		  <tr><td><input type="radio" name="nails_18_21" value="d"></td><td>d) Viscosity </td></tr>
  		</table>
    </p>

    <p>21. If UV bulbs are not changed regularly, service breakdown, skin irritation, and ______ are likely to occur. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_22" value="a"></td><td>a) high electric bills </td></tr>
  		  <tr><td><input type="radio" name="nails_18_22" value="b"></td><td>b) irrtating glare </td></tr>
  		  <tr><td><input type="radio" name="nails_18_22" value="c"></td><td>c) light dimming </td></tr>
  		  <tr><td><input type="radio" name="nails_18_22" value="d"></td><td>d) product sensitivity </td></tr>
  		</table>
    </p>

    <p>22. Which of the following is considered one of several standard UV bulbs? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_22" value="a"></td><td>a) 60-watt </td></tr>
  		  <tr><td><input type="radio" name="nails_18_22" value="b"></td><td>b) 3-watt </td></tr>
  		  <tr><td><input type="radio" name="nails_18_22" value="c"></td><td>c) 9-watt </td></tr>
  		  <tr><td><input type="radio" name="nails_18_22" value="d"></td><td>d) 12-watt </td></tr>
  		</table>
    </p>

    <p>23. If you do not have the UV gel manufacturer's recommended cleanser, you should use _________ isopropanol or better. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_23" value="a"></td><td>a) 80 percent </td></tr>
  		  <tr><td><input type="radio" name="nails_18_23" value="b"></td><td>b) 99 percent </td></tr>
  		  <tr><td><input type="radio" name="nails_18_23" value="c"></td><td>c) 75 percent </td></tr>
  		  <tr><td><input type="radio" name="nails_18_23" value="d"></td><td>d) 89 percent </td></tr>
  		</table>
    </p>

    <p>24. Gels commonly are have _______ than monomer polymer nail enhancements. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_24" value="a"></td><td>a) fewer colors </td></tr>
  		  <tr><td><input type="radio" name="nails_18_24" value="b"></td><td>b) more colors </td></tr>
  		  <tr><td><input type="radio" name="nails_18_24" value="c"></td><td>c) less odors </td></tr>
  		  <tr><td><input type="radio" name="nails_18_24" value="d"></td><td>d) less colors </td></tr>
  		</table>
    </p>

    <p>25. Gel polishes contain _________, cure under LED or UV light, and wear longer than traditional nail polish. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_25" value="a"></td><td>a) less or no solvent </td></tr>
  		  <tr><td><input type="radio" name="nails_18_25" value="b"></td><td>b) less viscosity </td></tr>
  		  <tr><td><input type="radio" name="nails_18_25" value="c"></td><td>c) more solvent </td></tr>
  		  <tr><td><input type="radio" name="nails_18_25" value="d"></td><td>d) more viscosity </td></tr>
  		</table>
    </p>

    <p>26. Using the wrong LED light source on gel polish could drastically affect the _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_26" value="a"></td><td>a) curing of the polish </td></tr>
  		  <tr><td><input type="radio" name="nails_18_26" value="b"></td><td>b) softening of the polish </td></tr>
  		  <tr><td><input type="radio" name="nails_18_26" value="c"></td><td>c) spreading of the polish </td></tr>
  		  <tr><td><input type="radio" name="nails_18_26" value="d"></td><td>d) durability of the polish </td></tr>
  		</table>
    </p>

    <p>27. Cured gel polish systerms will ________ if the client hits her hands while the nail lacquer is still drying. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_27" value="a"></td><td>a) spread evenly </td></tr>
  		  <tr><td><input type="radio" name="nails_18_27" value="b"></td><td>b) resist further drying </td></tr>
  		  <tr><td><input type="radio" name="nails_18_27" value="c"></td><td>c) not imprint or smudge </td></tr>
  		  <tr><td><input type="radio" name="nails_18_27" value="d"></td><td>d) not dry properly </td></tr>
  		</table>
    </p>

    <p>28. Soft UV gels are removed fairly easily with  ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_28" value="a"></td><td>a) polish remover </td></tr>
  		  <tr><td><input type="radio" name="nails_18_28" value="b"></td><td>b) acetone </td></tr>
  		  <tr><td><input type="radio" name="nails_18_28" value="c"></td><td>c) primer </td></tr>
  		  <tr><td><input type="radio" name="nails_18_28" value="d"></td><td>d) inhibitor </td></tr>
  		</table>
    </p>

    <p>29. When performing a one-color UV gel application in tips, use a _________ cleanser to remove oils ffrom the fingernail prior to apply the tips. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_29" value="a"></td><td>a) solvent-based </td></tr>
  		  <tr><td><input type="radio" name="nails_18_29" value="b"></td><td>b) solute </td></tr>
  		  <tr><td><input type="radio" name="nails_18_29" value="c"></td><td>c) acetone </td></tr>
  		  <tr><td><input type="radio" name="nails_18_29" value="d"></td><td>d) primer-based </td></tr>
  		</table>
    </p>
  
    <p>30. When performing a one-color UV gel application, it is recommonded that the brush be _________ when applying the bonding or priming material. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_30" value="a"></td><td>a) dry </td></tr>
  		  <tr><td><input type="radio" name="nails_18_30" value="b"></td><td>b) wet </td></tr>
  		  <tr><td><input type="radio" name="nails_18_30" value="c"></td><td>c) very wet </td></tr>
  		  <tr><td><input type="radio" name="nails_18_30" value="d"></td><td>d) slightly damp </td></tr>
  		</table>
    </p>

    <p>31. When applying UV gel, gently brush UV or LED gel onto the finger nail surface, including free edge, leaving a _______ inch gap around the cuticle and sidewall area of the fingernail. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_31" value="a"></td><td>a) 1/16 </td></tr>
  		  <tr><td><input type="radio" name="nails_18_31" value="b"></td><td>b) 3/16 </td></tr>
  		  <tr><td><input type="radio" name="nails_18_31" value="c"></td><td>c) 1/8 </td></tr>
  		  <tr><td><input type="radio" name="nails_18_31" value="d"></td><td>d) 1/4 </td></tr>
  		</table>
    </p>

    <p>32. Introducing air into the UV gel with reduce the strength of the cured gel and may lead to ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_32" value="a"></td><td>a) lifting and splitting </td></tr>
  		  <tr><td><input type="radio" name="nails_18_32" value="b"></td><td>b) splitting and cracking </td></tr>
  		  <tr><td><input type="radio" name="nails_18_32" value="c"></td><td>c) bubbles and cracking </td></tr>
  		  <tr><td><input type="radio" name="nails_18_32" value="d"></td><td>d) lifting and falling off </td></tr>
  		</table>
    </p>

    <p>33. The nail plate will soften upon exposure to acetone and the scraping action could cause damage and alter the _______ of the fingernail. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_33" value="a"></td><td>a) length </td></tr>
  		  <tr><td><input type="radio" name="nails_18_33" value="b"></td><td>b) strength </td></tr>
  		  <tr><td><input type="radio" name="nails_18_33" value="c"></td><td>c) shape </td></tr>
  		  <tr><td><input type="radio" name="nails_18_33" value="d"></td><td>d) color </td></tr>
  		</table>
    </p>

    <p>34. When performing a one-color UV gel application, after the first layer of gel has cured, it is recommended that you apply a small amount of _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_34" value="a"></td><td>a) self-leveling UV gel </td></tr>
  		  <tr><td><input type="radio" name="nails_18_34" value="b"></td><td>b) UV building gel </td></tr>
  		  <tr><td><input type="radio" name="nails_18_34" value="c"></td><td>c) UV bonding gel </td></tr>
  		  <tr><td><input type="radio" name="nails_18_34" value="d"></td><td>d) UV gloss gel </td></tr>
  		</table>
    </p>

    <p>35. After filing a cured UV gel enhancement, it is recommended that you use a _________ to remove any dust and filings from the nail. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_35" value="a"></td><td>a) disinfected sable brush </td></tr>
  		  <tr><td><input type="radio" name="nails_18_35" value="b"></td><td>b) disinfected nylon brush </td></tr>
  		  <tr><td><input type="radio" name="nails_18_35" value="c"></td><td>c) damp paper towel </td></tr>
  		  <tr><td><input type="radio" name="nails_18_35" value="d"></td><td>d) damp linen towel </td></tr>
  		</table>
    </p>

    <p>36. During a UV gel aplication, it is important to keep the brush and gel away from sunlight, UV gel lamps, and full-spectrum table lamps to prevent _______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_36" value="a"></td><td>a) overexposure of the fingers </td></tr>
  		  <tr><td><input type="radio" name="nails_18_36" value="b"></td><td>b) overexposure to heat </td></tr>
  		  <tr><td><input type="radio" name="nails_18_36" value="c"></td><td>c) overexposure to UV light </td></tr>
  		  <tr><td><input type="radio" name="nails_18_36" value="d"></td><td>d) premature hardening </td></tr>
  		</table>
    </p>

    <p>37. If the curve of the tip does not match the curve of the nail and the tip is spread ________, then the tips could crack lengthwise down the center. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_37" value="a"></td><td>a) too wide </td></tr>
  		  <tr><td><input type="radio" name="nails_18_37" value="b"></td><td>b) a little wide </td></tr>
  		  <tr><td><input type="radio" name="nails_18_37" value="c"></td><td>c) too thin </td></tr>
  		  <tr><td><input type="radio" name="nails_18_37" value="d"></td><td>d) fully flat </td></tr>
  		</table>
    </p>

    <p>38. To create the smile line when performing a two-color UV gel application, you apply a coat of the white gel over the ______.
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_38" value="a"></td><td>a) tip and along sidewalls </td></tr>
  		  <tr><td><input type="radio" name="nails_18_38" value="b"></td><td>b) along the free edge </td></tr>
  		  <tr><td><input type="radio" name="nails_18_38" value="c"></td><td>c) lunula and along the sidewalls </td></tr>
  		  <tr><td><input type="radio" name="nails_18_38" value="d"></td><td>d) down the center of the nail </td></tr>
  		</table>
    </p>

    <p>39. Compared to less opaque pigmented gels, more opaque pigmented gels typically ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_39" value="a"></td><td>a) have the same viscosity </td></tr>
  		  <tr><td><input type="radio" name="nails_18_39" value="b"></td><td>b) have little viscosity </td></tr>
  		  <tr><td><input type="radio" name="nails_18_39" value="c"></td><td>c) are thicker in viscosity </td></tr>
  		  <tr><td><input type="radio" name="nails_18_39" value="d"></td><td>d) are thinner in viscosity </td></tr>
  		</table>
    </p>

    <p>40. When performing a two-color UV gel aplication, what is the next recommended step after removing the inhibition layer from the second layer of UV gel? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_40" value="a"></td><td>a) Clean the fingernail </td></tr>
  		  <tr><td><input type="radio" name="nails_18_40" value="b"></td><td>b) Check the fingernail contours </td></tr>
  		  <tr><td><input type="radio" name="nails_18_40" value="c"></td><td>c) Apply nail oil </td></tr>
  		  <tr><td><input type="radio" name="nails_18_40" value="d"></td><td>d) Apply gloss UV gel </td></tr>
  		</table>
    </p>

    <p>41. When performing a UV gel aplication over forms, you will need UV gel, primer, brush, lamp, lint-free cleansing wipes, and ______.
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_41" value="a"></td><td>a) nippers </td></tr>
  		  <tr><td><input type="radio" name="nails_18_41" value="b"></td><td>b) metal files </td></tr>
  		  <tr><td><input type="radio" name="nails_18_41" value="c"></td><td>c) cleansing solution </td></tr>
  		  <tr><td><input type="radio" name="nails_18_41" value="d"></td><td>d) inhibitor </td></tr>
  		</table>
    </p>

    <p>42. When performing a UV gel maintenance service, after cleasing and dehydrating the fingernail, the next step is to ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_42" value="a"></td><td>a) lightly buff the natural nail regrowth </td></tr>
  		  <tr><td><input type="radio" name="nails_18_42" value="b"></td><td>b) remove the dust from the nail surface </td></tr>
  		  <tr><td><input type="radio" name="nails_18_42" value="c"></td><td>c) lightly brush the gel on the nail </td></tr>
  		  <tr><td><input type="radio" name="nails_18_42" value="d"></td><td>d) cure the first UV gel </td></tr>
  		</table>
    </p>

    <p>43. When performing a UV gel polish application over a monomer and polymer enhancement, it is recommended that you use ________ when applying the first coat of gel polish. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_43" value="a"></td><td>a) very little pressure </td></tr>
  		  <tr><td><input type="radio" name="nails_18_43" value="b"></td><td>b) ample pressure </td></tr>
  		  <tr><td><input type="radio" name="nails_18_43" value="c"></td><td>c) a dotting technique </td></tr>
  		  <tr><td><input type="radio" name="nails_18_43" value="d"></td><td>d) a circular technique </td></tr>
  		</table>
    </p>

   <p>44. What is the recommended method for removing a soft UV gel appliccation? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_18_44" value="a"></td><td>a) soaking nails in soak-off solution, then pushing it off ith a wooden pusher </td></tr>
  		  <tr><td><input type="radio" name="nails_18_44" value="b"></td><td>b) lightly buff the fingernail with a fine grit buffer </td></tr>
  		  <tr><td><input type="radio" name="nails_18_44" value="c"></td><td>c) clean the nail enhancements with a nail brush </td></tr>
  		  <tr><td><input type="radio" name="nails_18_44" value="d"></td><td>d) soak nail in warm water, then ry off with nippers </td></tr>
  		</table>
    </p>

  </form>
  
  <button id="submitExam" class="btn btn-lg btn-primary">Submit</button>

</body>
</html>

