<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#submitExam").click(function(){
      var questionAnswerObj = {};
      $('#myForm input[type=radio]:checked').each(function(){
  		  questionAnswerObj[this.name] = this.value;
  	  }); 
  
      $.ajax({
        type:'POST',
        url:'/submit_Exam',
        data: { questionAnswerObj: JSON.stringify(questionAnswerObj) },
        success:function(result){
          var i;
          var out = "<table class=\"table table-striped\">";
          out += "<th>Question #</th><th>Answer Key</th><th>Your Answer Is</th>";
          x = result;
          $("#answers").empty();
          for (i = 0; i < x.length; i++) {
            out +=  "<tr><td>"  +  x[i].question_number + 
                    "</td><td>" +  x[i].answer_key +
                    "</td><td>" + x[i].your_answer + "</td></tr>";
          }
          out += "</table>";
          $("#answers").append(out);

        }
      }); // ajax
    }); // #submitExam
  });
</script>
</head>
<body>

  <h2>Chapter 13: MANICURING</h2>
  <hr>

  <form id="myForm" >

    <p>1. The list of services that you are legally allowed to perform in your specialty as set forth by the regulatory agency in your state is known as your_________.</p>
		<table class="table table-condensed">
		  <tr><td><input type="radio" name="nails_13_1" value="a"></td><td>a) realm of practice </td></tr>
		  <tr><td><input type="radio" name="nails_13_1" value="b"></td><td>b) state practice guidelines </td></tr>
		  <tr><td><input type="radio" name="nails_13_1" value="c"></td><td>c) scope of practice  </td></tr>
		  <tr><td><input type="radio" name="nails_13_1" value="d"></td><td>d) safety practice oversight  </td></tr>
		</table>
    </p>

    <p>2. It is recommended that you use a _________bulb in the lamp attached to your manicure table.  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_2" value="a"></td><td>a) 20- to 40- watt incandescent </td></tr>
		  <tr><td><input type="radio" name="nails_13_2" value="b"></td><td>b) 40- to 60- watt incandescent </td></tr>
		  <tr><td><input type="radio" name="nails_13_2" value="c"></td><td>c) 75- to 100- watt incandescent </td></tr>
		  <tr><td><input type="radio" name="nails_13_2" value="d"></td><td>d) 12- watt incandescent </td></tr>
  		</table>
    </p>

    <p>3. The Universal Precautions include guidelines in the use of gloves, masks, and eyewear when contact with blood or _________ is a possibility. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_3" value="a"></td><td>a) 20- to 40- watt incandescent </td></tr>
  		  <tr><td><input type="radio" name="nails_13_3" value="b"></td><td>b) 40- to 60- watt incandescent </td></tr>
  		  <tr><td><input type="radio" name="nails_13_3" value="c"></td><td>c) 75- to 100- watt incandescent </td></tr>
  		  <tr><td><input type="radio" name="nails_13_3" value="d"></td><td>d) 12- watt incandescent </td></tr>
  		</table>
    </p>

    <p>4. The fingerbowl is used for soaking the client's fingers in warm water to soften the skin and can be made of plastic, _________, or glass. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_4" value="a"></td><td>a) wood </td></tr>
  		  <tr><td><input type="radio" name="nails_13_4" value="b"></td><td>b) metal </td></tr>
  		  <tr><td><input type="radio" name="nails_13_4" value="c"></td><td>c) acrylic </td></tr>
  		  <tr><td><input type="radio" name="nails_13_4" value="d"></td><td>d) cement </td></tr>
  		</table>
    </p>

    <p>5. Disinfection containers must _________ to ensure disinfectant solution does not become contaminated. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_5" value="a"></td><td>a) be made of glass </td></tr>
  		  <tr><td><input type="radio" name="nails_13_5" value="b"></td><td>b) be made of plastic </td></tr>
  		  <tr><td><input type="radio" name="nails_13_5" value="c"></td><td>c) have a lid </td></tr>
  		  <tr><td><input type="radio" name="nails_13_5" value="d"></td><td>d) hold two quarts </td></tr>
  		</table>
    </p>

    <p>6. What should you use to cover the client's arm cushion? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_6" value="a"></td><td>a) Nothing </td></tr>
  		  <tr><td><input type="radio" name="nails_13_6" value="b"></td><td>b) A clean towel </td></tr>
  		  <tr><td><input type="radio" name="nails_13_6" value="c"></td><td>c) White paper </td></tr>
  		  <tr><td><input type="radio" name="nails_13_6" value="d"></td><td>d) Plastic wrap </td></tr>
  		</table>
    </p>

    <p>7. Electric mitts are used to _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_7" value="a"></td><td>a) inhibit the penetration of conditioning ingredients </td></tr>
  		  <tr><td><input type="radio" name="nails_13_7" value="b"></td><td>b) provide for the ultimate relaxation of the client </td></tr>
  		  <tr><td><input type="radio" name="nails_13_7" value="c"></td><td>c) keep the client's hands cool and stable </td></tr>
  		  <tr><td><input type="radio" name="nails_13_7" value="d"></td><td>d) prepare the hands or feet for massage </td></tr>
  		</table>
    </p>

    <p>8. Multiple use and single use tools used to perform nail services are called _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_8" value="a"></td><td>a) supplies </td></tr>
  		  <tr><td><input type="radio" name="nails_13_8" value="b"></td><td>b) materials </td></tr>
  		  <tr><td><input type="radio" name="nails_13_8" value="c"></td><td>c) equipment </td></tr>
  		  <tr><td><input type="radio" name="nails_13_8" value="d"></td><td>d) implements </td></tr>
  		</table>
    </p>
    
    <p>9. Disposable implements _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_9" value="a"></td><td>a) are generally made of stainless steel </td></tr>
  		  <tr><td><input type="radio" name="nails_13_9" value="b"></td><td>b) are generally made of nickel-plate metal </td></tr>
  		  <tr><td><input type="radio" name="nails_13_9" value="c"></td><td>c) must be throw away after a single use </td></tr>
  		  <tr><td><input type="radio" name="nails_13_9" value="d"></td><td>d) must be throw away after several uses </td></tr>
  		</table>
    </p>
    
    <p>10. Tweezers are multitask implements that can be used to _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_10" value="a"></td><td>a) trim the cuticle of the nail </td></tr>
  		  <tr><td><input type="radio" name="nails_13_10" value="b"></td><td>b) lift small bits of debris from the nail plate </td></tr>
  		  <tr><td><input type="radio" name="nails_13_10" value="c"></td><td>c) trim the edge of the nail </td></tr>
  		  <tr><td><input type="radio" name="nails_13_10" value="d"></td><td>d) place cotton between the toes </td></tr>
  		</table>
    </p>
    
    <p>11. Which of the following is used to shorten the nail plate quickly and effectively?
 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_11" value="a"></td><td>a) Nail clippers </td></tr>
  		  <tr><td><input type="radio" name="nails_13_11" value="b"></td><td>b) Nippers </td></tr>
  		  <tr><td><input type="radio" name="nails_13_11" value="c"></td><td>c) Nail file </td></tr>
  		  <tr><td><input type="radio" name="nails_13_11" value="d"></td><td>d) Metal pusher </td></tr>
  		</table>
    </p>
    
    <p>12. How many complete sets of implements should a professional nail technician have on hand? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_12" value="a"></td><td>a) One </td></tr>
  		  <tr><td><input type="radio" name="nails_13_12" value="b"></td><td>b) Two </td></tr>
  		  <tr><td><input type="radio" name="nails_13_12" value="c"></td><td>c) Three </td></tr>
  		  <tr><td><input type="radio" name="nails_13_12" value="d"></td><td>d) Five or more </td></tr>
  		</table>
    </p>
    
    <p>13. The rule of thumb with nail files is _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_13" value="a"></td><td>a) the lower the grit, the smaller the abrasive particles </td></tr>
  		  <tr><td><input type="radio" name="nails_13_13" value="b"></td><td>b) the lower the grit, the more aggressive its action </td></tr>
  		  <tr><td><input type="radio" name="nails_13_13" value="c"></td><td>c) the higher the grit, the larger the abrasive particles </td></tr>
  		  <tr><td><input type="radio" name="nails_13_13" value="d"></td><td>d) the higher the grit, the more aggressive its action </td></tr>
  		</table>
    </p>
    
    <p>14. A buffer with a grit of 180 is considered to be a _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_14" value="a"></td><td>a) medium-grit abrasive </td></tr>
  		  <tr><td><input type="radio" name="nails_13_14" value="b"></td><td>b) fine-grit abrasive </td></tr>
  		  <tr><td><input type="radio" name="nails_13_14" value="c"></td><td>c) coarse-grit abrasive </td></tr>
  		  <tr><td><input type="radio" name="nails_13_14" value="d"></td><td>d) Minimal-grit abrasive </td></tr>
  		</table>
    </p>
    
    <p>15. Fine-grit abrasives are recommended for all but which of the following? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_15" value="a"></td><td>a) Buffing the nail </td></tr>
  		  <tr><td><input type="radio" name="nails_13_15" value="b"></td><td>b) Removing fine scratches </td></tr>
  		  <tr><td><input type="radio" name="nails_13_15" value="c"></td><td>c) Shortening the nail </td></tr>
  		  <tr><td><input type="radio" name="nails_13_15" value="d"></td><td>d) Polishing the nail </td></tr>
  		</table>
    </p>
    
    <p>16. Soaps acts as an infection-control tool during the pre-service hand washing procedure and is known to remove over _________ percent of pathogenic microbes from the hands, it performed properly. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_16" value="a"></td><td>a) 30 </td></tr>
  		  <tr><td><input type="radio" name="nails_13_16" value="b"></td><td>b) 70 </td></tr>
  		  <tr><td><input type="radio" name="nails_13_16" value="c"></td><td>c) 50 </td></tr>
  		  <tr><td><input type="radio" name="nails_13_16" value="d"></td><td>d) 90 </td></tr>
  		</table>
    </p>
    
    <p>17. What are the two basic types of polish removers?  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_17" value="a"></td><td>a) alcohol and peroxide </td></tr>
  		  <tr><td><input type="radio" name="nails_13_17" value="b"></td><td>b) acetone and non-acetone </td></tr>
  		  <tr><td><input type="radio" name="nails_13_17" value="c"></td><td>c) lanolin and glycerin </td></tr>
  		  <tr><td><input type="radio" name="nails_13_17" value="d"></td><td>d) soap and acetone </td></tr>
  		</table>
    </p>
    
    <p>18. Nail creams are designed to _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_18" value="a"></td><td>a) Hold sub-dermal moisture in the skin </td></tr>
  		  <tr><td><input type="radio" name="nails_13_18" value="b"></td><td>b) Absorb into the nail plate </td></tr>
  		  <tr><td><input type="radio" name="nails_13_18" value="c"></td><td>c) Make the nail plate more flexible </td></tr>
  		  <tr><td><input type="radio" name="nails_13_18" value="d"></td><td>d) Strengthen the skin around the nail </td></tr>
  		</table>
    </p>

    <p>19. Which of the following is designed to loosen and dissolve dead tissue on the nail plate so it can be more easily and thoroughly removed from nail plate? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_19" value="a"></td><td>a) Nail oil </td></tr>
  		  <tr><td><input type="radio" name="nails_13_19" value="b"></td><td>b) Nail bleach </td></tr>
  		  <tr><td><input type="radio" name="nails_13_19" value="c"></td><td>c) Nail dehydrator </td></tr>
  		  <tr><td><input type="radio" name="nails_13_19" value="d"></td><td>d) Cuticle remover </td></tr>
  		</table>
    </p>

    <p>20. Protein hardener is commonly composed of what two ingredients? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_21" value="a"></td><td>a) Clear polish and collagen </td></tr>
  		  <tr><td><input type="radio" name="nails_13_21" value="b"></td><td>b) Colored polish and collagen </td></tr>
  		  <tr><td><input type="radio" name="nails_13_21" value="c"></td><td>c) Clear polish and formaldehyde </td></tr>
  		  <tr><td><input type="radio" name="nails_13_21" value="d"></td><td>d) Colored polish and formaldehyde </td></tr>
  		</table>
    </p>

    <p>21. Nail plate hardeners contain methylene glycol, an ingredient that creates _________ between the keratin strands that make up the natural nail. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_22" value="a"></td><td>a) ridges of furrows </td></tr>
  		  <tr><td><input type="radio" name="nails_13_22" value="b"></td><td>b) connection </td></tr>
  		  <tr><td><input type="radio" name="nails_13_22" value="c"></td><td>c) bridges or crosslinks </td></tr>
  		  <tr><td><input type="radio" name="nails_13_22" value="d"></td><td>d) gap closers </td></tr>
  		</table>
    </p>

    <p>22. Compared to methylene glycol hardeners, dimethyl urea hardeners _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_22" value="a"></td><td>a) work more slowly </td></tr>
  		  <tr><td><input type="radio" name="nails_13_22" value="b"></td><td>b) cause more adverse skin reactions </td></tr>
  		  <tr><td><input type="radio" name="nails_13_22" value="c"></td><td>c) over-harden the nail </td></tr>
  		  <tr><td><input type="radio" name="nails_13_22" value="d"></td><td>d) are less convenient </td></tr>
  		</table>
    </p>

    <p>23. A base coat creates a colorless layer on the natural nail and nail enhancement that promotes_________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_23" value="a"></td><td>a) a smoother finish </td></tr>
  		  <tr><td><input type="radio" name="nails_13_23" value="b"></td><td>b) the adhesion finish </td></tr>
  		  <tr><td><input type="radio" name="nails_13_23" value="c"></td><td>c) a shinier finish </td></tr>
  		  <tr><td><input type="radio" name="nails_13_23" value="d"></td><td>d) the use of less color </td></tr>
  		</table>
    </p>

    <p>24. It is recommended that you work to get your basic manicure procedure to _________ before you leave your school environment. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_24" value="a"></td><td>a) 25 - 30 minutes </td></tr>
  		  <tr><td><input type="radio" name="nails_13_24" value="b"></td><td>b) 30 - 45 minutes </td></tr>
  		  <tr><td><input type="radio" name="nails_13_24" value="c"></td><td>c) 45 - 60 minutes </td></tr>
  		  <tr><td><input type="radio" name="nails_13_24" value="d"></td><td>d) 60 - 90 minutes </td></tr>
  		</table>
    </p>

    <p>25. The _________ nail is completely straight across the free edge, with no rounding at the outside edges. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_25" value="a"></td><td>a) round </td></tr>
  		  <tr><td><input type="radio" name="nails_13_25" value="b"></td><td>b) oval </td></tr>
  		  <tr><td><input type="radio" name="nails_13_25" value="c"></td><td>c) square </td></tr>
  		  <tr><td><input type="radio" name="nails_13_25" value="d"></td><td>d) squoval </td></tr>
  		</table>
    </p>


    <p>26. A _________ nail is one with a square free edge that is rounded off at the corner edges. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_26" value="a"></td><td>a) round </td></tr>
  		  <tr><td><input type="radio" name="nails_13_26" value="b"></td><td>b) pointed </td></tr>
  		  <tr><td><input type="radio" name="nails_13_26" value="c"></td><td>c) square </td></tr>
  		  <tr><td><input type="radio" name="nails_13_26" value="d"></td><td>d) squoval </td></tr>
  		</table>
    </p>


    <p>27. Lighter shades are generally recommended for which seasons? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_27" value="a"></td><td>a) Spring and summer </td></tr>
  		  <tr><td><input type="radio" name="nails_13_27" value="b"></td><td>b) Summer and autumn </td></tr>
  		  <tr><td><input type="radio" name="nails_13_27" value="c"></td><td>c) Autumn and winter </td></tr>
  		  <tr><td><input type="radio" name="nails_13_27" value="d"></td><td>d) Winter and spring </td></tr>
  		</table>
    </p>

    <p>28. What is the recommended method for mixing nail polish in the bottle? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_28" value="a"></td><td>a) Stirring it with the nail polish brush </td></tr>
  		  <tr><td><input type="radio" name="nails_13_28" value="b"></td><td>b) Shaking the bottle from side to side </td></tr>
  		  <tr><td><input type="radio" name="nails_13_28" value="c"></td><td>c) Rolling the bottle between your palms </td></tr>
  		  <tr><td><input type="radio" name="nails_13_28" value="d"></td><td>d) Shaking the bottle up and down </td></tr>
  		</table>
    </p>

    <p>29. The most successful nail polish application is achieved by applying how many coats? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_29" value="a"></td><td>a) One </td></tr>
  		  <tr><td><input type="radio" name="nails_13_29" value="b"></td><td>b) Two </td></tr>
  		  <tr><td><input type="radio" name="nails_13_29" value="c"></td><td>c) Three </td></tr>
  		  <tr><td><input type="radio" name="nails_13_29" value="d"></td><td>d) Four </td></tr>
  		</table>
    </p>
  
    <p>30. A man's manicure is performed using the same procedures as described in the basic manicure, though you omit the colored polish and _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_30" value="a"></td><td>a) apply dehydrator for a dull finish </td></tr>
  		  <tr><td><input type="radio" name="nails_13_30" value="b"></td><td>b) exfoliate the eponychium </td></tr>
  		  <tr><td><input type="radio" name="nails_13_30" value="c"></td><td>c) buff with a high-shine buffer </td></tr>
  		  <tr><td><input type="radio" name="nails_13_30" value="d"></td><td>d) apply a spa hand mask </td></tr>
  		</table>
    </p>

    <p>31. The manipulation of the soft tissues of the body called _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_31" value="a"></td><td>a) chiropractic </td></tr>
  		  <tr><td><input type="radio" name="nails_13_31" value="b"></td><td>b) aromatherapy </td></tr>
  		  <tr><td><input type="radio" name="nails_13_31" value="c"></td><td>c) a manicure </td></tr>
  		  <tr><td><input type="radio" name="nails_13_31" value="d"></td><td>d) massage </td></tr>
  		</table>
    </p>

    <p>32. Which type of massage is also known as kneading? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_32" value="a"></td><td>a) Tapotement </td></tr>
  		  <tr><td><input type="radio" name="nails_13_32" value="b"></td><td>b) Friction </td></tr>
  		  <tr><td><input type="radio" name="nails_13_32" value="c"></td><td>c) Petrissage </td></tr>
  		  <tr><td><input type="radio" name="nails_13_32" value="d"></td><td>d) Effleurage </td></tr>
  		</table>
    </p>


    <p>33. Result-oriented spa manicure are sometimes called _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_33" value="a"></td><td>a) pedicures </td></tr>
  		  <tr><td><input type="radio" name="nails_13_33" value="b"></td><td>b) treatment manicures </td></tr>
  		  <tr><td><input type="radio" name="nails_13_33" value="c"></td><td>c) mani-pedicures </td></tr>
  		  <tr><td><input type="radio" name="nails_13_33" value="d"></td><td>d) medi-manicures </td></tr>
  		</table>
    </p>


    <p>34. Which of the following involves the use of highly concentrated, non-oily, and volatile essential oils? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_34" value="a"></td><td>a) Aromatherapy </td></tr>
  		  <tr><td><input type="radio" name="nails_13_34" value="b"></td><td>b) Pedicure </td></tr>
  		  <tr><td><input type="radio" name="nails_13_34" value="c"></td><td>c) Effleurage </td></tr>
  		  <tr><td><input type="radio" name="nails_13_34" value="d"></td><td>d) Petrissage </td></tr>
  		</table>
    </p>


    <p>35. Paraffin wax treatments are designed to trap moisture in the skin while the_________ encourages skin pores to accept its benefits. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_35" value="a"></td><td>a) lotion </td></tr>
  		  <tr><td><input type="radio" name="nails_13_35" value="b"></td><td>b) chemicals </td></tr>
  		  <tr><td><input type="radio" name="nails_13_35" value="c"></td><td>c) wax </td></tr>
  		  <tr><td><input type="radio" name="nails_13_35" value="d"></td><td>d) heat </td></tr>
  		</table>
    </p>

    <p>36. Avoid paraffin treatments on anyone who has _________ or skin irritations such as cuts, , burns, rashes, warts, or eczema. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_36" value="a"></td><td>a) edema </td></tr>
  		  <tr><td><input type="radio" name="nails_13_36" value="b"></td><td>b) high stress </td></tr>
  		  <tr><td><input type="radio" name="nails_13_36" value="c"></td><td>c) diabetes </td></tr>
  		  <tr><td><input type="radio" name="nails_13_36" value="d"></td><td>d) imparired circulation </td></tr>
  		</table>
    </p>

    <p>37. Avoid paraffin treatments on anyone who has _________ or skin irritations such as cuts, , burns, rashes, warts, or eczema. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_37" value="a"></td><td>a) Lanolin </td></tr>
  		  <tr><td><input type="radio" name="nails_13_37" value="b"></td><td>b) Glycerin </td></tr>
  		  <tr><td><input type="radio" name="nails_13_37" value="c"></td><td>c) Paraffin </td></tr>
  		  <tr><td><input type="radio" name="nails_13_37" value="d"></td><td>d) Mineral oil </td></tr>
  		</table>
    </p>

    <p>38. When performing a basic manicure, it is recommended that you start with the  _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_38" value="a"></td><td>a) little finger on the client's left hand </td></tr>
  		  <tr><td><input type="radio" name="nails_13_38" value="b"></td><td>b) little finger on the client's right hand </td></tr>
  		  <tr><td><input type="radio" name="nails_13_38" value="c"></td><td>c) thumb on the client's left hand </td></tr>
  		  <tr><td><input type="radio" name="nails_13_38" value="d"></td><td>d) thumb on the client's right hand </td></tr>
  		</table>
    </p>

    <p>39. The second step in a pre-service procedure is to _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_39" value="a"></td><td>a) clean implements and place in disinfectant solution </td></tr>
  		  <tr><td><input type="radio" name="nails_13_39" value="b"></td><td>b) put on gloves to prevent contamination of implements </td></tr>
  		  <tr><td><input type="radio" name="nails_13_39" value="c"></td><td>c) rinse implements and wash with soap, a nail brush, and warm water </td></tr>
  		  <tr><td><input type="radio" name="nails_13_39" value="d"></td><td>d) rinse away all traces of soap with warm running water </td></tr>
  		</table>
    </p>

    <p>40. In preparation for a hand massage, apply massage lotion or cream and distribute enough to allow movement across the skin without resistance or _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_40" value="a"></td><td>a) opposition </td></tr>
  		  <tr><td><input type="radio" name="nails_13_40" value="b"></td><td>b) chafing </td></tr>
  		  <tr><td><input type="radio" name="nails_13_40" value="c"></td><td>c) skin wrinkling </td></tr>
  		  <tr><td><input type="radio" name="nails_13_40" value="d"></td><td>d) skin drag </td></tr>
  		</table>
    </p>

    <p>41. The third step in a post-service procedure is to_________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_41" value="a"></td><td>a) escort client to front desk and schedule next appointment </td></tr>
  		  <tr><td><input type="radio" name="nails_13_41" value="b"></td><td>b) advise clients regarding home maintenance </td></tr>
  		  <tr><td><input type="radio" name="nails_13_41" value="c"></td><td>c) condition the client's hands </td></tr>
  		  <tr><td><input type="radio" name="nails_13_41" value="d"></td><td>d) thank the client and give him/her an appointment card </td></tr>
  		</table>
    </p>

    <p>42. The dying time after a nail polish application should be _________ minimum. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_42" value="a"></td><td>a) 5 minutes </td></tr>
  		  <tr><td><input type="radio" name="nails_13_42" value="b"></td><td>b) 10 minutes </td></tr>
  		  <tr><td><input type="radio" name="nails_13_42" value="c"></td><td>c) 15 minutes </td></tr>
  		  <tr><td><input type="radio" name="nails_13_42" value="d"></td><td>d) 20 minutes </td></tr>
  		</table>
    </p>

    <p>43. How long should you allow the paraffin to remain on the client's hands during a paraffin wax treatment? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_13_43" value="a"></td><td>a) 3 - 5 seconds </td></tr>
  		  <tr><td><input type="radio" name="nails_13_43" value="b"></td><td>b) 3 - 5 minutes </td></tr>
  		  <tr><td><input type="radio" name="nails_13_43" value="c"></td><td>c) 5 - 10 minutes </td></tr>
  		  <tr><td><input type="radio" name="nails_13_43" value="d"></td><td>d) 10 - 20 minutes </td></tr>
  		</table>
    </p>

  </form>
  
  <button id="submitExam" class="btn btn-lg btn-primary">Submit</button>

</body>
</html>

