<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#submitExam").click(function(){
      var questionAnswerObj = {};
      $('#myForm input[type=radio]:checked').each(function(){
  		  questionAnswerObj[this.name] = this.value;
  	  }); 
  
      $.ajax({
        type:'POST',
        url:'/submit_Exam',
        data: { questionAnswerObj: JSON.stringify(questionAnswerObj) },
        success:function(result){
          var i;
          var out = "<table class=\"table table-striped\">";
          out += "<th>Question #</th><th>Answer Key</th><th>Your Answer Is</th>";
          x = result;
          $("#answers").empty();
          for (i = 0; i < x.length; i++) {
            out +=  "<tr><td>"  +  x[i].question_number + 
                    "</td><td>" +  x[i].answer_key +
                    "</td><td>" + x[i].your_answer + "</td></tr>";
          }
          out += "</table>";
          $("#answers").append(out);

        }
      }); // ajax
    }); // #submitExam
  });
</script>
</head>
<body>

  <h2>Chapter 5 -- Infection Control: Principles And Practices</h2>
  <hr>

  <form id="myForm" >

    <p>1.  A mechanical process using soap and water or detergent and water to remove dirt, debris, and many disease-causing germs is knows as _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  sanitizing</td><td><input type="radio" name="nails_1_1" value="a"></td></tr>
  		  <tr><td>b)  disinfecting</td><td><input type="radio" name="nails_1_1" value="b"></td></tr>
  		  <tr><td>c)  cleaning</td><td><input type="radio" name="nails_1_1" value="c"></td></tr>
  		  <tr><td>d)  sterilizing</td><td><input type="radio" name="nails_1_1" value="d"></td></tr>
  		</table>
    </p>

    <p>2.  A chemical process used to reduce the number of disease-causing germs on surfaces to a safe level is known as _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  sanitizing</td><td><input type="radio" name="nails_1_2" value="a"></td></tr>
  		  <tr><td>b)  disinfecting</td><td><input type="radio" name="nails_1_2" value="b"></td></tr>
  		  <tr><td>c)  cleaning</td><td><input type="radio" name="nails_1_2" value="c"></td></tr>
  		  <tr><td>d)  sterilizing</td><td><input type="radio" name="nails_1_2" value="d"></td></tr>
  		</table>
    </p>

    <p>3.  A chemical process that uses specific products to destroy organisms on nonporous surfaces is known as _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  sanitizing</td><td><input type="radio" name="nails_1_3" value="a"></td></tr>
  		  <tr><td>b)  disinfecting</td><td><input type="radio" name="nails_1_3" value="b"></td></tr>
  		  <tr><td>c)  cleaning</td><td><input type="radio" name="nails_1_3" value="c"></td></tr>
  		  <tr><td>d)  sterilizing</td><td><input type="radio" name="nails_1_3" value="d"></td></tr>
  		</table>
    </p>

    <p>4.  Regulations prohibit nail technicians from _____ the living skin and from removing callused skin, warts, corns, and in-grown toenails.
  		<table class="table table-condensed">
  		  <tr><td>a)  filing and buffing</td><td><input type="radio" name="nails_1_4" value="a"></td></tr>
  		  <tr><td>b)  sloughing and scrubbing</td><td><input type="radio" name="nails_1_4" value="b"></td></tr>
  		  <tr><td>c)  scraping and smoothing</td><td><input type="radio" name="nails_1_4" value="c"></td></tr>
  		  <tr><td>d)  cutting or puncturing</td><td><input type="radio" name="nails_1_4" value="d"></td></tr>
  		</table>
    </p>

    <p>5.  OSHA stands for _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  Organization of Safety and Health Administration</td><td><input type="radio" name="nails_1_5" value="a"></td></tr>
  		  <tr><td>b)  Oversight Section for Health Administration</td><td><input type="radio" name="nails_1_5" value="b"></td></tr>
  		  <tr><td>c)  Occupational Safety and Health Administration</td><td><input type="radio" name="nails_1_5" value="c"></td></tr>
  		  <tr><td>d)  Occupational Safety adn Health Association</td><td><input type="radio" name="nails_1_5" value="d"></td></tr>
  		</table>
    </p>

    <p>6.  OSHA was created as part of the _____ to regulate and enforce standards to protect employees in the workplace.
  		<table class="table table-condensed">
  		  <tr><td>a)  U.S. Department of Defense</td><td><input type="radio" name="nails_1_6" value="a"></td></tr>
  		  <tr><td>b)  U.S Department of Labor</td><td><input type="radio" name="nails_1_6" value="b"></td></tr>
  		  <tr><td>c)  U.S. Department of Education</td><td><input type="radio" name="nails_1_6" value="c"></td></tr>
  		  <tr><td>d)  U.S. Department of Employment</td><td><input type="radio" name="nails_1_6" value="d"></td></tr>
  		</table>
    </p>

    <p>7.  Prior to 2012, chemical manufacturers and importers were required to assess the potential hazards associated with their products by publishing _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  Material Safety Data Sheets</td><td><input type="radio" name="nails_1_7" value="a"></td></tr>
  		  <tr><td>b)  Manufacturer Safety Data Sheets</td><td><input type="radio" name="nails_1_7" value="b"></td></tr>
  		  <tr><td>c)  Material Surety Data Support</td><td><input type="radio" name="nails_1_7" value="c"></td></tr>
  		  <tr><td>d)  Manufacturer Safety Data Support</td><td><input type="radio" name="nails_1_7" value="d"></td></tr>
  		</table>
    </p>

    <p>8.  In 2012, OSHA agreed to comply with the Globally Harmonized System of Classification and Labeling of Chemicals System (GHS) which requires the use of a standard-format called
            _____ (SDS) to replace the MSDS.
  		<table class="table table-condensed">
  		  <tr><td>a)  Safety Data Support</td><td><input type="radio" name="nails_1_8" value="a"></td></tr>
  		  <tr><td>b)  Surety Data Support</td><td><input type="radio" name="nails_1_8" value="b"></td></tr>
  		  <tr><td>c)  Safety Data Sheets</td><td><input type="radio" name="nails_1_8" value="c"></td></tr>
  		  <tr><td>d)  Safety Data Standards</td><td><input type="radio" name="nails_1_8" value="d"></td></tr>
  		</table>
    </p>
    
    <p>9.  The SDS contains _____ categories of information.
  		<table class="table table-condensed">
  		  <tr><td>a)  10</td><td><input type="radio" name="nails_1_9" value="a"></td></tr>
  		  <tr><td>b)  12</td><td><input type="radio" name="nails_1_9" value="b"></td></tr>
  		  <tr><td>c)  14</td><td><input type="radio" name="nails_1_9" value="c"></td></tr>
  		  <tr><td>d)  16</td><td><input type="radio" name="nails_1_9" value="d"></td></tr>
  		</table>
    </p>
    
    <p>10.  As part of the SDS categories, first-aid measures include important symptoms and effects as well as _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  product use</td><td><input type="radio" name="nails_1_10" value="a"></td></tr>
  		  <tr><td>b)  required treatment</td><td><input type="radio" name="nails_1_10" value="b"></td></tr>
  		  <tr><td>c)  use restrictions</td><td><input type="radio" name="nails_1_10" value="c"></td></tr>
  		  <tr><td>d)  containment and cleanup</td><td><input type="radio" name="nails_1_10" value="d"></td></tr>
  		</table>
    </p>
    
    <p>11.  As part of the SDS categories, handling and storage lists precautions for safe handling and storage.
  		<table class="table table-condensed">
  		  <tr><td>a)  incompatibilites</td><td><input type="radio" name="nails_1_11" value="a"></td></tr>
  		  <tr><td>b)  ingredients</td><td><input type="radio" name="nails_1_11" value="b"></td></tr>
  		  <tr><td>c)  reactions</td><td><input type="radio" name="nails_1_11" value="c"></td></tr>
  		  <tr><td>d)  identifiers</td><td><input type="radio" name="nails_1_11" value="d"></td></tr>
  		</table>
    </p>
    
    <p>12.  As part of the SDS categories, toxicology information includes routes of exposure, related symptoms, and _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  safe handling and storage</td><td><input type="radio" name="nails_1_12" value="a"></td></tr>
  		  <tr><td>b)  acute and chronic effects</td><td><input type="radio" name="nails_1_12" value="b"></td></tr>
  		  <tr><td>c)  exposure and protection</td><td><input type="radio" name="nails_1_12" value="c"></td></tr>
  		  <tr><td>d)  restrictions and transportation</td><td><input type="radio" name="nails_1_12" value="d"></td></tr>
  		</table>
    </p>
    
    <p>13.  Either OSHA or, in some cases, state board inspectors can _____ if SDSs are not available during regular business hours.
  		<table class="table table-condensed">
  		  <tr><td>a)  close the salon</td><td><input type="radio" name="nails_1_13" value="a"></td></tr>
  		  <tr><td>b)  arrest the salon owner</td><td><input type="radio" name="nails_1_13" value="b"></td></tr>
  		  <tr><td>c)  issue a fine to the salon</td><td><input type="radio" name="nails_1_13" value="c"></td></tr>
  		  <tr><td>d)  revoke the salon license</td><td><input type="radio" name="nails_1_13" value="d"></td></tr>
  		</table>
    </p>
    
    <p>14.  A disease that is caused by bacteria that are transmitted by coughing or sneezing is known as _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  tuberculosis</td><td><input type="radio" name="nails_1_14" value="a"></td></tr>
  		  <tr><td>b)  fungal disease</td><td><input type="radio" name="nails_1_14" value="b"></td></tr>
  		  <tr><td>c)  pneumonia</td><td><input type="radio" name="nails_1_14" value="c"></td></tr>
  		  <tr><td>d)  virus</td><td><input type="radio" name="nails_1_14" value="d"></td></tr>
  		</table>
    </p>
    
    <p>15.  It is against federal law to use any disinfecting product contrary to its _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  ingredients</td><td><input type="radio" name="nails_1_15" value="a"></td></tr>
  		  <tr><td>b)  packaging</td><td><input type="radio" name="nails_1_15" value="b"></td></tr>
  		  <tr><td>c)  intended use</td><td><input type="radio" name="nails_1_15" value="c"></td></tr>
  		  <tr><td>d)  labeling</td><td><input type="radio" name="nails_1_15" value="d"></td></tr>
  		</table>
    </p>
    
    <p>16.  A microscopic organism that normally exists in low concentrations in tap water that has been known to cause serious skin infections on legs after pedicure is _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  mesothelioma</td><td><input type="radio" name="nails_1_16" value="a"></td></tr>
  		  <tr><td>b)  Mycobacterium fortuitum</td><td><input type="radio" name="nails_1_16" value="b"></td></tr>
  		  <tr><td>c)  Methicillin-resistant Staphylococcus aureus</td><td><input type="radio" name="nails_1_16" value="c"></td></tr>
  		  <tr><td>d)  bacilli</td><td><input type="radio" name="nails_1_16" value="d"></td></tr>
  		</table>
    </p>
    
    <p>17.  Laws are written by both federal and state legislatures to determine the _____ for a license holder and to establish guidelines for regulatory agencies to make rules.
  		<table class="table table-condensed">
  		  <tr><td>a)  application requirements</td><td><input type="radio" name="nails_1_17" value="a"></td></tr>
  		  <tr><td>b)  scope of practice</td><td><input type="radio" name="nails_1_17" value="b"></td></tr>
  		  <tr><td>c)  dress code</td><td><input type="radio" name="nails_1_17" value="c"></td></tr>
  		  <tr><td>d)  license renewal requirements</td><td><input type="radio" name="nails_1_17" value="d"></td></tr>
  		</table>
    </p>
    
    <p>18.  The invasion of body tissues by disease-causing pathogens is known as _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  a virus</td><td><input type="radio" name="nails_1_18" value="a"></td></tr>
  		  <tr><td>b)  an irritation</td><td><input type="radio" name="nails_1_18" value="b"></td></tr>
  		  <tr><td>c)  an infection</td><td><input type="radio" name="nails_1_18" value="c"></td></tr>
  		  <tr><td>d)  a disease</td><td><input type="radio" name="nails_1_18" value="d"></td></tr>
  		</table>
    </p>

    <p>19.  The methods used to eliminate or reduce the transmission of infectious organisms are called _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  transmission control</td><td><input type="radio" name="nails_1_19" value="a"></td></tr>
  		  <tr><td>b)  infection control</td><td><input type="radio" name="nails_1_19" value="b"></td></tr>
  		  <tr><td>c)  organism control</td><td><input type="radio" name="nails_1_19" value="c"></td></tr>
  		  <tr><td>d)  infection control</td><td><input type="radio" name="nails_1_19" value="d"></td></tr>
  		</table>
    </p>

    <p>20.  To determine the nature of a disease, such as a nail disease, from its symptoms is to _____ it.
  		<table class="table table-condensed">
  		  <tr><td>a)  diagnose</td><td><input type="radio" name="nails_1_20" value="a"></td></tr>
  		  <tr><td>b)  assess</td><td><input type="radio" name="nails_1_20" value="b"></td></tr>
  		  <tr><td>c)  analyze</td><td><input type="radio" name="nails_1_20" value="c"></td></tr>
  		  <tr><td>d)  evaluate</td><td><input type="radio" name="nails_1_20" value="d"></td></tr>
  		</table>
    </p>

    <p>21.  Disinfectants used in salons must be bactericidal, fungicidal, and _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  microcidal</td><td><input type="radio" name="nails_1_21" value="a"></td></tr>
  		  <tr><td>b)  pathocidal</td><td><input type="radio" name="nails_1_21" value="b"></td></tr>
  		  <tr><td>c)  virucidal</td><td><input type="radio" name="nails_1_21" value="c"></td></tr>
  		  <tr><td>d)  germicidal</td><td><input type="radio" name="nails_1_21" value="d"></td></tr>
  		</table>
    </p>

    <p>22.  All of the following is true about bacteria except which of the following:
  		<table class="table table-condensed">
  		  <tr><td>a)  they can only be seen with a microscope</td><td><input type="radio" name="nails_1_22" value="a"></td></tr>
  		  <tr><td>b)  they can exist everywhere</td><td><input type="radio" name="nails_1_22" value="b"></td></tr>
  		  <tr><td>c)  they are one-celled micro-organisms</td><td><input type="radio" name="nails_1_22" value="c"></td></tr>
  		  <tr><td>d)  they have both plant and animal characteristics</td><td><input type="radio" name="nails_1_22" value="d"></td></tr>
  		</table>
    </p>

    <p>23.  Most bacteria are nonpathogenic which means they are harmless organisms that may perform _____ functions and are safe to come in contact with since they do not cause disease or harm.
  		<table class="table table-condensed">
  		  <tr><td>a)  limited</td><td><input type="radio" name="nails_1_23" value="a"></td></tr>
  		  <tr><td>b)  sporadic</td><td><input type="radio" name="nails_1_23" value="b"></td></tr>
  		  <tr><td>c)  meaningless</td><td><input type="radio" name="nails_1_23" value="c"></td></tr>
  		  <tr><td>d)  useful</td><td><input type="radio" name="nails_1_23" value="d"></td></tr>
  		</table>
    </p>

    <p>24.  A nonscientific term for disease-producing organisms is known as _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  parasite</td><td><input type="radio" name="nails_1_24" value="a"></td></tr>
  		  <tr><td>b)  toxin</td><td><input type="radio" name="nails_1_24" value="b"></td></tr>
  		  <tr><td>c)  germs</td><td><input type="radio" name="nails_1_24" value="c"></td></tr>
  		  <tr><td>d)  virus</td><td><input type="radio" name="nails_1_24" value="d"></td></tr>
  		</table>
    </p>

    <p>25.  Which type of cocci grow in clusters like a bunch of grapes?
  		<table class="table table-condensed">
  		  <tr><td>a)  Streptococci</td><td><input type="radio" name="nails_1_25" value="a"></td></tr>
  		  <tr><td>b)  Bacilli</td><td><input type="radio" name="nails_1_25" value="b"></td></tr>
  		  <tr><td>c)  Staphylococci</td><td><input type="radio" name="nails_1_25" value="c"></td></tr>
  		  <tr><td>d)  Diplococci</td><td><input type="radio" name="nails_1_25" value="d"></td></tr>
  		</table>
    </p>


    <p>26.  Spherical bacteria that grow in pairs and causes diseases such as pneumonia are _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  staphylococci</td><td><input type="radio" name="nails_1_26" value="a"></td></tr>
  		  <tr><td>b)  bacilli</td><td><input type="radio" name="nails_1_26" value="b"></td></tr>
  		  <tr><td>c)  streptococci</td><td><input type="radio" name="nails_1_26" value="c"></td></tr>
  		  <tr><td>d)  diplococci</td><td><input type="radio" name="nails_1_26" value="d"></td></tr>
  		</table>
    </p>


    <p>27.  Spirilla bacteria are divided into two groups:  Treponema papillida which causes syphilis and Borrelia burgdorferi which causes _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  Lyme disease</td><td><input type="radio" name="nails_1_27" value="a"></td></tr>
  		  <tr><td>b)  tetanus or lockjaw</td><td><input type="radio" name="nails_1_27" value="b"></td></tr>
  		  <tr><td>c)  typhoid fever</td><td><input type="radio" name="nails_1_27" value="c"></td></tr>
  		  <tr><td>d)  chronic pneumonia</td><td><input type="radio" name="nails_1_27" value="d"></td></tr>
  		</table>
    </p>

    <p>28.  Different bacteria move in different ways and self-movement is known as _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  migration</td><td><input type="radio" name="nails_1_28" value="a"></td></tr>
  		  <tr><td>b)  motility</td><td><input type="radio" name="nails_1_28" value="b"></td></tr>
  		  <tr><td>c)  evolution</td><td><input type="radio" name="nails_1_28" value="c"></td></tr>
  		  <tr><td>d)  locomotion</td><td><input type="radio" name="nails_1_28" value="d"></td></tr>
  		</table>
    </p>

    <p>29.  When bacteria reach their largest size, they divide into two new cells -- a process called _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  mitosis</td><td><input type="radio" name="nails_1_29" value="a"></td></tr>
  		  <tr><td>b)  detachment</td><td><input type="radio" name="nails_1_29" value="b"></td></tr>
  		  <tr><td>c)  subdivision</td><td><input type="radio" name="nails_1_29" value="c"></td></tr>
  		  <tr><td>d)  binary fission</td><td><input type="radio" name="nails_1_29" value="d"></td></tr>
  		</table>
    </p>
  
    <p>30.  Certain fungi and bacteria coat themselves with wax outer shells that are able to withstand long periods of famine, _____, and unsuitable temparatures.
  		<table class="table table-condensed">
  		  <tr><td>a)  moisture</td><td><input type="radio" name="nails_1_30" value="a"></td></tr>
  		  <tr><td>b)  darkness</td><td><input type="radio" name="nails_1_30" value="b"></td></tr>
  		  <tr><td>c)  warthm</td><td><input type="radio" name="nails_1_30" value="c"></td></tr>
  		  <tr><td>d)  dryness</td><td><input type="radio" name="nails_1_30" value="d"></td></tr>
  		</table>
    </p>

    <p>31.  Tissue inflammation creates a fluid known as _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  discharge</td><td><input type="radio" name="nails_1_31" value="a"></td></tr>
  		  <tr><td>b)  pus</td><td><input type="radio" name="nails_1_31" value="b"></td></tr>
  		  <tr><td>c)  mucous</td><td><input type="radio" name="nails_1_31" value="c"></td></tr>
  		  <tr><td>d)  matter</td><td><input type="radio" name="nails_1_31" value="d"></td></tr>
  		</table>
    </p>

    <p>32.  A main cause of infection from a salon's whirlpool foot spa can be traced to debris building up to create a thin coating called _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  biofilm</td><td><input type="radio" name="nails_1_32" value="a"></td></tr>
  		  <tr><td>b)  biogerm</td><td><input type="radio" name="nails_1_32" value="b"></td></tr>
  		  <tr><td>c)  biocoat</td><td><input type="radio" name="nails_1_32" value="c"></td></tr>
  		  <tr><td>d)  biotissue</td><td><input type="radio" name="nails_1_32" value="d"></td></tr>
  		</table>
    </p>


    <p>33.  When a disease spreads from one person to another, it is said to be _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  a spreading disease</td><td><input type="radio" name="nails_1_33" value="a"></td></tr>
  		  <tr><td>b)  an endemic</td><td><input type="radio" name="nails_1_33" value="b"></td></tr>
  		  <tr><td>c)  a transmittable disease</td><td><input type="radio" name="nails_1_33" value="c"></td></tr>
  		  <tr><td>d)  a contagious disease</td><td><input type="radio" name="nails_1_33" value="d"></td></tr>
  		</table>
    </p>


    <p>34.  Redness, heat, pain, and swelling are an indication of _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  an allergy</td><td><input type="radio" name="nails_1_34" value="a"></td></tr>
  		  <tr><td>b)  an inflammation</td><td><input type="radio" name="nails_1_34" value="b"></td></tr>
  		  <tr><td>c)  contamination</td><td><input type="radio" name="nails_1_34" value="c"></td></tr>
  		  <tr><td>d)  contagion</td><td><input type="radio" name="nails_1_34" value="d"></td></tr>
  		</table>
    </p>


    <p>35.  A parasitic submicroscopic particle that infects and resides in the cells of a biological organism is known as _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  an infection</td><td><input type="radio" name="nails_1_35" value="a"></td></tr>
  		  <tr><td>b)  a disease</td><td><input type="radio" name="nails_1_35" value="b"></td></tr>
  		  <tr><td>c)  a virus</td><td><input type="radio" name="nails_1_35" value="c"></td></tr>
  		  <tr><td>d)  an inflammation</td><td><input type="radio" name="nails_1_35" value="d"></td></tr>
  		</table>
    </p>

    <p>36.  Nail technicians may want to ask their doctor about getting vaccinated against _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  hepatitis A</td><td><input type="radio" name="nails_1_36" value="a"></td></tr>
  		  <tr><td>b)  hepatitis B</td><td><input type="radio" name="nails_1_36" value="b"></td></tr>
  		  <tr><td>c)  hepatitis C</td><td><input type="radio" name="nails_1_36" value="c"></td></tr>
  		  <tr><td>d)  hepatitis D</td><td><input type="radio" name="nails_1_36" value="d"></td></tr>
  		</table>
    </p>

    <p>37.  Hepatitis is a bloodborne disease that damages which part of the body?
  		<table class="table table-condensed">
  		  <tr><td>a)  Heart</td><td><input type="radio" name="nails_1_37" value="a"></td></tr>
  		  <tr><td>b)  Brain</td><td><input type="radio" name="nails_1_37" value="b"></td></tr>
  		  <tr><td>c)  Lungs</td><td><input type="radio" name="nails_1_37" value="c"></td></tr>
  		  <tr><td>d)  Liver</td><td><input type="radio" name="nails_1_37" value="d"></td></tr>
  		</table>
    </p>
    
    <p>38.  A person can be infected with HIV for many years without having symptoms, but testing can determine if a person is infected with _____ months after exposure to the virus.
  		<table class="table table-condensed">
  		  <tr><td>a)  one</td><td><input type="radio" name="nails_1_38" value="a"></td></tr>
  		  <tr><td>b)  two</td><td><input type="radio" name="nails_1_38" value="b"></td></tr>
  		  <tr><td>c)  three</td><td><input type="radio" name="nails_1_38" value="c"></td></tr>
  		  <tr><td>d)  six</td><td><input type="radio" name="nails_1_38" value="d"></td></tr>
  		</table>
    </p>
    
    <p>39.  Single-cell organisms that grow in irregular masses that include molds, mildews, and yeasts and can produce contagious diseases such as ringworm are called _____?
  		<table class="table table-condensed">
  		  <tr><td>a)  fungi</td><td><input type="radio" name="nails_1_39" value="a"></td></tr>
  		  <tr><td>b)  bacteria</td><td><input type="radio" name="nails_1_39" value="b"></td></tr>
  		  <tr><td>c)  abscesses</td><td><input type="radio" name="nails_1_39" value="c"></td></tr>
  		  <tr><td>d)  bacilli</td><td><input type="radio" name="nails_1_39" value="d"></td></tr>
  		</table>
    </p>
    
    <p>40.  A(n) _____ is an organism that grows, feeds, and shelters on or in another organism without contributing anything to the other organism's survival.
  		<table class="table table-condensed">
  		  <tr><td>a)  fungus</td><td><input type="radio" name="nails_1_40" value="a"></td></tr>
  		  <tr><td>b)  carrier</td><td><input type="radio" name="nails_1_40" value="b"></td></tr>
  		  <tr><td>c)  parasite</td><td><input type="radio" name="nails_1_40" value="c"></td></tr>
  		  <tr><td>d)  host</td><td><input type="radio" name="nails_1_40" value="d"></td></tr>
  		</table>
    </p>
    
    <p>41.  Immunity against disease can be either _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  natural or acquired</td><td><input type="radio" name="nails_1_41" value="a"></td></tr>
  		  <tr><td>b)  simple or complex</td><td><input type="radio" name="nails_1_41" value="b"></td></tr>
  		  <tr><td>c)  basic or advanced</td><td><input type="radio" name="nails_1_41" value="c"></td></tr>
  		  <tr><td>d)  organic or inorganic</td><td><input type="radio" name="nails_1_41" value="d"></td></tr>
  		</table>
    </p>
    
    <p>42.  When you remove all visible dirt and debris from something using soap and water, you _____ it.
  		<table class="table table-condensed">
  		  <tr><td>a)  disinfect</td><td><input type="radio" name="nails_1_42" value="a"></td></tr>
  		  <tr><td>b)  sterilize</td><td><input type="radio" name="nails_1_42" value="b"></td></tr>
  		  <tr><td>c)  clean</td><td><input type="radio" name="nails_1_42" value="c"></td></tr>
  		  <tr><td>d)  rinse</td><td><input type="radio" name="nails_1_42" value="d"></td></tr>
  		</table>
    </p>
    
    <p>43.  What is the accepted method for testing an autoclave?
  		<table class="table table-condensed">
  		  <tr><td>a)  Distillation test</td><td><input type="radio" name="nails_1_43" value="a"></td></tr>
  		  <tr><td>b)  pH test</td><td><input type="radio" name="nails_1_43" value="b"></td></tr>
  		  <tr><td>c)  Acid test</td><td><input type="radio" name="nails_1_43" value="c"></td></tr>
  		  <tr><td>d)  Spore test</td><td><input type="radio" name="nails_1_43" value="d"></td></tr>
  		</table>
    </p>
    
    <p>44.  Disinfectants are approriate on _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  soft surfaces</td><td><input type="radio" name="nails_1_44" value="a"></td></tr>
  		  <tr><td>b)  visible dirty surfaces</td><td><input type="radio" name="nails_1_44" value="b"></td></tr>
  		  <tr><td>c)  nonporous surfaces</td><td><input type="radio" name="nails_1_44" value="c"></td></tr>
  		  <tr><td>d)  porous surfaces</td><td><input type="radio" name="nails_1_44" value="d"></td></tr>
  		</table>
    </p>

    <p>45.  Unless the label states otherwise, implements being disinfected must remain immersed in the disinfectant for at least _____ minutes.
  		<table class="table table-condensed">
  		  <tr><td>a)  3</td><td><input type="radio" name="nails_1_45" value="a"></td></tr>
  		  <tr><td>b)  5</td><td><input type="radio" name="nails_1_45" value="b"></td></tr>
  		  <tr><td>c)  10</td><td><input type="radio" name="nails_1_45" value="c"></td></tr>
  		  <tr><td>d)  15</td><td><input type="radio" name="nails_1_45" value="d"></td></tr>
  		</table>
    </p>

    <p>46.  The technical term for quats is _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  quarternary ammonium composites</td><td><input type="radio" name="nails_1_46" value="a"></td></tr>
  		  <tr><td>b)  qualified ammonium composites</td><td><input type="radio" name="nails_1_46" value="b"></td></tr>
  		  <tr><td>c)  quarternary ammonium compounds</td><td><input type="radio" name="nails_1_46" value="c"></td></tr>
  		  <tr><td>d)  quarternary aluminum composites</td><td><input type="radio" name="nails_1_46" value="d"></td></tr>
  		</table>
    </p>

    <p>47.  Phenolic disinfectantsare powerful tuberculocidal disinfectants that have a _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  very high pH</td><td><input type="radio" name="nails_1_47" value="a"></td></tr>
  		  <tr><td>b)  very low pH</td><td><input type="radio" name="nails_1_47" value="b"></td></tr>
  		  <tr><td>c)  neutral pH</td><td><input type="radio" name="nails_1_47" value="c"></td></tr>
  		  <tr><td>d)  an acidic pH</td><td><input type="radio" name="nails_1_47" value="d"></td></tr>
  		</table>
    </p>

    <p>48.  Household bleach, an effective disinfectant for salon uses, _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  is completely noncorrosive</td><td><input type="radio" name="nails_1_48" value="a"></td></tr>
  		  <tr><td>b)  can cause skin irritation</td><td><input type="radio" name="nails_1_48" value="b"></td></tr>
  		  <tr><td>c)  is safe for the eyes</td><td><input type="radio" name="nails_1_48" value="c"></td></tr>
  		  <tr><td>d)  is safe for use on plastics</td><td><input type="radio" name="nails_1_48" value="d"></td></tr>
  		</table>
    </p>

    <p>49.  When using disinfectants, you must always _____ and avoid skin and eye contact.
  		<table class="table table-condensed">
  		  <tr><td>a)  wear gloves</td><td><input type="radio" name="nails_1_49" value="a"></td></tr>
  		  <tr><td>b)  pre-mix large amounts</td><td><input type="radio" name="nails_1_49" value="b"></td></tr>
  		  <tr><td>c)  estimate the amount to mix</td><td><input type="radio" name="nails_1_49" value="c"></td></tr>
  		  <tr><td>d)  place in an unmarked container</td><td><input type="radio" name="nails_1_49" value="d"></td></tr>
  		</table>
    </p>

    <p>50.  A multiuse, or _____, item can be cleaned, disinfected, and used on more than one person, even if the item is accidentally exposed to blood or body fluid.
  		<table class="table table-condensed">
  		  <tr><td>a)  disposable</td><td><input type="radio" name="nails_1_50" value="a"></td></tr>
  		  <tr><td>b)  plastic</td><td><input type="radio" name="nails_1_50" value="b"></td></tr>
  		  <tr><td>c)  porous</td><td><input type="radio" name="nails_1_50" value="c"></td></tr>
  		  <tr><td>d)  reusable</td><td><input type="radio" name="nails_1_50" value="d"></td></tr>
  		</table>
    </p>

    <p>51.  If client packs are allowed in your state, each item must be properly cleaned, disinfected, and _____ before being placed in the pack.
  		<table class="table table-condensed">
  		  <tr><td>a)  wiped</td><td><input type="radio" name="nails_1_51" value="a"></td></tr>
  		  <tr><td>b)  rinsed</td><td><input type="radio" name="nails_1_51" value="b"></td></tr>
  		  <tr><td>c)  dried</td><td><input type="radio" name="nails_1_51" value="c"></td></tr>
  		  <tr><td>d)  polished</td><td><input type="radio" name="nails_1_51" value="d"></td></tr>
  		</table>
    </p>

    <p>52.  A nail technician's tools must be cleaned and disinfected _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  after each use</td><td><input type="radio" name="nails_1_52" value="a"></td></tr>
  		  <tr><td>b)  at the end of the day</td><td><input type="radio" name="nails_1_52" value="b"></td></tr>
  		  <tr><td>c)  at the end of the week</td><td><input type="radio" name="nails_1_52" value="c"></td></tr>
  		  <tr><td>d)  when time permits</td><td><input type="radio" name="nails_1_52" value="d"></td></tr>
  		</table>
    </p>

    <p>53.  What types of cleaners are specially designed to break down stubborn films and residue of pedicure products from foot spas?
  		<table class="table table-condensed">
  		  <tr><td>a)  Quats</td><td><input type="radio" name="nails_1_53" value="a"></td></tr>
  		  <tr><td>b)  Chelating soaps</td><td><input type="radio" name="nails_1_53" value="b"></td></tr>
  		  <tr><td>c)  Bleach</td><td><input type="radio" name="nails_1_53" value="c"></td></tr>
  		  <tr><td>d)  Degreaser</td><td><input type="radio" name="nails_1_53" value="d"></td></tr>
  		</table>
    </p>

    <p>54.  Contact with nonintact skin, blood, bloody fluid, or other potentially infectious materials that results from the nail technician's performance is known as _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  blood event</td><td><input type="radio" name="nails_1_54" value="a"></td></tr>
  		  <tr><td>b)  exposure accident</td><td><input type="radio" name="nails_1_54" value="b"></td></tr>
  		  <tr><td>c)  exposure event</td><td><input type="radio" name="nails_1_54" value="c"></td></tr>
  		  <tr><td>d)  exposure incident</td><td><input type="radio" name="nails_1_54" value="d"></td></tr>
  		</table>
    </p>

    <p>55.  Who publishes the Standard Precautions?
  		<table class="table table-condensed">
  		  <tr><td>a)  The FDA</td><td><input type="radio" name="nails_1_55" value="a"></td></tr>
  		  <tr><td>b)  The FBI</td><td><input type="radio" name="nails_1_55" value="b"></td></tr>
  		  <tr><td>c)  The CDC</td><td><input type="radio" name="nails_1_55" value="c"></td></tr>
  		  <tr><td>d)  The EPA</td><td><input type="radio" name="nails_1_55" value="d"></td></tr>
  		</table>
    </p>

    <p>56.  If there is an exposure incident, what is your next step after you stop the service and put on gloves?
  		<table class="table table-condensed">
  		  <tr><td>a)  Apply pressure and clean the injury with an antiseptic</td><td><input type="radio" name="nails_1_56" value="a"></td></tr>
  		  <tr><td>b)  Clean and disinfect your entire workstation</td><td><input type="radio" name="nails_1_56" value="b"></td></tr>
  		  <tr><td>c)  Apply an adhesive bandage to completely cover the wound</td><td><input type="radio" name="nails_1_56" value="c"></td></tr>
  		  <tr><td>d)  Wash your hands with soap and water and discard contaminated objects</td><td><input type="radio" name="nails_1_56" value="d"></td></tr>
  		</table>
    </p>

    <p>57.  When cleaning and disinfecting a whirlpool foot spa after a client, what is the next step after draining all the water from the basin?
  		<table class="table table-condensed">
  		  <tr><td>a)  Put on gloves and safety glasses</td><td><input type="radio" name="nails_1_57" value="a"></td></tr>
  		  <tr><td>b)  Refill the basin with clean water to cover the jets</td><td><input type="radio" name="nails_1_57" value="b"></td></tr>
  		  <tr><td>c)  Rinse the basin with clean water and drain</td><td><input type="radio" name="nails_1_57" value="c"></td></tr>
  		  <tr><td>d)  Scrub all visible residue from inside the basin with soap and water</td><td><input type="radio" name="nails_1_57" value="d"></td></tr>
  		</table>
    </p>

  </form>
  
  <button id="submitExam" class="btn btn-lg btn-primary">Submit</button>

</body>
</html>
