

<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#submitExam").click(function(){
      var questionAnswerObj = {};
      $('#myForm input[type=radio]:checked').each(function(){
  		  questionAnswerObj[this.name] = this.value;
  	  }); 
  
      $.ajax({
        type:'POST',
        url:'/submit_Exam',
        data: { questionAnswerObj: JSON.stringify(questionAnswerObj) },
        success:function(result){
          var i;
          var out = "<table class=\"table table-striped\">";
          out += "<th>Question #</th><th>Answer Key</th><th>Your Answer Is</th>";
          x = result;
          $("#answers").empty();
          for (i = 0; i < x.length; i++) {
            out +=  "<tr><td>"  +  x[i].question_number + 
                    "</td><td>" +  x[i].answer_key +
                    "</td><td>" + x[i].your_answer + "</td></tr>";
          }
          out += "</table>";
          $("#answers").append(out);

        }
      }); // ajax
    }); // #submitExam
  });
</script>
</head>
<body>

  <h2> Chapter 22: The Salon Business </h2>
  <hr>

  <form id="myForm" >

    <p>1. Booth rental, also known as ______ rental, is when a nail technician rents a booth in a salon or spa.
		<table class="table table-condensed">
		  <tr><td><input type="radio" name="nails_22_1" value="a"></td><td>a) station </td></tr>
		  <tr><td><input type="radio" name="nails_22_1" value="b"></td><td>b) space </td></tr>
		  <tr><td><input type="radio" name="nails_22_1" value="c"></td><td>c) chair </td></tr>
		  <tr><td><input type="radio" name="nails_22_1" value="d"></td><td>d) leasing </td></tr>
		</table>
    </p>

    <p>2. In a booth rental arrangement, a nail technician generally is solely responsible for her own clientele, furniture, telephone, advertising, towles, insurance, laundry, supplies, and _________.  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_2" value="a"></td><td>a) signs on the building </td></tr>
		  <tr><td><input type="radio" name="nails_22_2" value="b"></td><td>b) record keeping and accounting </td></tr>
		  <tr><td><input type="radio" name="nails_22_2" value="c"></td><td>c) utility bills </td></tr>
		  <tr><td><input type="radio" name="nails_22_2" value="d"></td><td>d) providing parking for clients </td></tr>
  		</table>
    </p>

    <p>3. The state board in ________ does not recognize booth rental as an acceptable method of doing business. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_3" value="a"></td><td>a) Pennysylvania </td></tr>
  		  <tr><td><input type="radio" name="nails_22_3" value="b"></td><td>b) New Mexico </td></tr>
  		  <tr><td><input type="radio" name="nails_22_3" value="c"></td><td>c) South Dkota </td></tr>
  		  <tr><td><input type="radio" name="nails_22_3" value="d"></td><td>d) Tennessee </td></tr>
  		</table>
    </p>

    <p>4. Opening your on salon or spa is a huge undertaking, financially, physically, and _________, becuase you will face challenges that are complex and unfamiliar to you. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_4" value="a"></td><td>a) socially </td></tr>
  		  <tr><td><input type="radio" name="nails_22_4" value="b"></td><td>b) internally </td></tr>
  		  <tr><td><input type="radio" name="nails_22_4" value="c"></td><td>c) personally </td></tr>
  		  <tr><td><input type="radio" name="nails_22_4" value="d"></td><td>d) mentally </td></tr>
  		</table>
    </p>

    <p>5. A _______ statement is a long-term picture of what a business is to become and what it will look like when it gets there.
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_5" value="a"></td><td>a) mission </td></tr>
  		  <tr><td><input type="radio" name="nails_22_5" value="b"></td><td>b) vision </td></tr>
  		  <tr><td><input type="radio" name="nails_22_5" value="c"></td><td>c) production </td></tr>
  		  <tr><td><input type="radio" name="nails_22_5" value="d"></td><td>d) proection </td></tr>
  		</table>
    </p>

    <p>6. Which term refers to a set of benchmarks that, once achieved, help you to realize your mission and your vision? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_6" value="a"></td><td>a) Proprietors </td></tr>
  		  <tr><td><input type="radio" name="nails_22_6" value="b"></td><td>b) Business plan </td></tr>
  		  <tr><td><input type="radio" name="nails_22_6" value="c"></td><td>c) Goals </td></tr>
  		  <tr><td><input type="radio" name="nails_22_6" value="d"></td><td>d) Capital </td></tr>
  		</table>
    </p>

    <p>7. In your business timeline, the time to tend to the business, its clientele, and its employees and to grow and expand the business so that it is profitable, is in years. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_7" value="a"></td><td>a) 2-5 </td></tr>
  		  <tr><td><input type="radio" name="nails_22_7" value="b"></td><td>b) 5-7 </td></tr>
  		  <tr><td><input type="radio" name="nails_22_7" value="c"></td><td>c) 7-9 </td></tr>
  		  <tr><td><input type="radio" name="nails_22_7" value="d"></td><td>d) 11-20 </td></tr>
  		</table>
    </p>

    <p>8. In determining the feasibility of your business, you must address if you have ________ that will st your business apart from other nail businesses in your area. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_8" value="a"></td><td>a) a dream or goal </td></tr>
  		  <tr><td><input type="radio" name="nails_22_8" value="b"></td><td>b) a special skill or talent </td></tr>
  		  <tr><td><input type="radio" name="nails_22_8" value="c"></td><td>c) a color scheme and decor </td></tr>
  		  <tr><td><input type="radio" name="nails_22_8" value="d"></td><td>d) a salon or spa theme </td></tr>
  		</table>
    </p>
    
    <p>9. A business that is owned and operated by one person, although the owner may have employees, is called _______.
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_9" value="a"></td><td>a) a corporation </td></tr>
  		  <tr><td><input type="radio" name="nails_22_9" value="b"></td><td>b) an S corporation </td></tr>
  		  <tr><td><input type="radio" name="nails_22_9" value="c"></td><td>c) an LLC </td></tr>
  		  <tr><td><input type="radio" name="nails_22_9" value="d"></td><td>d) a sole proprietorship </td></tr>
  		</table>
    </p>
    
    <p>10. In a sole proprietorship, the owner determines the policies and has the last say in decision making as well as_______.
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_10" value="a"></td><td>a) assuming expenses, receiving profits, and bearing all losses </td></tr>
  		  <tr><td><input type="radio" name="nails_22_10" value="b"></td><td>b) having protection of his or her personal assets </td></tr>
  		  <tr><td><input type="radio" name="nails_22_10" value="c"></td><td>c) having less tax liability than a corporation </td></tr>
  		  <tr><td><input type="radio" name="nails_22_10" value="d"></td><td>d) the ability to raise capital more easily than a corporation </td></tr>
  		</table>
    </p>
    
    <p>11. A business structure in which two or more people share ownership, although not necessarily equally, is called ________.
 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_11" value="a"></td><td>a) a corporation </td></tr>
  		  <tr><td><input type="radio" name="nails_22_11" value="b"></td><td>b) an LLC </td></tr>
  		  <tr><td><input type="radio" name="nails_22_11" value="c"></td><td>c) a sole proprietorship </td></tr>
  		  <tr><td><input type="radio" name="nails_22_11" value="d"></td><td>d) a partnership </td></tr>
  		</table>
    </p>
    
    <p>12. People often enter into a partnership arrangement to have more capital or money to invest in a business and to _______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_12" value="a"></td><td>a) have less debt liability </td></tr>
  		  <tr><td><input type="radio" name="nails_22_12" value="b"></td><td>b) have more responsibility </td></tr>
  		  <tr><td><input type="radio" name="nails_22_12" value="c"></td><td>c) have help operating the business </td></tr>
  		  <tr><td><input type="radio" name="nails_22_12" value="d"></td><td>d) have more independent decision making </td></tr>
  		</table>
    </p>
    
    <p>13. A corporation is an ownership structure controlled by one or more stckholders and is one of the best ways to _______.
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_13" value="a"></td><td>a) organize hidden assets </td></tr>
  		  <tr><td><input type="radio" name="nails_22_13" value="b"></td><td>b) protect personal assets </td></tr>
  		  <tr><td><input type="radio" name="nails_22_13" value="c"></td><td>c) have a more rigid business operation </td></tr>
  		  <tr><td><input type="radio" name="nails_22_13" value="d"></td><td>d) have less transparency to the public </td></tr>
  		</table>
    </p>
    
    <p>14. Who owns a corporation? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_14" value="a"></td><td>a) the stockholders </td></tr>
  		  <tr><td><input type="radio" name="nails_22_14" value="b"></td><td>b) the board of directors </td></tr>
  		  <tr><td><input type="radio" name="nails_22_14" value="c"></td><td>c) the chirperson of the board </td></tr>
  		  <tr><td><input type="radio" name="nails_22_14" value="d"></td><td>d) the president of the company </td></tr>
  		</table>
    </p>
    
    <p>15. Employees of a corporation pay income tax on ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_15" value="a"></td><td>a) the corporate profits </td></tr>
  		  <tr><td><input type="radio" name="nails_22_15" value="b"></td><td>b) thesalary that is drawn </td></tr>
  		  <tr><td><input type="radio" name="nails_22_15" value="c"></td><td>c) monthly benefits </td></tr>
  		  <tr><td><input type="radio" name="nails_22_15" value="d"></td><td>d) earnings distributions </td></tr>
  		</table>
    </p>
    
    <p>16. When opening your own business, it is recommended that you consut with _________ to find out the ays in which your business may be registered for tax purposes. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_16" value="a"></td><td>a) an attorney and accountant </td></tr>
  		  <tr><td><input type="radio" name="nails_22_16" value="b"></td><td>b) a stockbroker </td></tr>
  		  <tr><td><input type="radio" name="nails_22_16" value="c"></td><td>c) a financial advisor </td></tr>
  		  <tr><td><input type="radio" name="nails_22_16" value="d"></td><td>d) a shareholder </td></tr>
  		</table>
    </p>
    
    <p>17. To become an S corporation, the S corporation status is eleted through ________.  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_17" value="a"></td><td>a) the IRS </td></tr>
  		  <tr><td><input type="radio" name="nails_22_17" value="b"></td><td>b) the state corporation commission </td></tr>
  		  <tr><td><input type="radio" name="nails_22_17" value="c"></td><td>c) the state insurance commission </td></tr>
  		  <tr><td><input type="radio" name="nails_22_17" value="d"></td><td>d) the state regulatory agency </td></tr>
  		</table>
    </p>
    
    <p>18. What does LLC stand for? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_18" value="a"></td><td>a) legal liability company </td></tr>
  		  <tr><td><input type="radio" name="nails_22_18" value="b"></td><td>b) legal liability corporation </td></tr>
  		  <tr><td><input type="radio" name="nails_22_18" value="c"></td><td>c) limited liability corporation </td></tr>
  		  <tr><td><input type="radio" name="nails_22_18" value="d"></td><td>d) limited liability company </td></tr>
  		</table>
    </p>

    <p>19. A _______ is a written plan of a business as it is seen in the present and envisioned in the future, to follow throughout the entire process of starting your own business. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_19" value="a"></td><td>a) vision statement </td></tr>
  		  <tr><td><input type="radio" name="nails_22_19" value="b"></td><td>b) mission statement </td></tr>
  		  <tr><td><input type="radio" name="nails_22_19" value="c"></td><td>c) business plan </td></tr>
  		  <tr><td><input type="radio" name="nails_22_19" value="d"></td><td>d) financial statement </td></tr>
  		</table>
    </p>

    <p>20. Which part of a business plan of a business describes how the business will run administratively? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_21" value="a"></td><td>a) organizational plan </td></tr>
  		  <tr><td><input type="radio" name="nails_22_21" value="b"></td><td>b) vision statement </td></tr>
  		  <tr><td><input type="radio" name="nails_22_21" value="c"></td><td>c) executive summary </td></tr>
  		  <tr><td><input type="radio" name="nails_22_21" value="d"></td><td>d) salon policies </td></tr>
  		</table>
    </p>

    <p>21. Which part of the business plan outlines all of the research obtained regarding the clients your business will target and their needs, wants, and habits? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_22" value="a"></td><td>a) organizational plan </td></tr>
  		  <tr><td><input type="radio" name="nails_22_22" value="b"></td><td>b) marketing plan </td></tr>
  		  <tr><td><input type="radio" name="nails_22_22" value="c"></td><td>c) supporting documents </td></tr>
  		  <tr><td><input type="radio" name="nails_22_22" value="d"></td><td>d) financial documents </td></tr>
  		</table>
    </p>

    <p>22. Before purchasing an existing  nail salon, ______ to determine the actual value of the business once current owner's bookings are taken out of the equation. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_22" value="a"></td><td>a) seek professional assistance </td></tr>
  		  <tr><td><input type="radio" name="nails_22_22" value="b"></td><td>b) determine retail sales </td></tr>
  		  <tr><td><input type="radio" name="nails_22_22" value="c"></td><td>c) look over the appointment book </td></tr>
  		  <tr><td><input type="radio" name="nails_22_22" value="d"></td><td>d) conduct a financial audit</td></tr>
  		</table>
    </p>

    <p>23. It is important to protect your bussiness by installing adequate locks, a fire alarm system, and _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_23" value="a"></td><td>a) a burglar alarm system </td></tr>
  		  <tr><td><input type="radio" name="nails_22_23" value="b"></td><td>b) a new ventilation system </td></tr>
  		  <tr><td><input type="radio" name="nails_22_23" value="c"></td><td>c) a life alert system </td></tr>
  		  <tr><td><input type="radio" name="nails_22_23" value="d"></td><td>d) a carbon monoxide alert </td></tr>
  		</table>
    </p>

    <p>24. If you sell retail, you may need to obtain _______ or other license. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_24" value="a"></td><td>a) a business certificate </td></tr>
  		  <tr><td><input type="radio" name="nails_22_24" value="b"></td><td>b) a retail registration </td></tr>
  		  <tr><td><input type="radio" name="nails_22_24" value="c"></td><td>c) a seller's permit </td></tr>
  		  <tr><td><input type="radio" name="nails_22_24" value="d"></td><td>d) an inventory control permit </td></tr>
  		</table>
    </p>

    <p>25. Information about a specific population, including data on race, age, income, and educational attainment is known as _______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_25" value="a"></td><td>a) human characteristics </td></tr>
  		  <tr><td><input type="radio" name="nails_22_25" value="b"></td><td>b) demographics </td></tr>
  		  <tr><td><input type="radio" name="nails_22_25" value="c"></td><td>c) area census </td></tr>
  		  <tr><td><input type="radio" name="nails_22_25" value="d"></td><td>d) governmental statistics </td></tr>
  		</table>
    </p>

    <p>26. The ongoing, reoccurring processes or activities involved in the running of a business for the purose of producing income and value is known as _____. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_26" value="a"></td><td>a) standard activities </td></tr>
  		  <tr><td><input type="radio" name="nails_22_26" value="b"></td><td>b) standard procedures </td></tr>
  		  <tr><td><input type="radio" name="nails_22_26" value="c"></td><td>c) salon operations </td></tr>
  		  <tr><td><input type="radio" name="nails_22_26" value="d"></td><td>d) operating policies </td></tr>
  		</table>
    </p>

    <p>27. A typical salon spends about ________ of its total gross income on rent. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_27" value="a"></td><td>a) 3 percent </td></tr>
  		  <tr><td><input type="radio" name="nails_22_27" value="b"></td><td>b) 5 percent </td></tr>
  		  <tr><td><input type="radio" name="nails_22_27" value="c"></td><td>c) 13 percent </td></tr>
  		  <tr><td><input type="radio" name="nails_22_27" value="d"></td><td>d) 53 percent </td></tr>
  		</table>
    </p>

    <p>28. Which of the following expenses typically represents about 3 percent of a salon's total gross income? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_28" value="a"></td><td>a) depreciation </td></tr>
  		  <tr><td><input type="radio" name="nails_22_28" value="b"></td><td>b) cleansing </td></tr>
  		  <tr><td><input type="radio" name="nails_22_28" value="c"></td><td>c) utilities </td></tr>
  		  <tr><td><input type="radio" name="nails_22_28" value="d"></td><td>d) insurance </td></tr>
  		</table>
    </p>

    <p>29. A typically salon spends about 1.5 percent of its total gross income on which of the following expenses? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_29" value="a"></td><td>a) telephone </td></tr>
  		  <tr><td><input type="radio" name="nails_22_29" value="b"></td><td>b) repairs </td></tr>
  		  <tr><td><input type="radio" name="nails_22_29" value="c"></td><td>c) advertising </td></tr>
  		  <tr><td><input type="radio" name="nails_22_29" value="d"></td><td>d) supplies </td></tr>
  		</table>
    </p>
  
    <p>30. About ________ of a typical salon's total gross income is profit. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_30" value="a"></td><td>a) 53 percent </td></tr>
  		  <tr><td><input type="radio" name="nails_22_30" value="b"></td><td>b) 85 percent </td></tr>
  		  <tr><td><input type="radio" name="nails_22_30" value="c"></td><td>c) 5 percent </td></tr>
  		  <tr><td><input type="radio" name="nails_22_30" value="d"></td><td>d) 15 percent </td></tr>
  		</table>
    </p>

    <p>31. A _______ is someone ho is trained to do everything from recording sales and doing payroll to generating a profits-and-loss statement. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_31" value="a"></td><td>a) receptionist </td></tr>
  		  <tr><td><input type="radio" name="nails_22_31" value="b"></td><td>b) full-charge bookeeper </td></tr>
  		  <tr><td><input type="radio" name="nails_22_31" value="c"></td><td>c) tax attorney </td></tr>
  		  <tr><td><input type="radio" name="nails_22_31" value="d"></td><td>d) payroll service representative </td></tr>
  		</table>
    </p>

    <p>32. Supplies that are sold to client are called __________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_32" value="a"></td><td>a) consumption supplies </td></tr>
  		  <tr><td><input type="radio" name="nails_22_32" value="b"></td><td>b) wholesale supplies </td></tr>
  		  <tr><td><input type="radio" name="nails_22_32" value="c"></td><td>c) reduction supplies </td></tr>
  		  <tr><td><input type="radio" name="nails_22_32" value="d"></td><td>d) retail supplies </td></tr>
  		</table>
    </p>

    <p>33. Service records should include the contact information, the products used, and ________ for each client. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_33" value="a"></td><td>a) personality type </td></tr>
  		  <tr><td><input type="radio" name="nails_22_33" value="b"></td><td>b) the service results obtained </td></tr>
  		  <tr><td><input type="radio" name="nails_22_33" value="c"></td><td>c) fashion personality style </td></tr>
  		  <tr><td><input type="radio" name="nails_22_33" value="d"></td><td>d) the amount of time the client was in salon </td></tr>
  		</table>
    </p>

    <p>34. When renovating a salon, it is recommended that you consult with________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_34" value="a"></td><td>a) a professional equipment and furniture supplier </td></tr>
  		  <tr><td><input type="radio" name="nails_22_34" value="b"></td><td>b) a professional design attorney </td></tr>
  		  <tr><td><input type="radio" name="nails_22_34" value="c"></td><td>c) a professional salon architect </td></tr>
  		  <tr><td><input type="radio" name="nails_22_34" value="d"></td><td>d) a professional salon trainer </td></tr>
  		</table>
    </p>

    <p>35. Which of the following is not an important consideration when interviewing potential employees?
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_35" value="a"></td><td>a) their personal grooming </td></tr>
  		  <tr><td><input type="radio" name="nails_22_35" value="b"></td><td>b) their communication skills </td></tr>
  		  <tr><td><input type="radio" name="nails_22_35" value="c"></td><td>c) their age </td></tr>
  		  <tr><td><input type="radio" name="nails_22_35" value="d"></td><td>d) their overall attitude </td></tr>
  		</table>
    </p>

    <p>36. Which part of the salon is considered the salon's nerve center?
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_36" value="a"></td><td>a) the manager's office </td></tr>
  		  <tr><td><input type="radio" name="nails_22_36" value="b"></td><td>b) the reception area </td></tr>
  		  <tr><td><input type="radio" name="nails_22_36" value="c"></td><td>c) the dispensary </td></tr>
  		  <tr><td><input type="radio" name="nails_22_36" value="d"></td><td>d) the nail station </td></tr>
  		</table>
    </p>

    <p>37. The reception area should be well stocked with ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_37" value="a"></td><td>a) consumption supplies </td></tr>
  		  <tr><td><input type="radio" name="nails_22_37" value="b"></td><td>b) terrycloth towels </td></tr>
  		  <tr><td><input type="radio" name="nails_22_37" value="c"></td><td>c) business cards </td></tr>
  		  <tr><td><input type="radio" name="nails_22_37" value="d"></td><td>d) reference materials </td></tr>
  		</table>
    </p>

    <p>38. During slow periods, it is customary for the receptionist to perform other duties such as straightening up the reception area, maintaining inventory, and _______.
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_38" value="a"></td><td>a) completing daily reports </td></tr>
  		  <tr><td><input type="radio" name="nails_22_38" value="b"></td><td>b) updating employee records </td></tr>
  		  <tr><td><input type="radio" name="nails_22_38" value="c"></td><td>c) cleansing the dispensary </td></tr>
  		  <tr><td><input type="radio" name="nails_22_38" value="d"></td><td>d) redesigning business cards </td></tr>
  		</table>
    </p>

    <p>39. Which of the following is not a common responsibility of a salon receptionist? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_39" value="a"></td><td>a) preparing the daily appointment information </td></tr>
  		  <tr><td><input type="radio" name="nails_22_39" value="b"></td><td>b) recommending other services to the client </td></tr>
  		  <tr><td><input type="radio" name="nails_22_39" value="c"></td><td>c) answering the phone </td></tr>
  		  <tr><td><input type="radio" name="nails_22_39" value="d"></td><td>d) performing  employee evaluations </td></tr>
  		</table>
    </p>

    <p>40. The receptionist must have an appearance that conbeys the salon's image, knowledge of the various services offered, and ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_40" value="a"></td><td>a) unlimited patience </td></tr>
  		  <tr><td><input type="radio" name="nails_22_40" value="b"></td><td>b) unlimited resources </td></tr>
  		  <tr><td><input type="radio" name="nails_22_40" value="c"></td><td>c) a reserved personality </td></tr>
  		  <tr><td><input type="radio" name="nails_22_40" value="d"></td><td>d) a stoic demeanor </td></tr>
  		</table>
    </p>

    <p>41. When using the telephone, you should use a pleasant voice, speak clearly, use correct grammar, and ________.
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_41" value="a"></td><td>a) express impatience </td></tr>
  		  <tr><td><input type="radio" name="nails_22_41" value="b"></td><td>b) be concise and to the point </td></tr>
  		  <tr><td><input type="radio" name="nails_22_41" value="c"></td><td>c) show interest and concern </td></tr>
  		  <tr><td><input type="radio" name="nails_22_41" value="d"></td><td>d) take other calls while the first call is on hold </td></tr>
  		</table>
    </p>

    <p>42. When answering the phone, it is important to ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_42" value="a"></td><td>a) answer promptly </td></tr>
  		  <tr><td><input type="radio" name="nails_22_42" value="b"></td><td>b) turn on a voicemail message </td></tr>
  		  <tr><td><input type="radio" name="nails_22_42" value="c"></td><td>c) answer within five rings </td></tr>
  		  <tr><td><input type="radio" name="nails_22_42" value="d"></td><td>d) talk with a salon client while answering </td></tr>
  		</table>
    </p>

    <p>43. If a client calls to make an appointment with her favourite nail technician at a certain time, and the nail technician is not available, the receptionist should first _______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_43" value="a"></td><td>a) refer the client to another salon </td></tr>
  		  <tr><td><input type="radio" name="nails_22_43" value="b"></td><td>b) suggest other available times </td></tr>
  		  <tr><td><input type="radio" name="nails_22_43" value="c"></td><td>c) offer to put the client on a waiting list </td></tr>
  		  <tr><td><input type="radio" name="nails_22_43" value="d"></td><td>d) suggest another nail technician in the salon </td></tr>
  		</table>
    </p>

   <p>44. What is considered the best form of advertising? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_44" value="a"></td><td>a) bubsiness cards </td></tr>
  		  <tr><td><input type="radio" name="nails_22_44" value="b"></td><td>b) satisfied clients </td></tr>
  		  <tr><td><input type="radio" name="nails_22_44" value="c"></td><td>c) yellow page advertising </td></tr>
  		  <tr><td><input type="radio" name="nails_22_44" value="d"></td><td>d) televison advertising </td></tr>
  		</table>
    </p>

   <p>45. In considering the general reasons people buy products, we can assume that people are motivated to _______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_22_44" value="a"></td><td>a) fill an urge </td></tr>
  		  <tr><td><input type="radio" name="nails_22_44" value="b"></td><td>b) have the best of everything </td></tr>
  		  <tr><td><input type="radio" name="nails_22_44" value="c"></td><td>c) satisfy a need </td></tr>
  		  <tr><td><input type="radio" name="nails_22_44" value="d"></td><td>d) impulse purchase </td></tr>
  		</table>
    </p>
  </form>
  
  <button id="submitExam" class="btn btn-lg btn-primary">Submit</button>

</body>
</html>

