<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#submitExam").click(function(){
      var questionAnswerObj = {};
      $('#myForm input[type=radio]:checked').each(function(){
  		  questionAnswerObj[this.name] = this.value;
  	  }); 
  
      $.ajax({
        type:'POST',
        url:'/submit_Exam',
        data: { questionAnswerObj: JSON.stringify(questionAnswerObj) },
        success:function(result){
          var i;
          var out = "<table class=\"table table-striped\">";
          out += "<th>Question #</th><th>Answer Key</th><th>Your Answer Is</th>";
          x = result;
          $("#answers").empty();
          for (i = 0; i < x.length; i++) {
            out +=  "<tr><td>"  +  x[i].question_number + 
                    "</td><td>" +  x[i].answer_key +
                    "</td><td>" + x[i].your_answer + "</td></tr>";
          }
          out += "</table>";
          $("#answers").append(out);

        }
      }); // ajax
    }); // #submitExam
  });
</script>
</head>
<body>

  <h2> Chapter 15: Electric Filing </h2>
  <hr>

  <form id="myForm" >

    <p>1. The motor of a mocromotor machine is located _________.
		<table class="table table-condensed">
		  <tr><td><input type="radio" name="nails_15_1" value="a"></td><td>a) inside the handpiece </td></tr>
		  <tr><td><input type="radio" name="nails_15_1" value="b"></td><td>b) inside the base box </td></tr>
		  <tr><td><input type="radio" name="nails_15_1" value="c"></td><td>c) in a separate area outside the machine </td></tr>
		  <tr><td><input type="radio" name="nails_15_1" value="d"></td><td>d) inside the head </td></tr>
		</table>
    </p>

    <p>2. Battery-operated micromotors are small, compact, and powerful, _________.  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_2" value="a"></td><td>a) but more difficult to use </td></tr>
		  <tr><td><input type="radio" name="nails_15_2" value="b"></td><td>b) and are easier to use </td></tr>
		  <tr><td><input type="radio" name="nails_15_2" value="c"></td><td>c) but some have much less torque </td></tr>
		  <tr><td><input type="radio" name="nails_15_2" value="d"></td><td>d) and have even more torque </td></tr>
  		</table>
    </p>

    <p>3. What is a significant clue in determining the authenticity of a micromotor machine? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_3" value="a"></td><td>a) Its price </td></tr>
  		  <tr><td><input type="radio" name="nails_15_3" value="b"></td><td>b) Its packaging </td></tr>
  		  <tr><td><input type="radio" name="nails_15_3" value="c"></td><td>c) Its appearance </td></tr>
  		  <tr><td><input type="radio" name="nails_15_3" value="d"></td><td>d) Its power </td></tr>
  		</table>
    </p>

    <p>4. Electric files purchased at craff, hobby, and tool stores are not recommended for use in the salon because they are manufactured for use on glass, wood, and ceramicx and can damage the natural and artificial nail because of ________? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_4" value="a"></td><td>a) the grit </td></tr>
  		  <tr><td><input type="radio" name="nails_15_4" value="b"></td><td>b) the amount of vibration </td></tr>
  		  <tr><td><input type="radio" name="nails_15_4" value="c"></td><td>c) the lack of power </td></tr>
  		  <tr><td><input type="radio" name="nails_15_4" value="d"></td><td>d) the lack of torque </td></tr>
  		</table>
    </p>

    <p>5. The speed of electric files is measured in ______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_5" value="a"></td><td>a) RPM </td></tr>
  		  <tr><td><input type="radio" name="nails_15_5" value="b"></td><td>b) MPH </td></tr>
  		  <tr><td><input type="radio" name="nails_15_5" value="c"></td><td>c) RPH </td></tr>
  		  <tr><td><input type="radio" name="nails_15_5" value="d"></td><td>d) MPM </td></tr>
  		</table>
    </p>

    <p>6. Which term refers to the tightness of the inside of the shank where the bit fits into the handpiece? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_6" value="a"></td><td>a) Mandrel </td></tr>
  		  <tr><td><input type="radio" name="nails_15_6" value="b"></td><td>b) Chuck </td></tr>
  		  <tr><td><input type="radio" name="nails_15_6" value="c"></td><td>c) Tolerance </td></tr>
  		  <tr><td><input type="radio" name="nails_15_6" value="d"></td><td>d) Torque </td></tr>
  		</table>
    </p>

    <p>7. When selecting an electric file, the handpiece should weigh approximately 4 to 6 ounces, should be comfortable in your hand, and _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_7" value="a"></td><td>a) have strong vibration </td></tr>
  		  <tr><td><input type="radio" name="nails_15_7" value="b"></td><td>b) have virtually no vibration </td></tr>
  		  <tr><td><input type="radio" name="nails_15_7" value="c"></td><td>c) have minimal grip </td></tr>
  		  <tr><td><input type="radio" name="nails_15_7" value="d"></td><td>d) have a rigid grip </td></tr>
  		</table>
    </p>

    <p>8. The power in the machine or its ability to keep turning when applying pressure during filling is known as _______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_8" value="a"></td><td>a) tolerance </td></tr>
  		  <tr><td><input type="radio" name="nails_15_8" value="b"></td><td>b) rapidity </td></tr>
  		  <tr><td><input type="radio" name="nails_15_8" value="c"></td><td>c) velocity </td></tr>
  		  <tr><td><input type="radio" name="nails_15_8" value="d"></td><td>d) torque </td></tr>
  		</table>
    </p>
    
    <p>9. Most manufactures can service and return your electric file within ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_9" value="a"></td><td>a) 2 - 3 days </td></tr>
  		  <tr><td><input type="radio" name="nails_15_9" value="b"></td><td>b) 12 - 14 days </td></tr>
  		  <tr><td><input type="radio" name="nails_15_9" value="c"></td><td>c) 15 - 20 days </td></tr>
  		  <tr><td><input type="radio" name="nails_15_9" value="d"></td><td>d) 7 - 10 days </td></tr>
  		</table>
    </p>
    
    <p>10. Most manufactures will fix or replace a malfunctioning electric the within ______ of purchase at no cost to you. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_10" value="a"></td><td>a) 6 months </td></tr>
  		  <tr><td><input type="radio" name="nails_15_10" value="b"></td><td>b) 1 year </td></tr>
  		  <tr><td><input type="radio" name="nails_15_10" value="c"></td><td>c) 3 years </td></tr>
  		  <tr><td><input type="radio" name="nails_15_10" value="d"></td><td>d) 5 years </td></tr>
  		</table>
    </p>
    
    <p>11. Connectric bits are commonly referred to as being _____.
 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_11" value="a"></td><td>a) top-heavy </td></tr>
  		  <tr><td><input type="radio" name="nails_15_11" value="b"></td><td>b) bottom-heavy </td></tr>
  		  <tr><td><input type="radio" name="nails_15_11" value="c"></td><td>c) centered </td></tr>
  		  <tr><td><input type="radio" name="nails_15_11" value="d"></td><td>d) unsteady </td></tr>
  		</table>
    </p>
    
    <p>12. Wobbling bits can harm the electric file or cause damage to the client's nails and may cause the nail professional to develop ______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_12" value="a"></td><td>a) a CTD </td></tr>
  		  <tr><td><input type="radio" name="nails_15_12" value="b"></td><td>b) a MNT </td></tr>
  		  <tr><td><input type="radio" name="nails_15_12" value="c"></td><td>c) a STD </td></tr>
  		  <tr><td><input type="radio" name="nails_15_12" value="d"></td><td>d) an UNC </td></tr>
  		</table>
    </p>
    
    <p>13. Which term refers to the number of abrasive articles per square inch on an electric file? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_13" value="a"></td><td>a) Edge </td></tr>
  		  <tr><td><input type="radio" name="nails_15_13" value="b"></td><td>b) Finishing </td></tr>
  		  <tr><td><input type="radio" name="nails_15_13" value="c"></td><td>c) Grit </td></tr>
  		  <tr><td><input type="radio" name="nails_15_13" value="d"></td><td>d) Shank </td></tr>
  		</table>
    </p>
    
    <p>14. The long, slender cuts or grooves found on a carbide bit are known as _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_14" value="a"></td><td>a) mandrels </td></tr>
  		  <tr><td><input type="radio" name="nails_15_14" value="b"></td><td>b) flutes </td></tr>
  		  <tr><td><input type="radio" name="nails_15_14" value="c"></td><td>c) shanks </td></tr>
  		  <tr><td><input type="radio" name="nails_15_14" value="d"></td><td>d) chucks </td></tr>
  		</table>
    </p>
    
    <p>15. Grooves carved into the nail by filing with bits at the incorrect angle are known as _______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_15" value="a"></td><td>a) flutes </td></tr>
  		  <tr><td><input type="radio" name="nails_15_15" value="b"></td><td>b) shanks </td></tr>
  		  <tr><td><input type="radio" name="nails_15_15" value="c"></td><td>c) mandrels </td></tr>
  		  <tr><td><input type="radio" name="nails_15_15" value="d"></td><td>d) rings of fire </td></tr>
  		</table>
    </p>
    
    <p>16. Traditional carbides must be used from the right to left with the machine in ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_16" value="a"></td><td>a) forward rotation </td></tr>
  		  <tr><td><input type="radio" name="nails_15_16" value="b"></td><td>b) backward rotation </td></tr>
  		  <tr><td><input type="radio" name="nails_15_16" value="c"></td><td>c) clockwise rotation</td></tr>
  		  <tr><td><input type="radio" name="nails_15_16" value="d"></td><td>d) counterclockwise rotation </td></tr>
  		</table>
    </p>
    
    <p>17. An UNC bit is recommended for tight spaces such as under the nail, sidewalls, and for making _______ in nails.  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_17" value="a"></td><td>a) grooves </td></tr>
  		  <tr><td><input type="radio" name="nails_15_17" value="b"></td><td>b) wavy ridges</td></tr>
  		  <tr><td><input type="radio" name="nails_15_17" value="c"></td><td>c) designer holes </td></tr>
  		  <tr><td><input type="radio" name="nails_15_17" value="d"></td><td>d) corrugations </td></tr>
  		</table>
    </p>
    
    <p>18. Cone-shaped bits are slim, long, tapered, and ______ so they can be used at the cuticle and underneath the nail. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_18" value="a"></td><td>a) rounded </td></tr>
  		  <tr><td><input type="radio" name="nails_15_18" value="b"></td><td>b) long </td></tr>
  		  <tr><td><input type="radio" name="nails_15_18" value="c"></td><td>c) smoothed </td></tr>
  		  <tr><td><input type="radio" name="nails_15_18" value="d"></td><td>d) pointed </td></tr>
  		</table>
    </p>

    <p>19. Backfill bits come in two sizes: small ______ the size of a barrel bit and medium _______ the size of a barrel bit. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_19" value="a"></td><td>a) 1/4; 1/2 </td></tr>
  		  <tr><td><input type="radio" name="nails_15_19" value="b"></td><td>b) 1/3; 1/2 </td></tr>
  		  <tr><td><input type="radio" name="nails_15_19" value="c"></td><td>c) 1/8; 1/4 </td></tr>
  		  <tr><td><input type="radio" name="nails_15_19" value="d"></td><td>d) 1/2; 3/4 </td></tr>
  		</table>
    </p>

    <p>20. High-shine bits are commonly made of _____, cotton, or soft leather material. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_21" value="a"></td><td>a) natural chamois </td></tr>
  		  <tr><td><input type="radio" name="nails_15_21" value="b"></td><td>b) heavy linen </td></tr>
  		  <tr><td><input type="radio" name="nails_15_21" value="c"></td><td>c) neutral nylon </td></tr>
  		  <tr><td><input type="radio" name="nails_15_21" value="d"></td><td>d) fiberglass </td></tr>
  		</table>
    </p>

    <p>21. High-shine bits are sometimes called ______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_22" value="a"></td><td>a) buffer bits </td></tr>
  		  <tr><td><input type="radio" name="nails_15_22" value="b"></td><td>b) needle bits </td></tr>
  		  <tr><td><input type="radio" name="nails_15_22" value="c"></td><td>c) synthetic bits </td></tr>
  		  <tr><td><input type="radio" name="nails_15_22" value="d"></td><td>d) pedicure bits </td></tr>
  		</table>
    </p>

    <p>22. Pedicure bits are used on _______ speed. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_22" value="a"></td><td>a) slow </td></tr>
  		  <tr><td><input type="radio" name="nails_15_22" value="b"></td><td>b) slow to medium </td></tr>
  		  <tr><td><input type="radio" name="nails_15_22" value="c"></td><td>c) medium to high </td></tr>
  		  <tr><td><input type="radio" name="nails_15_22" value="d"></td><td>d) high </td></tr>
  		</table>
    </p>

    <p>23. Sanding bands are made of _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_23" value="a"></td><td>a) paper </td></tr>
  		  <tr><td><input type="radio" name="nails_15_23" value="b"></td><td>b) chamois </td></tr>
  		  <tr><td><input type="radio" name="nails_15_23" value="c"></td><td>c) linen </td></tr>
  		  <tr><td><input type="radio" name="nails_15_23" value="d"></td><td>d) silk </td></tr>
  		</table>
    </p>

    <p>24. SAnding bands are generally used for shortening and shaping the top surface of the nails, _________, and filling calluses on the feet. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_24" value="a"></td><td>a) adding moiture to the nail plate </td></tr>
  		  <tr><td><input type="radio" name="nails_15_24" value="b"></td><td>b) removing a gel sealant </td></tr>
  		  <tr><td><input type="radio" name="nails_15_24" value="c"></td><td>c) filling awawy unwanted lesions </td></tr>
  		  <tr><td><input type="radio" name="nails_15_24" value="d"></td><td>d) removing natural oils </td></tr>
  		</table>
    </p>

    <p>25. The bullet bit is a small, slender bit that is available in a flat-topped or round-tipped version and is similar to the _________bit. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_25" value="a"></td><td>a) needle </td></tr>
  		  <tr><td><input type="radio" name="nails_15_25" value="b"></td><td>b) football-shaped </td></tr>
  		  <tr><td><input type="radio" name="nails_15_25" value="c"></td><td>c) UNC </td></tr>
  		  <tr><td><input type="radio" name="nails_15_25" value="d"></td><td>d) French fill </td></tr>
  		</table>
    </p>


    <p>26. A long, slender carbide bit that has been made for drilling a hole into the free edge of a nail enhancement to attach nail jewelry is known as_________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_26" value="a"></td><td>a) a diamond bit </td></tr>
  		  <tr><td><input type="radio" name="nails_15_26" value="b"></td><td>b) a needle bit </td></tr>
  		  <tr><td><input type="radio" name="nails_15_26" value="c"></td><td>c) an arbor band </td></tr>
  		  <tr><td><input type="radio" name="nails_15_26" value="d"></td><td>d) a jewelry bit </td></tr>
  		</table>
    </p>

    <p>27. Replace a dirty metal bit with a ______ as part of routine cleanup in between clients. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_27" value="a"></td><td>a) blank </td></tr>
  		  <tr><td><input type="radio" name="nails_15_27" value="b"></td><td>b) cotton strip </td></tr>
  		  <tr><td><input type="radio" name="nails_15_27" value="c"></td><td>c) clean bit </td></tr>
  		  <tr><td><input type="radio" name="nails_15_27" value="d"></td><td>d) tissue </td></tr>
  		</table>
    </p>

    <p>28. When practicing ith your electric life, it is recommended that you glue a nail tip on a dowel or round clothespin and hold the dowel as you would hold a ______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_28" value="a"></td><td>a) hammer </td></tr>
  		  <tr><td><input type="radio" name="nails_15_28" value="b"></td><td>b) client's finger </td></tr>
  		  <tr><td><input type="radio" name="nails_15_28" value="c"></td><td>c) piece of fruit </td></tr>
  		  <tr><td><input type="radio" name="nails_15_28" value="d"></td><td>d) paintbrush </td></tr>
  		</table>
    </p>

    <p>29. It is recommended that you use the ______ as the fulcrum finger when balancing your hands while using an electric file. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_29" value="a"></td><td>a) thumb </td></tr>
  		  <tr><td><input type="radio" name="nails_15_29" value="b"></td><td>b) index finger </td></tr>
  		  <tr><td><input type="radio" name="nails_15_29" value="c"></td><td>c) middle finger </td></tr>
  		  <tr><td><input type="radio" name="nails_15_29" value="d"></td><td>d) pinky finger </td></tr>
  		</table>
    </p>
  
    <p>30. When performing cuticle work, it is recommended that you set your electric file to _________ speed. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_30" value="a"></td><td>a) medium </td></tr>
  		  <tr><td><input type="radio" name="nails_15_30" value="b"></td><td>b) fast </td></tr>
  		  <tr><td><input type="radio" name="nails_15_30" value="c"></td><td>c) slow </td></tr>
  		  <tr><td><input type="radio" name="nails_15_30" value="d"></td><td>d) turbo </td></tr>
  		</table>
    </p>

    <p>31. There are four types of carbide bits including one-way, cross-cut, pointed flutes that cut in both directons, and _______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_31" value="a"></td><td>a) conventional </td></tr>
  		  <tr><td><input type="radio" name="nails_15_31" value="b"></td><td>b) traditional </td></tr>
  		  <tr><td><input type="radio" name="nails_15_31" value="c"></td><td>c) regular </td></tr>
  		  <tr><td><input type="radio" name="nails_15_31" value="d"></td><td>d) exotic </td></tr>
  		</table>
    </p>

    <p>32. A shorter, cone-shaped bit that is designed with a flat top and an be used to shape the top surface of the nail and to cut maintenance on small nails at a flat angle is known as _______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_32" value="a"></td><td>a) a tapered barrel  bit </td></tr>
  		  <tr><td><input type="radio" name="nails_15_32" value="b"></td><td>b) a large barrel bit </td></tr>
  		  <tr><td><input type="radio" name="nails_15_32" value="c"></td><td>c) small barrels bit </td></tr>
  		  <tr><td><input type="radio" name="nails_15_32" value="d"></td><td>d) cuticle safety bit </td></tr>
  		</table>
    </p>

    <p>33. When performing finishing work with the electric file, it is recommended that you move from _________ bits. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_33" value="a"></td><td>a) coarser to finer </td></tr>
  		  <tr><td><input type="radio" name="nails_15_33" value="b"></td><td>b) finer to coarser </td></tr>
  		  <tr><td><input type="radio" name="nails_15_33" value="c"></td><td>c) coarser to finer to coarser </td></tr>
  		  <tr><td><input type="radio" name="nails_15_33" value="d"></td><td>d) finer to coarser to finer </td></tr>
  		</table>
    </p>


    <p>34. When using an electric file, buffing oils should be used ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_34" value="a"></td><td>a) generously </td></tr>
  		  <tr><td><input type="radio" name="nails_15_34" value="b"></td><td>b) sparingly </td></tr>
  		  <tr><td><input type="radio" name="nails_15_34" value="c"></td><td>c) never </td></tr>
  		  <tr><td><input type="radio" name="nails_15_34" value="d"></td><td>d) as requested </td></tr>
  		</table>
    </p>


    <p>35. Electric filing on foot calluses needs to be done when the foot is _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_35" value="a"></td><td>a) unwashed </td></tr>
  		  <tr><td><input type="radio" name="nails_15_35" value="b"></td><td>b) wet </td></tr>
  		  <tr><td><input type="radio" name="nails_15_35" value="c"></td><td>c) damp </td></tr>
  		  <tr><td><input type="radio" name="nails_15_35" value="d"></td><td>d) dry </td></tr>
  		</table>
    </p>

    <p>36. When practicing cuticle wor, place the bit at the cuticle area, holding the bit a slight angle so that the to and at least _______ percent of the bit is maing contact with the nail. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_36" value="a"></td><td>a) 50 </td></tr>
  		  <tr><td><input type="radio" name="nails_15_36" value="b"></td><td>b) 70 </td></tr>
  		  <tr><td><input type="radio" name="nails_15_36" value="c"></td><td>c) 60 </td></tr>
  		  <tr><td><input type="radio" name="nails_15_36" value="d"></td><td>d) 80 </td></tr>
  		</table>
    </p>

    <p>37. When electric filing, the smallest dust particles are caused by ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_37" value="a"></td><td>a) carbide bits </td></tr>
  		  <tr><td><input type="radio" name="nails_15_37" value="b"></td><td>b) diamond bits </td></tr>
  		  <tr><td><input type="radio" name="nails_15_37" value="c"></td><td>c) sanders or sleeves </td></tr>
  		  <tr><td><input type="radio" name="nails_15_37" value="d"></td><td>d) rings of fire </td></tr>
  		</table>
    </p>

    <p>38. To reduce the amount of heat created when using an electric file, it is recommended that you _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_38" value="a"></td><td>a) adjust the speed of the machine slightly higher </td></tr>
  		  <tr><td><input type="radio" name="nails_15_38" value="b"></td><td>b) use consistent pressure with the bit </td></tr>
  		  <tr><td><input type="radio" name="nails_15_38" value="c"></td><td>c) press down harder </td></tr>
  		  <tr><td><input type="radio" name="nails_15_38" value="d"></td><td>d) leave the bit in the same place on the nail </td></tr>
  		</table>
    </p>

    <p>39. The term ________ refers to the bit catching the skin around the nail during filing. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_39" value="a"></td><td>a) "rings of fire" </td></tr>
  		  <tr><td><input type="radio" name="nails_15_39" value="b"></td><td>b) "grabbing" </td></tr>
  		  <tr><td><input type="radio" name="nails_15_39" value="c"></td><td>c) "stabbing" </td></tr>
  		  <tr><td><input type="radio" name="nails_15_39" value="d"></td><td>d) "clocking" </td></tr>
  		</table>
    </p>

    <p>40. The bit on an electric file ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_40" value="a"></td><td>a) move side-to-side </td></tr>
  		  <tr><td><input type="radio" name="nails_15_40" value="b"></td><td>b) move up and down </td></tr>
  		  <tr><td><input type="radio" name="nails_15_40" value="c"></td><td>c) turns counterclockwise </td></tr>
  		  <tr><td><input type="radio" name="nails_15_40" value="d"></td><td>d) turns clockwise </td></tr>
  		</table>
    </p>

    <p>41. To prevent grabbing, it is recommended that you keep the bit parallel to the nail, angle the finger to file the sides of the nail, and use bits with ______such as safety style bits. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_41" value="a"></td><td>a) level </td></tr>
  		  <tr><td><input type="radio" name="nails_15_41" value="b"></td><td>b) straight </td></tr>
  		  <tr><td><input type="radio" name="nails_15_41" value="c"></td><td>c) rounded </td></tr>
  		  <tr><td><input type="radio" name="nails_15_41" value="d"></td><td>d) pointed </td></tr>
  		</table>
    </p>

    <p>42. Common caused of free-edge separation include product breakdown, the client's treatment of the nails, and ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_42" value="a"></td><td>a) product use </td></tr>
  		  <tr><td><input type="radio" name="nails_15_42" value="b"></td><td>b) improper filing </td></tr>
  		  <tr><td><input type="radio" name="nails_15_42" value="c"></td><td>c) product age </td></tr>
  		  <tr><td><input type="radio" name="nails_15_42" value="d"></td><td>d) exposure to the elements </td></tr>
  		</table>
    </p>

    <p>43. When a nail enhancement ages with wear and becomes brittle and develops tiny cracks, it is important to keep the bit ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_43" value="a"></td><td>a) rings of fire </td></tr>
  		  <tr><td><input type="radio" name="nails_15_43" value="b"></td><td>b) microshattering </td></tr>
  		  <tr><td><input type="radio" name="nails_15_43" value="c"></td><td>c) product breakdown </td></tr>
  		  <tr><td><input type="radio" name="nails_15_43" value="d"></td><td>d) microtrauma </td></tr>
  		</table>
    </p>

   <p>44. When using an electric file, it is important to keep the bit ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_44" value="a"></td><td>a) straight up and down </td></tr>
  		  <tr><td><input type="radio" name="nails_15_44" value="b"></td><td>b) parallel to the nail </td></tr>
  		  <tr><td><input type="radio" name="nails_15_44" value="c"></td><td>c) at an angle to the nail </td></tr>
  		  <tr><td><input type="radio" name="nails_15_44" value="d"></td><td>d) diagonally across the free edge </td></tr>
  		</table>
    </p>

   <p>45. When washing metak file bits prior to disinfection, it is recommended that you rinse them with _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_15_45" value="a"></td><td>a) warm water </td></tr>
  		  <tr><td><input type="radio" name="nails_15_45" value="b"></td><td>b) hot water </td></tr>
  		  <tr><td><input type="radio" name="nails_15_45" value="c"></td><td>c) cold water </td></tr>
  		  <tr><td><input type="radio" name="nails_15_45" value="d"></td><td>d) acetone </td></tr>
  		</table>
    </p>
  </form>
  
  <button id="submitExam" class="btn btn-lg btn-primary">Submit</button>

</body>
</html>

