<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#submitExam").click(function(){
      var questionAnswerObj = {};
      $('#myForm input[type=radio]:checked').each(function(){
  		  questionAnswerObj[this.name] = this.value;
  	  }); 
  
      $.ajax({
        type:'POST',
        url:'/submit_Exam',
        data: { questionAnswerObj: JSON.stringify(questionAnswerObj) },
        success:function(result){
          var i;
          var out = "<table class=\"table table-striped\">";
          out += "<th>Question #</th><th>Answer Key</th><th>Your Answer Is</th>";
          x = result;
          $("#answers").empty();
          for (i = 0; i < x.length; i++) {
            out +=  "<tr><td>"  +  x[i].question_number + 
                    "</td><td>" +  x[i].answer_key +
                    "</td><td>" + x[i].your_answer + "</td></tr>";
          }
          out += "</table>";
          $("#answers").append(out);

        }
      }); // ajax
    }); // #submitExam
  });
</script>
</head>
<body>

  <h2>Chapter 4 -- Communicating For Success</h2>
  <hr>

  <form id="myForm" >

    <p>1.  Effective human relations and communication skills build _____, accelerate professional growth, and help prevent misunderstanding in the workplace.
  		<table class="table table-condensed">
  		  <tr><td>a)  strong values</td><td><input type="radio" name="nails_4_1" value="a"></td></tr>
  		  <tr><td>b)  professional ethics</td><td><input type="radio" name="nails_4_1" value="b"></td></tr>
  		  <tr><td>c)  stimulating conversations</td><td><input type="radio" name="nails_4_1" value="c"></td></tr>
  		  <tr><td>d)  lasting client relationships</td><td><input type="radio" name="nails_4_1" value="d"></td></tr>
  		</table>
    </p>

    <p>2.  When we feel secure, we act in a _____ manner.
  		<table class="table table-condensed">
  		  <tr><td>a)  confident</td><td><input type="radio" name="nails_4_2" value="a"></td></tr>
  		  <tr><td>b)  worried</td><td><input type="radio" name="nails_4_2" value="b"></td></tr>
  		  <tr><td>c)  overwhelmed</td><td><input type="radio" name="nails_4_2" value="c"></td></tr>
  		  <tr><td>d)  suspicious</td><td><input type="radio" name="nails_4_2" value="d"></td></tr>
  		</table>
    </p>

    <p>3.  People who create conflict most likely feel _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  relaxed</td><td><input type="radio" name="nails_4_3" value="a"></td></tr>
  		  <tr><td>b)  respected</td><td><input type="radio" name="nails_4_3" value="b"></td></tr>
  		  <tr><td>c)  insecure</td><td><input type="radio" name="nails_4_3" value="c"></td></tr>
  		  <tr><td>d)  secure</td><td><input type="radio" name="nails_4_3" value="d"></td></tr>
  		</table>
    </p>

    <p>4.  A good way to handle the ups and downs of human relations is to _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  be inattentive</td><td><input type="radio" name="nails_4_4" value="a"></td></tr>
  		  <tr><td>b)  believe in yourself</td><td><input type="radio" name="nails_4_4" value="b"></td></tr>
  		  <tr><td>c)  talk more and listen less</td><td><input type="radio" name="nails_4_4" value="c"></td></tr>
  		  <tr><td>d)  react instead of respond</td><td><input type="radio" name="nails_4_4" value="d"></td></tr>
  		</table>
    </p>

    <p>5.  Which of the following is not one of the golden rules of human relations?
  		<table class="table table-condensed">
  		  <tr><td>a)  Communicate from your head and problem-solve from your heart</td><td><input type="radio" name="nails_4_5" value="a"></td></tr>
  		  <tr><td>b)  See what happens when you ask for help instead of just reacting</td><td><input type="radio" name="nails_4_5" value="b"></td></tr>
  		  <tr><td>c)  Build shared goals by being a team player</td><td><input type="radio" name="nails_4_5" value="c"></td></tr>
  		  <tr><td>d)  Being right is different from acting righteously</td><td><input type="radio" name="nails_4_5" value="d"></td></tr>
  		</table>
    </p>

    <p>6.  Effective communication is defined as the act of _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  sending a message to another person or group</td><td><input type="radio" name="nails_4_6" value="a"></td></tr>
  		  <tr><td>b)  receiving a message from another person or group</td><td><input type="radio" name="nails_4_6" value="b"></td></tr>
  		  <tr><td>c)  repeating the speaker's words back in your own words</td><td><input type="radio" name="nails_4_6" value="c"></td></tr>
  		  <tr><td>d)  sharing information between two people or groups</td><td><input type="radio" name="nails_4_6" value="d"></td></tr>
  		</table>
    </p>

    <p>7.  When you meet a client for the first time, you need to be _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  very serious</td><td><input type="radio" name="nails_4_7" value="a"></td></tr>
  		  <tr><td>b)  very instructive</td><td><input type="radio" name="nails_4_7" value="b"></td></tr>
  		  <tr><td>c)  genuinely friendly</td><td><input type="radio" name="nails_4_7" value="c"></td></tr>
  		  <tr><td>d)  strictly professional</td><td><input type="radio" name="nails_4_7" value="d"></td></tr>
  		</table>
    </p>

    <p>8.  When a new client visits the salon for the first time, you should _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  assume a superior position</td><td><input type="radio" name="nails_4_8" value="a"></td></tr>
  		  <tr><td>b)  introduce him/her only to other nail technicians</td><td><input type="radio" name="nails_4_8" value="b"></td></tr>
  		  <tr><td>c)  take him/her on a quick tour of the facility</td><td><input type="radio" name="nails_4_8" value="c"></td></tr>
  		  <tr><td>d)  assume that he/she already knows your name</td><td><input type="radio" name="nails_4_8" value="d"></td></tr>
  		</table>
    </p>
    
    <p>9.  When should you do the client consultation?
  		<table class="table table-condensed">
  		  <tr><td>a)  Before the service starts</td><td><input type="radio" name="nails_4_9" value="a"></td></tr>
  		  <tr><td>b)  During the service</td><td><input type="radio" name="nails_4_9" value="b"></td></tr>
  		  <tr><td>c)  After the service</td><td><input type="radio" name="nails_4_9" value="c"></td></tr>
  		  <tr><td>d)  On the phone prior to the appointment</td><td><input type="radio" name="nails_4_9" value="d"></td></tr>
  		</table>
    </p>
    
    <p>10.  You should perform a client consultation _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  only on the client's first visit to the salon</td><td><input type="radio" name="nails_4_10" value="a"></td></tr>
  		  <tr><td>b)  to some degree, as part of every service</td><td><input type="radio" name="nails_4_10" value="b"></td></tr>
  		  <tr><td>c)  about once a year if the client regularly visits the salon</td><td><input type="radio" name="nails_4_10" value="c"></td></tr>
  		  <tr><td>d)  only when the client specifically requests one</td><td><input type="radio" name="nails_4_10" value="d"></td></tr>
  		</table>
    </p>
    
    <p>11.  The client consultation form is also sometimes called _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  a release statement</td><td><input type="radio" name="nails_4_11" value="a"></td></tr>
  		  <tr><td>b)  a manager's questionnaire</td><td><input type="radio" name="nails_4_11" value="b"></td></tr>
  		  <tr><td>c)  an employee evaluation form</td><td><input type="radio" name="nails_4_11" value="c"></td></tr>
  		  <tr><td>d)  an intake form</td><td><input type="radio" name="nails_4_11" value="d"></td></tr>
  		</table>
    </p>
    
    <p>12.  The client consultation form typically does not ask _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  the client's age</td><td><input type="radio" name="nails_4_12" value="a"></td></tr>
  		  <tr><td>b)  about prior nail services</td><td><input type="radio" name="nails_4_12" value="b"></td></tr>
  		  <tr><td>c)  the client's goals for salon visit</td><td><input type="radio" name="nails_4_12" value="c"></td></tr>
  		  <tr><td>d)  about any chronic medical conditions</td><td><input type="radio" name="nails_4_12" value="d"></td></tr>
  		</table>
    </p>
    
    <p>13.  The client consultation form can best be described as a _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  list of salon policies</td><td><input type="radio" name="nails_4_13" value="a"></td></tr>
  		  <tr><td>b)  client questionnaire</td><td><input type="radio" name="nails_4_13" value="b"></td></tr>
  		  <tr><td>c)  generalist of nail care tips</td><td><input type="radio" name="nails_4_13" value="c"></td></tr>
  		  <tr><td>d)  list of nail services</td><td><input type="radio" name="nails_4_13" value="d"></td></tr>
  		</table>
    </p>
    
    <p>14.  How much time is it recommended that you set aside for the client consultation?
  		<table class="table table-condensed">
  		  <tr><td>a)  15-20 minutes</td><td><input type="radio" name="nails_4_14" value="a"></td></tr>
  		  <tr><td>b)  3-5 minutes</td><td><input type="radio" name="nails_4_14" value="b"></td></tr>
  		  <tr><td>c)  5-15 minutes</td><td><input type="radio" name="nails_4_14" value="c"></td></tr>
  		  <tr><td>d)  30 minutes</td><td><input type="radio" name="nails_4_14" value="d"></td></tr>
  		</table>
    </p>
    
    <p>15.  To help your client make choices that reflect a personal sense of style, it is recommended that you _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  research different fashion styles and determine which best suits the client</td><td><input type="radio" name="nails_4_15" value="a"></td></tr>
  		  <tr><td>b)  use only the most current nail technologies</td><td><input type="radio" name="nails_4_15" value="b"></td></tr>
  		  <tr><td>c)  master one popular style and apply to all clients</td><td><input type="radio" name="nails_4_15" value="c"></td></tr>
  		  <tr><td>d)  perform the service style you are most comfortable with</td><td><input type="radio" name="nails_4_15" value="d"></td></tr>
  		</table>
    </p>
    
    <p>16.  A person who prefers classic styling in clothing would likely want a _____ with respect to her nails, makeup, and hair.
  		<table class="table table-condensed">
  		  <tr><td>a)  simple and sophisticated look</td><td><input type="radio" name="nails_4_16" value="a"></td></tr>
  		  <tr><td>b)  monochromatic nail polish</td><td><input type="radio" name="nails_4_16" value="b"></td></tr>
  		  <tr><td>c)  no bright patterns or colors</td><td><input type="radio" name="nails_4_16" value="c"></td></tr>
  		  <tr><td>d)  a look that demands greater attention</td><td><input type="radio" name="nails_4_16" value="d"></td></tr>
  		</table>
    </p>
    
    <p>17.  Which of these steps in the consultation process involves encouraging clients to flip through your photo collections to discuss what they like and why?
  		<table class="table table-condensed">
  		  <tr><td>a)  Analyze the client's nails</td><td><input type="radio" name="nails_4_17" value="a"></td></tr>
  		  <tr><td>b)  Make suggestions</td><td><input type="radio" name="nails_4_17" value="b"></td></tr>
  		  <tr><td>c)  Show and tell</td><td><input type="radio" name="nails_4_17" value="c"></td></tr>
  		  <tr><td>d)  Discuss upkeep and maintenance</td><td><input type="radio" name="nails_4_17" value="d"></td></tr>
  		</table>
    </p>
    
    <p>18.  Before the client gets to your station for the consultation you should _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  put out a variety of pictures showing different nails shapes, lengths, and designs</td><td><input type="radio" name="nails_4_18" value="a"></td></tr>
  		  <tr><td>b)  mess it up a little so it looks like you have been very busy</td><td><input type="radio" name="nails_4_18" value="b"></td></tr>
  		  <tr><td>c)  put away your photos of hand/foot models and nail charts</td><td><input type="radio" name="nails_4_18" value="c"></td></tr>
  		  <tr><td>d)  put your portfolio and camera out of the way</td><td><input type="radio" name="nails_4_18" value="d"></td></tr>
  		</table>
    </p>

    <p>19.  A primary purpose of the client consultation is to have a conversation that will clue you in on his or her needs and _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  personal goals</td><td><input type="radio" name="nails_4_19" value="a"></td></tr>
  		  <tr><td>b)  professional interests</td><td><input type="radio" name="nails_4_19" value="b"></td></tr>
  		  <tr><td>c)  personal preferences</td><td><input type="radio" name="nails_4_19" value="c"></td></tr>
  		  <tr><td>d)  family habits</td><td><input type="radio" name="nails_4_19" value="d"></td></tr>
  		</table>
    </p>

    <p>20.  When using the 10-step consultation method, what should you do next after discussing the client's personal preferences?
  		<table class="table table-condensed">
  		  <tr><td>a)  Analyze the client's hands and fingertips</td><td><input type="radio" name="nails_4_20" value="a"></td></tr>
  		  <tr><td>b)  Have her look through photos and point out finished looks she likes</td><td><input type="radio" name="nails_4_20" value="b"></td></tr>
  		  <tr><td>c)  Make some style suggestions</td><td><input type="radio" name="nails_4_20" value="c"></td></tr>
  		  <tr><td>d)  Review the consultation form she filled out</td><td><input type="radio" name="nails_4_20" value="d"></td></tr>
  		</table>
    </p>

    <p>21.  During the client consultation you should _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  refrain from suggesting additional services</td><td><input type="radio" name="nails_4_21" value="a"></td></tr>
  		  <tr><td>b)  try not to look directly at the client's nails</td><td><input type="radio" name="nails_4_21" value="b"></td></tr>
  		  <tr><td>c)  discuss the client's nail history</td><td><input type="radio" name="nails_4_21" value="c"></td></tr>
  		  <tr><td>d)  focus on the most costly services</td><td><input type="radio" name="nails_4_21" value="d"></td></tr>
  		</table>
    </p>

    <p>22.  Toward the end of the client consultation, you should counsel the client on the _____ associated with a given nail style or service
            as well as salon and home maintenance commitments needed to keep their nails looking their best at all times.
  		<table class="table table-condensed">
  		  <tr><td>a)  work limitations</td><td><input type="radio" name="nails_4_22" value="a"></td></tr>
  		  <tr><td>b)  noticeability</td><td><input type="radio" name="nails_4_22" value="b"></td></tr>
  		  <tr><td>c)  flamboyance</td><td><input type="radio" name="nails_4_22" value="c"></td></tr>
  		  <tr><td>d)  lifestyle limitations</td><td><input type="radio" name="nails_4_22" value="d"></td></tr>
  		</table>
    </p>

    <p>23.  Your reactions to situations beyond your control, and your ability to _____ in the face of challenges, are critical to being successful in a people profession.
  		<table class="table table-condensed">
  		  <tr><td>a)  stand up</td><td><input type="radio" name="nails_4_23" value="a"></td></tr>
  		  <tr><td>b)  communicate</td><td><input type="radio" name="nails_4_23" value="b"></td></tr>
  		  <tr><td>c)  control fear</td><td><input type="radio" name="nails_4_23" value="c"></td></tr>
  		  <tr><td>d)  remain assertive</td><td><input type="radio" name="nails_4_23" value="d"></td></tr>
  		</table>
    </p>

    <p>24.  Many salon set a limited amount of time that they allow a client to be late before they require them to reschedule.  What is the common time limit?
  		<table class="table table-condensed">
  		  <tr><td>a)  15 minutes</td><td><input type="radio" name="nails_4_24" value="a"></td></tr>
  		  <tr><td>b)  5 minutes</td><td><input type="radio" name="nails_4_24" value="b"></td></tr>
  		  <tr><td>c)  30 minutes</td><td><input type="radio" name="nails_4_24" value="c"></td></tr>
  		  <tr><td>d)  45 minutes</td><td><input type="radio" name="nails_4_24" value="d"></td></tr>
  		</table>
    </p>

    <p>25.  If your tardy client arrives and you have the time to take her without jeopardizing other clients' appointments, you should _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  refuse to take her and explain why</td><td><input type="radio" name="nails_4_25" value="a"></td></tr>
  		  <tr><td>b)  refuse to take her without explaining why</td><td><input type="radio" name="nails_4_25" value="b"></td></tr>
  		  <tr><td>c)  take her and act like there is not a problem</td><td><input type="radio" name="nails_4_25" value="c"></td></tr>
  		  <tr><td>d)  take her but let her know why in a pleasant manner</td><td><input type="radio" name="nails_4_25" value="d"></td></tr>
  		</table>
    </p>


    <p>26.  If you are running late and you know it will cause delays for a later client, it is recommended that you _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  hurry through the rest of your day and hope for the best</td><td><input type="radio" name="nails_4_26" value="a"></td></tr>
  		  <tr><td>b)  have the client wait without explaination until you are ready</td><td><input type="radio" name="nails_4_26" value="b"></td></tr>
  		  <tr><td>c)  have the receptionist call or text the client, explain the situation, and ask if she would like to reschedule</td><td><input type="radio" name="nails_4_26" value="c"></td></tr>
  		  <tr><td>d)  call the client and cancel her appointment</td><td><input type="radio" name="nails_4_26" value="d"></td></tr>
  		</table>
    </p>


    <p>27.  If you get involved in a rescheduling mix-up, you should _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  be polite while arguing that you are correct</td><td><input type="radio" name="nails_4_27" value="a"></td></tr>
  		  <tr><td>b)  be polite and refrain from arguing</td><td><input type="radio" name="nails_4_27" value="b"></td></tr>
  		  <tr><td>c)  be assertive and argue that you are correct</td><td><input type="radio" name="nails_4_27" value="c"></td></tr>
  		  <tr><td>d)  be aggressive but refrain from arguing</td><td><input type="radio" name="nails_4_27" value="d"></td></tr>
  		</table>
    </p>

    <p>28.  If a client has a problem with the service and you cannot change what she disklikes, you should _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  honestly and tactfully explain why the problem cannot be fixed</td><td><input type="radio" name="nails_4_28" value="a"></td></tr>
  		  <tr><td>b)  state that you cannot do what she wants, and return to other clients</td><td><input type="radio" name="nails_4_28" value="b"></td></tr>
  		  <tr><td>c)  provide a compromised service in an attempt to please her</td><td><input type="radio" name="nails_4_28" value="c"></td></tr>
  		  <tr><td>d)  apologize but firmly state it cannot be fixed</td><td><input type="radio" name="nails_4_28" value="d"></td></tr>
  		</table>
    </p>

    <p>29.  When faced with an unhappy client in a situation where you are unsure of what to do, it is recommended that you call on _____ or the salon manager for suggestions.
  		<table class="table table-condensed">
  		  <tr><td>a)  a more experienced nail technician</td><td><input type="radio" name="nails_4_29" value="a"></td></tr>
  		  <tr><td>b)  the salon owner</td><td><input type="radio" name="nails_4_29" value="b"></td></tr>
  		  <tr><td>c)  the newest trainee</td><td><input type="radio" name="nails_4_29" value="c"></td></tr>
  		  <tr><td>d)  another client</td><td><input type="radio" name="nails_4_29" value="d"></td></tr>
  		</table>
    </p>
  
    <p>30.  Why is it best to avoid the use of slang?
  		<table class="table table-condensed">
  		  <tr><td>a)  It makes one appear uneducated</td><td><input type="radio" name="nails_4_30" value="a"></td></tr>
  		  <tr><td>b)  It is always against business policy</td><td><input type="radio" name="nails_4_30" value="b"></td></tr>
  		  <tr><td>c)  It may frustrate your clients</td><td><input type="radio" name="nails_4_30" value="c"></td></tr>
  		  <tr><td>d)  The same word can have a different meaning across cultures</td><td><input type="radio" name="nails_4_30" value="d"></td></tr>
  		</table>
    </p>

    <p>31.  Mutual respect, which transforms a good nail technician into a _____ and colleague, naturally follows.
  		<table class="table table-condensed">
  		  <tr><td>a)  well-known technician</td><td><input type="radio" name="nails_4_31" value="a"></td></tr>
  		  <tr><td>b)  likable person</td><td><input type="radio" name="nails_4_31" value="b"></td></tr>
  		  <tr><td>c)  popular individual</td><td><input type="radio" name="nails_4_31" value="c"></td></tr>
  		  <tr><td>d)  trusted advisor</td><td><input type="radio" name="nails_4_31" value="d"></td></tr>
  		</table>
    </p>

    <p>32.  Always remember that _____ is the best relationship builder.
  		<table class="table table-condensed">
  		  <tr><td>a)  laughing</td><td><input type="radio" name="nails_4_32" value="a"></td></tr>
  		  <tr><td>b)  listening</td><td><input type="radio" name="nails_4_32" value="b"></td></tr>
  		  <tr><td>c)  playing</td><td><input type="radio" name="nails_4_32" value="c"></td></tr>
  		  <tr><td>d)  debating</td><td><input type="radio" name="nails_4_32" value="d"></td></tr>
  		</table>
    </p>


    <p>33.  When interacting with your co-workers, it is recommended that you _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  take sides when co-workers are arguing</td><td><input type="radio" name="nails_4_33" value="a"></td></tr>
  		  <tr><td>b)  be honest even if it means being insensitive</td><td><input type="radio" name="nails_4_33" value="b"></td></tr>
  		  <tr><td>c)  seek hellp from someone you respect when you are at odds with a co-worker</td><td><input type="radio" name="nails_4_33" value="c"></td></tr>
  		  <tr><td>d)  freely share details about your private life</td><td><input type="radio" name="nails_4_33" value="d"></td></tr>
  		</table>
    </p>


    <p>34.  Regardless of whether or not you like someone, your colleagues are professionals who deserve _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  your opinion</td><td><input type="radio" name="nails_4_34" value="a"></td></tr>
  		  <tr><td>b)  career success</td><td><input type="radio" name="nails_4_34" value="b"></td></tr>
  		  <tr><td>c)  total happiness</td><td><input type="radio" name="nails_4_34" value="c"></td></tr>
  		  <tr><td>d)  your respect</td><td><input type="radio" name="nails_4_34" value="d"></td></tr>
  		</table>
    </p>


    <p>35.  The salon manager is generally the person with the most responsibility regarding the _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  salon's overall operation</td><td><input type="radio" name="nails_4_35" value="a"></td></tr>
  		  <tr><td>b)  effectiveness of the telephone system</td><td><input type="radio" name="nails_4_35" value="b"></td></tr>
  		  <tr><td>c)  front desk management</td><td><input type="radio" name="nails_4_35" value="c"></td></tr>
  		  <tr><td>d)  inventory and supplies</td><td><input type="radio" name="nails_4_35" value="d"></td></tr>
  		</table>
    </p>

    <p>36.  When interacting with the salon manager, you should _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  try to minimize your mistakes</td><td><input type="radio" name="nails_4_36" value="a"></td></tr>
  		  <tr><td>b)  discuss your colleagues</td><td><input type="radio" name="nails_4_36" value="b"></td></tr>
  		  <tr><td>c)  be open to constructive criticism</td><td><input type="radio" name="nails_4_36" value="c"></td></tr>
  		  <tr><td>d)  assume that a person exists</td><td><input type="radio" name="nails_4_36" value="d"></td></tr>
  		</table>
    </p>

    <p>37.  A periodic review of an employee's behaviors and activities important to the salon is called _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  a consultation</td><td><input type="radio" name="nails_4_37" value="a"></td></tr>
  		  <tr><td>b)  an employee evaluation</td><td><input type="radio" name="nails_4_37" value="b"></td></tr>
  		  <tr><td>c)  an annual meeting</td><td><input type="radio" name="nails_4_37" value="c"></td></tr>
  		  <tr><td>d)  an advisory session</td><td><input type="radio" name="nails_4_37" value="d"></td></tr>
  		</table>
    </p>
    
    <p>38.  Many beauty professionals do not take advantage of the crucial communication opportunity with their supervisor to discuss their _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  future advancements</td><td><input type="radio" name="nails_4_38" value="a"></td></tr>
  		  <tr><td>b)  requests for policy changes</td><td><input type="radio" name="nails_4_38" value="b"></td></tr>
  		  <tr><td>c)  personal hobbies</td><td><input type="radio" name="nails_4_38" value="c"></td></tr>
  		  <tr><td>d)  observations of co-workers</td><td><input type="radio" name="nails_4_38" value="d"></td></tr>
  		</table>
    </p>
    
    <p>39.  At the end of an evaluation performance review meeting, _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  question the supervisor's observations</td><td><input type="radio" name="nails_4_39" value="a"></td></tr>
  		  <tr><td>b)  begin discussions regarding pay</td><td><input type="radio" name="nails_4_39" value="b"></td></tr>
  		  <tr><td>c)  thank the manager for the feedback and guidance</td><td><input type="radio" name="nails_4_39" value="c"></td></tr>
  		  <tr><td>d)  invite the manager out for lunch</td><td><input type="radio" name="nails_4_39" value="d"></td></tr>
  		</table>
    </p>
    
    <p>40.  As the time for your review draws near, it is recommended that you _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  ask about possible promotions</td><td><input type="radio" name="nails_4_40" value="a"></td></tr>
  		  <tr><td>b)  ask when you might be getting a raise</td><td><input type="radio" name="nails_4_40" value="b"></td></tr>
  		  <tr><td>c)  perform a self-evaluation of your performance</td><td><input type="radio" name="nails_4_40" value="c"></td></tr>
  		  <tr><td>d)  ask your manager about continuing education</td><td><input type="radio" name="nails_4_40" value="d"></td></tr>
  		</table>
    </p>
    
    <p>41.  A fundamental factor in human relations involves a person's sense of _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  security</td><td><input type="radio" name="nails_4_41" value="a"></td></tr>
  		  <tr><td>b)  success</td><td><input type="radio" name="nails_4_41" value="b"></td></tr>
  		  <tr><td>c)  accomplishment</td><td><input type="radio" name="nails_4_41" value="c"></td></tr>
  		  <tr><td>d)  purpose</td><td><input type="radio" name="nails_4_41" value="d"></td></tr>
  		</table>
    </p>
    
    <p>42.  When you believe in yourself, you trust your judgment, _____, and stick to what you believe is right.
  		<table class="table table-condensed">
  		  <tr><td>a)  seek your goals</td><td><input type="radio" name="nails_4_42" value="a"></td></tr>
  		  <tr><td>b)  follow your dreams</td><td><input type="radio" name="nails_4_42" value="b"></td></tr>
  		  <tr><td>c)  pursue happiness</td><td><input type="radio" name="nails_4_42" value="c"></td></tr>
  		  <tr><td>d)  uphold your values</td><td><input type="radio" name="nails_4_42" value="d"></td></tr>
  		</table>
    </p>
    
    <p>43.  You can communicate through words, voice inflections, _____, body language, or visual tools.
  		<table class="table table-condensed">
  		  <tr><td>a)  thoughts</td><td><input type="radio" name="nails_4_43" value="a"></td></tr>
  		  <tr><td>b)  dreams</td><td><input type="radio" name="nails_4_43" value="b"></td></tr>
  		  <tr><td>c)  facial expressions</td><td><input type="radio" name="nails_4_43" value="c"></td></tr>
  		  <tr><td>d)  mechanical tools</td><td><input type="radio" name="nails_4_43" value="d"></td></tr>
  		</table>
    </p>
    
    <p>44.  Clients are coming to you for services and paying for your expertise, which means you need to _____ every time they come to see you.
  		<table class="table table-condensed">
  		  <tr><td>a)  court them</td><td><input type="radio" name="nails_4_44" value="a"></td></tr>
  		  <tr><td>b)  change them</td><td><input type="radio" name="nails_4_44" value="b"></td></tr>
  		  <tr><td>c)  challenge them</td><td><input type="radio" name="nails_4_44" value="c"></td></tr>
  		  <tr><td>d)  assume their loyalty</td><td><input type="radio" name="nails_4_44" value="d"></td></tr>
  		</table>
    </p>

    <p>45.  Clients with a dramatic style generally _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  choose nail designs that demand greater attention</td><td><input type="radio" name="nails_4_45" value="a"></td></tr>
  		  <tr><td>b)  choose nail designs that allow for fewer options</td><td><input type="radio" name="nails_4_45" value="b"></td></tr>
  		  <tr><td>c)  are less open to trying new products</td><td><input type="radio" name="nails_4_45" value="c"></td></tr>
  		  <tr><td>d)  disklike having additional services, such as nail art</td><td><input type="radio" name="nails_4_45" value="d"></td></tr>
  		</table>
    </p>

  </form>
  
  <button id="submitExam" class="btn btn-lg btn-primary">Submit</button>

</body>
</html>
