<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#submitExam").click(function(){
      var questionAnswerObj = {};
      $('#myForm input[type=radio]:checked').each(function(){
  		  questionAnswerObj[this.name] = this.value;
  	  }); 
  
      $.ajax({
        type:'POST',
        url:'/submit_Exam',
        data: { questionAnswerObj: JSON.stringify(questionAnswerObj) },
        success:function(result){
          var i;
          var out = "<table class=\"table table-striped\">";
          out += "<th>Question #</th><th>Answer Key</th><th>Your Answer Is</th>";
          x = result;
          $("#answers").empty();
          for (i = 0; i < x.length; i++) {
            out +=  "<tr><td>"  +  x[i].question_number + 
                    "</td><td>" +  x[i].answer_key +
                    "</td><td>" + x[i].your_answer + "</td></tr>";
          }
          out += "</table>";
          $("#answers").append(out);

        }
      }); // ajax
    }); // #submitExam
  });
</script>
</head>
<body>

  <h2>Chapter 3 -- Your Professional Image</h2>
  <hr>

  <form id="myForm" >

    <p>1.  When your appearance and the way that you conduct yourself are in harmony with the beauty business,
            your chances of being successful increase _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  slightly</td><td><input type="radio" name="nails_3_1" value="a"></td></tr>
  		  <tr><td>b)  dramatically</td><td><input type="radio" name="nails_3_1" value="b"></td></tr>
  		  <tr><td>c)  overtime</td><td><input type="radio" name="nails_3_1" value="c"></td></tr>
  		  <tr><td>d)  gradually</td><td><input type="radio" name="nails_3_1" value="d"></td></tr>
  		</table>
    </p>

    <p>2.  One weak moment of _____ right before performing a service because you did not plan
            ahead could spell disaster.
  		<table class="table table-condensed">
  		  <tr><td>a)  calling a friend</td><td><input type="radio" name="nails_3_2" value="a"></td></tr>
  		  <tr><td>b)  posting on Facebook</td><td><input type="radio" name="nails_3_2" value="b"></td></tr>
  		  <tr><td>c)  texting a colleague</td><td><input type="radio" name="nails_3_2" value="c"></td></tr>
  		  <tr><td>d)  drinking coffee</td><td><input type="radio" name="nails_3_2" value="d"></td></tr>
  		</table>
    </p>

    <p>3.  Most clients will _____ if you smell offensive, and they will not likely return for another service.
  		<table class="table table-condensed">
  		  <tr><td>a)  say nonthing</td><td><input type="radio" name="nails_3_3" value="a"></td></tr>
  		  <tr><td>b)  tell you discreetly</td><td><input type="radio" name="nails_3_3" value="b"></td></tr>
  		  <tr><td>c)  tell you bluntly</td><td><input type="radio" name="nails_3_3" value="c"></td></tr>
  		  <tr><td>d)  cancel the appointment</td><td><input type="radio" name="nails_3_3" value="d"></td></tr>
  		</table>
    </p>

    <p>4.  Working as a _____ means you must be extremely meticulous about your hygiene
  		<table class="table table-condensed">
  		  <tr><td>a)  concerned citizen</td><td><input type="radio" name="nails_3_4" value="a"></td></tr>
  		  <tr><td>b)  computer programmer</td><td><input type="radio" name="nails_3_4" value="b"></td></tr>
  		  <tr><td>c)  nail technician</td><td><input type="radio" name="nails_3_4" value="c"></td></tr>
  		  <tr><td>d)  technical writer</td><td><input type="radio" name="nails_3_4" value="d"></td></tr>
  		</table>
    </p>

    <p>5.  Which of these items should be kept in your hygiene pack?
  		<table class="table table-condensed">
  		  <tr><td>a)  Toothbrush</td><td><input type="radio" name="nails_3_5" value="a"></td></tr>
  		  <tr><td>b)  Teeth whitener</td><td><input type="radio" name="nails_3_5" value="b"></td></tr>
  		  <tr><td>c)  Lipstick</td><td><input type="radio" name="nails_3_5" value="c"></td></tr>
  		  <tr><td>d)  Gum</td><td><input type="radio" name="nails_3_5" value="d"></td></tr>
  		</table>
    </p>

    <p>6.  Good personal hygiene habits include washing your hands throughout the day as required, including _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  before each service</td><td><input type="radio" name="nails_3_6" value="a"></td></tr>
  		  <tr><td>b)  before applying nail polish</td><td><input type="radio" name="nails_3_6" value="b"></td></tr>
  		  <tr><td>c)  after filing a client's nails</td><td><input type="radio" name="nails_3_6" value="c"></td></tr>
  		  <tr><td>d)  after applying nail polish</td><td><input type="radio" name="nails_3_6" value="d"></td></tr>
  		</table>
    </p>

    <p>7.  Which of these items is not typically part of a hygiene pack?
  		<table class="table table-condensed">
  		  <tr><td>a)  Sanitizing hand wipes</td><td><input type="radio" name="nails_3_7" value="a"></td></tr>
  		  <tr><td>b)  Dental floss</td><td><input type="radio" name="nails_3_7" value="b"></td></tr>
  		  <tr><td>c)  Shampoo</td><td><input type="radio" name="nails_3_7" value="c"></td></tr>
  		  <tr><td>d)  Mouthwash</td><td><input type="radio" name="nails_3_7" value="d"></td></tr>
  		</table>
    </p>

    <p>8.  The professional nail technician should brush and floss his or her teeth and use _____ throughout
            the day as needed.
  		<table class="table table-condensed">
  		  <tr><td>a)  lotion</td><td><input type="radio" name="nails_3_8" value="a"></td></tr>
  		  <tr><td>b)  antiseptic</td><td><input type="radio" name="nails_3_8" value="b"></td></tr>
  		  <tr><td>c)  fragrance</td><td><input type="radio" name="nails_3_8" value="c"></td></tr>
  		  <tr><td>d)  mouthwash</td><td><input type="radio" name="nails_3_8" value="d"></td></tr>
  		</table>
    </p>
    
    <p>9.  If you must smoke cigarettes, do not smoke _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  at home</td><td><input type="radio" name="nails_3_9" value="a"></td></tr>
  		  <tr><td>b)  during work hours</td><td><input type="radio" name="nails_3_9" value="b"></td></tr>
  		  <tr><td>c)  in your car</td><td><input type="radio" name="nails_3_9" value="c"></td></tr>
  		  <tr><td>d)  during social events</td><td><input type="radio" name="nails_3_9" value="d"></td></tr>
  		</table>
    </p>
    
    <p>10.  If you smoke during your lunch break, brush your teeth, use mouthwash, and wash your
              hands afterward to avoid _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  premature aging</td><td><input type="radio" name="nails_3_10" value="a"></td></tr>
  		  <tr><td>b)  gum disease</td><td><input type="radio" name="nails_3_10" value="b"></td></tr>
  		  <tr><td>c)  dry mouth</td><td><input type="radio" name="nails_3_10" value="c"></td></tr>
  		  <tr><td>d)  an offensive lingering smell</td><td><input type="radio" name="nails_3_10" value="d"></td></tr>
  		</table>
    </p>
    
    <p>11.  As a beauty professional, it is recommended that you change your style:  _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  frequently</td><td><input type="radio" name="nails_3_11" value="a"></td></tr>
  		  <tr><td>b)  annually</td><td><input type="radio" name="nails_3_11" value="b"></td></tr>
  		  <tr><td>c)  twice a year</td><td><input type="radio" name="nails_3_11" value="c"></td></tr>
  		  <tr><td>d)  as your mood suggests</td><td><input type="radio" name="nails_3_11" value="d"></td></tr>
  		</table>
    </p>
    
    <p>12.  Many salon owners and managers view appearance and poise as being _____ technical knowledge and skills.
  		<table class="table table-condensed">
  		  <tr><td>a)  less important than</td><td><input type="radio" name="nails_3_12" value="a"></td></tr>
  		  <tr><td>b)  more important than</td><td><input type="radio" name="nails_3_12" value="b"></td></tr>
  		  <tr><td>c)  just as important as</td><td><input type="radio" name="nails_3_12" value="c"></td></tr>
  		  <tr><td>d)  not relevant to</td><td><input type="radio" name="nails_3_12" value="d"></td></tr>
  		</table>
    </p>
    
    <p>13.  In addition to being free of dirt, it is important that your clothes be _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  stain free</td><td><input type="radio" name="nails_3_13" value="a"></td></tr>
  		  <tr><td>b)  colorful</td><td><input type="radio" name="nails_3_13" value="b"></td></tr>
  		  <tr><td>c)  new</td><td><input type="radio" name="nails_3_13" value="c"></td></tr>
  		  <tr><td>d)  expensive</td><td><input type="radio" name="nails_3_13" value="d"></td></tr>
  		</table>
    </p>
    
    <p>14.  You should always put _____ first in every aspect of your work.
  		<table class="table table-condensed">
  		  <tr><td>a)  the task at hand</td><td><input type="radio" name="nails_3_14" value="a"></td></tr>
  		  <tr><td>b)  your potential earnings</td><td><input type="radio" name="nails_3_14" value="b"></td></tr>
  		  <tr><td>c)  your health</td><td><input type="radio" name="nails_3_14" value="c"></td></tr>
  		  <tr><td>d)  the salon's bottom line</td><td><input type="radio" name="nails_3_14" value="d"></td></tr>
  		</table>
    </p>
    
    <p>15.  To help protect your clothes from dirt and stains, you should invest in _____ to wear at work.
  		<table class="table table-condensed">
  		  <tr><td>a)  a pair of coveralls</td><td><input type="radio" name="nails_3_15" value="a"></td></tr>
  		  <tr><td>b)  an apron or smock</td><td><input type="radio" name="nails_3_15" value="b"></td></tr>
  		  <tr><td>c)  a pair of scrubs</td><td><input type="radio" name="nails_3_15" value="c"></td></tr>
  		  <tr><td>d)  Scotch-guarded clothing</td><td><input type="radio" name="nails_3_15" value="d"></td></tr>
  		</table>
    </p>
    
    <p>16.  It is recommended that you only wear perfume _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  after work</td><td><input type="radio" name="nails_3_16" value="a"></td></tr>
  		  <tr><td>b)  before work</td><td><input type="radio" name="nails_3_16" value="b"></td></tr>
  		  <tr><td>c)  after smoking</td><td><input type="radio" name="nails_3_16" value="c"></td></tr>
  		  <tr><td>d)  throughout the day</td><td><input type="radio" name="nails_3_16" value="d"></td></tr>
  		</table>
    </p>
    
    <p>17.  Your professional image is the impression you project through both your _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  thoughts and attitude</td><td><input type="radio" name="nails_3_17" value="a"></td></tr>
  		  <tr><td>b)  attitude and personality</td><td><input type="radio" name="nails_3_17" value="b"></td></tr>
  		  <tr><td>c)  outward appearance and professional conduct</td><td><input type="radio" name="nails_3_17" value="c"></td></tr>
  		  <tr><td>d)  appearance and social conduct</td><td><input type="radio" name="nails_3_17" value="d"></td></tr>
  		</table>
    </p>
    
    <p>18.  The best way to ensure that you are dressed for success is to "tune in" to _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  your innermost desires</td><td><input type="radio" name="nails_3_18" value="a"></td></tr>
  		  <tr><td>b)  your career goals</td><td><input type="radio" name="nails_3_18" value="b"></td></tr>
  		  <tr><td>c)  the weather and environment</td><td><input type="radio" name="nails_3_18" value="c"></td></tr>
  		  <tr><td>d)  the salon's culture and clientele</td><td><input type="radio" name="nails_3_18" value="d"></td></tr>
  		</table>
    </p>

    <p>19.  When shopping for work clothes, you should primarily think about _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  whether you are getting a good bargain</td><td><input type="radio" name="nails_3_19" value="a"></td></tr>
  		  <tr><td>b)  how you would look in them while performing client services</td><td><input type="radio" name="nails_3_19" value="b"></td></tr>
  		  <tr><td>c)  whether they enhance your figure to the maximum</td><td><input type="radio" name="nails_3_19" value="c"></td></tr>
  		  <tr><td>d)  how long they will be in style</td><td><input type="radio" name="nails_3_19" value="d"></td></tr>
  		</table>
    </p>

    <p>20.  To a large degree, your clothing should _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  reflect the fashions of the season</td><td><input type="radio" name="nails_3_20" value="a"></td></tr>
  		  <tr><td>b)  be completely unique and unexpected</td><td><input type="radio" name="nails_3_20" value="b"></td></tr>
  		  <tr><td>c)  focus on comfort over appearance</td><td><input type="radio" name="nails_3_20" value="c"></td></tr>
  		  <tr><td>d)  be replaced every two to three weeks</td><td><input type="radio" name="nails_3_20" value="d"></td></tr>
  		</table>
    </p>

    <p>21.  It is generally a good idea to make sure that your clothing is clean, _____, and stylish.
  		<table class="table table-condensed">
  		  <tr><td>a)  colorful</td><td><input type="radio" name="nails_3_21" value="a"></td></tr>
  		  <tr><td>b)  dry-clean only</td><td><input type="radio" name="nails_3_21" value="b"></td></tr>
  		  <tr><td>c)  washable</td><td><input type="radio" name="nails_3_21" value="c"></td></tr>
  		  <tr><td>d)  functional</td><td><input type="radio" name="nails_3_21" value="d"></td></tr>
  		</table>
    </p>

    <p>22.  Which of these jewelry items is least approriate for the typical salon?
  		<table class="table table-condensed">
  		  <tr><td>a)  A pair of stud earings</td><td><input type="radio" name="nails_3_22" value="a"></td></tr>
  		  <tr><td>b)  A thin rope necklace</td><td><input type="radio" name="nails_3_22" value="b"></td></tr>
  		  <tr><td>c)  A loose, jingly bracelet</td><td><input type="radio" name="nails_3_22" value="c"></td></tr>
  		  <tr><td>d)  A band-style ring</td><td><input type="radio" name="nails_3_22" value="d"></td></tr>
  		</table>
    </p>

    <p>23.  Your shoes should have a low heel and _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  offer good support</td><td><input type="radio" name="nails_3_23" value="a"></td></tr>
  		  <tr><td>b)  have a soft sole</td><td><input type="radio" name="nails_3_23" value="b"></td></tr>
  		  <tr><td>c)  have a tight fit</td><td><input type="radio" name="nails_3_23" value="c"></td></tr>
  		  <tr><td>d)  have a loose fit</td><td><input type="radio" name="nails_3_23" value="d"></td></tr>
  		</table>
    </p>

    <p>24.  When should female technicians wear makeup at work?
  		<table class="table table-condensed">
  		  <tr><td>a)  Never</td><td><input type="radio" name="nails_3_24" value="a"></td></tr>
  		  <tr><td>b)  Always</td><td><input type="radio" name="nails_3_24" value="b"></td></tr>
  		  <tr><td>c)  Occasionally</td><td><input type="radio" name="nails_3_24" value="c"></td></tr>
  		  <tr><td>d)  As directed</td><td><input type="radio" name="nails_3_24" value="d"></td></tr>
  		</table>
    </p>

    <p>25.  Good physical posture, an even gait, and careful movements are very important parts of your _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  physical strength</td><td><input type="radio" name="nails_3_25" value="a"></td></tr>
  		  <tr><td>b)  personal agility</td><td><input type="radio" name="nails_3_25" value="b"></td></tr>
  		  <tr><td>c)  personality and attitude</td><td><input type="radio" name="nails_3_25" value="c"></td></tr>
  		  <tr><td>d)  physical presentation</td><td><input type="radio" name="nails_3_25" value="d"></td></tr>
  		</table>
    </p>


    <p>26.  _____ can put a great deal of stress on your neck, shoulders, back, and legs.
  		<table class="table table-condensed">
  		  <tr><td>a)  Standing erectly</td><td><input type="radio" name="nails_3_26" value="a"></td></tr>
  		  <tr><td>b)  Joggling regularly</td><td><input type="radio" name="nails_3_26" value="b"></td></tr>
  		  <tr><td>c)  Walking slowly</td><td><input type="radio" name="nails_3_26" value="c"></td></tr>
  		  <tr><td>d)  Sitting improperly</td><td><input type="radio" name="nails_3_26" value="d"></td></tr>
  		</table>
    </p>


    <p>27.  Stress on the body can cause strain and/or _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  lethargy</td><td><input type="radio" name="nails_3_27" value="a"></td></tr>
  		  <tr><td>b)  illness</td><td><input type="radio" name="nails_3_27" value="b"></td></tr>
  		  <tr><td>c)  injury</td><td><input type="radio" name="nails_3_27" value="c"></td></tr>
  		  <tr><td>d)  energy</td><td><input type="radio" name="nails_3_27" value="d"></td></tr>
  		</table>
    </p>

    <p>28.  As you work, your neck should be _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  elongated and balanced above the shoulders</td><td><input type="radio" name="nails_3_28" value="a"></td></tr>
  		  <tr><td>b)  bent over client</td><td><input type="radio" name="nails_3_28" value="b"></td></tr>
  		  <tr><td>c)  leaning toward your dominant hand</td><td><input type="radio" name="nails_3_28" value="c"></td></tr>
  		  <tr><td>d)  leaning away from your dominant hand</td><td><input type="radio" name="nails_3_28" value="d"></td></tr>
  		</table>
    </p>

    <p>29.  As you work, you should keep your chest _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  up and in</td><td><input type="radio" name="nails_3_29" value="a"></td></tr>
  		  <tr><td>b)  out and up</td><td><input type="radio" name="nails_3_29" value="b"></td></tr>
  		  <tr><td>c)  down and in</td><td><input type="radio" name="nails_3_29" value="c"></td></tr>
  		  <tr><td>d)  relaxed</td><td><input type="radio" name="nails_3_29" value="d"></td></tr>
  		</table>
    </p>
  
    <p>30.  You should keep your back _____ as you work.
  		<table class="table table-condensed">
  		  <tr><td>a)  curved</td><td><input type="radio" name="nails_3_30" value="a"></td></tr>
  		  <tr><td>b)  bent</td><td><input type="radio" name="nails_3_30" value="b"></td></tr>
  		  <tr><td>c)  straight</td><td><input type="radio" name="nails_3_30" value="c"></td></tr>
  		  <tr><td>d)  turned</td><td><input type="radio" name="nails_3_30" value="d"></td></tr>
  		</table>
    </p>

    <p>31.  Your _____ should be pulled in so that it is flat while you work.
  		<table class="table table-condensed">
  		  <tr><td>a)  back</td><td><input type="radio" name="nails_3_31" value="a"></td></tr>
  		  <tr><td>b)  neck</td><td><input type="radio" name="nails_3_31" value="b"></td></tr>
  		  <tr><td>c)  chest</td><td><input type="radio" name="nails_3_31" value="c"></td></tr>
  		  <tr><td>d)  abdomen</td><td><input type="radio" name="nails_3_31" value="d"></td></tr>
  		</table>
    </p>

    <p>32.  As a professional nail technician, an extremely important element of _____ is having well-groomed hair,
            skin, and nails.
  		<table class="table table-condensed">
  		  <tr><td>a)  professional posture</td><td><input type="radio" name="nails_3_32" value="a"></td></tr>
  		  <tr><td>b)  your image</td><td><input type="radio" name="nails_3_32" value="b"></td></tr>
  		  <tr><td>c)  personal deportment</td><td><input type="radio" name="nails_3_32" value="c"></td></tr>
  		  <tr><td>d)  your career goals</td><td><input type="radio" name="nails_3_32" value="d"></td></tr>
  		</table>
    </p>


    <p>33.  Busy nail technicians are susceptible to problems of hands, wrists, and _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  elbows</td><td><input type="radio" name="nails_3_33" value="a"></td></tr>
  		  <tr><td>b)  chest</td><td><input type="radio" name="nails_3_33" value="b"></td></tr>
  		  <tr><td>c)  feet</td><td><input type="radio" name="nails_3_33" value="c"></td></tr>
  		  <tr><td>d)  shoulders</td><td><input type="radio" name="nails_3_33" value="d"></td></tr>
  		</table>
    </p>


    <p>34.  An understanding of _____ can help prevent stress on the body as you work.
  		<table class="table table-condensed">
  		  <tr><td>a)  ergonomics</td><td><input type="radio" name="nails_3_34" value="a"></td></tr>
  		  <tr><td>b)  eczema</td><td><input type="radio" name="nails_3_34" value="b"></td></tr>
  		  <tr><td>c)  cryogenics</td><td><input type="radio" name="nails_3_34" value="c"></td></tr>
  		  <tr><td>d)  macroeconomics</td><td><input type="radio" name="nails_3_34" value="d"></td></tr>
  		</table>
    </p>


    <p>35.  One goal of ergonomics is to make workplace tools more safe and _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  attractive</td><td><input type="radio" name="nails_3_35" value="a"></td></tr>
  		  <tr><td>b)  economical</td><td><input type="radio" name="nails_3_35" value="b"></td></tr>
  		  <tr><td>c)  efficient</td><td><input type="radio" name="nails_3_35" value="c"></td></tr>
  		  <tr><td>d)  flexible</td><td><input type="radio" name="nails_3_35" value="d"></td></tr>
  		</table>
    </p>

    <p>36.  In general, ergonomics attempts to _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  fit the person to the job</td><td><input type="radio" name="nails_3_36" value="a"></td></tr>
  		  <tr><td>b)  fit the job to the person</td><td><input type="radio" name="nails_3_36" value="b"></td></tr>
  		  <tr><td>c)  accommodate different positions</td><td><input type="radio" name="nails_3_36" value="c"></td></tr>
  		  <tr><td>d)  completely automate the salon</td><td><input type="radio" name="nails_3_36" value="d"></td></tr>
  		</table>
    </p>

    <p>37.  An awareness of your body posture and _____ coupled with better work habits and proper tools and
            equipment, will enhance your health and comfort.
  		<table class="table table-condensed">
  		  <tr><td>a)  weight</td><td><input type="radio" name="nails_3_37" value="a"></td></tr>
  		  <tr><td>b)  activity</td><td><input type="radio" name="nails_3_37" value="b"></td></tr>
  		  <tr><td>c)  height</td><td><input type="radio" name="nails_3_37" value="c"></td></tr>
  		  <tr><td>d)  movements</td><td><input type="radio" name="nails_3_37" value="d"></td></tr>
  		</table>
    </p>
    
    <p>38.  As you work, you should hold your elbows at no more than a _____-degree angle away from
            your body for extended periods of time.
  		<table class="table table-condensed">
  		  <tr><td>a)  15</td><td><input type="radio" name="nails_3_38" value="a"></td></tr>
  		  <tr><td>b)  25</td><td><input type="radio" name="nails_3_38" value="b"></td></tr>
  		  <tr><td>c)  60</td><td><input type="radio" name="nails_3_38" value="c"></td></tr>
  		  <tr><td>d)  90</td><td><input type="radio" name="nails_3_38" value="d"></td></tr>
  		</table>
    </p>
    
    <p>39.  As you work, your wrists should be _____ as much as possible.
  		<table class="table table-condensed">
  		  <tr><td>a)  turned inward and extended</td><td><input type="radio" name="nails_3_39" value="a"></td></tr>
  		  <tr><td>b)  bent and rigid</td><td><input type="radio" name="nails_3_39" value="b"></td></tr>
  		  <tr><td>c)  rested in a straight or neutral position</td><td><input type="radio" name="nails_3_39" value="c"></td></tr>
  		  <tr><td>d)  bent downward and relaxed</td><td><input type="radio" name="nails_3_39" value="d"></td></tr>
  		</table>
    </p>
    
    <p>40.  You should have the client reach across the table to you during a manicure because this position is
              ergonomically correct for _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  both you and the client</td><td><input type="radio" name="nails_3_40" value="a"></td></tr>
  		  <tr><td>b)  neither you nor the client</td><td><input type="radio" name="nails_3_40" value="b"></td></tr>
  		  <tr><td>c)  the client</td><td><input type="radio" name="nails_3_40" value="c"></td></tr>
  		  <tr><td>d)  you</td><td><input type="radio" name="nails_3_40" value="d"></td></tr>
  		</table>
    </p>
    
    <p>41.  As you work, you should _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  use ergonomically designed implements</td><td><input type="radio" name="nails_3_41" value="a"></td></tr>
  		  <tr><td>b)  endure long periods of uninterrupted repetitive motions</td><td><input type="radio" name="nails_3_41" value="b"></td></tr>
  		  <tr><td>c)  keeping your back and neck relaxed for comfort</td><td><input type="radio" name="nails_3_41" value="c"></td></tr>
  		  <tr><td>d)  avoid regular stretching exercises</td><td><input type="radio" name="nails_3_41" value="d"></td></tr>
  		</table>
    </p>
    
    <p>42.  One measure that can be taken to prevent injury on the job is to break up the repetitiveness of motions
              used by including _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  regular stretching exercises</td><td><input type="radio" name="nails_3_42" value="a"></td></tr>
  		  <tr><td>b)  occasional bending and twisting</td><td><input type="radio" name="nails_3_42" value="b"></td></tr>
  		  <tr><td>c)  gripping implements tightly</td><td><input type="radio" name="nails_3_42" value="c"></td></tr>
  		  <tr><td>d)  holding arms away from body</td><td><input type="radio" name="nails_3_42" value="d"></td></tr>
  		</table>
    </p>
    
    <p>43.  Stressful, repetitive motions have a cumulative effect on the muscles and _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  skin</td><td><input type="radio" name="nails_3_43" value="a"></td></tr>
  		  <tr><td>b)  bones</td><td><input type="radio" name="nails_3_43" value="b"></td></tr>
  		  <tr><td>c)  joints</td><td><input type="radio" name="nails_3_43" value="c"></td></tr>
  		  <tr><td>d)  tendons</td><td><input type="radio" name="nails_3_43" value="d"></td></tr>
  		</table>
    </p>
    
    <p>44.  _____ allows you to get through the day feeling strong and doing your best work.
  		<table class="table table-condensed">
  		  <tr><td>a)  Happiness</td><td><input type="radio" name="nails_3_44" value="a"></td></tr>
  		  <tr><td>b)  Good posture</td><td><input type="radio" name="nails_3_44" value="b"></td></tr>
  		  <tr><td>c)  A good attitude</td><td><input type="radio" name="nails_3_44" value="c"></td></tr>
  		  <tr><td>d)  Exercise</td><td><input type="radio" name="nails_3_44" value="d"></td></tr>
  		</table>
    </p>

    <p>45.  The term _____ refers to the daily maintenance of cleaniness achieved through healthful habits.
  		<table class="table table-condensed">
  		  <tr><td>a)  professional image</td><td><input type="radio" name="nails_3_45" value="a"></td></tr>
  		  <tr><td>b)  personal hygiene</td><td><input type="radio" name="nails_3_45" value="b"></td></tr>
  		  <tr><td>c)  physical presentation</td><td><input type="radio" name="nails_3_45" value="c"></td></tr>
  		  <tr><td>d)  professionalism</td><td><input type="radio" name="nails_3_45" value="d"></td></tr>
  		</table>
    </p>

  </form>
  
  <button id="submitExam" class="btn btn-lg btn-primary">Submit</button>

</body>
</html>
