<% provide(:title, 'All students') %>
<h1>All students</h1>

<%= will_paginate %>

<ul class="school_users">
  <% @school_users.each do |school_user| %>
    <%= render school_user %>
  <% end %>
</ul>

<%= will_paginate %>