<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#submitExam").click(function(){
      var questionAnswerObj = {};
      $('#myForm input[type=radio]:checked').each(function(){
  		  questionAnswerObj[this.name] = this.value;
  	  }); 
  
      $.ajax({
        type:'POST',
        url:'/submit_Exam',
        data: { questionAnswerObj: JSON.stringify(questionAnswerObj) },
        success:function(result){
          var i;
          var out = "<table class=\"table table-striped\">";
          out += "<th>Question #</th><th>Answer Key</th><th>Your Answer Is</th>";
          x = result;
          $("#answers").empty();
          for (i = 0; i < x.length; i++) {
            out +=  "<tr><td>"  +  x[i].question_number + 
                    "</td><td>" +  x[i].answer_key +
                    "</td><td>" + x[i].your_answer + "</td></tr>";
          }
          out += "</table>";
          $("#answers").append(out);

        }
      }); // ajax
    }); // #submitExam
  });
</script>
</head>
<body>

  <h2>Chapter 4 -- Microbiology</h2>
  <hr>

  <form id="myForm" >

    <p>1.  _____ are a type of microorganism.
  		<table class="table table-condensed">
  		  <tr><td>a)  Mammals</td><td><input type="radio" name="barber_4_1" value="a"></td></tr>
  		  <tr><td>b)  Reptiles</td><td><input type="radio" name="barber_4_1" value="b"></td></tr>
  		  <tr><td>c)  Protozoa</td><td><input type="radio" name="barber_4_1" value="c"></td></tr>
  		  <tr><td>d)  Nematodes</td><td><input type="radio" name="barber_4_1" value="d"></td></tr>
  		</table>
    </p>

    <p>2.  Pathogens are microorganisms that are capable of causing infectious diseases in _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  only plants</td><td><input type="radio" name="barber_4_2" value="a"></td></tr>
  		  <tr><td>b)  only animals</td><td><input type="radio" name="barber_4_2" value="b"></td></tr>
  		  <tr><td>c)  plants or animals</td><td><input type="radio" name="barber_4_2" value="c"></td></tr>
  		  <tr><td>d)  plants, animals, or microorganisms</td><td><input type="radio" name="barber_4_2" value="d"></td></tr>
  		</table>
    </p>

    <p>3.  Bacteria only have one cell and are called _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  microcellular</td><td><input type="radio" name="barber_4_3" value="a"></td></tr>
  		  <tr><td>b)  unicellular</td><td><input type="radio" name="barber_4_3" value="b"></td></tr>
  		  <tr><td>c)  single</td><td><input type="radio" name="barber_4_3" value="c"></td></tr>
  		  <tr><td>d)  None of the answers are correct</td><td><input type="radio" name="barber_4_3" value="d"></td></tr>
  		</table>
    </p>

    <p>4.  Disease can be produced by _____ bacteria.
  		<table class="table table-condensed">
  		  <tr><td>a)  viral</td><td><input type="radio" name="barber_4_4" value="a"></td></tr>
  		  <tr><td>b)  nonpathogenic</td><td><input type="radio" name="barber_4_4" value="b"></td></tr>
  		  <tr><td>c)  blood poisoning</td><td><input type="radio" name="barber_4_4" value="c"></td></tr>
  		  <tr><td>d)  gonorrhea</td><td><input type="radio" name="barber_4_4" value="d"></td></tr>
  		</table>
    </p>

    <p>5.  Staphylococci bacteria cause _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  pneumonia</td><td><input type="radio" name="barber_4_5" value="a"></td></tr>
  		  <tr><td>b)  MRSA</td><td><input type="radio" name="barber_4_5" value="b"></td></tr>
  		  <tr><td>c)  blood poisoning</td><td><input type="radio" name="barber_4_5" value="c"></td></tr>
  		  <tr><td>d)  gonorrhea</td><td><input type="radio" name="barber_4_5" value="d"></td></tr>
  		</table>
    </p>

    <p>6.  Diplococci bacteria _____ and cause pneumonia and gonorrhea.
  		<table class="table table-condensed">
  		  <tr><td>a)  grow singly</td><td><input type="radio" name="barber_4_6" value="a"></td></tr>
  		  <tr><td>b)  grow in pairs</td><td><input type="radio" name="barber_4_6" value="b"></td></tr>
  		  <tr><td>c)  are rod-shaped</td><td><input type="radio" name="barber_4_6" value="c"></td></tr>
  		  <tr><td>d)  are curved</td><td><input type="radio" name="barber_4_6" value="d"></td></tr>
  		</table>
    </p>

    <p>7.  Cocci bacteria are transmitted by all of the following except _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  active motility</td><td><input type="radio" name="barber_4_7" value="a"></td></tr>
  		  <tr><td>b)  air</td><td><input type="radio" name="barber_4_7" value="b"></td></tr>
  		  <tr><td>c)  dust</td><td><input type="radio" name="barber_4_7" value="c"></td></tr>
  		  <tr><td>d)  water</td><td><input type="radio" name="barber_4_7" value="d"></td></tr>
  		</table>
    </p>

    <p>8.  The outer part of the bacterium is the _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  cytoplasm</td><td><input type="radio" name="barber_4_8" value="a"></td></tr>
  		  <tr><td>b)  spore</td><td><input type="radio" name="barber_4_8" value="b"></td></tr>
  		  <tr><td>c)  cell wall</td><td><input type="radio" name="barber_4_8" value="c"></td></tr>
  		  <tr><td>d)  bacilli</td><td><input type="radio" name="barber_4_8" value="d"></td></tr>
  		</table>
    </p>
    
    <p>9.  Microorganisms multiply well in _____ conditions.
  		<table class="table table-condensed">
  		  <tr><td>a)  dry</td><td><input type="radio" name="barber_4_9" value="a"></td></tr>
  		  <tr><td>b)  warm</td><td><input type="radio" name="barber_4_9" value="b"></td></tr>
  		  <tr><td>c)  cool</td><td><input type="radio" name="barber_4_9" value="c"></td></tr>
  		  <tr><td>d)  clean</td><td><input type="radio" name="barber_4_9" value="d"></td></tr>
  		</table>
    </p>
    
    <p>10.  During mitosis, 16,000,000 microbes can be created by one bacterium in a _____ period.
  		<table class="table table-condensed">
  		  <tr><td>a)  30-second</td><td><input type="radio" name="barber_4_10" value="a"></td></tr>
  		  <tr><td>b)  10-minute</td><td><input type="radio" name="barber_4_10" value="b"></td></tr>
  		  <tr><td>c)  6-hour</td><td><input type="radio" name="barber_4_10" value="c"></td></tr>
  		  <tr><td>d)  12-hour</td><td><input type="radio" name="barber_4_10" value="d"></td></tr>
  		</table>
    </p>
    
    <p>11.  When the body is unable to cope with _____, an infection occurs.
  		<table class="table table-condensed">
  		  <tr><td>a)  pus</td><td><input type="radio" name="barber_4_11" value="a"></td></tr>
  		  <tr><td>b)  bacteria and their harmful toxins</td><td><input type="radio" name="barber_4_11" value="b"></td></tr>
  		  <tr><td>c)  nonpathogenic bacteria</td><td><input type="radio" name="barber_4_11" value="c"></td></tr>
  		  <tr><td>d)  All of the answers are correct</td><td><input type="radio" name="barber_4_11" value="d"></td></tr>
  		</table>
    </p>
    
    <p>12.  To limit the spread of MRSA, _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  cover scrapes and cuts</td><td><input type="radio" name="barber_4_12" value="a"></td></tr>
  		  <tr><td>b)  avoid contact with other people's wounds</td><td><input type="radio" name="barber_4_12" value="b"></td></tr>
  		  <tr><td>c)  avoid contact with other people's personal items</td><td><input type="radio" name="barber_4_12" value="c"></td></tr>
  		  <tr><td>d)  All answers are correct</td><td><input type="radio" name="barber_4_12" value="d"></td></tr>
  		</table>
    </p>
    
    <p>13.  A contagious disease _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  spreads from one person to another by contact</td><td><input type="radio" name="barber_4_13" value="a"></td></tr>
  		  <tr><td>b)  spreads throughout the infected person's bloodstream</td><td><input type="radio" name="barber_4_13" value="b"></td></tr>
  		  <tr><td>c)  attacks a large number of people in one area</td><td><input type="radio" name="barber_4_13" value="c"></td></tr>
  		  <tr><td>d)  is only caused by bacteria</td><td><input type="radio" name="barber_4_13" value="d"></td></tr>
  		</table>
    </p>
    
    <p>14.  Open sores, pus, and unclean hands _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  are all commonly seen in well-run barbershops</td><td><input type="radio" name="barber_4_14" value="a"></td></tr>
  		  <tr><td>b)  will always cause an epidemic</td><td><input type="radio" name="barber_4_14" value="b"></td></tr>
  		  <tr><td>c)  may be a source of contagion</td><td><input type="radio" name="barber_4_14" value="c"></td></tr>
  		  <tr><td>d)  will always cause a general infection</td><td><input type="radio" name="barber_4_14" value="d"></td></tr>
  		</table>
    </p>
    
    <p>15.  _____ or an open sore can spread body fluids to a razor during shaving.
  		<table class="table table-condensed">
  		  <tr><td>a)  Shaving lather</td><td><input type="radio" name="barber_4_15" value="a"></td></tr>
  		  <tr><td>b)  A gloved hand</td><td><input type="radio" name="barber_4_15" value="b"></td></tr>
  		  <tr><td>c)  A hair</td><td><input type="radio" name="barber_4_15" value="c"></td></tr>
  		  <tr><td>d)  A blemish</td><td><input type="radio" name="barber_4_15" value="d"></td></tr>
  		</table>
    </p>
    
    <p>16.  The _____ is one way that pathogenic bacteria or viruses typically enter the body.
  		<table class="table table-condensed">
  		  <tr><td>a)  mouth</td><td><input type="radio" name="barber_4_16" value="a"></td></tr>
  		  <tr><td>b)  fingernails</td><td><input type="radio" name="barber_4_16" value="b"></td></tr>
  		  <tr><td>c)  scalp</td><td><input type="radio" name="barber_4_16" value="c"></td></tr>
  		  <tr><td>d)  hair</td><td><input type="radio" name="barber_4_16" value="d"></td></tr>
  		</table>
    </p>
    
    <p>17.  The body _____ using perspiration.
  		<table class="table table-condensed">
  		  <tr><td>a)  fights infection</td><td><input type="radio" name="barber_4_17" value="a"></td></tr>
  		  <tr><td>b)  heats up</td><td><input type="radio" name="barber_4_17" value="b"></td></tr>
  		  <tr><td>c)  becomes infected</td><td><input type="radio" name="barber_4_17" value="c"></td></tr>
  		  <tr><td>d)  None of the answers are correct</td><td><input type="radio" name="barber_4_17" value="d"></td></tr>
  		</table>
    </p>
    
    <p>18.  Swelling is an example of a(n) _____ symptom.
  		<table class="table table-condensed">
  		  <tr><td>a)  subjective</td><td><input type="radio" name="barber_4_18" value="a"></td></tr>
  		  <tr><td>b)  objective</td><td><input type="radio" name="barber_4_18" value="b"></td></tr>
  		  <tr><td>c)  imagined</td><td><input type="radio" name="barber_4_18" value="c"></td></tr>
  		  <tr><td>d)  transient</td><td><input type="radio" name="barber_4_18" value="d"></td></tr>
  		</table>
    </p>

    <p>19.  Viruses cause _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  pneumonia</td><td><input type="radio" name="barber_4_19" value="a"></td></tr>
  		  <tr><td>b)  common colds</td><td><input type="radio" name="barber_4_19" value="b"></td></tr>
  		  <tr><td>c)  gonorrhea</td><td><input type="radio" name="barber_4_19" value="c"></td></tr>
  		  <tr><td>d)  MRSA</td><td><input type="radio" name="barber_4_19" value="d"></td></tr>
  		</table>
    </p>

    <p>20.  _____ is a defense against viruses.
  		<table class="table table-condensed">
  		  <tr><td>a)  Vaccination</td><td><input type="radio" name="barber_4_20" value="a"></td></tr>
  		  <tr><td>b)  Antibiotics</td><td><input type="radio" name="barber_4_20" value="b"></td></tr>
  		  <tr><td>c)  Fungi</td><td><input type="radio" name="barber_4_20" value="c"></td></tr>
  		  <tr><td>d)  Mitosis</td><td><input type="radio" name="barber_4_20" value="d"></td></tr>
  		</table>
    </p>

    <p>21.  Hepatitis B can cause lifelong hepatitis infection, cirrhosis of the liver, and _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  liver failure</td><td><input type="radio" name="barber_4_21" value="a"></td></tr>
  		  <tr><td>b)  liver cancer</td><td><input type="radio" name="barber_4_21" value="b"></td></tr>
  		  <tr><td>c)  death</td><td><input type="radio" name="barber_4_21" value="c"></td></tr>
  		  <tr><td>d)  All answers are correct</td><td><input type="radio" name="barber_4_21" value="d"></td></tr>
  		</table>
    </p>

    <p>22.  Hepatitis B _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  usually lasts three weeks</td><td><input type="radio" name="barber_4_22" value="a"></td></tr>
  		  <tr><td>b)  is uncommon in the United States</td><td><input type="radio" name="barber_4_22" value="b"></td></tr>
  		  <tr><td>c)  vaccinations are available</td><td><input type="radio" name="barber_4_22" value="c"></td></tr>
  		  <tr><td>d)  causes sepsis</td><td><input type="radio" name="barber_4_22" value="d"></td></tr>
  		</table>
    </p>

    <p>23.  Once infected with HIV, a person _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  will show immediate symptoms</td><td><input type="radio" name="barber_4_23" value="a"></td></tr>
  		  <tr><td>b)  cannot pass on the virus for 11 years</td><td><input type="radio" name="barber_4_23" value="b"></td></tr>
  		  <tr><td>c)  can pass on the virus without having symptoms</td><td><input type="radio" name="barber_4_23" value="c"></td></tr>
  		  <tr><td>d)  will develop AIDS within one year</td><td><input type="radio" name="barber_4_23" value="d"></td></tr>
  		</table>
    </p>

    <p>24.  the lymphoreticular system provides storage for mature _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  M cells</td><td><input type="radio" name="barber_4_24" value="a"></td></tr>
  		  <tr><td>b)  blood</td><td><input type="radio" name="barber_4_24" value="b"></td></tr>
  		  <tr><td>c)  lymph</td><td><input type="radio" name="barber_4_24" value="c"></td></tr>
  		  <tr><td>d)  lymphocytes</td><td><input type="radio" name="barber_4_24" value="d"></td></tr>
  		</table>
    </p>

    <p>25.  A retrovirus such as _____ uses the reproductive processes of the host cell to duplicate itself.
  		<table class="table table-condensed">
  		  <tr><td>a)  HIV</td><td><input type="radio" name="barber_4_25" value="a"></td></tr>
  		  <tr><td>b)  smallpox</td><td><input type="radio" name="barber_4_25" value="b"></td></tr>
  		  <tr><td>c)  hepatitis C</td><td><input type="radio" name="barber_4_25" value="c"></td></tr>
  		  <tr><td>d)  Cocci</td><td><input type="radio" name="barber_4_25" value="d"></td></tr>
  		</table>
    </p>


    <p>26.  HIV is difficult to destroy once it locks into T cells in the _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  lungs</td><td><input type="radio" name="barber_4_26" value="a"></td></tr>
  		  <tr><td>b)  brain</td><td><input type="radio" name="barber_4_26" value="b"></td></tr>
  		  <tr><td>c)  liver</td><td><input type="radio" name="barber_4_26" value="c"></td></tr>
  		  <tr><td>d)  bloodstream</td><td><input type="radio" name="barber_4_26" value="d"></td></tr>
  		</table>
    </p>


    <p>27.  ARC is _____ of HIV.
  		<table class="table table-condensed">
  		  <tr><td>a)  stage 1</td><td><input type="radio" name="barber_4_27" value="a"></td></tr>
  		  <tr><td>b)  stage 2</td><td><input type="radio" name="barber_4_27" value="b"></td></tr>
  		  <tr><td>c)  stage 3</td><td><input type="radio" name="barber_4_27" value="c"></td></tr>
  		  <tr><td>d)  the final stage</td><td><input type="radio" name="barber_4_27" value="d"></td></tr>
  		</table>
    </p>

    <p>28.  Before and after servicing each client, barbers should _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  change their clothes</td><td><input type="radio" name="barber_4_28" value="a"></td></tr>
  		  <tr><td>b)  wash their hands with antibacterial soap</td><td><input type="radio" name="barber_4_28" value="b"></td></tr>
  		  <tr><td>c)  use a gel hand sanitizer</td><td><input type="radio" name="barber_4_28" value="c"></td></tr>
  		  <tr><td>d)  None of the answers are correct</td><td><input type="radio" name="barber_4_28" value="d"></td></tr>
  		</table>
    </p>

    <p>29.  If you cut, nick, or scrape yourself, _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  treat the wound immediately and cover it</td><td><input type="radio" name="barber_4_29" value="a"></td></tr>
  		  <tr><td>b)  go home and take the rest of the day off</td><td><input type="radio" name="barber_4_29" value="b"></td></tr>
  		  <tr><td>c)  call 911</td><td><input type="radio" name="barber_4_29" value="c"></td></tr>
  		  <tr><td>d)  you must proceed to the hospital as recommended by the state barber board</td><td><input type="radio" name="barber_4_29" value="d"></td></tr>
  		</table>
    </p>
  
    <p>30.  The fungi classification includes all of the following except _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  algae</td><td><input type="radio" name="barber_4_30" value="a"></td></tr>
  		  <tr><td>b)  mold</td><td><input type="radio" name="barber_4_30" value="b"></td></tr>
  		  <tr><td>c)  rust</td><td><input type="radio" name="barber_4_30" value="c"></td></tr>
  		  <tr><td>d)  yeast</td><td><input type="radio" name="barber_4_30" value="d"></td></tr>
  		</table>
    </p>

    <p>31.  _____ and pesticides should be used to decontaminate tools that have come into contact with scabies.
  		<table class="table table-condensed">
  		  <tr><td>a)  Fungicides</td><td><input type="radio" name="barber_4_31" value="a"></td></tr>
  		  <tr><td>b)  Steam</td><td><input type="radio" name="barber_4_31" value="b"></td></tr>
  		  <tr><td>c)  Ultraviolet light</td><td><input type="radio" name="barber_4_31" value="c"></td></tr>
  		  <tr><td>d)  Disinfectants</td><td><input type="radio" name="barber_4_31" value="d"></td></tr>
  		</table>
    </p>

    <p>32.  Natural immunity is the natural resistance to disease that is _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  wholly inherited</td><td><input type="radio" name="barber_4_32" value="a"></td></tr>
  		  <tr><td>b)  wholly developed through hygienic living</td><td><input type="radio" name="barber_4_32" value="b"></td></tr>
  		  <tr><td>c)  partially inherited and partially developed through hygienic living</td><td><input type="radio" name="barber_4_32" value="c"></td></tr>
  		  <tr><td>d)  acquired through vaccination</td><td><input type="radio" name="barber_4_32" value="d"></td></tr>
  		</table>
    </p>


    <p>33.  Acquired immunity comes from _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  your parents</td><td><input type="radio" name="barber_4_33" value="a"></td></tr>
  		  <tr><td>b)  hygienic living</td><td><input type="radio" name="barber_4_33" value="b"></td></tr>
  		  <tr><td>c)  antibiotics</td><td><input type="radio" name="barber_4_33" value="c"></td></tr>
  		  <tr><td>d)  overcoming disease</td><td><input type="radio" name="barber_4_33" value="d"></td></tr>
  		</table>
    </p>


    <p>34.  A human disease carrier _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  is immune to a disease but can infect others</td><td><input type="radio" name="barber_4_34" value="a"></td></tr>
  		  <tr><td>b)  is not immune to a disease and can infect others</td><td><input type="radio" name="barber_4_34" value="b"></td></tr>
  		  <tr><td>c)  is immune to a disease and cannot infect others</td><td><input type="radio" name="barber_4_34" value="c"></td></tr>
  		  <tr><td>d)  is not immune to a disease and cannot infect others</td><td><input type="radio" name="barber_4_34" value="d"></td></tr>
  		</table>
    </p>


    <p>35.  Stage 3 HIV infection is _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  ARC</td><td><input type="radio" name="barber_4_35" value="a"></td></tr>
  		  <tr><td>b)  full blown AIDS</td><td><input type="radio" name="barber_4_35" value="b"></td></tr>
  		  <tr><td>c)  hepatitis A</td><td><input type="radio" name="barber_4_35" value="c"></td></tr>
  		  <tr><td>d)  MRSA</td><td><input type="radio" name="barber_4_35" value="d"></td></tr>
  		</table>
    </p>

    <p>36.  _____ attaches itself to special molecules on T cells.
  		<table class="table table-condensed">
  		  <tr><td>a)  HIV</td><td><input type="radio" name="barber_4_36" value="a"></td></tr>
  		  <tr><td>b)  The B cell</td><td><input type="radio" name="barber_4_36" value="b"></td></tr>
  		  <tr><td>c)  Hepatitis</td><td><input type="radio" name="barber_4_36" value="c"></td></tr>
  		  <tr><td>d)  Scabies</td><td><input type="radio" name="barber_4_36" value="d"></td></tr>
  		</table>
    </p>

  </form>
  
  <button id="submitExam" class="btn btn-lg btn-primary">Submit</button>

</body>
</html>
