<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#submitExam").click(function(){
      var questionAnswerObj = {};
      $('#myForm input[type=radio]:checked').each(function(){
  		  questionAnswerObj[this.name] = this.value;
  	  }); 
  
      $.ajax({
        type:'POST',
        url:'/submit_Exam',
        data: { questionAnswerObj: JSON.stringify(questionAnswerObj) },
        success:function(result){
          var i;
          var out = "<table class=\"table table-striped\">";
          out += "<th>Question #</th><th>Answer Key</th><th>Your Answer Is</th>";
          x = result;
          $("#answers").empty();
          for (i = 0; i < x.length; i++) {
            out +=  "<tr><td>"  +  x[i].question_number + 
                    "</td><td>" +  x[i].answer_key +
                    "</td><td>" + x[i].your_answer + "</td></tr>";
          }
          out += "</table>";
          $("#answers").append(out);

        }
      }); // ajax
    }); // #submitExam
  });
</script>
</head>
<body>

  <h2>Chapter 6 -- General Anatomy and Physiology</h2>
  <hr>

  <form id="myForm" >

    <p>1.  How much blood does the human body contain?
  		<table class="table table-condensed">
  		  <tr><td>a)  one to three pints</td><td><input type="radio" name="esthetics_6_1" value="a"></td></tr>
  		  <tr><td>b)  eight to 10 pints</td><td><input type="radio" name="esthetics_6_1" value="b"></td></tr>
  		  <tr><td>c)  12 to 14 pints</td><td><input type="radio" name="esthetics_6_1" value="c"></td></tr>
  		  <tr><td>d)  17 to 20 pints</td><td><input type="radio" name="esthetics_6_1" value="d"></td></tr>
  		</table>
    </p>

    <p>2.  What is a nutritive fluid flowing through the circulatory systems?
  		<table class="table table-condensed">
  		  <tr><td>a)  lymph</td><td><input type="radio" name="esthetics_6_2" value="a"></td></tr>
  		  <tr><td>b)  blood</td><td><input type="radio" name="esthetics_6_2" value="b"></td></tr>
  		  <tr><td>c)  pus</td><td><input type="radio" name="esthetics_6_2" value="c"></td></tr>
  		  <tr><td>d)  water</td><td><input type="radio" name="esthetics_6_2" value="d"></td></tr>
  		</table>
    </p>

    <p>3.  What are platelets?
  		<table class="table table-condensed">
  		  <tr><td>a)  blood components that contribute to the blood-clotting process</td><td><input type="radio" name="esthetics_6_3" value="a"></td></tr>
  		  <tr><td>b)  a type of white blood cell</td><td><input type="radio" name="esthetics_6_3" value="b"></td></tr>
  		  <tr><td>c)  a type of red blood cell</td><td><input type="radio" name="esthetics_6_3" value="c"></td></tr>
  		  <tr><td>d)  dangerous bacteria found in the bloodstream</td><td><input type="radio" name="esthetics_6_3" value="d"></td></tr>
  		</table>
    </p>

    <p>4.  What is another term for white blood cells?
  		<table class="table table-condensed">
  		  <tr><td>a)  capillaries</td><td><input type="radio" name="esthetics_6_4" value="a"></td></tr>
  		  <tr><td>b)  leukocytes</td><td><input type="radio" name="esthetics_6_4" value="b"></td></tr>
  		  <tr><td>c)  arterioles</td><td><input type="radio" name="esthetics_6_4" value="c"></td></tr>
  		  <tr><td>d)  venules</td><td><input type="radio" name="esthetics_6_4" value="d"></td></tr>
  		</table>
    </p>

    <p>5.  What is the study of tiny tructures found in living tissues?
  		<table class="table table-condensed">
  		  <tr><td>a)  anatomy</td><td><input type="radio" name="esthetics_6_5" value="a"></td></tr>
  		  <tr><td>b)  physiology</td><td><input type="radio" name="esthetics_6_5" value="b"></td></tr>
  		  <tr><td>c)  histology</td><td><input type="radio" name="esthetics_6_5" value="c"></td></tr>
  		  <tr><td>d)  osteology</td><td><input type="radio" name="esthetics_6_5" value="d"></td></tr>
  		</table>
    </p>

    <p>6.  What is one reason estheticians should study body systems, organs, and tissues?
  		<table class="table table-condensed">
  		  <tr><td>a)  to obtain the medical license needed to become an esthetician</td><td><input type="radio" name="esthetics_6_6" value="a"></td></tr>
  		  <tr><td>b)  to perform emergency surgery in the salon</td><td><input type="radio" name="esthetics_6_6" value="b"></td></tr>
  		  <tr><td>c)  to prescribe medications for clients with skin disorders</td><td><input type="radio" name="esthetics_6_6" value="c"></td></tr>
  		  <tr><td>d)  to understand the effect services have on the body</td><td><input type="radio" name="esthetics_6_6" value="d"></td></tr>
  		</table>
    </p>

    <p>7.  What is protoplasm?
  		<table class="table table-condensed">
  		  <tr><td>a)  foundation of all chemical beauty products</td><td><input type="radio" name="esthetics_6_7" value="a"></td></tr>
  		  <tr><td>b)  substance of which the cells of all living things are composed</td><td><input type="radio" name="esthetics_6_7" value="b"></td></tr>
  		  <tr><td>c)  toxic substance found in the bodies of people with diseases</td><td><input type="radio" name="esthetics_6_7" value="c"></td></tr>
  		  <tr><td>d)  yellowish fluid that oozes from open sores</td><td><input type="radio" name="esthetics_6_7" value="d"></td></tr>
  		</table>
    </p>

    <p>8.  What is the process of cell reproduction called?
  		<table class="table table-condensed">
  		  <tr><td>a)  anagen</td><td><input type="radio" name="esthetics_6_8" value="a"></td></tr>
  		  <tr><td>b)  catagen</td><td><input type="radio" name="esthetics_6_8" value="b"></td></tr>
  		  <tr><td>c)  mitosis</td><td><input type="radio" name="esthetics_6_8" value="c"></td></tr>
  		  <tr><td>d)  metastasization</td><td><input type="radio" name="esthetics_6_8" value="d"></td></tr>
  		</table>
    </p>
    
    <p>9.  What is the stenum?
  		<table class="table table-condensed">
  		  <tr><td>a)  flat bone that forms the ventral support of the ribs</td><td><input type="radio" name="esthetics_6_9" value="a"></td></tr>
  		  <tr><td>b)  uppermost bone of the skull</td><td><input type="radio" name="esthetics_6_9" value="b"></td></tr>
  		  <tr><td>c)  longest bone in the foot</td><td><input type="radio" name="esthetics_6_9" value="c"></td></tr>
  		  <tr><td>d)  collarbone</td><td><input type="radio" name="esthetics_6_9" value="d"></td></tr>
  		</table>
    </p>
    
    <p>10.  What part of the hand is supplied by the radial nerve and its branches?
  		<table class="table table-condensed">
  		  <tr><td>a)  palm</td><td><input type="radio" name="esthetics_6_10" value="a"></td></tr>
  		  <tr><td>b)  back</td><td><input type="radio" name="esthetics_6_10" value="b"></td></tr>
  		  <tr><td>c)  pinky and ring fingers</td><td><input type="radio" name="esthetics_6_10" value="c"></td></tr>
  		  <tr><td>d)  middle and index fingers</td><td><input type="radio" name="esthetics_6_10" value="d"></td></tr>
  		</table>
    </p>
    
    <p>11.  What is the fluid part of the blood and lymph that carries food and secretions to the cells
            and carbon dioxide from the cells?
  		<table class="table table-condensed">
  		  <tr><td>a)  pus</td><td><input type="radio" name="esthetics_6_11" value="a"></td></tr>
  		  <tr><td>b)  lymph</td><td><input type="radio" name="esthetics_6_11" value="b"></td></tr>
  		  <tr><td>c)  plasma</td><td><input type="radio" name="esthetics_6_11" value="c"></td></tr>
  		  <tr><td>d)  sebum</td><td><input type="radio" name="esthetics_6_11" value="d"></td></tr>
  		</table>
    </p>
    
    <p>12.  What is true of the origin part of a muscle?
  		<table class="table table-condensed">
  		  <tr><td>a)  it is not attached to the skeleton</td><td><input type="radio" name="esthetics_6_12" value="a"></td></tr>
  		  <tr><td>b)  it disappears after puberty</td><td><input type="radio" name="esthetics_6_12" value="b"></td></tr>
  		  <tr><td>c)  it moves frequently</td><td><input type="radio" name="esthetics_6_12" value="c"></td></tr>
  		  <tr><td>d)  it is attached to the skeleton</td><td><input type="radio" name="esthetics_6_12" value="d"></td></tr>
  		</table>
    </p>
    
    <p>13.  What are structures composed of specialized tissues and performing specific functions?
  		<table class="table table-condensed">
  		  <tr><td>a)  cells</td><td><input type="radio" name="esthetics_6_13" value="a"></td></tr>
  		  <tr><td>b)  organs</td><td><input type="radio" name="esthetics_6_13" value="b"></td></tr>
  		  <tr><td>c)  body systems</td><td><input type="radio" name="esthetics_6_13" value="c"></td></tr>
  		  <tr><td>d)  bodies</td><td><input type="radio" name="esthetics_6_13" value="d"></td></tr>
  		</table>
    </p>
    
    <p>14.  Why does the parathyroid gland regulate blood calcium and phosphorous levels?
  		<table class="table table-condensed">
  		  <tr><td>a)  so the endocrine and muscular systems can function properly</td><td><input type="radio" name="esthetics_6_14" value="a"></td></tr>
  		  <tr><td>b)  so the nervous and muscular systems can function properly</td><td><input type="radio" name="esthetics_6_14" value="b"></td></tr>
  		  <tr><td>c)  so the nervous and circulatory systems can function properly</td><td><input type="radio" name="esthetics_6_14" value="c"></td></tr>
  		  <tr><td>d)  so the endocrine and circulatory systems can function properly</td><td><input type="radio" name="esthetics_6_14" value="d"></td></tr>
  		</table>
    </p>
    
    <p>15.  What is true of the pituitary gland?
  		<table class="table table-condensed">
  		  <tr><td>a)  it is the most complex organ of the endocrine system</td><td><input type="radio" name="esthetics_6_15" value="a"></td></tr>
  		  <tr><td>b)  it is the most complex organ of the integumentary system</td><td><input type="radio" name="esthetics_6_15" value="b"></td></tr>
  		  <tr><td>c)  it has no effect on the physiological processes of the body</td><td><input type="radio" name="esthetics_6_15" value="c"></td></tr>
  		  <tr><td>d)  it affects very few of the body's physiological processes</td><td><input type="radio" name="esthetics_6_15" value="d"></td></tr>
  		</table>
    </p>
    
    <p>16.  What organ in the endocrine system secretes enzyme-producing cells that are responsible for digesting
            carbonhydrates, proteins, and fats?
  		<table class="table table-condensed">
  		  <tr><td>a)  pancreas</td><td><input type="radio" name="esthetics_6_16" value="a"></td></tr>
  		  <tr><td>b)  kidney</td><td><input type="radio" name="esthetics_6_16" value="b"></td></tr>
  		  <tr><td>c)  liver</td><td><input type="radio" name="esthetics_6_16" value="c"></td></tr>
  		  <tr><td>d)  stomach</td><td><input type="radio" name="esthetics_6_16" value="d"></td></tr>
  		</table>
    </p>
    
    <p>17.  What are the secretions that the endocrine glands release directly into the bloodstream and that
            influence the welfare of the entire body?
  		<table class="table table-condensed">
  		  <tr><td>a)  red blood cells</td><td><input type="radio" name="esthetics_6_17" value="a"></td></tr>
  		  <tr><td>b)  white blood cells</td><td><input type="radio" name="esthetics_6_17" value="b"></td></tr>
  		  <tr><td>c)  endorphins</td><td><input type="radio" name="esthetics_6_17" value="c"></td></tr>
  		  <tr><td>d)  hormones</td><td><input type="radio" name="esthetics_6_17" value="d"></td></tr>
  		</table>
    </p>
    
    <p>18.  What is the primary function of the respiratory system?
  		<table class="table table-condensed">
  		  <tr><td>a)  digestion</td><td><input type="radio" name="esthetics_6_18" value="a"></td></tr>
  		  <tr><td>b)  blood circulation</td><td><input type="radio" name="esthetics_6_18" value="b"></td></tr>
  		  <tr><td>c)  reproduction</td><td><input type="radio" name="esthetics_6_18" value="c"></td></tr>
  		  <tr><td>d)  breathing</td><td><input type="radio" name="esthetics_6_18" value="d"></td></tr>
  		</table>
    </p>

    <p>19.  What is the primary function of the lymphatic/immune system?
  		<table class="table table-condensed">
  		  <tr><td>a)  protecting the body from disease</td><td><input type="radio" name="esthetics_6_19" value="a"></td></tr>
  		  <tr><td>b)  providing the body's outer shell</td><td><input type="radio" name="esthetics_6_19" value="b"></td></tr>
  		  <tr><td>c)  facilitating reproduction</td><td><input type="radio" name="esthetics_6_19" value="c"></td></tr>
  		  <tr><td>d)  facilitating respiration</td><td><input type="radio" name="esthetics_6_19" value="d"></td></tr>
  		</table>
    </p>

    <p>20.  What is the primary function of the skeletal system?
  		<table class="table table-condensed">
  		  <tr><td>a)  providing the exterior protective covering of the body</td><td><input type="radio" name="esthetics_6_20" value="a"></td></tr>
  		  <tr><td>b)  circulating blood to the bones and to muscles attached to bones</td><td><input type="radio" name="esthetics_6_20" value="b"></td></tr>
  		  <tr><td>c)  circulating oxygen to the bones and to muscles attached to bones</td><td><input type="radio" name="esthetics_6_20" value="c"></td></tr>
  		  <tr><td>d)  providing the physical foundation of the body</td><td><input type="radio" name="esthetics_6_20" value="d"></td></tr>
  		</table>
    </p>

    <p>21.  What is osteology?
  		<table class="table table-condensed">
  		  <tr><td>a)  study of the muscles</td><td><input type="radio" name="esthetics_6_21" value="a"></td></tr>
  		  <tr><td>b)  study of the bones</td><td><input type="radio" name="esthetics_6_21" value="b"></td></tr>
  		  <tr><td>c)  study of the organs</td><td><input type="radio" name="esthetics_6_21" value="c"></td></tr>
  		  <tr><td>d)  study of the blood</td><td><input type="radio" name="esthetics_6_21" value="d"></td></tr>
  		</table>
    </p>

    <p>22.  What is a term that means <i>bone</i> and is used as a prefix in many medical terms?
  		<table class="table table-condensed">
  		  <tr><td>a)  os</td><td><input type="radio" name="esthetics_6_22" value="a"></td></tr>
  		  <tr><td>b)  es</td><td><input type="radio" name="esthetics_6_22" value="b"></td></tr>
  		  <tr><td>c)  as</td><td><input type="radio" name="esthetics_6_22" value="c"></td></tr>
  		  <tr><td>d)  is</td><td><input type="radio" name="esthetics_6_22" value="d"></td></tr>
  		</table>
    </p>

    <p>23.  What is the primary function of the circulatory system?
  		<table class="table table-condensed">
  		  <tr><td>a)  promoting sebum production</td><td><input type="radio" name="esthetics_6_23" value="a"></td></tr>
  		  <tr><td>b)  providing a path for waste products to move out of the body</td><td><input type="radio" name="esthetics_6_23" value="b"></td></tr>
  		  <tr><td>c)  providing carbon dioxide to all cells of the body</td><td><input type="radio" name="esthetics_6_23" value="c"></td></tr>
  		  <tr><td>d)  moving blood through the body</td><td><input type="radio" name="esthetics_6_23" value="d"></td></tr>
  		</table>
    </p>

    <p>24.  What is covered, shaped, and supported by the muscular system?
  		<table class="table table-condensed">
  		  <tr><td>a)  integumentary system</td><td><input type="radio" name="esthetics_6_24" value="a"></td></tr>
  		  <tr><td>b)  skeletal tissue</td><td><input type="radio" name="esthetics_6_24" value="b"></td></tr>
  		  <tr><td>c)  vital organs</td><td><input type="radio" name="esthetics_6_24" value="c"></td></tr>
  		  <tr><td>d)  secondary organs</td><td><input type="radio" name="esthetics_6_24" value="d"></td></tr>
  		</table>
    </p>

    <p>25.  What body system is responsible for changing food into nutrients and waste?
  		<table class="table table-condensed">
  		  <tr><td>a)  endocrine</td><td><input type="radio" name="esthetics_6_25" value="a"></td></tr>
  		  <tr><td>b)  integumentary</td><td><input type="radio" name="esthetics_6_25" value="b"></td></tr>
  		  <tr><td>c)  excretory</td><td><input type="radio" name="esthetics_6_25" value="c"></td></tr>
  		  <tr><td>d)  digestive</td><td><input type="radio" name="esthetics_6_25" value="d"></td></tr>
  		</table>
    </p>


    <p>26.  What is the primary function of the excretory system?
  		<table class="table table-condensed">
  		  <tr><td>a)  purifying the body by elimination of waste matter</td><td><input type="radio" name="esthetics_6_26" value="a"></td></tr>
  		  <tr><td>b)  converting food into nutrients and waste</td><td><input type="radio" name="esthetics_6_26" value="b"></td></tr>
  		  <tr><td>c)  circulating blood and lymph throughout the body</td><td><input type="radio" name="esthetics_6_26" value="c"></td></tr>
  		  <tr><td>d)  circulating nitrogen and oxygen throughout the body</td><td><input type="radio" name="esthetics_6_26" value="d"></td></tr>
  		</table>
    </p>


    <p>27.  What is the primary function of the reproductive system?
  		<table class="table table-condensed">
  		  <tr><td>a)  discharging waste from the body</td><td><input type="radio" name="esthetics_6_27" value="a"></td></tr>
  		  <tr><td>b)  perpetuating the human race</td><td><input type="radio" name="esthetics_6_27" value="b"></td></tr>
  		  <tr><td>c)  maintaining erogenous zones</td><td><input type="radio" name="esthetics_6_27" value="c"></td></tr>
  		  <tr><td>d)  feeding nutrients into the body</td><td><input type="radio" name="esthetics_6_27" value="d"></td></tr>
  		</table>
    </p>

    <p>28.  What is the body system that controls and coordinates all other body systems?
  		<table class="table table-condensed">
  		  <tr><td>a)  endocrine</td><td><input type="radio" name="esthetics_6_28" value="a"></td></tr>
  		  <tr><td>b)  reproductive</td><td><input type="radio" name="esthetics_6_28" value="b"></td></tr>
  		  <tr><td>c)  integumentary</td><td><input type="radio" name="esthetics_6_28" value="c"></td></tr>
  		  <tr><td>d)  nervous</td><td><input type="radio" name="esthetics_6_28" value="d"></td></tr>
  		</table>
    </p>

    <p>29.  What is the connection between two or more bones of the skeleton?
  		<table class="table table-condensed">
  		  <tr><td>a)  joint</td><td><input type="radio" name="esthetics_6_29" value="a"></td></tr>
  		  <tr><td>b)  ligament</td><td><input type="radio" name="esthetics_6_29" value="b"></td></tr>
  		  <tr><td>c)  origin</td><td><input type="radio" name="esthetics_6_29" value="c"></td></tr>
  		  <tr><td>d)  insertion</td><td><input type="radio" name="esthetics_6_29" value="d"></td></tr>
  		</table>
    </p>
  
    <p>30.  What body system serves as a protective covering for the body?
  		<table class="table table-condensed">
  		  <tr><td>a)  endocrine</td><td><input type="radio" name="esthetics_6_30" value="a"></td></tr>
  		  <tr><td>b)  skeletal</td><td><input type="radio" name="esthetics_6_30" value="b"></td></tr>
  		  <tr><td>c)  nervous</td><td><input type="radio" name="esthetics_6_30" value="c"></td></tr>
  		  <tr><td>d)  integumentary</td><td><input type="radio" name="esthetics_6_30" value="d"></td></tr>
  		</table>
    </p>

    <p>31.  What is a collection of similar cells that perform a particular function?
  		<table class="table table-condensed">
  		  <tr><td>a)  lymph</td><td><input type="radio" name="esthetics_6_31" value="a"></td></tr>
  		  <tr><td>b)  sebum</td><td><input type="radio" name="esthetics_6_31" value="b"></td></tr>
  		  <tr><td>c)  body system</td><td><input type="radio" name="esthetics_6_31" value="c"></td></tr>
  		  <tr><td>d)  tissue</td><td><input type="radio" name="esthetics_6_31" value="d"></td></tr>
  		</table>
    </p>

    <p>32.  What are valves?
  		<table class="table table-condensed">
  		  <tr><td>a)  structures that close a passage or permit flow in one direction only</td><td><input type="radio" name="esthetics_6_32" value="a"></td></tr>
  		  <tr><td>b)  exterior openings on the body such as aural canals, nostrils, and pores</td><td><input type="radio" name="esthetics_6_32" value="b"></td></tr>
  		  <tr><td>c)  junctures in the digestive system where food is halted and processed</td><td><input type="radio" name="esthetics_6_32" value="c"></td></tr>
  		  <tr><td>d)  junctures in the excretory system where waste is halted and processed</td><td><input type="radio" name="esthetics_6_32" value="d"></td></tr>
  		</table>
    </p>


    <p>33.  Where in the skull is the occipital bone located?
  		<table class="table table-condensed">
  		  <tr><td>a)  front</td><td><input type="radio" name="esthetics_6_33" value="a"></td></tr>
  		  <tr><td>b)  back</td><td><input type="radio" name="esthetics_6_33" value="b"></td></tr>
  		  <tr><td>c)  left side</td><td><input type="radio" name="esthetics_6_33" value="c"></td></tr>
  		  <tr><td>d)  right side</td><td><input type="radio" name="esthetics_6_33" value="d"></td></tr>
  		</table>
    </p>


    <p>34.  How many identical daughter cells are formed when a cell divides during mitosis?
  		<table class="table table-condensed">
  		  <tr><td>a)  two</td><td><input type="radio" name="esthetics_6_34" value="a"></td></tr>
  		  <tr><td>b)  four</td><td><input type="radio" name="esthetics_6_34" value="b"></td></tr>
  		  <tr><td>c)  six</td><td><input type="radio" name="esthetics_6_34" value="c"></td></tr>
  		  <tr><td>d)  eight</td><td><input type="radio" name="esthetics_6_34" value="d"></td></tr>
  		</table>
    </p>


    <p>35.  What are the two phases of metabolism?
  		<table class="table table-condensed">
  		  <tr><td>a)  anabolism and catabolism</td><td><input type="radio" name="esthetics_6_35" value="a"></td></tr>
  		  <tr><td>b)  botulism and embolism</td><td><input type="radio" name="esthetics_6_35" value="b"></td></tr>
  		  <tr><td>c)  internal and external</td><td><input type="radio" name="esthetics_6_35" value="c"></td></tr>
  		  <tr><td>d)  primary and secondary</td><td><input type="radio" name="esthetics_6_35" value="d"></td></tr>
  		</table>
    </p>

    <p>36.  What is the metabolic process of building up larger molecules from smaller ones?
  		<table class="table table-condensed">
  		  <tr><td>a)  premetabolism</td><td><input type="radio" name="esthetics_6_36" value="a"></td></tr>
  		  <tr><td>b)  postmetabolism</td><td><input type="radio" name="esthetics_6_36" value="b"></td></tr>
  		  <tr><td>c)  anabolism</td><td><input type="radio" name="esthetics_6_36" value="c"></td></tr>
  		  <tr><td>d)  catabolism</td><td><input type="radio" name="esthetics_6_36" value="d"></td></tr>
  		</table>
    </p>

    <p>37.  When, during metabolism, are complex compounds whithin the cells broken down into smaller ones?
  		<table class="table table-condensed">
  		  <tr><td>a)  anabolism</td><td><input type="radio" name="esthetics_6_37" value="a"></td></tr>
  		  <tr><td>b)  catabolism</td><td><input type="radio" name="esthetics_6_37" value="b"></td></tr>
  		  <tr><td>c)  primary metabolism</td><td><input type="radio" name="esthetics_6_37" value="c"></td></tr>
  		  <tr><td>d)  secondary metabolism</td><td><input type="radio" name="esthetics_6_37" value="d"></td></tr>
  		</table>
    </p>

    <p>38.  What body system affects the growth, development, sexual activities, and health of the body?
  		<table class="table table-condensed">
  		  <tr><td>a)  circulatory</td><td><input type="radio" name="esthetics_6_38" value="a"></td></tr>
  		  <tr><td>b)  integumentary</td><td><input type="radio" name="esthetics_6_38" value="b"></td></tr>
  		  <tr><td>c)  nervous</td><td><input type="radio" name="esthetics_6_38" value="c"></td></tr>
  		  <tr><td>d)  endocrine</td><td><input type="radio" name="esthetics_6_38" value="d"></td></tr>
  		</table>
    </p>

    <p>39.  Where in the body does the spinal cord originate?
  		<table class="table table-condensed">
  		  <tr><td>a)  top of the skull</td><td><input type="radio" name="esthetics_6_39" value="a"></td></tr>
  		  <tr><td>b)  base of the neck</td><td><input type="radio" name="esthetics_6_39" value="b"></td></tr>
  		  <tr><td>c)  brain</td><td><input type="radio" name="esthetics_6_39" value="c"></td></tr>
  		  <tr><td>d)  heart</td><td><input type="radio" name="esthetics_6_39" value="d"></td></tr>
  		</table>
    </p>

    <p>40.  What are glands?
  		<table class="table table-condensed">
  		  <tr><td>a)  sexual organs required for reproduction</td><td><input type="radio" name="esthetics_6_40" value="a"></td></tr>
  		  <tr><td>b)  specialized organs that remove and convert elements from the blood</td><td><input type="radio" name="esthetics_6_40" value="b"></td></tr>
  		  <tr><td>c)  chambers of the heart required for circulation</td><td><input type="radio" name="esthetics_6_40" value="c"></td></tr>
  		  <tr><td>d)  groups of cells in the skin responsible for perspiration</td><td><input type="radio" name="esthetics_6_40" value="d"></td></tr>
  		</table>
    </p>

    <p>41.  What are lymph nodes?
  		<table class="table table-condensed">
  		  <tr><td>a)  gland-like structures found inside the lymphatic vessels</td><td><input type="radio" name="esthetics_6_41" value="a"></td></tr>
  		  <tr><td>b)  components of lymph that flow through lymphatic vessels</td><td><input type="radio" name="esthetics_6_41" value="b"></td></tr>
  		  <tr><td>c)  dedicated muscles that power the lymphatic vessels</td><td><input type="radio" name="esthetics_6_41" value="c"></td></tr>
  		  <tr><td>d)  tubes that take lymph to and from lymphatic vessels</td><td><input type="radio" name="esthetics_6_41" value="d"></td></tr>
  		</table>
    </p>

    <p>42.  What are two physical characteristics of lymph?
  		<table class="table table-condensed">
  		  <tr><td>a)  thick and sticky</td><td><input type="radio" name="esthetics_6_42" value="a"></td></tr>
  		  <tr><td>b)  red and spongy</td><td><input type="radio" name="esthetics_6_42" value="b"></td></tr>
  		  <tr><td>c)  yellow and gelatinous</td><td><input type="radio" name="esthetics_6_42" value="c"></td></tr>
  		  <tr><td>d)  colorless and watery</td><td><input type="radio" name="esthetics_6_42" value="d"></td></tr>
  		</table>
    </p>

    <p>43.  What binds tissues of the body together?
  		<table class="table table-condensed">
  		  <tr><td>a)  anatomical binders</td><td><input type="radio" name="esthetics_6_43" value="a"></td></tr>
  		  <tr><td>b)  physiological binders</td><td><input type="radio" name="esthetics_6_43" value="b"></td></tr>
  		  <tr><td>c)  adhesive tissue</td><td><input type="radio" name="esthetics_6_43" value="c"></td></tr>
  		  <tr><td>d)  connetive tissue</td><td><input type="radio" name="esthetics_6_43" value="d"></td></tr>
  		</table>
    </p>

    <p>44.  What type of tissue provides a protective covering on body surface?
  		<table class="table table-condensed">
  		  <tr><td>a)  endocrine</td><td><input type="radio" name="esthetics_6_44" value="a"></td></tr>
  		  <tr><td>b)  epithelial</td><td><input type="radio" name="esthetics_6_44" value="b"></td></tr>
  		  <tr><td>c)  nerve</td><td><input type="radio" name="esthetics_6_44" value="c"></td></tr>
  		  <tr><td>d)  border</td><td><input type="radio" name="esthetics_6_44" value="d"></td></tr>
  		</table>
    </p>

    <p>45.  What carries messages to and from the brain and controls and coordinates all body functions?
  		<table class="table table-condensed">
  		  <tr><td>a)  epithelial tissue</td><td><input type="radio" name="esthetics_6_45" value="a"></td></tr>
  		  <tr><td>b)  cardiac tissue</td><td><input type="radio" name="esthetics_6_45" value="b"></td></tr>
  		  <tr><td>c)  nerve tissue</td><td><input type="radio" name="esthetics_6_45" value="c"></td></tr>
  		  <tr><td>d)  supervisory tissue</td><td><input type="radio" name="esthetics_6_45" value="d"></td></tr>
  		</table>
    </p>

    <p>46.  What organ circulates the blood?
  		<table class="table table-condensed">
  		  <tr><td>a)  brain</td><td><input type="radio" name="esthetics_6_46" value="a"></td></tr>
  		  <tr><td>b)  heart</td><td><input type="radio" name="esthetics_6_46" value="b"></td></tr>
  		  <tr><td>c)  liver</td><td><input type="radio" name="esthetics_6_46" value="c"></td></tr>
  		  <tr><td>d)  kidney</td><td><input type="radio" name="esthetics_6_46" value="d"></td></tr>
  		</table>
    </p>

    <p>47.  What do the kidneys do?
  		<table class="table table-condensed">
  		  <tr><td>a)  pump nitrogen into the blood</td><td><input type="radio" name="esthetics_6_47" value="a"></td></tr>
  		  <tr><td>b)  pump oxygen into the blood</td><td><input type="radio" name="esthetics_6_47" value="b"></td></tr>
  		  <tr><td>c)  convert food into nutrients</td><td><input type="radio" name="esthetics_6_47" value="c"></td></tr>
  		  <tr><td>d)  excrete water and waste products</td><td><input type="radio" name="esthetics_6_47" value="d"></td></tr>
  		</table>
    </p>

    <p>48.  What is the name of the two bones that form the bridge of the nose?
  		<table class="table table-condensed">
  		  <tr><td>a)  occipital</td><td><input type="radio" name="esthetics_6_48" value="a"></td></tr>
  		  <tr><td>b)  cranial</td><td><input type="radio" name="esthetics_6_48" value="b"></td></tr>
  		  <tr><td>c)  nasal</td><td><input type="radio" name="esthetics_6_48" value="c"></td></tr>
  		  <tr><td>d)  dorsal</td><td><input type="radio" name="esthetics_6_48" value="d"></td></tr>
  		</table>
    </p>

    <p>49.  What is the largest and strongest bone in the face?
  		<table class="table table-condensed">
  		  <tr><td>a)  lacrimal</td><td><input type="radio" name="esthetics_6_49" value="a"></td></tr>
  		  <tr><td>b)  vomer</td><td><input type="radio" name="esthetics_6_49" value="b"></td></tr>
  		  <tr><td>c)  mandible</td><td><input type="radio" name="esthetics_6_49" value="c"></td></tr>
  		  <tr><td>d)  turbinal</td><td><input type="radio" name="esthetics_6_49" value="d"></td></tr>
  		</table>
    </p>

    <p>50.  What is formed by the 12 pairs of bones in the ribs?
  		<table class="table table-condensed">
  		  <tr><td>a)  sternum</td><td><input type="radio" name="esthetics_6_50" value="a"></td></tr>
  		  <tr><td>b)  thorax</td><td><input type="radio" name="esthetics_6_50" value="b"></td></tr>
  		  <tr><td>c)  epiglottis</td><td><input type="radio" name="esthetics_6_50" value="c"></td></tr>
  		  <tr><td>d)  abdomen</td><td><input type="radio" name="esthetics_6_50" value="d"></td></tr>
  		</table>
    </p>

    <p>51.  What serves as the protective framework for the heart, lungs, and other internal organs?
  		<table class="table table-condensed">
  		  <tr><td>a)  thorax</td><td><input type="radio" name="esthetics_6_51" value="a"></td></tr>
  		  <tr><td>b)  sternum</td><td><input type="radio" name="esthetics_6_51" value="b"></td></tr>
  		  <tr><td>c)  abdomen</td><td><input type="radio" name="esthetics_6_51" value="c"></td></tr>
  		  <tr><td>d)  torso</td><td><input type="radio" name="esthetics_6_51" value="d"></td></tr>
  		</table>
    </p>

    <p>52.  What are small vessels that connect capillaries to veins?
  		<table class="table table-condensed">
  		  <tr><td>a)  granules</td><td><input type="radio" name="esthetics_6_52" value="a"></td></tr>
  		  <tr><td>b)  papules</td><td><input type="radio" name="esthetics_6_52" value="b"></td></tr>
  		  <tr><td>c)  ampules</td><td><input type="radio" name="esthetics_6_52" value="c"></td></tr>
  		  <tr><td>d)  venules</td><td><input type="radio" name="esthetics_6_52" value="d"></td></tr>
  		</table>
    </p>

    <p>53.  What term refers to thin-walled blood vessels that are less elastic than arteries?
  		<table class="table table-condensed">
  		  <tr><td>a)  venules</td><td><input type="radio" name="esthetics_6_53" value="a"></td></tr>
  		  <tr><td>b)  veins</td><td><input type="radio" name="esthetics_6_53" value="b"></td></tr>
  		  <tr><td>c)  vesicles</td><td><input type="radio" name="esthetics_6_53" value="c"></td></tr>
  		  <tr><td>d)  ventricles</td><td><input type="radio" name="esthetics_6_53" value="d"></td></tr>
  		</table>
    </p>

    <p>54.  What gland controls how quickly the body burns energy and makes proteins?
  		<table class="table table-condensed">
  		  <tr><td>a)  adrenal</td><td><input type="radio" name="esthetics_6_54" value="a"></td></tr>
  		  <tr><td>b)  pineal</td><td><input type="radio" name="esthetics_6_54" value="b"></td></tr>
  		  <tr><td>c)  pituitary</td><td><input type="radio" name="esthetics_6_54" value="c"></td></tr>
  		  <tr><td>d)  thyroid</td><td><input type="radio" name="esthetics_6_54" value="d"></td></tr>
  		</table>
    </p>

    <p>55.  What is NOT true about the brain?
  		<table class="table table-condensed">
  		  <tr><td>a)  it is where thoughts are formed</td><td><input type="radio" name="esthetics_6_55" value="a"></td></tr>
  		  <tr><td>b)  it is the largest organ of the body</td><td><input type="radio" name="esthetics_6_55" value="b"></td></tr>
  		  <tr><td>c)  it controls the body</td><td><input type="radio" name="esthetics_6_55" value="c"></td></tr>
  		  <tr><td>d)  it is protected by the cranium</td><td><input type="radio" name="esthetics_6_55" value="d"></td></tr>
  		</table>
    </p>

    <p>56.  What supplies the oxygen to the blood?
  		<table class="table table-condensed">
  		  <tr><td>a)  brain</td><td><input type="radio" name="esthetics_6_56" value="a"></td></tr>
  		  <tr><td>b)  heart</td><td><input type="radio" name="esthetics_6_56" value="b"></td></tr>
  		  <tr><td>c)  lungs</td><td><input type="radio" name="esthetics_6_56" value="c"></td></tr>
  		  <tr><td>d)  kidneys</td><td><input type="radio" name="esthetics_6_56" value="d"></td></tr>
  		</table>
    </p>

    <p>57.  What is the function of the liver?
  		<table class="table table-condensed">
  		  <tr><td>a)  removing waste created by digestion</td><td><input type="radio" name="esthetics_6_57" value="a"></td></tr>
  		  <tr><td>b)  circulating lymph through the body</td><td><input type="radio" name="esthetics_6_57" value="b"></td></tr>
  		  <tr><td>c)  adding oxygen to the blood</td><td><input type="radio" name="esthetics_6_57" value="c"></td></tr>
  		  <tr><td>d)  removing oxygen from the blood</td><td><input type="radio" name="esthetics_6_57" value="d"></td></tr>
  		</table>
    </p>

    <p>58.  What organ aids the intestines in the digestion of food?
  		<table class="table table-condensed">
  		  <tr><td>a)  kidney</td><td><input type="radio" name="esthetics_6_58" value="a"></td></tr>
  		  <tr><td>b)  liver</td><td><input type="radio" name="esthetics_6_58" value="b"></td></tr>
  		  <tr><td>c)  stomach</td><td><input type="radio" name="esthetics_6_58" value="c"></td></tr>
  		  <tr><td>d)  pancreas</td><td><input type="radio" name="esthetics_6_58" value="d"></td></tr>
  		</table>
    </p>

    <p>59.  What is defecation?
  		<table class="table table-condensed">
  		  <tr><td>a)  circulating water through the body</td><td><input type="radio" name="esthetics_6_59" value="a"></td></tr>
  		  <tr><td>b)  breaking food down into nutrients</td><td><input type="radio" name="esthetics_6_59" value="b"></td></tr>
  		  <tr><td>c)  absorbing nutrients into the body</td><td><input type="radio" name="esthetics_6_59" value="c"></td></tr>
  		  <tr><td>d)  eliminating waste from the body</td><td><input type="radio" name="esthetics_6_59" value="d"></td></tr>
  		</table>
    </p>

    <p>60.  What is the term for taking food into the body?
  		<table class="table table-condensed">
  		  <tr><td>a)  ingestion</td><td><input type="radio" name="esthetics_6_60" value="a"></td></tr>
  		  <tr><td>b)  digestion</td><td><input type="radio" name="esthetics_6_60" value="b"></td></tr>
  		  <tr><td>c)  indigestion</td><td><input type="radio" name="esthetics_6_60" value="c"></td></tr>
  		  <tr><td>d)  regurgitation</td><td><input type="radio" name="esthetics_6_60" value="d"></td></tr>
  		</table>
    </p>

  </form>
  
  <button id="submitExam" class="btn btn-lg btn-primary">Submit</button>

</body>
</html>
