
<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#submitExam").click(function(){
      var questionAnswerObj = {};
      $('#myForm input[type=radio]:checked').each(function(){
  		  questionAnswerObj[this.name] = this.value;
  	  }); 
  
      $.ajax({
        type:'POST',
        url:'/submit_Exam',
        data: { questionAnswerObj: JSON.stringify(questionAnswerObj) },
        success:function(result){
          var i;
          var out = "<table class=\"table table-striped\">";
          out += "<th>Question #</th><th>Answer Key</th><th>Your Answer Is</th>";
          x = result;
          $("#answers").empty();
          for (i = 0; i < x.length; i++) {
            out +=  "<tr><td>"  +  x[i].question_number + 
                    "</td><td>" +  x[i].answer_key +
                    "</td><td>" + x[i].your_answer + "</td></tr>";
          }
          out += "</table>";
          $("#answers").append(out);

        }
      }); // ajax
    }); // #submitExam
  });
</script>
</head>
<body>

  <h2>Chapter 16: Facial Massage </h2>
  <hr>

  <form id="myForm" >

    <p>1. What action should you NOT use on the center of the neck?
		<table class="table table-condensed">
		  <tr><td><input type="radio" name="esthetics_16_1" value="a"></td><td>a) pressing down </td></tr>
		  <tr><td><input type="radio" name="esthetics_16_1" value="b"></td><td>b) stroking gently </td></tr>
		  <tr><td><input type="radio" name="esthetics_16_1" value="c"></td><td>c) applying lotion </td></tr>
		  <tr><td><input type="radio" name="esthetics_16_1" value="d"></td><td>d) touching </td></tr>
		</table>
    </p>

    <p>2. What part of the body should you avoid tapping because tapping in that area will feel unpleasant to the client?  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_2" value="a"></td><td>a) forehead </td></tr>
		  <tr><td><input type="radio" name="esthetics_16_2" value="b"></td><td>b) cheeks </td></tr>
		  <tr><td><input type="radio" name="esthetics_16_2" value="c"></td><td>c) neck </td></tr>
		  <tr><td><input type="radio" name="esthetics_16_2" value="d"></td><td>d) jawbone </td></tr>
  		</table>
    </p>

    <p>3. What is feathering? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_3" value="a"></td><td>a) use of feathers for soft touching during a massage </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_3" value="b"></td><td>b) use of quick, birf-like movements during a massage </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_3" value="c"></td><td>c) term for the slowing-down movements at the end of a massage </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_3" value="d"></td><td>d) practice of resting a client on a feather pillow during a massage </td></tr>
  		</table>
    </p>

    <p>4. What is true about the decollete? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_4" value="a"></td><td>a) that is where you end your massage procedure </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_4" value="b"></td><td>b) this area of the body should be avoided during massage </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_4" value="c"></td><td>c) this is the single most important area during a massage </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_4" value="d"></td><td>d) that is where you begin your massage procedure </td></tr>
  		</table>
    </p>

    <p>5. How many millititers of product should you use on the facial area? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_5" value="a"></td><td>a) five </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_5" value="b"></td><td>b) 10 </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_5" value="c"></td><td>c) 15 </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_5" value="d"></td><td>d) 25 </td></tr>
  		</table>
    </p>

    <p>6. What is acupressure? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_6" value="a"></td><td>a) use of needles to stimulate parts of the body </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_6" value="b"></td><td>b) oriental technique of applying pressure to specific body points </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_6" value="c"></td><td>c) use of measuring tools to ensure precise massage movements </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_6" value="d"></td><td>d) use of a blood-pressure gauge during massage to monitor health </td></tr>
  		</table>
    </p>

    <p>7. What is chucking? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_7" value="a"></td><td>a) application of pressure to specific points of the body </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_7" value="b"></td><td>b) light, continuous stroing movement applied with fingers </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_7" value="c"></td><td>c) deep rubbing movement requiring pressure on the skin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_7" value="d"></td><td>d) grapping flesh in one hand while the other hand holds the limb </td></tr>
  		</table>
    </p>

    <p>8. Why is the Dr. Jacquet movement beneficial to oily skin? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_8" value="a"></td><td>a) it presses sebum deeper into the follicles, away from the surface </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_8" value="b"></td><td>b) it helps move sebum out of the follicles and up to the skin's surface </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_8" value="c"></td><td>c) the friction of the movement normalizes the skin's pH </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_8" value="d"></td><td>d) it causes the body to stop producing sebum </td></tr>
  		</table>
    </p>
    
    <p>9. What is effleurage?
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_9" value="a"></td><td>a) use of needles on pressure points </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_9" value="b"></td><td>b) movement involving grasping flesh firmly with one hand </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_9" value="c"></td><td>c) light, continuous stroking movement </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_9" value="d"></td><td>d) deep rubbing movement </td></tr>
  		</table>
    </p>
    
    <p>10. What is friction ? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_10" value="a"></td><td>a) light, continuous stroking movement </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_10" value="b"></td><td>b) deep rubbing movement </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_10" value="c"></td><td>c) movement involving grasping flesh firmly with one hand </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_10" value="d"></td><td>d) use of needles on pressure points </td></tr>
  		</table>
    </p>
    
    <p>11. What is NOT a variation of friction?
 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_11" value="a"></td><td>a) chucking </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_11" value="b"></td><td>b) rolling </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_11" value="c"></td><td>c) wringing </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_11" value="d"></td><td>d) effleurage </td></tr>
  		</table>
    </p>
    
    <p>12. What is fulling? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_12" value="a"></td><td>a) form of petrissage </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_12" value="b"></td><td>b) form of effleurage </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_12" value="c"></td><td>c) variation of acupressure </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_12" value="d"></td><td>d) variation of shiatsu </td></tr>
  		</table>
    </p>
    
    <p>13. What is hacking? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_13" value="a"></td><td>a) deep rubbing movement requiring pressure on the skin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_13" value="b"></td><td>b) light, continuous stroking movement applied with fingers </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_13" value="c"></td><td>c) movement involving grasping flesh firmly with one hand </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_13" value="d"></td><td>d) chopping movement performed with the edges of the hands </td></tr>
  		</table>
    </p>
    
    <p>14. What is a characteristic of manual lymph drainage? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_14" value="a"></td><td>a) aggressive, irregular pressure </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_14" value="b"></td><td>b) gentle, rhythmic pressure </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_14" value="c"></td><td>c) strong chopping motions </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_14" value="d"></td><td>d) hard kneading movements </td></tr>
  		</table>
    </p>
    
    <p>15. What is the term for the manual or mechanical manipulation of the body by using movements to increase metabolism and circulation, among other effects? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_15" value="a"></td><td>a) massage </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_15" value="b"></td><td>b) acupuncture </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_15" value="c"></td><td>c) physical therapy </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_15" value="d"></td><td>d) reconditioning </td></tr>
  		</table>
    </p>
    
    <p>16. What improves overall metabolism and activates sluggish skin?
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_16" value="a"></td><td>a) caffeine </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_16" value="b"></td><td>b) massage </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_16" value="c"></td><td>c) sun exxposure </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_16" value="d"></td><td>d) sugar </td></tr>
  		</table>
    </p>
    
    <p>17. Why should be performed for approximately 10 to 15 minutes?  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_17" value="a"></td><td>a) extractions </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_17" value="b"></td><td>b) facial massage </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_17" value="c"></td><td>c) steaming </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_17" value="d"></td><td>d) manicure/ pedicure </td></tr>
  		</table>
    </p>
    
    <p>18. What must estheticians be in order to perform deep tissue work? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_18" value="a"></td><td>a) licensed massage therapists (LMTs) </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_18" value="b"></td><td>b) emergency medical technicians (EMTs) </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_18" value="c"></td><td>c) licensed medical technicians (LMTs) </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_18" value="d"></td><td>d) emergency massage technicians (EMTs) </td></tr>
  		</table>
    </p>

    <p>19. Where should massage movements begin? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_19" value="a"></td><td>a) insertion </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_19" value="b"></td><td>b) origin </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_19" value="c"></td><td>c) joint </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_19" value="d"></td><td>d) any point along the muscle </td></tr>
  		</table>
    </p>

    <p>20. What do inflamed acne, open lesions, and sunburn have in common? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_21" value="a"></td><td>a) clients with these conditions are badly in need of massage </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_21" value="b"></td><td>b) massage is contraindicated for clients with these conditions </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_21" value="c"></td><td>c) client with these conditions should only receive gentle massage </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_21" value="d"></td><td>d) client with these conditions should only receive vigorous massage </td></tr>
  		</table>
    </p>

    <p>21. When should you advise a client with reservations about facial massage to speak with a physician?
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_22" value="a"></td><td>a) when you are too tired to perform vigorous massage </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_22" value="b"></td><td>b) when youu don't feel a client deserves vigorous massage </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_22" value="c"></td><td>c) when a client has arthritis or other pain </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_22" value="d"></td><td>d) when a client has oily skin </td></tr>
  		</table>
    </p>

    <p>22. When should you advise a client with reservations about facial massage to speak with a physician? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_22" value="a"></td><td>a) after the first massage session </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_22" value="b"></td><td>b) before performing massage </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_22" value="c"></td><td>c) after a month of regular massage </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_22" value="d"></td><td>d) after a year of regular massage </td></tr>
  		</table>
    </p>

    <p>23. What type of movements are used in petrissage? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_23" value="a"></td><td>a) kneading </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_23" value="b"></td><td>b) chopping </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_23" value="c"></td><td>c) poking </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_23" value="d"></td><td>d) tapping </td></tr>
  		</table>
    </p>

    <p>24. Where do you apply pressure when performing reflexology?
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_24" value="a"></td><td>a) hands </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_24" value="b"></td><td>b) shoulders </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_24" value="c"></td><td>c) legs </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_24" value="d"></td><td>d) feet </td></tr>
  		</table>
    </p>

    <p>25. What is rolling? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_25" value="a"></td><td>a) pressing and twisting tissues using a back-and-forth movement </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_25" value="b"></td><td>b) pressing but not twisting tissues </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_25" value="c"></td><td>c) twisting but not pressing tissues </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_25" value="d"></td><td>d) pressing and twisting tissues using a special tool similar to a rolling pin </td></tr>
  		</table>
    </p>

    <p>26. What is NOT a type of movement characteristic of tapotement?
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_26" value="a"></td><td>a) tapping </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_26" value="b"></td><td>b) slapping </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_26" value="c"></td><td>c) skeading </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_26" value="d"></td><td>d) hacking </td></tr>
  		</table>
    </p>

    <p>27. What is a form of acupressure? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_27" value="a"></td><td>a) effeurage </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_27" value="b"></td><td>b) petrissage </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_27" value="c"></td><td>c) Dr.Jacquet movement </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_27" value="d"></td><td>d) shiatu </td></tr>
  		</table>
    </p>

    <p>28. What part of the esthetician's body must be kept flexible during slapping to ensure that the palms come into proper contact with the body?  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_28" value="a"></td><td>a) wrists </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_28" value="b"></td><td>b) elbows </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_28" value="c"></td><td>c) shoulders </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_28" value="d"></td><td>d) hips </td></tr>
  		</table>
    </p>

    <p>29. What type of movements are used in vibration? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_29" value="a"></td><td>a) rapid striking </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_29" value="b"></td><td>b) rapid shaking </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_29" value="c"></td><td>c) slow striking </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_29" value="d"></td><td>d) slow shaking </td></tr>
  		</table>
    </p>
  
    <p>30. When do the body's reflex receptors increase blood and lymph flow, resulting in a state of relaxation? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_30" value="a"></td><td>a) when touch is sensed by the body </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_30" value="b"></td><td>b) when heat is sensed by the body </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_30" value="c"></td><td>c) when cold is sensed by the body </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_30" value="d"></td><td>d) when moisture is sensed by the body </td></tr>
  		</table>
    </p>

    <p>31. What does the central nervous system trigger when affected by massage? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_31" value="a"></td><td>a) rapid heartbeat </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_31" value="b"></td><td>b) "fight-or-light" reaction </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_31" value="c"></td><td>c) stress </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_31" value="d"></td><td>d) relaxation </td></tr>
  		</table>
    </p>

    <p>32. To whom should you refer a client who wants a full body massage? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_32" value="a"></td><td>a) physical therapist </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_32" value="b"></td><td>b) nurse practitioner </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_32" value="c"></td><td>c) licensed massage therapist </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_32" value="d"></td><td>d) chiropractor </td></tr>
  		</table>
    </p>

    <p>33. What information can be found by referring to licensing regulations?
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_33" value="a"></td><td>a) product ingredients </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_33" value="b"></td><td>b) pricing scales </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_33" value="c"></td><td>c) scope of practice </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_33" value="d"></td><td>d) customer demongraphics </td></tr>
  		</table>
    </p>

    <p>34. What should you do during effleurage in order to avoid scratching the client? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_34" value="a"></td><td>a) avoid using lotions that might make the work surface slippery </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_34" value="b"></td><td>b) avoid using the ends of your fingertips </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_34" value="c"></td><td>c) avoid working in a warmth that might induce client perspiration </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_34" value="d"></td><td>d) wear thick gloves to ensure your skin doesn't touch the client's skin </td></tr>
  		</table>
    </p>

    <p>35. What is true of tapotement? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_35" value="a"></td><td>a) it is the most stimulating form of massage </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_35" value="b"></td><td>b) it is the least stimulating form of massage </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_35" value="c"></td><td>c) it is not a stimulating form of massage </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_35" value="d"></td><td>d) only licensed massage technicians can perform tapotement </td></tr>
  		</table>
    </p>

    <p>36. How long should viration be used on any one spot of the body? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_36" value="a"></td><td>a) no more than a few seconds </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_36" value="b"></td><td>b) no more than a minute </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_36" value="c"></td><td>c) no more than 10 minutes </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_36" value="d"></td><td>d) no more than 20 minutes </td></tr>
  		</table>
    </p>

    <p>37. What is true of the left and right sides of the areas being massaged? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_37" value="a"></td><td>a) left side should receive more vigorous massage </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_37" value="b"></td><td>b) right side should receive more vigorous massage </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_37" value="c"></td><td>c) both side of the body should be massage simultaneously </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_37" value="d"></td><td>d) movement should be duplicated on both the right and left sides </td></tr>
  		</table>
    </p>

    <p>38. What everyday movement is somewhat similar to the Dr.Jacquet movement? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_38" value="a"></td><td>a) squeezing the peel of an orange to make uice spray out  </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_38" value="b"></td><td>b) plucking seeds from a watermelon </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_38" value="c"></td><td>c) peeling an apple </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_38" value="d"></td><td>d) cracking oepn a walnut </td></tr>
  		</table>
    </p>

    <p>39. Why should the Dr. Jacquet movement be avoided on areas of the skin that are infected or irritated? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_39" value="a"></td><td>a) client will experience piercing pain in those areas  </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_39" value="b"></td><td>b) client will experience sudden bleeding in those areas </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_39" value="c"></td><td>c) too much pressure will rupture follicle walls </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_39" value="d"></td><td>d) will cause an infection or irrtation to rapidly spread all over the body </td></tr>
  		</table>
    </p>

    <p>40. What type of movements are appropriate when massaging the area of beard growth on male clients? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="esthetics_16_40" value="a"></td><td>a) downward </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_40" value="b"></td><td>b) upward </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_40" value="c"></td><td>c) sideways </td></tr>
  		  <tr><td><input type="radio" name="esthetics_16_40" value="d"></td><td>d) diagonal </td></tr>
  		</table>
    </p>

  </form>
  
  <button id="submitExam" class="btn btn-lg btn-primary">Submit</button>

</body>
</html>
