<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#submitExam").click(function(){
      var questionAnswerObj = {};
      $('#myForm input[type=radio]:checked').each(function(){
  		  questionAnswerObj[this.name] = this.value;
  	  }); 
  
      $.ajax({
        type:'POST',
        url:'/submit_Exam',
        data: { questionAnswerObj: JSON.stringify(questionAnswerObj) },
        success:function(result){
          var i;
          var out = "<table class=\"table table-striped\">";
          out += "<th>Question #</th><th>Answer Key</th><th>Your Answer Is</th>";
          x = result;
          $("#answers").empty();
          for (i = 0; i < x.length; i++) {
            out +=  "<tr><td>"  +  x[i].question_number + 
                    "</td><td>" +  x[i].answer_key +
                    "</td><td>" + x[i].your_answer + "</td></tr>";
          }
          out += "</table>";
          $("#answers").append(out);

        }
      }); // ajax
    }); // #submitExam
  });
</script>
</head>
<body>

  <h2>Chapter 3 -- Your Professional Image</h2>
  <hr>

  <form id="myForm" >

    <p>1.  When choosing makeup for work, what should be your first priority?
  		<table class="table table-condensed">
  		  <tr><td>a)  making yourself look seductive</td><td><input type="radio" name="esthetics_3_1" value="a"></td></tr>
  		  <tr><td>b)  accentuating your best features</td><td><input type="radio" name="esthetics_3_1" value="b"></td></tr>
  		  <tr><td>c)  making yourself look glamorous</td><td><input type="radio" name="esthetics_3_1" value="c"></td></tr>
  		  <tr><td>d)  showing off your makeup skills</td><td><input type="radio" name="esthetics_3_1" value="d"></td></tr>
  		</table>
    </p>

    <p>2.  How much time of the relaxation response can one exercise session generate?
  		<table class="table table-condensed">
  		  <tr><td>a)  10 minutes</td><td><input type="radio" name="esthetics_3_2" value="a"></td></tr>
  		  <tr><td>b)  30 minutes</td><td><input type="radio" name="esthetics_3_2" value="b"></td></tr>
  		  <tr><td>c)  two hours</td><td><input type="radio" name="esthetics_3_2" value="c"></td></tr>
  		  <tr><td>d)  eight hours</td><td><input type="radio" name="esthetics_3_2" value="d"></td></tr>
  		</table>
    </p>

    <p>3.  What affects your interaction with everyone in the salon?
  		<table class="table table-condensed">
  		  <tr><td>a)  your activities outside work</td><td><input type="radio" name="esthetics_3_3" value="a"></td></tr>
  		  <tr><td>b)  your professional image</td><td><input type="radio" name="esthetics_3_3" value="b"></td></tr>
  		  <tr><td>c)  your technical skills</td><td><input type="radio" name="esthetics_3_3" value="c"></td></tr>
  		  <tr><td>d)  your level of education</td><td><input type="radio" name="esthetics_3_3" value="d"></td></tr>
  		</table>
    </p>

    <p>4.  What is NOT an aspect of your professional conduct?
  		<table class="table table-condensed">
  		  <tr><td>a)  how you get along with clients</td><td><input type="radio" name="esthetics_3_4" value="a"></td></tr>
  		  <tr><td>b)  how you get along with coworkers</td><td><input type="radio" name="esthetics_3_4" value="b"></td></tr>
  		  <tr><td>c)  how you behave in the workplace</td><td><input type="radio" name="esthetics_3_4" value="c"></td></tr>
  		  <tr><td>d)  how you dress in the workplace</td><td><input type="radio" name="esthetics_3_4" value="d"></td></tr>
  		</table>
    </p>

    <p>5.  What term prefers to the impression you project, informed by your appearance, attitude, and abilities?
  		<table class="table table-condensed">
  		  <tr><td>a)  personal conduct</td><td><input type="radio" name="esthetics_3_5" value="a"></td></tr>
  		  <tr><td>b)  personal image</td><td><input type="radio" name="esthetics_3_5" value="b"></td></tr>
  		  <tr><td>c)  professional conduct</td><td><input type="radio" name="esthetics_3_5" value="c"></td></tr>
  		  <tr><td>d)  professional image</td><td><input type="radio" name="esthetics_3_5" value="d"></td></tr>
  		</table>
    </p>

    <p>6.  What is the purpose of the makeup you wear at work?
  		<table class="table table-condensed">
  		  <tr><td>a)  displaying healthy, beautiful skin</td><td><input type="radio" name="esthetics_3_6" value="a"></td></tr>
  		  <tr><td>b)  advertising "hot" new products</td><td><input type="radio" name="esthetics_3_6" value="b"></td></tr>
  		  <tr><td>c)  making you look attractive</td><td><input type="radio" name="esthetics_3_6" value="c"></td></tr>
  		  <tr><td>d)  color coordinating with clothes</td><td><input type="radio" name="esthetics_3_6" value="d"></td></tr>
  		</table>
    </p>

    <p>7.  What is an element of good standing posture?
  		<table class="table table-condensed">
  		  <tr><td>a)  keeping your back arched</td><td><input type="radio" name="esthetics_3_7" value="a"></td></tr>
  		  <tr><td>b)  keeping your back straight</td><td><input type="radio" name="esthetics_3_7" value="b"></td></tr>
  		  <tr><td>c)  leaning forward</td><td><input type="radio" name="esthetics_3_7" value="c"></td></tr>
  		  <tr><td>d)  leaning backward</td><td><input type="radio" name="esthetics_3_7" value="d"></td></tr>
  		</table>
    </p>

    <p>8.  What should you do if you have long hair and work as an esthetician?
  		<table class="table table-condensed">
  		  <tr><td>a)  cut it to a more manageable length</td><td><input type="radio" name="esthetics_3_8" value="a"></td></tr>
  		  <tr><td>b)  wear it down to show clients you understand beauty</td><td><input type="radio" name="esthetics_3_8" value="b"></td></tr>
  		  <tr><td>c)  wear it swept up and off the shoulders</td><td><input type="radio" name="esthetics_3_8" value="c"></td></tr>
  		  <tr><td>d)  wear it in a long braid down your back</td><td><input type="radio" name="esthetics_3_8" value="d"></td></tr>
  		</table>
    </p>
    
    <p>9.  What can you do to avoid scratching clients' skin?
  		<table class="table table-condensed">
  		  <tr><td>a)  wear gloves so your fingernails don't touch the client's skin</td><td><input type="radio" name="esthetics_3_9" value="a"></td></tr>
  		  <tr><td>b)  avoid letting your fingertips touch the client's skin</td><td><input type="radio" name="esthetics_3_9" value="b"></td></tr>
  		  <tr><td>c)  soak your fingernails in solvents that make fingernails soft</td><td><input type="radio" name="esthetics_3_9" value="c"></td></tr>
  		  <tr><td>d)  keep your fingernails from getting too long</td><td><input type="radio" name="esthetics_3_9" value="d"></td></tr>
  		</table>
    </p>
    
    <p>10.  What is NOT an aspect of personal hygiene?
  		<table class="table table-condensed">
  		  <tr><td>a)  freshening up throughout the day as necessary</td><td><input type="radio" name="esthetics_3_10" value="a"></td></tr>
  		  <tr><td>b)  brushing and flossing your teeth</td><td><input type="radio" name="esthetics_3_10" value="b"></td></tr>
  		  <tr><td>c)  using deodorant</td><td><input type="radio" name="esthetics_3_10" value="c"></td></tr>
  		  <tr><td>d)  wearing strongly scented perfume</td><td><input type="radio" name="esthetics_3_10" value="d"></td></tr>
  		</table>
    </p>
    
    <p>11.  What is the term for pusture that is healthy for the spine?
  		<table class="table table-condensed">
  		  <tr><td>a)  ergonomically correct</td><td><input type="radio" name="esthetics_3_11" value="a"></td></tr>
  		  <tr><td>b)  cardiovertabraically correct</td><td><input type="radio" name="esthetics_3_11" value="b"></td></tr>
  		  <tr><td>c)  osteospinally correct</td><td><input type="radio" name="esthetics_3_11" value="c"></td></tr>
  		  <tr><td>d)  endemically correct</td><td><input type="radio" name="esthetics_3_11" value="d"></td></tr>
  		</table>
    </p>
    
    <p>12.  What should your image impress on the minds of your clients?
  		<table class="table table-condensed">
  		  <tr><td>a)  intimidate them</td><td><input type="radio" name="esthetics_3_12" value="a"></td></tr>
  		  <tr><td>b)  earn their trust</td><td><input type="radio" name="esthetics_3_12" value="b"></td></tr>
  		  <tr><td>c)  show that you are willing to do whatever is asked of you</td><td><input type="radio" name="esthetics_3_12" value="c"></td></tr>
  		  <tr><td>d)  create a sense of mystery</td><td><input type="radio" name="esthetics_3_12" value="d"></td></tr>
  		</table>
    </p>
    
    <p>13.  How will you spend a lot of time as an esthetician?
  		<table class="table table-condensed">
  		  <tr><td>a)  leaning against a wall and sitting on a stool</td><td><input type="radio" name="esthetics_3_13" value="a"></td></tr>
  		  <tr><td>b)  standing on your feet and lying down</td><td><input type="radio" name="esthetics_3_13" value="b"></td></tr>
  		  <tr><td>c)  standing on your feet and sitting on a stool</td><td><input type="radio" name="esthetics_3_13" value="c"></td></tr>
  		  <tr><td>d)  sitting on the floor and lying on a treatment table</td><td><input type="radio" name="esthetics_3_13" value="d"></td></tr>
  		</table>
    </p>
    
    <p>14.  When should you count to 10 and think before you speak?
  		<table class="table table-condensed">
  		  <tr><td>a)  when conflicts arise</td><td><input type="radio" name="esthetics_3_14" value="a"></td></tr>
  		  <tr><td>b)  whenever you speak with your manager</td><td><input type="radio" name="esthetics_3_14" value="b"></td></tr>
  		  <tr><td>c)  whenever you speak with a client</td><td><input type="radio" name="esthetics_3_14" value="c"></td></tr>
  		  <tr><td>d)  at all times</td><td><input type="radio" name="esthetics_3_14" value="d"></td></tr>
  		</table>
    </p>
    
    <p>15.  How can you convey an image of confidence?
  		<table class="table table-condensed">
  		  <tr><td>a)  by sitting quietly and alone</td><td><input type="radio" name="esthetics_3_15" value="a"></td></tr>
  		  <tr><td>b)  by practicing good posture</td><td><input type="radio" name="esthetics_3_15" value="b"></td></tr>
  		  <tr><td>c)  by speaking very loudly</td><td><input type="radio" name="esthetics_3_15" value="c"></td></tr>
  		  <tr><td>d)  by offering opinions on everything</td><td><input type="radio" name="esthetics_3_15" value="d"></td></tr>
  		</table>
    </p>
    
    <p>16.  What makes clients eager for your knowledge?
  		<table class="table table-condensed">
  		  <tr><td>a)  your good professional image</td><td><input type="radio" name="esthetics_3_16" value="a"></td></tr>
  		  <tr><td>b)  the certification on your wall</td><td><input type="radio" name="esthetics_3_16" value="b"></td></tr>
  		  <tr><td>c)  the way your work station looks</td><td><input type="radio" name="esthetics_3_16" value="c"></td></tr>
  		  <tr><td>d)  how attractive you are</td><td><input type="radio" name="esthetics_3_16" value="d"></td></tr>
  		</table>
    </p>
    
    <p>17.  What sort of fragrances are NEVER approriate for the workplace?
  		<table class="table table-condensed">
  		  <tr><td>a)  heavy</td><td><input type="radio" name="esthetics_3_17" value="a"></td></tr>
  		  <tr><td>b)  subtle</td><td><input type="radio" name="esthetics_3_17" value="b"></td></tr>
  		  <tr><td>c)  floral</td><td><input type="radio" name="esthetics_3_17" value="c"></td></tr>
  		  <tr><td>d)  fruity</td><td><input type="radio" name="esthetics_3_17" value="d"></td></tr>
  		</table>
    </p>
    
    <p>18.  What is true about exposed undergarments?
  		<table class="table table-condensed">
  		  <tr><td>a)  they make a strong fashion statement in the workplace</td><td><input type="radio" name="esthetics_3_18" value="a"></td></tr>
  		  <tr><td>b)  they add a sense of sexiness to the workplace</td><td><input type="radio" name="esthetics_3_18" value="b"></td></tr>
  		  <tr><td>c)  they are never approriate in the workplace</td><td><input type="radio" name="esthetics_3_18" value="c"></td></tr>
  		  <tr><td>d)  they are occasionally approriate in the workplace</td><td><input type="radio" name="esthetics_3_18" value="d"></td></tr>
  		</table>
    </p>

    <p>19.  What should you save for after business hours?
  		<table class="table table-condensed">
  		  <tr><td>a)  subtle makeup that accentuates your best features</td><td><input type="radio" name="esthetics_3_19" value="a"></td></tr>
  		  <tr><td>b)  trendy looks such as heavily made-up eyes and black nail polish</td><td><input type="radio" name="esthetics_3_19" value="b"></td></tr>
  		  <tr><td>c)  clean, comfortable clothes that are fashionable but not overtly sexy</td><td><input type="radio" name="esthetics_3_19" value="c"></td></tr>
  		  <tr><td>d)  simple jewelry, like stud earings, that do not make a lot of noise</td><td><input type="radio" name="esthetics_3_19" value="d"></td></tr>
  		</table>
    </p>

    <p>20.  What are three important elements of physical presentation?
  		<table class="table table-condensed">
  		  <tr><td>a)  posture, walk, movements</td><td><input type="radio" name="esthetics_3_20" value="a"></td></tr>
  		  <tr><td>b)  clothing, hair, jewelry</td><td><input type="radio" name="esthetics_3_20" value="b"></td></tr>
  		  <tr><td>c)  shoes, accessories, makeup</td><td><input type="radio" name="esthetics_3_20" value="c"></td></tr>
  		  <tr><td>d)  muscle tone, tan, cleavage</td><td><input type="radio" name="esthetics_3_20" value="d"></td></tr>
  		</table>
    </p>

    <p>21.  How can you make your clients confident in your ability to help them?
  		<table class="table table-condensed">
  		  <tr><td>a)  by using fancy industry jargon and dropping cool brand names</td><td><input type="radio" name="esthetics_3_21" value="a"></td></tr>
  		  <tr><td>b)  by following your own advice and practicing good skin care</td><td><input type="radio" name="esthetics_3_21" value="b"></td></tr>
  		  <tr><td>c)  by talking about the way celebrities do their makeup</td><td><input type="radio" name="esthetics_3_21" value="c"></td></tr>
  		  <tr><td>d)  by pointing out how good other estheticians in the salon look</td><td><input type="radio" name="esthetics_3_21" value="d"></td></tr>
  		</table>
    </p>

    <p>22.  What is true of daily bathing or showering?
  		<table class="table table-condensed">
  		  <tr><td>a)  it is not an expectation for professional estheticians</td><td><input type="radio" name="esthetics_3_22" value="a"></td></tr>
  		  <tr><td>b)  daily bathing or showering is one of the basics of personal hygiene</td><td><input type="radio" name="esthetics_3_22" value="b"></td></tr>
  		  <tr><td>c)  it is only recommended when the weather is extremely humid</td><td><input type="radio" name="esthetics_3_22" value="c"></td></tr>
  		  <tr><td>d)  for estheticians, several showers per day are recommended</td><td><input type="radio" name="esthetics_3_22" value="d"></td></tr>
  		</table>
    </p>

    <p>23.  Why should you check your salon's policy before picking a fragrance you intend to wear in the workplace?
  		<table class="table table-condensed">
  		  <tr><td>a)  to make sure your salon manager is not allergic to the fragrance</td><td><input type="radio" name="esthetics_3_23" value="a"></td></tr>
  		  <tr><td>b)  most salons require that estheticians wear heavy fragrances</td><td><input type="radio" name="esthetics_3_23" value="b"></td></tr>
  		  <tr><td>c)  many salons have a no-fragrance policy</td><td><input type="radio" name="esthetics_3_23" value="c"></td></tr>
  		  <tr><td>d)  to make sure none of your clients is allergic to the fragrance</td><td><input type="radio" name="esthetics_3_23" value="d"></td></tr>
  		</table>
    </p>

    <p>24.  What is a danger posed by defective body postures?
  		<table class="table table-condensed">
  		  <tr><td>a)  physical problems</td><td><input type="radio" name="esthetics_3_24" value="a"></td></tr>
  		  <tr><td>b)  wardrobe malfunctions</td><td><input type="radio" name="esthetics_3_24" value="b"></td></tr>
  		  <tr><td>c)  awkward socialization</td><td><input type="radio" name="esthetics_3_24" value="c"></td></tr>
  		  <tr><td>d)  fashion faux pas</td><td><input type="radio" name="esthetics_3_24" value="d"></td></tr>
  		</table>
    </p>

    <p>25.  What do you exhibit when you keep the soles of your feet entirely on the floor while seated?
  		<table class="table table-condensed">
  		  <tr><td>a)  social discomfort</td><td><input type="radio" name="esthetics_3_25" value="a"></td></tr>
  		  <tr><td>b)  proper sitting posture</td><td><input type="radio" name="esthetics_3_25" value="b"></td></tr>
  		  <tr><td>c)  unprofessional appearance</td><td><input type="radio" name="esthetics_3_25" value="c"></td></tr>
  		  <tr><td>d)  distended tendon syndrome</td><td><input type="radio" name="esthetics_3_25" value="d"></td></tr>
  		</table>
    </p>


    <p>26.  What do you do when you refrain from criticism?
  		<table class="table table-condensed">
  		  <tr><td>a)  take the high road</td><td><input type="radio" name="esthetics_3_26" value="a"></td></tr>
  		  <tr><td>b)  take the low road</td><td><input type="radio" name="esthetics_3_26" value="b"></td></tr>
  		  <tr><td>c)  give the impression you are weak</td><td><input type="radio" name="esthetics_3_26" value="c"></td></tr>
  		  <tr><td>d)  miss opportunities for advancement</td><td><input type="radio" name="esthetics_3_26" value="d"></td></tr>
  		</table>
    </p>


    <p>27.  What begins with, and stay grounded in, health?
  		<table class="table table-condensed">
  		  <tr><td>a)  self-centeredness</td><td><input type="radio" name="esthetics_3_27" value="a"></td></tr>
  		  <tr><td>b)  personal confidence</td><td><input type="radio" name="esthetics_3_27" value="b"></td></tr>
  		  <tr><td>c)  sexual attractiveness</td><td><input type="radio" name="esthetics_3_27" value="c"></td></tr>
  		  <tr><td>d)  real beauty</td><td><input type="radio" name="esthetics_3_27" value="d"></td></tr>
  		</table>
    </p>

    <p>28.  What can eating a nutritious diet help you achieve?
  		<table class="table table-condensed">
  		  <tr><td>a)  success</td><td><input type="radio" name="esthetics_3_28" value="a"></td></tr>
  		  <tr><td>b)  balance</td><td><input type="radio" name="esthetics_3_28" value="b"></td></tr>
  		  <tr><td>c)  popularity</td><td><input type="radio" name="esthetics_3_28" value="c"></td></tr>
  		  <tr><td>d)  perfect skin</td><td><input type="radio" name="esthetics_3_28" value="d"></td></tr>
  		</table>
    </p>

    <p>29.  What is a good description of the clothing you should wear in the workplace?
  		<table class="table table-condensed">
  		  <tr><td>a)  formless and loose</td><td><input type="radio" name="esthetics_3_29" value="a"></td></tr>
  		  <tr><td>b)  broken-in and comfortable</td><td><input type="radio" name="esthetics_3_29" value="b"></td></tr>
  		  <tr><td>c)  fashionable and sexy</td><td><input type="radio" name="esthetics_3_29" value="c"></td></tr>
  		  <tr><td>d)  clean and fresh</td><td><input type="radio" name="esthetics_3_29" value="d"></td></tr>
  		</table>
    </p>
  
    <p>30.  When are open-toed shoes approriate for work?
  		<table class="table table-condensed">
  		  <tr><td>a)  on hot days</td><td><input type="radio" name="esthetics_3_30" value="a"></td></tr>
  		  <tr><td>b)  on humid days</td><td><input type="radio" name="esthetics_3_30" value="b"></td></tr>
  		  <tr><td>c)  anytime</td><td><input type="radio" name="esthetics_3_30" value="c"></td></tr>
  		  <tr><td>d)  never</td><td><input type="radio" name="esthetics_3_30" value="d"></td></tr>
  		</table>
    </p>

    <p>31.  What is a desirable characteristic of the socks or hosiery you wear at work?
  		<table class="table table-condensed">
  		  <tr><td>a)  fashionably frayed</td><td><input type="radio" name="esthetics_3_31" value="a"></td></tr>
  		  <tr><td>b)  contrast with your attire</td><td><input type="radio" name="esthetics_3_31" value="b"></td></tr>
  		  <tr><td>c)  different color on each leg</td><td><input type="radio" name="esthetics_3_31" value="c"></td></tr>
  		  <tr><td>d)  free of runs</td><td><input type="radio" name="esthetics_3_31" value="d"></td></tr>
  		</table>
    </p>

    <p>32.  What should you do when conflicts arise?
  		<table class="table table-condensed">
  		  <tr><td>a)  get another opinion before making a judgment</td><td><input type="radio" name="esthetics_3_32" value="a"></td></tr>
  		  <tr><td>b)  ask your manager to resolve all conflicts for you</td><td><input type="radio" name="esthetics_3_32" value="b"></td></tr>
  		  <tr><td>c)  provide examples to support your point of view</td><td><input type="radio" name="esthetics_3_32" value="c"></td></tr>
  		  <tr><td>d)  assume you are at fault and submit your resignation</td><td><input type="radio" name="esthetics_3_32" value="d"></td></tr>
  		</table>
    </p>


    <p>33.  What is an important aspect of maintaining good standing posture?
  		<table class="table table-condensed">
  		  <tr><td>a)  tilting your head toward your dominant side</td><td><input type="radio" name="esthetics_3_33" value="a"></td></tr>
  		  <tr><td>b)  pulling your abdomen in so that it is flat</td><td><input type="radio" name="esthetics_3_33" value="b"></td></tr>
  		  <tr><td>c)  keeping your knees locked</td><td><input type="radio" name="esthetics_3_33" value="c"></td></tr>
  		  <tr><td>d)  keeping your neck scrunched up toward your shoulders</td><td><input type="radio" name="esthetics_3_33" value="d"></td></tr>
  		</table>
    </p>


    <p>34.  What enables you to make the right choices for yourself?
  		<table class="table table-condensed">
  		  <tr><td>a)  achieving balance</td><td><input type="radio" name="esthetics_3_34" value="a"></td></tr>
  		  <tr><td>b)  becoming successful</td><td><input type="radio" name="esthetics_3_34" value="b"></td></tr>
  		  <tr><td>c)  becoming popular</td><td><input type="radio" name="esthetics_3_34" value="c"></td></tr>
  		  <tr><td>d)  receiving a degree</td><td><input type="radio" name="esthetics_3_34" value="d"></td></tr>
  		</table>
    </p>

  </form>
  
  <button id="submitExam" class="btn btn-lg btn-primary">Submit</button>

</body>
</html>
