<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#submitExam").click(function(){
      var questionAnswerObj = {};
      $('#myForm input[type=radio]:checked').each(function(){
  		  questionAnswerObj[this.name] = this.value;
  	  }); 
  
      $.ajax({
        type:'POST',
        url:'/submit_Exam',
        data: { questionAnswerObj: JSON.stringify(questionAnswerObj) },
        success:function(result){
          var i;
          var out = "<table class=\"table table-striped\">";
          out += "<th>Question #</th><th>Answer Key</th><th>Your Answer Is</th>";
          x = result;
          $("#answers").empty();
          for (i = 0; i < x.length; i++) {
            out +=  "<tr><td>"  +  x[i].question_number + 
                    "</td><td>" +  x[i].answer_key +
                    "</td><td>" + x[i].your_answer + "</td></tr>";
          }
          out += "</table>";
          $("#answers").append(out);

        }
      }); // ajax
    }); // #submitExam
  });
</script>
</head>
<body>

  <h2> Chapter 16: Nail Tips And Wraps </h2>
  <hr>

  <form id="myForm" >

    <p>1. Plastic, premolded nails shaped from a tough polymer made from acrylonitrile butadiene styrene (ABS) plastic are commonly known as _________.
		<table class="table table-condensed">
		  <tr><td><input type="radio" name="nails_16_1" value="a"></td><td>a) nail wraps </td></tr>
		  <tr><td><input type="radio" name="nails_16_1" value="b"></td><td>b) nail tips </td></tr>
		  <tr><td><input type="radio" name="nails_16_1" value="c"></td><td>c) fabric wraps </td></tr>
		  <tr><td><input type="radio" name="nails_16_1" value="d"></td><td>d) paper wraps </td></tr>
		</table>
    </p>

    <p>2. A layer of any ind of nail enhancement product that us applied over the tip for added strength is known as _________.  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_2" value="a"></td><td>a) an overlay </td></tr>
		  <tr><td><input type="radio" name="nails_16_2" value="b"></td><td>b) a repair patch </td></tr>
		  <tr><td><input type="radio" name="nails_16_2" value="c"></td><td>c) a stress strip </td></tr>
		  <tr><td><input type="radio" name="nails_16_2" value="d"></td><td>d) a strengthener </td></tr>
  		</table>
    </p>

    <p>3. In addition to the basic materials found in a manicuring table, nail tips, abrasive boards, a buffer block, nail tip adhesive, nail dehydrator, and ______ are needed for a nail tip application. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_3" value="a"></td><td>a) toenail clippers </td></tr>
  		  <tr><td><input type="radio" name="nails_16_3" value="b"></td><td>b) resin activator </td></tr>
  		  <tr><td><input type="radio" name="nails_16_3" value="c"></td><td>c) a tip cutter </td></tr>
  		  <tr><td><input type="radio" name="nails_16_3" value="d"></td><td>d) linen strips </td></tr>
  		</table>
    </p>

    <p>4. ________is used to remove surface moisture and tiny amounts of oil left on the natural plate. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_4" value="a"></td><td>a) Nail hydrator </td></tr>
  		  <tr><td><input type="radio" name="nails_16_4" value="b"></td><td>b) Nail wrap resin </td></tr>
  		  <tr><td><input type="radio" name="nails_16_4" value="c"></td><td>c) Nail cream </td></tr>
  		  <tr><td><input type="radio" name="nails_16_4" value="d"></td><td>d) Acetone </td></tr>
  		</table>
    </p>

    <p>5. The point where the free edge of the natural nail meets the tip and where the tip is adhered to the nail is known as the ______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_5" value="a"></td><td>a) shallow depression </td></tr>
  		  <tr><td><input type="radio" name="nails_16_5" value="b"></td><td>b) stress point </td></tr>
  		  <tr><td><input type="radio" name="nails_16_5" value="c"></td><td>c) position stop </td></tr>
  		  <tr><td><input type="radio" name="nails_16_5" value="d"></td><td>d) adhesion point </td></tr>
  		</table>
    </p>

    <p>6. When fitting tips to your client, make sure that the tips chosen cover the nail plate from _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_6" value="a"></td><td>a) cuticle to free edge </td></tr>
  		  <tr><td><input type="radio" name="nails_16_6" value="b"></td><td>b) sidewall to sidewall </td></tr>
  		  <tr><td><input type="radio" name="nails_16_6" value="c"></td><td>c) lunula to free edge </td></tr>
  		  <tr><td><input type="radio" name="nails_16_6" value="d"></td><td>d) cuticle to fingertip </td></tr>
  		</table>
    </p>

    <p>7. If you do not have a tip that fits the client's nail exactly, it is recommended that you use a slightly _________ tip and bevel it to fit. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_7" value="a"></td><td>a) longer </td></tr>
  		  <tr><td><input type="radio" name="nails_16_7" value="b"></td><td>b) shorter </td></tr>
  		  <tr><td><input type="radio" name="nails_16_7" value="c"></td><td>c) narrower </td></tr>
  		  <tr><td><input type="radio" name="nails_16_7" value="d"></td><td>d) larger </td></tr>
  		</table>
    </p>

    <p>8. The bonding agent used to secure the nail tip to the natural nail is called _______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_8" value="a"></td><td>a) nail tip dehydrator </td></tr>
  		  <tr><td><input type="radio" name="nails_16_8" value="b"></td><td>b) liquid adhering drops </td></tr>
  		  <tr><td><input type="radio" name="nails_16_8" value="c"></td><td>c) nail tip adhesive </td></tr>
  		  <tr><td><input type="radio" name="nails_16_8" value="d"></td><td>d) gel bonding agent </td></tr>
  		</table>
    </p>
    
    <p>9. Once nail tips are applied, the contact area will need to be ________ with an abrasive, so that the tip blends smoothly with the natural nail. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_9" value="a"></td><td>a) reduced </td></tr>
  		  <tr><td><input type="radio" name="nails_16_9" value="b"></td><td>b) expanded </td></tr>
  		  <tr><td><input type="radio" name="nails_16_9" value="c"></td><td>c) strengthened </td></tr>
  		  <tr><td><input type="radio" name="nails_16_9" value="d"></td><td>d) softended </td></tr>
  		</table>
    </p>
    
    <p>10. Any method of securing a layer of fabric or paper on and around the nail tip to ensure its strength and durability is called ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_10" value="a"></td><td>a) an overlap </td></tr>
  		  <tr><td><input type="radio" name="nails_16_10" value="b"></td><td>b) adhesive application </td></tr>
  		  <tr><td><input type="radio" name="nails_16_10" value="c"></td><td>c) a nail tip </td></tr>
  		  <tr><td><input type="radio" name="nails_16_10" value="d"></td><td>d) a nail wrap </td></tr>
  		</table>
    </p>
    
    <p>11. Wrap resins are made from ________ and are closely related to those used to create other types of nail enhancements.
 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_11" value="a"></td><td>a) monomer</td></tr>
  		  <tr><td><input type="radio" name="nails_16_11" value="b"></td><td>b) cyanoacrylate </td></tr>
  		  <tr><td><input type="radio" name="nails_16_11" value="c"></td><td>c) polymer </td></tr>
  		  <tr><td><input type="radio" name="nails_16_11" value="d"></td><td>d) methocrylate </td></tr>
  		</table>
    </p>
    
    <p>12. _______ wraps are made from a closely woven, heavy material. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_12" value="a"></td><td>a) Silk </td></tr>
  		  <tr><td><input type="radio" name="nails_16_12" value="b"></td><td>b) Linen </td></tr>
  		  <tr><td><input type="radio" name="nails_16_12" value="c"></td><td>c) Nylon </td></tr>
  		  <tr><td><input type="radio" name="nails_16_12" value="d"></td><td>d) Fiberglass </td></tr>
  		</table>
    </p>
    
    <p>13. A fabric wrap is the most popular type of nail wrap because of its _________.
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_13" value="a"></td><td>a) application </td></tr>
  		  <tr><td><input type="radio" name="nails_16_13" value="b"></td><td>b) durability </td></tr>
  		  <tr><td><input type="radio" name="nails_16_13" value="c"></td><td>c) flexibility </td></tr>
  		  <tr><td><input type="radio" name="nails_16_13" value="d"></td><td>d) cost </td></tr>
  		</table>
    </p>
    
    <p>14. _________ wraps are made from a very thin synthetic mesh with a loose weave. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_14" value="a"></td><td>a) Silk </td></tr>
  		  <tr><td><input type="radio" name="nails_16_14" value="b"></td><td>b) Linen </td></tr>
  		  <tr><td><input type="radio" name="nails_16_14" value="c"></td><td>c) Nylon </td></tr>
  		  <tr><td><input type="radio" name="nails_16_14" value="d"></td><td>d) Fiberglass </td></tr>
  		</table>
    </p>
    
    <p>15.  _________ wraps are made from a thin natural material with a tight weave that becomes transparent with wrap resin is applied. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_15" value="a"></td><td>a) Silk </td></tr>
  		  <tr><td><input type="radio" name="nails_16_15" value="b"></td><td>b) Linen </td></tr>
  		  <tr><td><input type="radio" name="nails_16_15" value="c"></td><td>c) Nylon </td></tr>
  		  <tr><td><input type="radio" name="nails_16_15" value="d"></td><td>d) Fiberglass </td></tr>
  		</table>
    </p>
    
    <p>16. Paper wraps are ________ and very simple to use. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_16" value="a"></td><td>a) durable </td></tr>
  		  <tr><td><input type="radio" name="nails_16_16" value="b"></td><td>b) strong </td></tr>
  		  <tr><td><input type="radio" name="nails_16_16" value="c"></td><td>c) temporary </td></tr>
  		  <tr><td><input type="radio" name="nails_16_16" value="d"></td><td>d) heavy </td></tr>
  		</table>
    </p>
    
    <p>17. Another term for a wra resin accelerator is  _______.  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_17" value="a"></td><td>a) strengthener </td></tr>
  		  <tr><td><input type="radio" name="nails_16_17" value="b"></td><td>b) catalyst </td></tr>
  		  <tr><td><input type="radio" name="nails_16_17" value="c"></td><td>c) adhesive </td></tr>
  		  <tr><td><input type="radio" name="nails_16_17" value="d"></td><td>d) activator </td></tr>
  		</table>
    </p>
    
    <p>18. A wrap resin accelerator acts as the dryer that ______ the hardening process of the wrap resin or adhesive overlay. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_18" value="a"></td><td>a) moderates </td></tr>
  		  <tr><td><input type="radio" name="nails_16_18" value="b"></td><td>b) speeds up </td></tr>
  		  <tr><td><input type="radio" name="nails_16_18" value="c"></td><td>c) slows up </td></tr>
  		  <tr><td><input type="radio" name="nails_16_18" value="d"></td><td>d) controls </td></tr>
  		</table>
    </p>

    <p>19. Activators are available in several different forms including brush-on bottle, pump spray-on, and ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_19" value="a"></td><td>a) mister </td></tr>
  		  <tr><td><input type="radio" name="nails_16_19" value="b"></td><td>b) drops </td></tr>
  		  <tr><td><input type="radio" name="nails_16_19" value="c"></td><td>c) powder </td></tr>
  		  <tr><td><input type="radio" name="nails_16_19" value="d"></td><td>d) aerosol </td></tr>
  		</table>
    </p>

    <p>20. In addition to the basic materials on the manicuring table, you will need adhesive-backed fabric, small scissors, wrap resin, wrap resin accelerator, a nail buffer, and ______ to perform a nail wrap application. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_21" value="a"></td><td>a) a small piece of plastic </td></tr>
  		  <tr><td><input type="radio" name="nails_16_21" value="b"></td><td>b) nail extension forms </td></tr>
  		  <tr><td><input type="radio" name="nails_16_21" value="c"></td><td>c) fingernail clippers </td></tr>
  		  <tr><td><input type="radio" name="nails_16_21" value="d"></td><td>d) nail nippers </td></tr>
  		</table>
    </p>

    <p>21. Structurally correctin the nail wrap enhancement to ensure its strength, shape, and durability is commonly referred to as______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_22" value="a"></td><td>a) a fill </td></tr>
  		  <tr><td><input type="radio" name="nails_16_22" value="b"></td><td>b) a rebalance </td></tr>
  		  <tr><td><input type="radio" name="nails_16_22" value="c"></td><td>c) a backfill </td></tr>
  		  <tr><td><input type="radio" name="nails_16_22" value="d"></td><td>d) a repair </td></tr>
  		</table>
    </p>

    <p>22. No Light Gels have the same chemical comosition as wrap systems with wrap resin and can be used with a _______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_22" value="a"></td><td>a) spray-on </td></tr>
  		  <tr><td><input type="radio" name="nails_16_22" value="b"></td><td>b) drop-on </td></tr>
  		  <tr><td><input type="radio" name="nails_16_22" value="c"></td><td>c) brush-on </td></tr>
  		  <tr><td><input type="radio" name="nails_16_22" value="d"></td><td>d) powdered </td></tr>
  		</table>
    </p>

    <p>23. When cutting a stress strip, it should measure _________ in length. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_23" value="a"></td><td>a) 1/4" </td></tr>
  		  <tr><td><input type="radio" name="nails_16_23" value="b"></td><td>b) 1/16" </td></tr>
  		  <tr><td><input type="radio" name="nails_16_23" value="c"></td><td>c) 1/32" </td></tr>
  		  <tr><td><input type="radio" name="nails_16_23" value="d"></td><td>d) 1/8" </td></tr>
  		</table>
    </p>

    <p>24. A _________ is a piece of fabric cut to completely cover a crack or break in the nail. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_24" value="a"></td><td>a) stress strip </td></tr>
  		  <tr><td><input type="radio" name="nails_16_24" value="b"></td><td>b) repair patch </td></tr>
  		  <tr><td><input type="radio" name="nails_16_24" value="c"></td><td>c) backfill patch </td></tr>
  		  <tr><td><input type="radio" name="nails_16_24" value="d"></td><td>d) maintenance strip </td></tr>
  		</table>
    </p>

    <p>25. Fabric wraps are removed by first immersing the entire anhancement into a small bowl filled with _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_25" value="a"></td><td>a) polish remover </td></tr>
  		  <tr><td><input type="radio" name="nails_16_25" value="b"></td><td>b) resin softener </td></tr>
  		  <tr><td><input type="radio" name="nails_16_25" value="c"></td><td>c) acetone </td></tr>
  		  <tr><td><input type="radio" name="nails_16_25" value="d"></td><td>d) cyanoacrylate </td></tr>
  		</table>
    </p>


    <p>26. After the Preservice Procedure, the first step in a Nail rap Application rocedure is to _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_26" value="a"></td><td>a) remove existing polish </td></tr>
  		  <tr><td><input type="radio" name="nails_16_26" value="b"></td><td>b) lightly buff the nail plate </td></tr>
  		  <tr><td><input type="radio" name="nails_16_26" value="c"></td><td>c) push back the eponychium </td></tr>
  		  <tr><td><input type="radio" name="nails_16_26" value="d"></td><td>d) apply a nail dehydrator </td></tr>
  		</table>
    </p>

    <p>27. In a fabric wrap mainternance procedure, the buffing dust is removed with ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_27" value="a"></td><td>a) a damp, cotton cloth </td></tr>
  		  <tr><td><input type="radio" name="nails_16_27" value="b"></td><td>b) an aerosol spray </td></tr>
  		  <tr><td><input type="radio" name="nails_16_27" value="c"></td><td>c) a dry, lint-free cloth </td></tr>
  		  <tr><td><input type="radio" name="nails_16_27" value="d"></td><td>d) a dry, nylon nail brush </td></tr>
  		</table>
    </p>

    <p>28. Nail tips should be worn with ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_28" value="a"></td><td>a) an overlay </td></tr>
  		  <tr><td><input type="radio" name="nails_16_28" value="b"></td><td>b) nail hardener </td></tr>
  		  <tr><td><input type="radio" name="nails_16_28" value="c"></td><td>c) nail polish </td></tr>
  		  <tr><td><input type="radio" name="nails_16_28" value="d"></td><td>d) an adhesive layer </td></tr>
  		</table>
    </p>

    <p>29. In the nail tip removal procedure, the natural nail is gently buffed with a fine buffer to remove any _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_29" value="a"></td><td>a) remaining nail polish </td></tr>
  		  <tr><td><input type="radio" name="nails_16_29" value="b"></td><td>b) natural oils </td></tr>
  		  <tr><td><input type="radio" name="nails_16_29" value="c"></td><td>c) nail tip particles </td></tr>
  		  <tr><td><input type="radio" name="nails_16_29" value="d"></td><td>d) adhesive residue </td></tr>
  		</table>
    </p>
  
    <p>30. After removing the cuticle during a nail tip application procedure, buff over the nail plate with a medium/fine abrasive to _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_30" value="a"></td><td>a) rough the nail plate </td></tr>
  		  <tr><td><input type="radio" name="nails_16_30" value="b"></td><td>b) remove the shine </td></tr>
  		  <tr><td><input type="radio" name="nails_16_30" value="c"></td><td>c) thicken the nail plate </td></tr>
  		  <tr><td><input type="radio" name="nails_16_30" value="d"></td><td>d) improve the shine </td></tr>
  		</table>
    </p>

    <p>31. In a nail tip application procedure, apply _______ to remove surface moisture and tiny amounts of oil left on the natural nail plate. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_31" value="a"></td><td>a) nail enamel </td></tr>
  		  <tr><td><input type="radio" name="nails_16_31" value="b"></td><td>b) polish remover </td></tr>
  		  <tr><td><input type="radio" name="nails_16_31" value="c"></td><td>c) nail dehydrator </td></tr>
  		  <tr><td><input type="radio" name="nails_16_31" value="d"></td><td>d) adhesive remover </td></tr>
  		</table>
    </p>

    <p>32. When applying the adhesive during a nail tip application procedure, place the adhesive _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_32" value="a"></td><td>a) along the free edge </td></tr>
  		  <tr><td><input type="radio" name="nails_16_32" value="b"></td><td>b) to the entire nail plate </td></tr>
  		  <tr><td><input type="radio" name="nails_16_32" value="c"></td><td>c) where the tip will be placed </td></tr>
  		  <tr><td><input type="radio" name="nails_16_32" value="d"></td><td>d) to the lunula </td></tr>
  		</table>
    </p>

    <p>33. In a nail wrap aplication procedure, when is the wrap material cut to the aproximate width and shape of the nail plate? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_33" value="a"></td><td>a) After applying wrap resin </td></tr>
  		  <tr><td><input type="radio" name="nails_16_33" value="b"></td><td>b) Before selecting the nail tip </td></tr>
  		  <tr><td><input type="radio" name="nails_16_33" value="c"></td><td>c) After applying wrap resin activator </td></tr>
  		  <tr><td><input type="radio" name="nails_16_33" value="d"></td><td>d) Before removing the wrap backing </td></tr>
  		</table>
    </p>


    <p>34. In a nail wrap application procedure, the resin is applied to all 10 fingers beginning on the left hand with the _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_34" value="a"></td><td>a) index finger </td></tr>
  		  <tr><td><input type="radio" name="nails_16_34" value="b"></td><td>b) pinky finger </td></tr>
  		  <tr><td><input type="radio" name="nails_16_34" value="c"></td><td>c) thumb </td></tr>
  		  <tr><td><input type="radio" name="nails_16_34" value="d"></td><td>d) middle finger </td></tr>
  		</table>
    </p>


    <p>35. In a nail wrap application procedure, once the fabric is secure on the nail, use small scissors to trim the fabric _________ inch away from the sidewalls and the free edge. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_35" value="a"></td><td>a) 1/8 </td></tr>
  		  <tr><td><input type="radio" name="nails_16_35" value="b"></td><td>b) 1/4 </td></tr>
  		  <tr><td><input type="radio" name="nails_16_35" value="c"></td><td>c) 1/16 </td></tr>
  		  <tr><td><input type="radio" name="nails_16_35" value="d"></td><td>d) 1/32 </td></tr>
  		</table>
    </p>

    <p>36. In a nail wrap application procedure, to seal the free edge and prevent lifting and tip separation, _______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_36" value="a"></td><td>a) apply a second coat of wrap resin </td></tr>
  		  <tr><td><input type="radio" name="nails_16_36" value="b"></td><td>b) apply a nail hardener product </td></tr>
  		  <tr><td><input type="radio" name="nails_16_36" value="c"></td><td>c) apply a second layer of wrap material </td></tr>
  		  <tr><td><input type="radio" name="nails_16_36" value="d"></td><td>d) buff seam to a fine finish </td></tr>
  		</table>
    </p>

    <p>37. In a nail tip application procedure, after shaping and refining the nail wrap, ________ is applied before buffing. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_37" value="a"></td><td>a) nail cream </td></tr>
  		  <tr><td><input type="radio" name="nails_16_37" value="b"></td><td>b) cuticle cream </td></tr>
  		  <tr><td><input type="radio" name="nails_16_37" value="c"></td><td>c) nail oil </td></tr>
  		  <tr><td><input type="radio" name="nails_16_37" value="d"></td><td>d) nail polish </td></tr>
  		</table>
    </p>

    <p>38. Which common household item may be used to press the fabric wrap onto the nail plate during a nail wrap application procedure? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_38" value="a"></td><td>a) A pencil eraser </td></tr>
  		  <tr><td><input type="radio" name="nails_16_38" value="b"></td><td>b) A plastic sandwich bag </td></tr>
  		  <tr><td><input type="radio" name="nails_16_38" value="c"></td><td>c) A plastic spoon </td></tr>
  		  <tr><td><input type="radio" name="nails_16_38" value="d"></td><td>d) A Popsicle stick </td></tr>
  		</table>
    </p>

    <p>39. It is recommended that you use ________ to remove a client's nail polish during a fabric wrap maintenance procedure. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_39" value="a"></td><td>a) acetone polish remover </td></tr>
  		  <tr><td><input type="radio" name="nails_16_39" value="b"></td><td>b) warm soap and water </td></tr>
  		  <tr><td><input type="radio" name="nails_16_39" value="c"></td><td>c) nonacetone polish remover </td></tr>
  		  <tr><td><input type="radio" name="nails_16_39" value="d"></td><td>d) warm cuticle oil </td></tr>
  		</table>
    </p>

    <p>40. When removing fabric wraps, the acetone level in the small glass bowl should be approximately ________ the nail wraps. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_40" value="a"></td><td>a) 1/2" above </td></tr>
  		  <tr><td><input type="radio" name="nails_16_40" value="b"></td><td>b) 1/4" below </td></tr>
  		  <tr><td><input type="radio" name="nails_16_40" value="c"></td><td>c) level with </td></tr>
  		  <tr><td><input type="radio" name="nails_16_40" value="d"></td><td>d) 1/4" above </td></tr>
  		</table>
    </p>

    <p>41. Linen wraps are ________ and require a colored polish to cover it completely.
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_41" value="a"></td><td>a) translucent </td></tr>
  		  <tr><td><input type="radio" name="nails_16_41" value="b"></td><td>b) reflective </td></tr>
  		  <tr><td><input type="radio" name="nails_16_41" value="c"></td><td>c) transparent </td></tr>
  		  <tr><td><input type="radio" name="nails_16_41" value="d"></td><td>d) opaque </td></tr>
  		</table>
    </p>

    <p>42. A ________ wrap is lightweight and has a smooth appearance when applied to the nail. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_42" value="a"></td><td>a) linen </td></tr>
  		  <tr><td><input type="radio" name="nails_16_42" value="b"></td><td>b) fiberglass </td></tr>
  		  <tr><td><input type="radio" name="nails_16_42" value="c"></td><td>c) silk </td></tr>
  		  <tr><td><input type="radio" name="nails_16_42" value="d"></td><td>d) paper </td></tr>
  		</table>
    </p>

    <p>43. When applying nail tips, an abrasive should be used to shape the free edges of the natural nails to match the shape of the nail tip to the ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_43" value="a"></td><td>a) half moon </td></tr>
  		  <tr><td><input type="radio" name="nails_16_43" value="b"></td><td>b) stop point </td></tr>
  		  <tr><td><input type="radio" name="nails_16_43" value="c"></td><td>c) free edge </td></tr>
  		  <tr><td><input type="radio" name="nails_16_43" value="d"></td><td>d) full well </td></tr>
  		</table>
    </p>

   <p>44. Cutting a nail tip with any tool other than a professional tip cutter will weaken it and cause it to ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_44" value="a"></td><td>a) crack </td></tr>
  		  <tr><td><input type="radio" name="nails_16_44" value="b"></td><td>b) lift </td></tr>
  		  <tr><td><input type="radio" name="nails_16_44" value="c"></td><td>c) loosen </td></tr>
  		  <tr><td><input type="radio" name="nails_16_44" value="d"></td><td>d) soften </td></tr>
  		</table>
    </p>

   <p>45. _________ is the term used when a nail enhancement needs to be serviced after 2 or more weeks from the initial application. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_16_45" value="a"></td><td>a) Repair </td></tr>
  		  <tr><td><input type="radio" name="nails_16_45" value="b"></td><td>b) Upkeep </td></tr>
  		  <tr><td><input type="radio" name="nails_16_45" value="c"></td><td>c) Support </td></tr>
  		  <tr><td><input type="radio" name="nails_16_45" value="d"></td><td>d) Mainternance </td></tr>
  		</table>
    </p>
  </form>
  
  <button id="submitExam" class="btn btn-lg btn-primary">Submit</button>

</body>
</html>

