

<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#submitExam").click(function(){
      var questionAnswerObj = {};
      $('#myForm input[type=radio]:checked').each(function(){
  		  questionAnswerObj[this.name] = this.value;
  	  }); 
  
      $.ajax({
        type:'POST',
        url:'/submit_Exam',
        data: { questionAnswerObj: JSON.stringify(questionAnswerObj) },
        success:function(result){
          var i;
          var out = "<table class=\"table table-striped\">";
          out += "<th>Question #</th><th>Answer Key</th><th>Your Answer Is</th>";
          x = result;
          $("#answers").empty();
          for (i = 0; i < x.length; i++) {
            out +=  "<tr><td>"  +  x[i].question_number + 
                    "</td><td>" +  x[i].answer_key +
                    "</td><td>" + x[i].your_answer + "</td></tr>";
          }
          out += "</table>";
          $("#answers").append(out);

        }
      }); // ajax
    }); // #submitExam
  });
</script>
</head>
<body>

  <h2> Chapter 21: On The Job </h2>
  <hr>

  <form id="myForm" >

    <p>1. It is recommended that while you network with mentors, nail professionals, educators, and classmates, you aks questions, take advice, _______, and consider all your options.
		<table class="table table-condensed">
		  <tr><td><input type="radio" name="nails_21_1" value="a"></td><td>a) talk about your skills </td></tr>
		  <tr><td><input type="radio" name="nails_21_1" value="b"></td><td>b) talk your successes </td></tr>
		  <tr><td><input type="radio" name="nails_21_1" value="c"></td><td>c) talk about your goals </td></tr>
		  <tr><td><input type="radio" name="nails_21_1" value="d"></td><td>d) listen to their comments </td></tr>
		</table>
    </p>

    <p>2. In a service business such as nail technology, your work primarily revolves around _________.  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_2" value="a"></td><td>a) making yourself happy </td></tr>
		  <tr><td><input type="radio" name="nails_21_2" value="b"></td><td>b) serving your clients </td></tr>
		  <tr><td><input type="radio" name="nails_21_2" value="c"></td><td>c) scheduling your clients </td></tr>
		  <tr><td><input type="radio" name="nails_21_2" value="d"></td><td>d) interacting with coworkers </td></tr>
  		</table>
    </p>

    <p>3. As you serve your clients, important behaviors include putting others first, being true to your word, ________, being a problem solver, and being courteous. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_3" value="a"></td><td>a) being tardy only rarely </td></tr>
  		  <tr><td><input type="radio" name="nails_21_3" value="b"></td><td>b) turning problems over to others </td></tr>
  		  <tr><td><input type="radio" name="nails_21_3" value="c"></td><td>c) being punctual </td></tr>
  		  <tr><td><input type="radio" name="nails_21_3" value="d"></td><td>d) putting yourself first </td></tr>
  		</table>
    </p>

    <p>4. Getting to work on time shows respect not onlyfor your clients, but also for ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_4" value="a"></td><td>a) yourself </td></tr>
  		  <tr><td><input type="radio" name="nails_21_4" value="b"></td><td>b) your family </td></tr>
  		  <tr><td><input type="radio" name="nails_21_4" value="c"></td><td>c) your friends </td></tr>
  		  <tr><td><input type="radio" name="nails_21_4" value="d"></td><td>d) your coworkers </td></tr>
  		</table>
    </p>

    <p>5. In a professional environment, it is important to always perform quality work, meet the client's expectations, and be wellversed in ______.
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_5" value="a"></td><td>a) the latest nail trends </td></tr>
  		  <tr><td><input type="radio" name="nails_21_5" value="b"></td><td>b) recent headline news </td></tr>
  		  <tr><td><input type="radio" name="nails_21_5" value="c"></td><td>c) current political affairs </td></tr>
  		  <tr><td><input type="radio" name="nails_21_5" value="d"></td><td>d) the latest fashion trends </td></tr>
  		</table>
    </p>

    <p>6. You can remain knowledgeable about the changes in the industry by reading industry magazines, attending trade shos and networking events, and _______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_6" value="a"></td><td>a) reading local nespapers </td></tr>
  		  <tr><td><input type="radio" name="nails_21_6" value="b"></td><td>b) attending classes </td></tr>
  		  <tr><td><input type="radio" name="nails_21_6" value="c"></td><td>c) observing coworker techniques </td></tr>
  		  <tr><td><input type="radio" name="nails_21_6" value="d"></td><td>d) attending community events </td></tr>
  		</table>
    </p>

    <p>7. Being a team player means following several workplace principles including being concerned with the success of others, being willing to help, ________, and remaining positive. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_7" value="a"></td><td>a) working only with good friends </td></tr>
  		  <tr><td><input type="radio" name="nails_21_7" value="b"></td><td>b) sharing information about clients </td></tr>
  		  <tr><td><input type="radio" name="nails_21_7" value="c"></td><td>c) keeping best practices to yourself </td></tr>
  		  <tr><td><input type="radio" name="nails_21_7" value="d"></td><td>d) sharing your knowledge with coworkers </td></tr>
  		</table>
    </p>

    <p>8. Salon management shuold be loyal to the clients and ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_8" value="a"></td><td>a) the area businesses </td></tr>
  		  <tr><td><input type="radio" name="nails_21_8" value="b"></td><td>b) themselves </td></tr>
  		  <tr><td><input type="radio" name="nails_21_8" value="c"></td><td>c) their staff </td></tr>
  		  <tr><td><input type="radio" name="nails_21_8" value="d"></td><td>d) their vendors </td></tr>
  		</table>
    </p>
    
    <p>9. A document that outlines all the duties and responsibilities of a particular position in the salon or spa is called _______.
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_9" value="a"></td><td>a) a duty description </td></tr>
  		  <tr><td><input type="radio" name="nails_21_9" value="b"></td><td>b) a duty outline </td></tr>
  		  <tr><td><input type="radio" name="nails_21_9" value="c"></td><td>c) a job description </td></tr>
  		  <tr><td><input type="radio" name="nails_21_9" value="d"></td><td>d) a responsibility report </td></tr>
  		</table>
    </p>
    
    <p>10. A key element in conflict resolution is _______.
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_10" value="a"></td><td>a) addressing the situation publicly </td></tr>
  		  <tr><td><input type="radio" name="nails_21_10" value="b"></td><td>b) being accountable for your part in the situation </td></tr>
  		  <tr><td><input type="radio" name="nails_21_10" value="c"></td><td>c) placing blame where it belongs </td></tr>
  		  <tr><td><input type="radio" name="nails_21_10" value="d"></td><td>d) explaining why your point of view is correct </td></tr>
  		</table>
    </p>
    
    <p>11. If you are unclear about something listed as your responsibility, it is up to you to ________.
 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_11" value="a"></td><td>a) rationalize its meaning </td></tr>
  		  <tr><td><input type="radio" name="nails_21_11" value="b"></td><td>b) ask for clcarification </td></tr>
  		  <tr><td><input type="radio" name="nails_21_11" value="c"></td><td>c) change it to your philosophy </td></tr>
  		  <tr><td><input type="radio" name="nails_21_11" value="d"></td><td>d) fulfill it to the best of your ability </td></tr>
  		</table>
    </p>
    
    <p>12. When you accept a salon position, what you will be paid for your ork is called _______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_12" value="a"></td><td>a) compensation </td></tr>
  		  <tr><td><input type="radio" name="nails_21_12" value="b"></td><td>b) remuneration </td></tr>
  		  <tr><td><input type="radio" name="nails_21_12" value="c"></td><td>c) dispensation </td></tr>
  		  <tr><td><input type="radio" name="nails_21_12" value="d"></td><td>d) payment </td></tr>
  		</table>
    </p>
    
    <p>13. Which of the following is not a standard method of compensation in the nail industry?
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_13" value="a"></td><td>a) Straight salary </td></tr>
  		  <tr><td><input type="radio" name="nails_21_13" value="b"></td><td>b) Commission percentage </td></tr>
  		  <tr><td><input type="radio" name="nails_21_13" value="c"></td><td>c) Tips only </td></tr>
  		  <tr><td><input type="radio" name="nails_21_13" value="d"></td><td>d) Salary plus commission </td></tr>
  		</table>
    </p>
    
    <p>14. If you don't think you can mae enough money solely on a commission basis, then take a position in a salon or spa that will pay you an hourly wage until you _______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_14" value="a"></td><td>a) can reduce your living expenses </td></tr>
  		  <tr><td><input type="radio" name="nails_21_14" value="b"></td><td>b) build your clientele </td></tr>
  		  <tr><td><input type="radio" name="nails_21_14" value="c"></td><td>c) can get a second job </td></tr>
  		  <tr><td><input type="radio" name="nails_21_14" value="d"></td><td>d) increase salon service pricing </td></tr>
  		</table>
    </p>
    
    <p>15. Customers who are loyal to a particuar nail technician are known as your ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_15" value="a"></td><td>a) regular patrons </td></tr>
  		  <tr><td><input type="radio" name="nails_21_15" value="b"></td><td>b) client list </td></tr>
  		  <tr><td><input type="radio" name="nails_21_15" value="c"></td><td>c) client base </td></tr>
  		  <tr><td><input type="radio" name="nails_21_15" value="d"></td><td>d) career partners </td></tr>
  		</table>
    </p>
    
    <p>16. If you are offered a set salary each week, in lieu of an hourly rate, that salary must ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_16" value="a"></td><td>a) be equal to the minimum wage for the number of hours you work </td></tr>
  		  <tr><td><input type="radio" name="nails_21_16" value="b"></td><td>b) include overtime for hours worked over 30 </td></tr>
  		  <tr><td><input type="radio" name="nails_21_16" value="c"></td><td>c) include overtime pay for management positions</td></tr>
  		  <tr><td><input type="radio" name="nails_21_16" value="d"></td><td>d) not include overtime pay for hours over 40 </td></tr>
  		</table>
    </p>
    
    <p>17. The commission paid to a nail technician oring on a commission-only basis generally ranges from ________.  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_17" value="a"></td><td>a) 5-20 percent </td></tr>
  		  <tr><td><input type="radio" name="nails_21_17" value="b"></td><td>b) 75-90 percent </td></tr>
  		  <tr><td><input type="radio" name="nails_21_17" value="c"></td><td>c) 15-30 percent </td></tr>
  		  <tr><td><input type="radio" name="nails_21_17" value="d"></td><td>d) 25-60 percent </td></tr>
  		</table>
    </p>
    
    <p>18. If you work under a commission payment structure, the salon usually provides the ______ you will need to perform nail services. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_18" value="a"></td><td>a) nail brushes </td></tr>
  		  <tr><td><input type="radio" name="nails_21_18" value="b"></td><td>b) products </td></tr>
  		  <tr><td><input type="radio" name="nails_21_18" value="c"></td><td>c) electric drills </td></tr>
  		  <tr><td><input type="radio" name="nails_21_18" value="d"></td><td>d) files </td></tr>
  		</table>
    </p>

    <p>19. Nail technicians can increase their chances of building a solid and loyal clientele more quickly if they live in an area with lots of potential clients, have advanced training, skills, certifications, artistic abilities, and _______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_19" value="a"></td><td>a) live in a highly competitive and saturated market </td></tr>
  		  <tr><td><input type="radio" name="nails_21_19" value="b"></td><td>b) provide only a select few services </td></tr>
  		  <tr><td><input type="radio" name="nails_21_19" value="c"></td><td>c) limit ork hours to those usually busy </td></tr>
  		  <tr><td><input type="radio" name="nails_21_19" value="d"></td><td>d) employ marketing and publicity strategies </td></tr>
  		</table>
    </p>

    <p>20. A ________ payment structure is often used to motivated nail technicians to perform more services. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_21" value="a"></td><td>a) tips-only </td></tr>
  		  <tr><td><input type="radio" name="nails_21_21" value="b"></td><td>b) salary-only </td></tr>
  		  <tr><td><input type="radio" name="nails_21_21" value="c"></td><td>c) salary-plus-commission </td></tr>
  		  <tr><td><input type="radio" name="nails_21_21" value="d"></td><td>d) salary-minus-commission </td></tr>
  		</table>
    </p>

    <p>21. Tips are income in addition to regular compensation and must be tracked and _______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_22" value="a"></td><td>a) kept in a safe place </td></tr>
  		  <tr><td><input type="radio" name="nails_21_22" value="b"></td><td>b) shared with coworkers </td></tr>
  		  <tr><td><input type="radio" name="nails_21_22" value="c"></td><td>c) received with grace </td></tr>
  		  <tr><td><input type="radio" name="nails_21_22" value="d"></td><td>d) reported as regular income </td></tr>
  		</table>
    </p>

    <p>22. How often must tips be recorded? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_22" value="a"></td><td>a) Daily </td></tr>
  		  <tr><td><input type="radio" name="nails_21_22" value="b"></td><td>b) Monthly </td></tr>
  		  <tr><td><input type="radio" name="nails_21_22" value="c"></td><td>c) Weekly </td></tr>
  		  <tr><td><input type="radio" name="nails_21_22" value="d"></td><td>d) Never </td></tr>
  		</table>
    </p>

    <p>23. The best way to keep tabs on your progress is to ask for feedback from your clients, salon or spa manager, and _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_23" value="a"></td><td>a) friends </td></tr>
  		  <tr><td><input type="radio" name="nails_21_23" value="b"></td><td>b) neighbors </td></tr>
  		  <tr><td><input type="radio" name="nails_21_23" value="c"></td><td>c) family </td></tr>
  		  <tr><td><input type="radio" name="nails_21_23" value="d"></td><td>d) key coworkers </td></tr>
  		</table>
    </p>

    <p>24. Evaluations are commonly scheduled 90 days after hiring and then ______ after that. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_24" value="a"></td><td>a) three times a year </td></tr>
  		  <tr><td><input type="radio" name="nails_21_24" value="b"></td><td>b) twice a year </td></tr>
  		  <tr><td><input type="radio" name="nails_21_24" value="c"></td><td>c) once a year </td></tr>
  		  <tr><td><input type="radio" name="nails_21_24" value="d"></td><td>d) every to years </td></tr>
  		</table>
    </p>

    <p>25. Ask a _______ to sit in on one of your concultations and make note of areas where you can improve. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_25" value="a"></td><td>a) senior nail technician </td></tr>
  		  <tr><td><input type="radio" name="nails_21_25" value="b"></td><td>b) loyal client </td></tr>
  		  <tr><td><input type="radio" name="nails_21_25" value="c"></td><td>c) junior nail technician </td></tr>
  		  <tr><td><input type="radio" name="nails_21_25" value="d"></td><td>d) loyal friend </td></tr>
  		</table>
    </p>

    <p>26. Not paying back your student loan or other type of mortgage is known as defaulting, and it can have serious conseuqences regarding your personal and professional _______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_26" value="a"></td><td>a) credit </td></tr>
  		  <tr><td><input type="radio" name="nails_21_26" value="b"></td><td>b) reputation </td></tr>
  		  <tr><td><input type="radio" name="nails_21_26" value="c"></td><td>c) relationships </td></tr>
  		  <tr><td><input type="radio" name="nails_21_26" value="d"></td><td>d) budget</td></tr>
  		</table>
    </p>

    <p>27. If you know you will need to take home $3,000 per month to support your needs, you will want to calculate ho this translates into the ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_27" value="a"></td><td>a) number of hours you work </td></tr>
  		  <tr><td><input type="radio" name="nails_21_27" value="b"></td><td>b) number of client in your client base </td></tr>
  		  <tr><td><input type="radio" name="nails_21_27" value="c"></td><td>c) number of days you work </td></tr>
  		  <tr><td><input type="radio" name="nails_21_27" value="d"></td><td>d) number of clients and services you perform per month </td></tr>
  		</table>
    </p>

    <p>28. One recommended method for increasing your disposable income is ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_28" value="a"></td><td>a) to spent more money </td></tr>
  		  <tr><td><input type="radio" name="nails_21_28" value="b"></td><td>b) to perform fewer services </td></tr>
  		  <tr><td><input type="radio" name="nails_21_28" value="c"></td><td>c) to reduce service prices </td></tr>
  		  <tr><td><input type="radio" name="nails_21_28" value="d"></td><td>d) to spend less money </td></tr>
  		</table>
    </p>

    <p>29. If you have a loyal client base and a mastery of services offered , it is appropriate to increase your prices ______by a reasonable amount. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_29" value="a"></td><td>a) every week </td></tr>
  		  <tr><td><input type="radio" name="nails_21_29" value="b"></td><td>b) every quarter </td></tr>
  		  <tr><td><input type="radio" name="nails_21_29" value="c"></td><td>c) every month </td></tr>
  		  <tr><td><input type="radio" name="nails_21_29" value="d"></td><td>d) every year or two </td></tr>
  		</table>
    </p>
  
    <p>30. It is recommended that you speak with ________ for advice on how to reduce your credit card debt, invest your money, and plan for retirement. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_30" value="a"></td><td>a) an attorney </td></tr>
  		  <tr><td><input type="radio" name="nails_21_30" value="b"></td><td>b) a marketing expert </td></tr>
  		  <tr><td><input type="radio" name="nails_21_30" value="c"></td><td>c) a financial planner </td></tr>
  		  <tr><td><input type="radio" name="nails_21_30" value="d"></td><td>d) an accountant </td></tr>
  		</table>
    </p>

    <p>31. The practice of recommending and selling additional services to clients that you may perform is known as _______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_31" value="a"></td><td>a) ticket upgrading </td></tr>
  		  <tr><td><input type="radio" name="nails_21_31" value="b"></td><td>b) prescribing </td></tr>
  		  <tr><td><input type="radio" name="nails_21_31" value="c"></td><td>c) retailing </td></tr>
  		  <tr><td><input type="radio" name="nails_21_31" value="d"></td><td>d) wholesaling </td></tr>
  		</table>
    </p>

    <p>32. The act of recommending and selling quality products to clients for at-home nail care is called ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_32" value="a"></td><td>a) wholesaling </td></tr>
  		  <tr><td><input type="radio" name="nails_21_32" value="b"></td><td>b) retailing </td></tr>
  		  <tr><td><input type="radio" name="nails_21_32" value="c"></td><td>c) assertiveness </td></tr>
  		  <tr><td><input type="radio" name="nails_21_32" value="d"></td><td>d) ambition </td></tr>
  		</table>
    </p>

    <p>33. To be successful in sales, you need ________ determination, and a good personality. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_33" value="a"></td><td>a) timidity </td></tr>
  		  <tr><td><input type="radio" name="nails_21_33" value="b"></td><td>b) firmness </td></tr>
  		  <tr><td><input type="radio" name="nails_21_33" value="c"></td><td>c) assertiveness </td></tr>
  		  <tr><td><input type="radio" name="nails_21_33" value="d"></td><td>d) ambition </td></tr>
  		</table>
    </p>

    <p>34. Recognizing the client's needs and ________ lays the foundation for successful selling. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_34" value="a"></td><td>a) personality </td></tr>
  		  <tr><td><input type="radio" name="nails_21_34" value="b"></td><td>b) preferences </td></tr>
  		  <tr><td><input type="radio" name="nails_21_34" value="c"></td><td>c) budget </td></tr>
  		  <tr><td><input type="radio" name="nails_21_34" value="d"></td><td>d) ego </td></tr>
  		</table>
    </p>

    <p>35. You become ______ by knowing  about the products you are selling and by believing that they are as good as you say. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_35" value="a"></td><td>a) confident </td></tr>
  		  <tr><td><input type="radio" name="nails_21_35" value="b"></td><td>b) reluctant </td></tr>
  		  <tr><td><input type="radio" name="nails_21_35" value="c"></td><td>c) timid </td></tr>
  		  <tr><td><input type="radio" name="nails_21_35" value="d"></td><td>d) assertive </td></tr>
  		</table>
    </p>

    <p>36. What is the standard retail sales commission for nail technicians?
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_36" value="a"></td><td>a) 5 percent </td></tr>
  		  <tr><td><input type="radio" name="nails_21_36" value="b"></td><td>b) 10 percent </td></tr>
  		  <tr><td><input type="radio" name="nails_21_36" value="c"></td><td>c) 15 percent </td></tr>
  		  <tr><td><input type="radio" name="nails_21_36" value="d"></td><td>d) 20 percent </td></tr>
  		</table>
    </p>

    <p>37. One way that is recommended to get the conversation started about retailing products is that you ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_37" value="a"></td><td>a) keep products stored neatly in a closed cabinet </td></tr>
  		  <tr><td><input type="radio" name="nails_21_37" value="b"></td><td>b) discuss the procedure you are following during the service </td></tr>
  		  <tr><td><input type="radio" name="nails_21_37" value="c"></td><td>c) place products in the clients' hands whenever possible </td></tr>
  		  <tr><td><input type="radio" name="nails_21_37" value="d"></td><td>d) keep retail areas simple and subdued </td></tr>
  		</table>
    </p>

    <p>38. If you are going to send a client a birthday card with a special offer, it is recommended that you sent it out _______.
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_38" value="a"></td><td>a) the week before the client's birthday </td></tr>
  		  <tr><td><input type="radio" name="nails_21_38" value="b"></td><td>b) about one month before the client's birthday </td></tr>
  		  <tr><td><input type="radio" name="nails_21_38" value="c"></td><td>c) on the client's birthday </td></tr>
  		  <tr><td><input type="radio" name="nails_21_38" value="d"></td><td>d) a few days before the client's birthday </td></tr>
  		</table>
    </p>

    <p>39. If you send a client a birthday card with a special offer, it is recommended that the offer be valid _______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_39" value="a"></td><td>a) with no expiration date </td></tr>
  		  <tr><td><input type="radio" name="nails_21_39" value="b"></td><td>b) for the rest of the year </td></tr>
  		  <tr><td><input type="radio" name="nails_21_39" value="c"></td><td>c) only on the client's birthday </td></tr>
  		  <tr><td><input type="radio" name="nails_21_39" value="d"></td><td>d) only during the birthday month </td></tr>
  		</table>
    </p>

    <p>40. You can expand your client base by being reliable, respectful, positive, and ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_40" value="a"></td><td>a) professional </td></tr>
  		  <tr><td><input type="radio" name="nails_21_40" value="b"></td><td>b) assertive </td></tr>
  		  <tr><td><input type="radio" name="nails_21_40" value="c"></td><td>c) approachable </td></tr>
  		  <tr><td><input type="radio" name="nails_21_40" value="d"></td><td>d) amateurish </td></tr>
  		</table>
    </p>

    <p>41. Your responsibility is to be the client's ________.
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_41" value="a"></td><td>a) psychiatrist </td></tr>
  		  <tr><td><input type="radio" name="nails_21_41" value="b"></td><td>b) relationship counselor </td></tr>
  		  <tr><td><input type="radio" name="nails_21_41" value="c"></td><td>c) nail technician </td></tr>
  		  <tr><td><input type="radio" name="nails_21_41" value="d"></td><td>d) friend </td></tr>
  		</table>
    </p>

    <p>42. When selling , it is recommended that after you extablish rapport with the client, you ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_42" value="a"></td><td>a) recommended products or services </td></tr>
  		  <tr><td><input type="radio" name="nails_21_42" value="b"></td><td>b) determine the client's needs </td></tr>
  		  <tr><td><input type="radio" name="nails_21_42" value="c"></td><td>c) emphasize product benefits </td></tr>
  		  <tr><td><input type="radio" name="nails_21_42" value="d"></td><td>d) close the sale </td></tr>
  		</table>
    </p>

    <p>43. It is recommended that you rebook a client _______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_43" value="a"></td><td>a) before she leaves the salon </td></tr>
  		  <tr><td><input type="radio" name="nails_21_43" value="b"></td><td>b) before she arrives at the salon </td></tr>
  		  <tr><td><input type="radio" name="nails_21_43" value="c"></td><td>c) while providing services </td></tr>
  		  <tr><td><input type="radio" name="nails_21_43" value="d"></td><td>d) after she leaves the salon </td></tr>
  		</table>
    </p>

   <p>44. How long should a client be in the salon? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_44" value="a"></td><td>a) As long as you can keep him or her there comfortably </td></tr>
  		  <tr><td><input type="radio" name="nails_21_44" value="b"></td><td>b) As long as it takes to adequately complete the service </td></tr>
  		  <tr><td><input type="radio" name="nails_21_44" value="c"></td><td>c) As long as the conversation remains interesting </td></tr>
  		  <tr><td><input type="radio" name="nails_21_44" value="d"></td><td>d) As little time as possible </td></tr>
  		</table>
    </p>

   <p>45. After researching web artcles regarding building a client base, make a list of the suggestions that seem suitable and try one every _______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_21_44" value="a"></td><td>a) day or two </td></tr>
  		  <tr><td><input type="radio" name="nails_21_44" value="b"></td><td>b) week or two </td></tr>
  		  <tr><td><input type="radio" name="nails_21_44" value="c"></td><td>c) two or three months </td></tr>
  		  <tr><td><input type="radio" name="nails_21_44" value="d"></td><td>d) quarter </td></tr>
  		</table>
    </p>
  </form>
  
  <button id="submitExam" class="btn btn-lg btn-primary">Submit</button>

</body>
</html>

