
<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#submitExam").click(function(){
      var questionAnswerObj = {};
      $('#myForm input[type=radio]:checked').each(function(){
  		  questionAnswerObj[this.name] = this.value;
  	  }); 
  
      $.ajax({
        type:'POST',
        url:'/submit_Exam',
        data: { questionAnswerObj: JSON.stringify(questionAnswerObj) },
        success:function(result){
          var i;
          var out = "<table class=\"table table-striped\">";
          out += "<th>Question #</th><th>Answer Key</th><th>Your Answer Is</th>";
          x = result;
          $("#answers").empty();
          for (i = 0; i < x.length; i++) {
            out +=  "<tr><td>"  +  x[i].question_number + 
                    "</td><td>" +  x[i].answer_key +
                    "</td><td>" + x[i].your_answer + "</td></tr>";
          }
          out += "</table>";
          $("#answers").append(out);

        }
      }); // ajax
    }); // #submitExam
  });
</script>
</head>
<body>

  <h2> Chapter 17: Monomer Liquid And Polymer Powder Nail Enhancements </h2>
  <hr>

  <form id="myForm" >

    <p>1. All nail enhancement products are based almost entirely on ingredients that come from the _________ family.
		<table class="table table-condensed">
		  <tr><td><input type="radio" name="nails_17_1" value="a"></td><td>a) synthetic fiber </td></tr>
		  <tr><td><input type="radio" name="nails_17_1" value="b"></td><td>b) acrylic </td></tr>
		  <tr><td><input type="radio" name="nails_17_1" value="c"></td><td>c) synthetic textile </td></tr>
		  <tr><td><input type="radio" name="nails_17_1" value="d"></td><td>d) plastic </td></tr>
		</table>
    </p>

    <p>2. The "poly" in polymer means _________.  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_2" value="a"></td><td>a) one </td></tr>
		  <tr><td><input type="radio" name="nails_17_2" value="b"></td><td>b) units </td></tr>
		  <tr><td><input type="radio" name="nails_17_2" value="c"></td><td>c) many </td></tr>
		  <tr><td><input type="radio" name="nails_17_2" value="d"></td><td>d) few </td></tr>
  		</table>
    </p>

    <p>3. Which of the following is not one of the three versions of monomer liquid used in the nail industry? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_3" value="a"></td><td>a) Odorless monomer liquid </td></tr>
  		  <tr><td><input type="radio" name="nails_17_3" value="b"></td><td>b) Ethyl methacrylate </td></tr>
  		  <tr><td><input type="radio" name="nails_17_3" value="c"></td><td>c) Ethyl acrylic </td></tr>
  		  <tr><td><input type="radio" name="nails_17_3" value="d"></td><td>d) Methyl methacrylate </td></tr>
  		</table>
    </p>

    <p>4. Polymer powder is made using a special chemical reaction called________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_4" value="a"></td><td>a) plasticizaiton </td></tr>
  		  <tr><td><input type="radio" name="nails_17_4" value="b"></td><td>b) crytallization </td></tr>
  		  <tr><td><input type="radio" name="nails_17_4" value="c"></td><td>c) excoriation </td></tr>
  		  <tr><td><input type="radio" name="nails_17_4" value="d"></td><td>d) polymerization </td></tr>
  		</table>
    </p>

    <p>5. Ethyl methacrylate monomer liquid is commonly referred to as ______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_5" value="a"></td><td>a) EMA </td></tr>
  		  <tr><td><input type="radio" name="nails_17_5" value="b"></td><td>b) EML </td></tr>
  		  <tr><td><input type="radio" name="nails_17_5" value="c"></td><td>c) EMM </td></tr>
  		  <tr><td><input type="radio" name="nails_17_5" value="d"></td><td>d) EMML </td></tr>
  		</table>
    </p>

    <p>6. Methyl methacrylate (MMA) is not recommended for use on nails and is _______ in some states. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_6" value="a"></td><td>a) not sold </td></tr>
  		  <tr><td><input type="radio" name="nails_17_6" value="b"></td><td>b) not available </td></tr>
  		  <tr><td><input type="radio" name="nails_17_6" value="c"></td><td>c) extremely expensive </td></tr>
  		  <tr><td><input type="radio" name="nails_17_6" value="d"></td><td>d) not legal </td></tr>
  		</table>
    </p>

    <p>7. MMA nail products do not adhere well to the nail plate requiring the nail technician to _________ the surface of the nail. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_7" value="a"></td><td>a) shred of etch </td></tr>
  		  <tr><td><input type="radio" name="nails_17_7" value="b"></td><td>b) smooth or shine </td></tr>
  		  <tr><td><input type="radio" name="nails_17_7" value="c"></td><td>c) file or buff </td></tr>
  		  <tr><td><input type="radio" name="nails_17_7" value="d"></td><td>d) polish or shine </td></tr>
  		</table>
    </p>

    <p>8. MMA creates the hardest and _______ nail enhancements. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_8" value="a"></td><td>a) most flexible </td></tr>
  		  <tr><td><input type="radio" name="nails_17_8" value="b"></td><td>b) most rigid </td></tr>
  		  <tr><td><input type="radio" name="nails_17_8" value="c"></td><td>c) smoothest </td></tr>
  		  <tr><td><input type="radio" name="nails_17_8" value="d"></td><td>d) most desirable </td></tr>
  		</table>
    </p>
    
    <p>9. MMA ________ in product removers. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_9" value="a"></td><td>a) softens easily </td></tr>
  		  <tr><td><input type="radio" name="nails_17_9" value="b"></td><td>b) dissolves quickly </td></tr>
  		  <tr><td><input type="radio" name="nails_17_9" value="c"></td><td>c) does not dissovle well </td></tr>
  		  <tr><td><input type="radio" name="nails_17_9" value="d"></td><td>d) requires additional chemicals </td></tr>
  		</table>
    </p>
    
    <p>10. MMA is a widely used monomer with a long history of safe use in medical and ________ products. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_10" value="a"></td><td>a) dental </td></tr>
  		  <tr><td><input type="radio" name="nails_17_10" value="b"></td><td>b) implant </td></tr>
  		  <tr><td><input type="radio" name="nails_17_10" value="c"></td><td>c) prosthesis </td></tr>
  		  <tr><td><input type="radio" name="nails_17_10" value="d"></td><td>d) hearing aid </td></tr>
  		</table>
    </p>
    
    <p>11. When monomer liquid is picked up by a brush and mixed with polymer powder, it creates hat is known as a ________.
 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_11" value="a"></td><td>a) gleam</td></tr>
  		  <tr><td><input type="radio" name="nails_17_11" value="b"></td><td>b) currette </td></tr>
  		  <tr><td><input type="radio" name="nails_17_11" value="c"></td><td>c) mound </td></tr>
  		  <tr><td><input type="radio" name="nails_17_11" value="d"></td><td>d) bead </td></tr>
  		</table>
    </p>
    
    <p>12. A catalyst is an additive designed to _______ chemical reactions. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_12" value="a"></td><td>a) slow down </td></tr>
  		  <tr><td><input type="radio" name="nails_17_12" value="b"></td><td>b) neutralize </td></tr>
  		  <tr><td><input type="radio" name="nails_17_12" value="c"></td><td>c) speed up </td></tr>
  		  <tr><td><input type="radio" name="nails_17_12" value="d"></td><td>d) stabilize </td></tr>
  		</table>
    </p>
    
    <p>13. The initiators found in polymer powder, when activated by a catalyst will spring into action and cause monomer molecules to permanently link togethr into _________.
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_13" value="a"></td><td>a) short polymer chains </td></tr>
  		  <tr><td><input type="radio" name="nails_17_13" value="b"></td><td>b) long polymer chains </td></tr>
  		  <tr><td><input type="radio" name="nails_17_13" value="c"></td><td>c) a single monomer </td></tr>
  		  <tr><td><input type="radio" name="nails_17_13" value="d"></td><td>d) polymerized molecules </td></tr>
  		</table>
    </p>
    
    <p>14. Compared to acne treatments, nail powders contain _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_14" value="a"></td><td>a) the same percentage of benzoyl peroxide </td></tr>
  		  <tr><td><input type="radio" name="nails_17_14" value="b"></td><td>b) more benzoyl peroxide </td></tr>
  		  <tr><td><input type="radio" name="nails_17_14" value="c"></td><td>c) less benzoyl peroxide </td></tr>
  		  <tr><td><input type="radio" name="nails_17_14" value="d"></td><td>d) no benzoyl peroxide </td></tr>
  		</table>
    </p>
    
    <p>15. It is recommended that you mix 1<sup>1/2</sup> parts monomer liquid with 1 part polymer powder to create a _________ bead. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_15" value="a"></td><td>a) medium </td></tr>
  		  <tr><td><input type="radio" name="nails_17_15" value="b"></td><td>b) wet </td></tr>
  		  <tr><td><input type="radio" name="nails_17_15" value="c"></td><td>c) dry </td></tr>
  		  <tr><td><input type="radio" name="nails_17_15" value="d"></td><td>d) damp </td></tr>
  		</table>
    </p>
    
    <p>16. The amount of monomer liquid and polymer powder used to create a bead is called the ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_16" value="a"></td><td>a) mid-ratio </td></tr>
  		  <tr><td><input type="radio" name="nails_17_16" value="b"></td><td>b) mix speed </td></tr>
  		  <tr><td><input type="radio" name="nails_17_16" value="c"></td><td>c) bead equation </td></tr>
  		  <tr><td><input type="radio" name="nails_17_16" value="d"></td><td>d) mix ratio </td></tr>
  		</table>
    </p>
    
    <p>17. In general, _______ beads are the ideal mix ratio for working with monomer liquids and polymer powders.  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_17" value="a"></td><td>a) wet </td></tr>
  		  <tr><td><input type="radio" name="nails_17_17" value="b"></td><td>b) dry </td></tr>
  		  <tr><td><input type="radio" name="nails_17_17" value="c"></td><td>c) medium </td></tr>
  		  <tr><td><input type="radio" name="nails_17_17" value="d"></td><td>d) heavy </td></tr>
  		</table>
    </p>
    
    <p>18. Nail ______ remove surface moisture and tiny amounts of oil left on the natural nail plate. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_18" value="a"></td><td>a) moisturizers </td></tr>
  		  <tr><td><input type="radio" name="nails_17_18" value="b"></td><td>b) dehydrators </td></tr>
  		  <tr><td><input type="radio" name="nails_17_18" value="c"></td><td>c) creams </td></tr>
  		  <tr><td><input type="radio" name="nails_17_18" value="d"></td><td>d) dryers </td></tr>
  		</table>
    </p>

    <p>19. Nail dehydrator should be applied liberally to the ________ only. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_19" value="a"></td><td>a) nail plate </td></tr>
  		  <tr><td><input type="radio" name="nails_17_19" value="b"></td><td>b) nail bed </td></tr>
  		  <tr><td><input type="radio" name="nails_17_19" value="c"></td><td>c) eponychium </td></tr>
  		  <tr><td><input type="radio" name="nails_17_19" value="d"></td><td>d) free edge </td></tr>
  		</table>
    </p>

    <p>20. Nail ______ is used on the natural nail prior to product application to assist in adhesion. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_21" value="a"></td><td>a) dehydrator </td></tr>
  		  <tr><td><input type="radio" name="nails_17_21" value="b"></td><td>b) base </td></tr>
  		  <tr><td><input type="radio" name="nails_17_21" value="c"></td><td>c) polish </td></tr>
  		  <tr><td><input type="radio" name="nails_17_21" value="d"></td><td>d) primer </td></tr>
  		</table>
    </p>

    <p>21. When applying an acid-based nail primer, it is recommended that you use ______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_22" value="a"></td><td>a) a light dotting action </td></tr>
  		  <tr><td><input type="radio" name="nails_17_22" value="b"></td><td>b) long, narrow strokes </td></tr>
  		  <tr><td><input type="radio" name="nails_17_22" value="c"></td><td>c) slow, wide strokes </td></tr>
  		  <tr><td><input type="radio" name="nails_17_22" value="d"></td><td>d) a circular stroke </td></tr>
  		</table>
    </p>

    <p>22. A medium-grit abrasive is not recommended for _______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_22" value="a"></td><td>a) intial shaping of the nail </td></tr>
  		  <tr><td><input type="radio" name="nails_17_22" value="b"></td><td>b) refining the overall surface shape of the nail </td></tr>
  		  <tr><td><input type="radio" name="nails_17_22" value="c"></td><td>c) smoothing the sureface before buffing </td></tr>
  		  <tr><td><input type="radio" name="nails_17_22" value="d"></td><td>d) finish filing of the nail </td></tr>
  		</table>
    </p>

    <p>23. Nail forms generally are not made of _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_23" value="a"></td><td>a) mylar </td></tr>
  		  <tr><td><input type="radio" name="nails_17_23" value="b"></td><td>b) fiberglass </td></tr>
  		  <tr><td><input type="radio" name="nails_17_23" value="c"></td><td>c) paper </td></tr>
  		  <tr><td><input type="radio" name="nails_17_23" value="d"></td><td>d) aluminum </td></tr>
  		</table>
    </p>

    <p>24. Which type of nail form can be disinfected? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_24" value="a"></td><td>a) Plastic </td></tr>
  		  <tr><td><input type="radio" name="nails_17_24" value="b"></td><td>b) Paper </td></tr>
  		  <tr><td><input type="radio" name="nails_17_24" value="c"></td><td>c) Silk </td></tr>
  		  <tr><td><input type="radio" name="nails_17_24" value="d"></td><td>d) Fiberglass </td></tr>
  		</table>
    </p>

    <p>25. The special container used to hold the monomer liquid and polymer powder as you work is called a _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_25" value="a"></td><td>a) finger bowl </td></tr>
  		  <tr><td><input type="radio" name="nails_17_25" value="b"></td><td>b) disposable dish </td></tr>
  		  <tr><td><input type="radio" name="nails_17_25" value="c"></td><td>c) liquid vial </td></tr>
  		  <tr><td><input type="radio" name="nails_17_25" value="d"></td><td>d) dappen dish </td></tr>
  		</table>
    </p>

    <p>26. The best nail brush to use with monomer liquid and polymer powder enhancement products is composed of natural kolinsky, _________, or a blend of both. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_26" value="a"></td><td>a) sable </td></tr>
  		  <tr><td><input type="radio" name="nails_17_26" value="b"></td><td>b) mink </td></tr>
  		  <tr><td><input type="radio" name="nails_17_26" value="c"></td><td>c) bristle </td></tr>
  		  <tr><td><input type="radio" name="nails_17_26" value="d"></td><td>d) angora </td></tr>
  		</table>
    </p>

    <p>27. Unused monomer that has been removed from the original container should be ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_27" value="a"></td><td>a) poured back into the original container for use with another client </td></tr>
  		  <tr><td><input type="radio" name="nails_17_27" value="b"></td><td>b) poured down the dain with the hot water running </td></tr>
  		  <tr><td><input type="radio" name="nails_17_27" value="c"></td><td>c) poured into an absorbent paper towel and placed in a plastic bag </td></tr>
  		  <tr><td><input type="radio" name="nails_17_27" value="d"></td><td>d) poured down the dain with the cold water running </td></tr>
  		</table>
    </p>

    <p>28. When a nail tech files a damaged section of a monomer liquid and polumer powder enhancement and refills it with the appropriate products, it is called  ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_28" value="a"></td><td>a) backfill </td></tr>
  		  <tr><td><input type="radio" name="nails_17_28" value="b"></td><td>b) rebalance </td></tr>
  		  <tr><td><input type="radio" name="nails_17_28" value="c"></td><td>c) maintenance service </td></tr>
  		  <tr><td><input type="radio" name="nails_17_28" value="d"></td><td>d) crack repair </td></tr>
  		</table>
    </p>

    <p>29. A dry mix ratio creates a bead that looks _________ on the brush. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_29" value="a"></td><td>a) frosted </td></tr>
  		  <tr><td><input type="radio" name="nails_17_29" value="b"></td><td>b) runny </td></tr>
  		  <tr><td><input type="radio" name="nails_17_29" value="c"></td><td>c) glossy </td></tr>
  		  <tr><td><input type="radio" name="nails_17_29" value="d"></td><td>d) dark </td></tr>
  		</table>
    </p>
  
    <p>30. Odorless products harden more slowly and create a tacky layer called the _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_30" value="a"></td><td>a) dehydrator layer </td></tr>
  		  <tr><td><input type="radio" name="nails_17_30" value="b"></td><td>b) obstruction layer </td></tr>
  		  <tr><td><input type="radio" name="nails_17_30" value="c"></td><td>c) inhibition layer </td></tr>
  		  <tr><td><input type="radio" name="nails_17_30" value="d"></td><td>d) assistance layer </td></tr>
  		</table>
    </p>

    <p>31. The apex of the nail is also known as the _______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_31" value="a"></td><td>a) stress area </td></tr>
  		  <tr><td><input type="radio" name="nails_17_31" value="b"></td><td>b) sidewall </td></tr>
  		  <tr><td><input type="radio" name="nails_17_31" value="c"></td><td>c) arch </td></tr>
  		  <tr><td><input type="radio" name="nails_17_31" value="d"></td><td>d) lunula </td></tr>
  		</table>
    </p>

    <p>32. The apex is usually what shape? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_32" value="a"></td><td>a) Oval </td></tr>
  		  <tr><td><input type="radio" name="nails_17_32" value="b"></td><td>b) Half-moon </td></tr>
  		  <tr><td><input type="radio" name="nails_17_32" value="c"></td><td>c) Round </td></tr>
  		  <tr><td><input type="radio" name="nails_17_32" value="d"></td><td>d) Rectangular </td></tr>
  		</table>
    </p>

    <p>33. The area where the natural nail grows beyond the finger and becomes the free edge is known as the _______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_33" value="a"></td><td>a) sidewall </td></tr>
  		  <tr><td><input type="radio" name="nails_17_33" value="b"></td><td>b) arch </td></tr>
  		  <tr><td><input type="radio" name="nails_17_33" value="c"></td><td>c) apex </td></tr>
  		  <tr><td><input type="radio" name="nails_17_33" value="d"></td><td>d) stress area </td></tr>
  		</table>
    </p>

    <p>34. The length of the nail extensions and enhancements should be the same on _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_34" value="a"></td><td>a) all five fingers </td></tr>
  		  <tr><td><input type="radio" name="nails_17_34" value="b"></td><td>b) the index, middle, and ring fingers </td></tr>
  		  <tr><td><input type="radio" name="nails_17_34" value="c"></td><td>c) the index and ring fingers </td></tr>
  		  <tr><td><input type="radio" name="nails_17_34" value="d"></td><td>d) the thumb, middle finger, and pinky </td></tr>
  		</table>
    </p>

    <p>35. The C-curve of the nail enhancement depends on the C-curve of the natural nail, which is on average _________ percent. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_35" value="a"></td><td>a) 20 </td></tr>
  		  <tr><td><input type="radio" name="nails_17_35" value="b"></td><td>b) 25 </td></tr>
  		  <tr><td><input type="radio" name="nails_17_35" value="c"></td><td>c) 30 </td></tr>
  		  <tr><td><input type="radio" name="nails_17_35" value="d"></td><td>d) 35 </td></tr>
  		</table>
    </p>

    <p>36. Some manufactures make a _______ that brushes on to cure the tacky inhibition layer that must be applied immediately after creating the odorless product enhancement. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_36" value="a"></td><td>a) resin </td></tr>
  		  <tr><td><input type="radio" name="nails_17_36" value="b"></td><td>b) hydrator </td></tr>
  		  <tr><td><input type="radio" name="nails_17_36" value="c"></td><td>c) adhesive </td></tr>
  		  <tr><td><input type="radio" name="nails_17_36" value="d"></td><td>d) dissolver </td></tr>
  		</table>
    </p>

    <p>37. Nail artistry with colored polymer powder is limited only by ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_37" value="a"></td><td>a) your resources </td></tr>
  		  <tr><td><input type="radio" name="nails_17_37" value="b"></td><td>b) your imaginaton </td></tr>
  		  <tr><td><input type="radio" name="nails_17_37" value="c"></td><td>c) your pocketbook </td></tr>
  		  <tr><td><input type="radio" name="nails_17_37" value="d"></td><td>d) the client's wishes </td></tr>
  		</table>
    </p>

    <p>38. When performing a one-color monomer and polymer nail enhancement application, it is recommended that you apply ______ after using a pusher to push back the eponychium and filing to remove the shine. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_38" value="a"></td><td>a) nail primer </td></tr>
  		  <tr><td><input type="radio" name="nails_17_38" value="b"></td><td>b) nail oil </td></tr>
  		  <tr><td><input type="radio" name="nails_17_38" value="c"></td><td>c) nail dehydrator </td></tr>
  		  <tr><td><input type="radio" name="nails_17_38" value="d"></td><td>d) cuticle remover </td></tr>
  		</table>
    </p>

    <p>39. When acid-free primer dries on the nail, it will be ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_39" value="a"></td><td>a) sticky and dull </td></tr>
  		  <tr><td><input type="radio" name="nails_17_39" value="b"></td><td>b) sticky and shiny </td></tr>
  		  <tr><td><input type="radio" name="nails_17_39" value="c"></td><td>c) smooth and dull </td></tr>
  		  <tr><td><input type="radio" name="nails_17_39" value="d"></td><td>d) smooth and shiny </td></tr>
  		</table>
    </p>

    <p>40. When performing a one-color monomer and polymer enhancement application, it is recommended that the first bead of monomer and polymer applied to the nail be _______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_40" value="a"></td><td>a) dry </td></tr>
  		  <tr><td><input type="radio" name="nails_17_40" value="b"></td><td>b) wet </td></tr>
  		  <tr><td><input type="radio" name="nails_17_40" value="c"></td><td>c) medium-to-dry </td></tr>
  		  <tr><td><input type="radio" name="nails_17_40" value="d"></td><td>d) medium-to-wet </td></tr>
  		</table>
    </p>

    <p>41. After applying the first bead of product during a monomer and polymer enhancement application, you should use the ________ of your brush to press and smooth the product.
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_41" value="a"></td><td>a) middle portion </td></tr>
  		  <tr><td><input type="radio" name="nails_17_41" value="b"></td><td>b) base </td></tr>
  		  <tr><td><input type="radio" name="nails_17_41" value="c"></td><td>c) tip </td></tr>
  		  <tr><td><input type="radio" name="nails_17_41" value="d"></td><td>d) handle </td></tr>
  		</table>
    </p>

    <p>42. To perform a two-color monomer liquid and polymer powder nail enhancement with forms, you will need nail dehydrator, nail forms, enhancement product, primer, abrasives, brushes, and ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_42" value="a"></td><td>a) cuticle nippers </td></tr>
  		  <tr><td><input type="radio" name="nails_17_42" value="b"></td><td>b) dappen dishes </td></tr>
  		  <tr><td><input type="radio" name="nails_17_42" value="c"></td><td>c) overlay product </td></tr>
  		  <tr><td><input type="radio" name="nails_17_42" value="d"></td><td>d) nail polish </td></tr>
  		</table>
    </p>

    <p>43. Acid based nail primer will dry to a ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_43" value="a"></td><td>a) chalky white </td></tr>
  		  <tr><td><input type="radio" name="nails_17_43" value="b"></td><td>b) clear finish </td></tr>
  		  <tr><td><input type="radio" name="nails_17_43" value="c"></td><td>c) dull frost </td></tr>
  		  <tr><td><input type="radio" name="nails_17_43" value="d"></td><td>d) dark finish </td></tr>
  		</table>
    </p>

   <p>44. When performing a two-color monomer and polymer enhancement application, the application must be ________ at the cuticle line. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_44" value="a"></td><td>a) rough </td></tr>
  		  <tr><td><input type="radio" name="nails_17_44" value="b"></td><td>b) flat </td></tr>
  		  <tr><td><input type="radio" name="nails_17_44" value="c"></td><td>c) thick </td></tr>
  		  <tr><td><input type="radio" name="nails_17_44" value="d"></td><td>d) thin </td></tr>
  		</table>
    </p>

   <p>45. After the application of the two-color monomer and polymer enhancement, it is recommended that you file the underside of the nail extensions and then glide the abrasive over the nail with _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_45" value="a"></td><td>a) long, sweeping strokes </td></tr>
  		  <tr><td><input type="radio" name="nails_17_45" value="b"></td><td>b) short, brisk strokes </td></tr>
  		  <tr><td><input type="radio" name="nails_17_45" value="c"></td><td>c) a dotting movement </td></tr>
  		  <tr><td><input type="radio" name="nails_17_45" value="d"></td><td>d) small, circular strokes </td></tr>
  		</table>
    </p>

   <p>46. When performing a one-color monomer and polymer enhancement maintenance service, what should you do if there is excessive, loose nail-enhancement product and fifting? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_46" value="a"></td><td>a) Use a nipper to clip it away </td></tr>
  		  <tr><td><input type="radio" name="nails_17_46" value="b"></td><td>b) Use scissors to clip it away </td></tr>
  		  <tr><td><input type="radio" name="nails_17_46" value="c"></td><td>c) Soak off the enhancement and start fresh with a new application </td></tr>
  		  <tr><td><input type="radio" name="nails_17_46" value="d"></td><td>d) Apply a strengthening layer of product over the existing enhancement </td></tr>
  		</table>
    </p>

   <p>47. When performing a two-color monomer and polymer nail enhancement, use the tip of the brush to push ________ into place and wipe the edge until a crisp rounded line is achieved.    
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_47" value="a"></td><td>a) the product </td></tr>
  		  <tr><td><input type="radio" name="nails_17_47" value="b"></td><td>b) the smile line </td></tr>
  		  <tr><td><input type="radio" name="nails_17_47" value="c"></td><td>c) the frown line </td></tr>
  		  <tr><td><input type="radio" name="nails_17_47" value="d"></td><td>d) the lunula </td></tr>
  		</table>
    </p>

   <p>48. Which of the following do youu need to perform a crack repair on a monomer and polymer enhancement, but not to perform a standard monomer and polymer maintenance service?    
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_48" value="a"></td><td>a) the product </td></tr>
  		  <tr><td><input type="radio" name="nails_17_48" value="b"></td><td>b) the smile line </td></tr>
  		  <tr><td><input type="radio" name="nails_17_48" value="c"></td><td>c) the frown line </td></tr>
  		  <tr><td><input type="radio" name="nails_17_48" value="d"></td><td>d) the lunula </td></tr>
  		</table>
    </p>

   <p>49. When performing a monomer and polymer crack repair, you must apply ________ after applying nail dehydrator.    
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_49" value="a"></td><td>a) a dry bead of product </td></tr>
  		  <tr><td><input type="radio" name="nails_17_49" value="b"></td><td>b) a medium bead of product </td></tr>
  		  <tr><td><input type="radio" name="nails_17_49" value="c"></td><td>c) nail primer to the entire natural nail and existing enhancement </td></tr>
  		  <tr><td><input type="radio" name="nails_17_49" value="d"></td><td>d) nail primer to any exposed natural nail in the crack </td></tr>
  		</table>
    </p>

   <p>50. When removing monomer and polymer enhancement, the client's nails should soak in the acetone for ________ or as long as needed to remove the enhancement product.    
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_17_50" value="a"></td><td>a) 5-10 minutes </td></tr>
  		  <tr><td><input type="radio" name="nails_17_50" value="b"></td><td>b) 20-30 minutes </td></tr>
  		  <tr><td><input type="radio" name="nails_17_50" value="c"></td><td>c) 10-20 minutes </td></tr>
  		  <tr><td><input type="radio" name="nails_17_50" value="d"></td><td>d) 30-45 minutes </td></tr>
  		</table>
    </p>

  </form>
  
  <button id="submitExam" class="btn btn-lg btn-primary">Submit</button>

</body>
</html>

