<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#submitExam").click(function(){
      var questionAnswerObj = {};
      $('#myForm input[type=radio]:checked').each(function(){
  		  questionAnswerObj[this.name] = this.value;
  	  }); 
  
      $.ajax({
        type:'POST',
        url:'/submit_Exam',
        data: { questionAnswerObj: JSON.stringify(questionAnswerObj) },
        success:function(result){
          var i;
          var out = "<table class=\"table table-striped\">";
          out += "<th>Question #</th><th>Answer Key</th><th>Your Answer Is</th>";
          x = result;
          $("#answers").empty();
          for (i = 0; i < x.length; i++) {
            out +=  "<tr><td>"  +  x[i].question_number + 
                    "</td><td>" +  x[i].answer_key +
                    "</td><td>" + x[i].your_answer + "</td></tr>";
          }
          out += "</table>";
          $("#answers").append(out);

        }
      }); // ajax
    }); // #submitExam
  });
</script>
</head>
<body>

  <h2>Chapter 9 -- Nail Disorders And Diseases</h2>
  <hr>

  <form id="myForm" >

    <p>1.  A normal healthy nail is shiny and slightly pink in color, with more _____ tones in some races.
  		<table class="table table-condensed">
  		  <tr><td>a)  light green</td><td><input type="radio" name="nails_9_1" value="a"></td></tr>
  		  <tr><td>b)  light brown</td><td><input type="radio" name="nails_9_1" value="b"></td></tr>
  		  <tr><td>c)  beige/yellow</td><td><input type="radio" name="nails_9_1" value="c"></td></tr>
  		  <tr><td>d)  blue/green</td><td><input type="radio" name="nails_9_1" value="d"></td></tr>
  		</table>
    </p>

    <p>2.  It is likely that _____ of your clients have experienced one or more types of common nail disorders.
  		<table class="table table-condensed">
  		  <tr><td>a)  none</td><td><input type="radio" name="nails_9_2" value="a"></td></tr>
  		  <tr><td>b)  most</td><td><input type="radio" name="nails_9_2" value="b"></td></tr>
  		  <tr><td>c)  very few</td><td><input type="radio" name="nails_9_2" value="c"></td></tr>
  		  <tr><td>d)  about half</td><td><input type="radio" name="nails_9_2" value="d"></td></tr>
  		</table>
    </p>

    <p>3.  A nail disorder is a condition caused by injury or _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  genetics</td><td><input type="radio" name="nails_9_3" value="a"></td></tr>
  		  <tr><td>b)  over buffing</td><td><input type="radio" name="nails_9_3" value="b"></td></tr>
  		  <tr><td>c)  disease</td><td><input type="radio" name="nails_9_3" value="c"></td></tr>
  		  <tr><td>d)  nipping</td><td><input type="radio" name="nails_9_3" value="d"></td></tr>
  		</table>
    </p>

    <p>4.  Bruised nails are characterized by a blood clot that forms under the plate, forming a _____ spot.
  		<table class="table table-condensed">
  		  <tr><td>a)  dark purplish</td><td><input type="radio" name="nails_9_4" value="a"></td></tr>
  		  <tr><td>b)  light pinkish</td><td><input type="radio" name="nails_9_4" value="b"></td></tr>
  		  <tr><td>c)  dull greenish</td><td><input type="radio" name="nails_9_4" value="c"></td></tr>
  		  <tr><td>d)  bright bluish</td><td><input type="radio" name="nails_9_4" value="d"></td></tr>
  		</table>
    </p>

    <p>5.  Nail ridges, which are actually grooves, grow in which direction?
  		<table class="table table-condensed">
  		  <tr><td>a)  any directions</td><td><input type="radio" name="nails_9_5" value="a"></td></tr>
  		  <tr><td>b)  horizontally</td><td><input type="radio" name="nails_9_5" value="b"></td></tr>
  		  <tr><td>c)  diagonally</td><td><input type="radio" name="nails_9_5" value="c"></td></tr>
  		  <tr><td>d)  vertically</td><td><input type="radio" name="nails_9_5" value="d"></td></tr>
  		</table>
    </p>

    <p>6.  Ridges are _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  normal in younger clients</td><td><input type="radio" name="nails_9_6" value="a"></td></tr>
  		  <tr><td>b)  normal in older clients</td><td><input type="radio" name="nails_9_6" value="b"></td></tr>
  		  <tr><td>c)  a sign of poor nutrition</td><td><input type="radio" name="nails_9_6" value="c"></td></tr>
  		  <tr><td>d)  a sign of poor health</td><td><input type="radio" name="nails_9_6" value="d"></td></tr>
  		</table>
    </p>

    <p>7.  Eggshell nails are noticeably thin, white nail plates that are _____ than normal nails.
  		<table class="table table-condensed">
  		  <tr><td>a)  much more flexible</td><td><input type="radio" name="nails_9_7" value="a"></td></tr>
  		  <tr><td>b)  much firmer</td><td><input type="radio" name="nails_9_7" value="b"></td></tr>
  		  <tr><td>c)  much less flexible</td><td><input type="radio" name="nails_9_7" value="c"></td></tr>
  		  <tr><td>d)  much more rigid</td><td><input type="radio" name="nails_9_7" value="d"></td></tr>
  		</table>
    </p>

    <p>8.  When working on eggshell nails, it is recommended that you use an abrasive board a grit of _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  80 or lower</td><td><input type="radio" name="nails_9_8" value="a"></td></tr>
  		  <tr><td>b)  120 or higher</td><td><input type="radio" name="nails_9_8" value="b"></td></tr>
  		  <tr><td>c)  240 or higher</td><td><input type="radio" name="nails_9_8" value="c"></td></tr>
  		  <tr><td>d)  80-120</td><td><input type="radio" name="nails_9_8" value="d"></td></tr>
  		</table>
    </p>
    
    <p>9.  Which way do Beau's lines typically run on the nail plate?
  		<table class="table table-condensed">
  		  <tr><td>a)  vertically</td><td><input type="radio" name="nails_9_9" value="a"></td></tr>
  		  <tr><td>b)  horizontally</td><td><input type="radio" name="nails_9_9" value="b"></td></tr>
  		  <tr><td>c)  diagonally</td><td><input type="radio" name="nails_9_9" value="c"></td></tr>
  		  <tr><td>d)  any direction</td><td><input type="radio" name="nails_9_9" value="d"></td></tr>
  		</table>
    </p>
    
    <p>10.  Beau's lines occur because the matrix _____ producing nail cells for several weeks or months.
  		<table class="table table-condensed">
  		  <tr><td>a)  speeds up in</td><td><input type="radio" name="nails_9_10" value="a"></td></tr>
  		  <tr><td>b)  has interruptions in</td><td><input type="radio" name="nails_9_10" value="b"></td></tr>
  		  <tr><td>c)  totally stops</td><td><input type="radio" name="nails_9_10" value="c"></td></tr>
  		  <tr><td>d)  slows down in</td><td><input type="radio" name="nails_9_10" value="d"></td></tr>
  		</table>
    </p>
    
    <p>11.  Which of these conditions is characterized by the living skin around the nail plate splitting and tearing?
  		<table class="table table-condensed">
  		  <tr><td>a)  Hangnail</td><td><input type="radio" name="nails_9_11" value="a"></td></tr>
  		  <tr><td>b)  Onychophagy</td><td><input type="radio" name="nails_9_11" value="b"></td></tr>
  		  <tr><td>c)  Nail pterygium</td><td><input type="radio" name="nails_9_11" value="c"></td></tr>
  		  <tr><td>d)  Pincer nail</td><td><input type="radio" name="nails_9_11" value="d"></td></tr>
  		</table>
    </p>
    
    <p>12.  Signs of an infection of the nails are redness, pain, swelling, or _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  bruising</td><td><input type="radio" name="nails_9_12" value="a"></td></tr>
  		  <tr><td>b)  pus</td><td><input type="radio" name="nails_9_12" value="b"></td></tr>
  		  <tr><td>c)  bleeding</td><td><input type="radio" name="nails_9_12" value="c"></td></tr>
  		  <tr><td>d)  splitting</td><td><input type="radio" name="nails_9_12" value="d"></td></tr>
  		</table>
    </p>
    
    <p>13.  What color are leukonychia spots?
  		<table class="table table-condensed">
  		  <tr><td>a)  purble</td><td><input type="radio" name="nails_9_13" value="a"></td></tr>
  		  <tr><td>b)  yellow</td><td><input type="radio" name="nails_9_13" value="b"></td></tr>
  		  <tr><td>c)  blue</td><td><input type="radio" name="nails_9_13" value="c"></td></tr>
  		  <tr><td>d)  white</td><td><input type="radio" name="nails_9_13" value="d"></td></tr>
  		</table>
    </p>
    
    <p>14.  Leukonychia spots result from _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  vitamin deficiency</td><td><input type="radio" name="nails_9_14" value="a"></td></tr>
  		  <tr><td>b)  a calcium deficiency</td><td><input type="radio" name="nails_9_14" value="b"></td></tr>
  		  <tr><td>c)  damage to the matrix</td><td><input type="radio" name="nails_9_14" value="c"></td></tr>
  		  <tr><td>d)  a zinc deficiency</td><td><input type="radio" name="nails_9_14" value="d"></td></tr>
  		</table>
    </p>
    
    <p>15.  Melanonychia presents as a _____ of the nails.
  		<table class="table table-condensed">
  		  <tr><td>a)  cracking</td><td><input type="radio" name="nails_9_15" value="a"></td></tr>
  		  <tr><td>b)  splitting</td><td><input type="radio" name="nails_9_15" value="b"></td></tr>
  		  <tr><td>c)  lightening</td><td><input type="radio" name="nails_9_15" value="c"></td></tr>
  		  <tr><td>d)  darkening</td><td><input type="radio" name="nails_9_15" value="d"></td></tr>
  		</table>
    </p>
    
    <p>16.  Melanonychia is a fairly common occurance and considered normal in _____, but could be indicative of a disease condition in Caucasians.
  		<table class="table table-condensed">
  		  <tr><td>a)  African Americans or Asians</td><td><input type="radio" name="nails_9_16" value="a"></td></tr>
  		  <tr><td>b)  Hispanics and African Americans</td><td><input type="radio" name="nails_9_16" value="b"></td></tr>
  		  <tr><td>c)  Italians and Asians</td><td><input type="radio" name="nails_9_16" value="c"></td></tr>
  		  <tr><td>d)  Greeks and Asians</td><td><input type="radio" name="nails_9_16" value="d"></td></tr>
  		</table>
    </p>
    
    <p>17.  Which of these conditions is caused by nail biting?
  		<table class="table table-condensed">
  		  <tr><td>a)  Onychocryptosis</td><td><input type="radio" name="nails_9_17" value="a"></td></tr>
  		  <tr><td>b)  Onychophagy</td><td><input type="radio" name="nails_9_17" value="b"></td></tr>
  		  <tr><td>c)  Onychia</td><td><input type="radio" name="nails_9_17" value="c"></td></tr>
  		  <tr><td>d)  Onychomadesis</td><td><input type="radio" name="nails_9_17" value="d"></td></tr>
  		</table>
    </p>
    
    <p>18.  The technical term for split or brittle nails with a series of lengthwise ridges is _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  plicatured nail</td><td><input type="radio" name="nails_9_18" value="a"></td></tr>
  		  <tr><td>b)  splinter hemorrhages</td><td><input type="radio" name="nails_9_18" value="b"></td></tr>
  		  <tr><td>c)  nail pterygium</td><td><input type="radio" name="nails_9_18" value="c"></td></tr>
  		  <tr><td>d)  onychorrhexis</td><td><input type="radio" name="nails_9_18" value="d"></td></tr>
  		</table>
    </p>

    <p>19.  How often should a client with onychorrhexis use a high-quality, penetrating nail oil?
  		<table class="table table-condensed">
  		  <tr><td>a)  Once daily</td><td><input type="radio" name="nails_9_19" value="a"></td></tr>
  		  <tr><td>b)  Once weekly</td><td><input type="radio" name="nails_9_19" value="b"></td></tr>
  		  <tr><td>c)  Twice daily</td><td><input type="radio" name="nails_9_19" value="c"></td></tr>
  		  <tr><td>d)  Twice weekly</td><td><input type="radio" name="nails_9_19" value="d"></td></tr>
  		</table>
    </p>

    <p>20.  The condition known as plicatured nail often leads to _____ nails.
  		<table class="table table-condensed">
  		  <tr><td>a)  ingrown</td><td><input type="radio" name="nails_9_20" value="a"></td></tr>
  		  <tr><td>b)  bruised</td><td><input type="radio" name="nails_9_20" value="b"></td></tr>
  		  <tr><td>c)  split</td><td><input type="radio" name="nails_9_20" value="c"></td></tr>
  		  <tr><td>d)  brittle</td><td><input type="radio" name="nails_9_20" value="d"></td></tr>
  		</table>
    </p>

    <p>21.  Skin is stretched by the nail plate in clients with _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  pincer nail</td><td><input type="radio" name="nails_9_21" value="a"></td></tr>
  		  <tr><td>b)  trumpet nail</td><td><input type="radio" name="nails_9_21" value="b"></td></tr>
  		  <tr><td>c)  nail psoriasis</td><td><input type="radio" name="nails_9_21" value="c"></td></tr>
  		  <tr><td>d)  nail pterygium</td><td><input type="radio" name="nails_9_21" value="d"></td></tr>
  		</table>
    </p>

    <p>22.  What should you do if a client has a typical case of pincer nail?
  		<table class="table table-condensed">
  		  <tr><td>a)  Refer her to a physician.</td><td><input type="radio" name="nails_9_22" value="a"></td></tr>
  		  <tr><td>b)  Carefully trim and file the nail.</td><td><input type="radio" name="nails_9_22" value="b"></td></tr>
  		  <tr><td>c)  Aggressively file and shape the nail.</td><td><input type="radio" name="nails_9_22" value="c"></td></tr>
  		  <tr><td>d)  Apply ridge filler and nail polish.</td><td><input type="radio" name="nails_9_22" value="d"></td></tr>
  		</table>
    </p>

    <p>23.  Fungi are _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  parasites</td><td><input type="radio" name="nails_9_23" value="a"></td></tr>
  		  <tr><td>b)  bacteria</td><td><input type="radio" name="nails_9_23" value="b"></td></tr>
  		  <tr><td>c)  germs</td><td><input type="radio" name="nails_9_23" value="c"></td></tr>
  		  <tr><td>d)  mold</td><td><input type="radio" name="nails_9_23" value="d"></td></tr>
  		</table>
    </p>

    <p>24.  Nail fungi are of concern to the nail salon because they are contagious and can be transmitted through _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  personal touch</td><td><input type="radio" name="nails_9_24" value="a"></td></tr>
  		  <tr><td>b)  contaminated implements</td><td><input type="radio" name="nails_9_24" value="b"></td></tr>
  		  <tr><td>c)  dry air</td><td><input type="radio" name="nails_9_24" value="c"></td></tr>
  		  <tr><td>d)  cleansing antiseptics</td><td><input type="radio" name="nails_9_24" value="d"></td></tr>
  		</table>
    </p>

    <p>25.  A typical bacteria infection on the nail plate can be identified in the early stages as a _____ spot.
  		<table class="table table-condensed">
  		  <tr><td>a)  blue-green</td><td><input type="radio" name="nails_9_25" value="a"></td></tr>
  		  <tr><td>b)  yellow-green</td><td><input type="radio" name="nails_9_25" value="b"></td></tr>
  		  <tr><td>c)  red-purble</td><td><input type="radio" name="nails_9_25" value="c"></td></tr>
  		  <tr><td>d)  brown-black</td><td><input type="radio" name="nails_9_25" value="d"></td></tr>
  		</table>
    </p>


    <p>26.  Which of the following colors indicates the most advanced nail infection?
  		<table class="table table-condensed">
  		  <tr><td>a)  yellow</td><td><input type="radio" name="nails_9_26" value="a"></td></tr>
  		  <tr><td>b)  green</td><td><input type="radio" name="nails_9_26" value="b"></td></tr>
  		  <tr><td>c)  brown</td><td><input type="radio" name="nails_9_26" value="c"></td></tr>
  		  <tr><td>d)  black</td><td><input type="radio" name="nails_9_26" value="d"></td></tr>
  		</table>
    </p>


    <p>27.  A form of dramatically increased nail curvature is called _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  bugle nails</td><td><input type="radio" name="nails_9_27" value="a"></td></tr>
  		  <tr><td>b)  horned nails</td><td><input type="radio" name="nails_9_27" value="b"></td></tr>
  		  <tr><td>c)  trumpet nails</td><td><input type="radio" name="nails_9_27" value="c"></td></tr>
  		  <tr><td>d)  plicatured nails</td><td><input type="radio" name="nails_9_27" value="d"></td></tr>
  		</table>
    </p>

    <p>28.  Which of these conditions presents as an inflamation of the nail matrix followed by shedding of the natural nail plate?
  		<table class="table table-condensed">
  		  <tr><td>a)  Onychia</td><td><input type="radio" name="nails_9_28" value="a"></td></tr>
  		  <tr><td>b)  Onychosis</td><td><input type="radio" name="nails_9_28" value="b"></td></tr>
  		  <tr><td>c)  Onychocryptosis</td><td><input type="radio" name="nails_9_28" value="c"></td></tr>
  		  <tr><td>d)  Onycholysis</td><td><input type="radio" name="nails_9_28" value="d"></td></tr>
  		</table>
    </p>

    <p>29.  The technical term for ingrown nails is _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  paronychia</td><td><input type="radio" name="nails_9_29" value="a"></td></tr>
  		  <tr><td>b)  onychomadesis</td><td><input type="radio" name="nails_9_29" value="b"></td></tr>
  		  <tr><td>c)  onychocryptosis</td><td><input type="radio" name="nails_9_29" value="c"></td></tr>
  		  <tr><td>d)  onychomycosis</td><td><input type="radio" name="nails_9_29" value="d"></td></tr>
  		</table>
    </p>
  
    <p>30.  The technical term for separation and failing off of a nail from the nail bed is _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  paronychia</td><td><input type="radio" name="nails_9_30" value="a"></td></tr>
  		  <tr><td>b)  onychomadesis</td><td><input type="radio" name="nails_9_30" value="b"></td></tr>
  		  <tr><td>c)  onychocryptosis</td><td><input type="radio" name="nails_9_30" value="c"></td></tr>
  		  <tr><td>d)  onychomycosis</td><td><input type="radio" name="nails_9_30" value="d"></td></tr>
  		</table>
    </p>

    <p>31.  Which of the following does not usually cause onycholysis?
  		<table class="table table-condensed">
  		  <tr><td>a)  illness</td><td><input type="radio" name="nails_9_31" value="a"></td></tr>
  		  <tr><td>b)  physical injury</td><td><input type="radio" name="nails_9_31" value="b"></td></tr>
  		  <tr><td>c)  allergic reactions</td><td><input type="radio" name="nails_9_31" value="c"></td></tr>
  		  <tr><td>d)  trauma</td><td><input type="radio" name="nails_9_31" value="d"></td></tr>
  		</table>
    </p>

    <p>32.  Onychomadesis can be traced to a localized infection, _____, or a severe systemic illness.
  		<table class="table table-condensed">
  		  <tr><td>a)  injury to the free edge</td><td><input type="radio" name="nails_9_32" value="a"></td></tr>
  		  <tr><td>b)  injury to the cuticle</td><td><input type="radio" name="nails_9_32" value="b"></td></tr>
  		  <tr><td>c)  injury to the matrix</td><td><input type="radio" name="nails_9_32" value="c"></td></tr>
  		  <tr><td>d)  injury to the lunula</td><td><input type="radio" name="nails_9_32" value="d"></td></tr>
  		</table>
    </p>


    <p>33.  What effect does nail psoriasis have on the nails?
  		<table class="table table-condensed">
  		  <tr><td>a)  splitting</td><td><input type="radio" name="nails_9_33" value="a"></td></tr>
  		  <tr><td>b)  pitting</td><td><input type="radio" name="nails_9_33" value="b"></td></tr>
  		  <tr><td>c)  crumbling</td><td><input type="radio" name="nails_9_33" value="c"></td></tr>
  		  <tr><td>d)  darkening</td><td><input type="radio" name="nails_9_33" value="d"></td></tr>
  		</table>
    </p>


    <p>34.  Nail psoriasis can cause yellowish to reddish spots underneath the nail plate, called _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  port blotches</td><td><input type="radio" name="nails_9_34" value="a"></td></tr>
  		  <tr><td>b)  leukonychia</td><td><input type="radio" name="nails_9_34" value="b"></td></tr>
  		  <tr><td>c)  bleach blots</td><td><input type="radio" name="nails_9_34" value="c"></td></tr>
  		  <tr><td>d)  salmon patches</td><td><input type="radio" name="nails_9_34" value="d"></td></tr>
  		</table>
    </p>


    <p>35.  Paronychia is _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  a bacterial inflamation of the tissues surrounding the nail</td><td><input type="radio" name="nails_9_35" value="a"></td></tr>
  		  <tr><td>b)  the separation and falling off of a nail from the nail bed</td><td><input type="radio" name="nails_9_35" value="b"></td></tr>
  		  <tr><td>c)  red itchy patches of skin between the toes</td><td><input type="radio" name="nails_9_35" value="c"></td></tr>
  		  <tr><td>d)  depressions running across the width of the nail plate</td><td><input type="radio" name="nails_9_35" value="d"></td></tr>
  		</table>
    </p>

    <p>36.  Which of the following people is likely to be most prone to paronychia?
  		<table class="table table-condensed">
  		  <tr><td>a)  a carpenter</td><td><input type="radio" name="nails_9_36" value="a"></td></tr>
  		  <tr><td>b)  a nurse</td><td><input type="radio" name="nails_9_36" value="b"></td></tr>
  		  <tr><td>c)  an electrician</td><td><input type="radio" name="nails_9_36" value="c"></td></tr>
  		  <tr><td>d)  an attorney</td><td><input type="radio" name="nails_9_36" value="d"></td></tr>
  		</table>
    </p>

    <p>37.  Nail psoriasis can cause the surface of the plate to look like it has been filed with a coarse abrasive or may _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  create a ragged free edge</td><td><input type="radio" name="nails_9_37" value="a"></td></tr>
  		  <tr><td>b)  create white spots</td><td><input type="radio" name="nails_9_37" value="b"></td></tr>
  		  <tr><td>c)  create a hangnail</td><td><input type="radio" name="nails_9_37" value="c"></td></tr>
  		  <tr><td>d)  a damaged lunula</td><td><input type="radio" name="nails_9_37" value="d"></td></tr>
  		</table>
    </p>
    
    <p>38.  Which of the following conditions is a severe inflamation of the nail in which a lump of red tissue grows up from the nail bed to the nail plate?
  		<table class="table table-condensed">
  		  <tr><td>a)  Melanonychia</td><td><input type="radio" name="nails_9_38" value="a"></td></tr>
  		  <tr><td>b)  Nail pterygium</td><td><input type="radio" name="nails_9_38" value="b"></td></tr>
  		  <tr><td>c)  Pyogenic granuloma</td><td><input type="radio" name="nails_9_38" value="c"></td></tr>
  		  <tr><td>d)  Onychorrhexis</td><td><input type="radio" name="nails_9_38" value="d"></td></tr>
  		</table>
    </p>
    
    <p>39.  What is the medical term for red itchy patches of skin on the bottom of the feet?
  		<table class="table table-condensed">
  		  <tr><td>a)  Tinea capitis</td><td><input type="radio" name="nails_9_39" value="a"></td></tr>
  		  <tr><td>b)  Tinea pedis</td><td><input type="radio" name="nails_9_39" value="b"></td></tr>
  		  <tr><td>c)  Tinea versicolor</td><td><input type="radio" name="nails_9_39" value="c"></td></tr>
  		  <tr><td>d)  Tinea cruris</td><td><input type="radio" name="nails_9_39" value="d"></td></tr>
  		</table>
    </p>
    
    <p>40.  A fungal infection of the feet is most likely to strike between the _____ toes.
  		<table class="table table-condensed">
  		  <tr><td>a)  first and second</td><td><input type="radio" name="nails_9_40" value="a"></td></tr>
  		  <tr><td>b)  second and third</td><td><input type="radio" name="nails_9_40" value="b"></td></tr>
  		  <tr><td>c)  third and fourth</td><td><input type="radio" name="nails_9_40" value="c"></td></tr>
  		  <tr><td>d)  fourth and fifth</td><td><input type="radio" name="nails_9_40" value="d"></td></tr>
  		</table>
    </p>
    
    <p>41.  If a client has a fungal infection on the foot, you should recommend _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  changing wool socks twice daily</td><td><input type="radio" name="nails_9_41" value="a"></td></tr>
  		  <tr><td>b)  changing shoes at least twice daily</td><td><input type="radio" name="nails_9_41" value="b"></td></tr>
  		  <tr><td>c)  changing white cotton socks twice daily</td><td><input type="radio" name="nails_9_41" value="c"></td></tr>
  		  <tr><td>d)  placing cotton with antiseptic between the toes</td><td><input type="radio" name="nails_9_41" value="d"></td></tr>
  		</table>
    </p>
    
    <p>42.  Which of these terms refers to a fungal infection of the nail plate?
  		<table class="table table-condensed">
  		  <tr><td>a)  Onychomycosis</td><td><input type="radio" name="nails_9_42" value="a"></td></tr>
  		  <tr><td>b)  Onychocryptosis</td><td><input type="radio" name="nails_9_42" value="b"></td></tr>
  		  <tr><td>c)  Onychomadesis</td><td><input type="radio" name="nails_9_42" value="c"></td></tr>
  		  <tr><td>d)  Pyogenic granuloma</td><td><input type="radio" name="nails_9_42" value="d"></td></tr>
  		</table>
    </p>
    
    <p>43.  What causes ridges?
  		<table class="table table-condensed">
  		  <tr><td>a)  physical injury</td><td><input type="radio" name="nails_9_43" value="a"></td></tr>
  		  <tr><td>b)  uneven nail growth</td><td><input type="radio" name="nails_9_43" value="b"></td></tr>
  		  <tr><td>c)  certain medications</td><td><input type="radio" name="nails_9_43" value="c"></td></tr>
  		  <tr><td>d)  certain illnesses</td><td><input type="radio" name="nails_9_43" value="d"></td></tr>
  		</table>
    </p>
    
    <p>44.  Plicatured nail figuratively means _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  brittle nail</td><td><input type="radio" name="nails_9_44" value="a"></td></tr>
  		  <tr><td>b)  cracked nail</td><td><input type="radio" name="nails_9_44" value="b"></td></tr>
  		  <tr><td>c)  spiraled nail</td><td><input type="radio" name="nails_9_44" value="c"></td></tr>
  		  <tr><td>d)  folded nail</td><td><input type="radio" name="nails_9_44" value="d"></td></tr>
  		</table>
    </p>

    <p>45.  Nail pterygium is an abnormal condition that occurs when skin is _____ the nail plate.
  		<table class="table table-condensed">
  		  <tr><td>a)  softened around</td><td><input type="radio" name="nails_9_45" value="a"></td></tr>
  		  <tr><td>b)  hardened at the edge of</td><td><input type="radio" name="nails_9_45" value="b"></td></tr>
  		  <tr><td>c)  stretched by</td><td><input type="radio" name="nails_9_45" value="c"></td></tr>
  		  <tr><td>d)  detached from</td><td><input type="radio" name="nails_9_45" value="d"></td></tr>
  		</table>
    </p>

  </form>
  
  <button id="submitExam" class="btn btn-lg btn-primary">Submit</button>

</body>
</html>
