

<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#submitExam").click(function(){
      var questionAnswerObj = {};
      $('#myForm input[type=radio]:checked').each(function(){
  		  questionAnswerObj[this.name] = this.value;
  	  }); 
  
      $.ajax({
        type:'POST',
        url:'/submit_Exam',
        data: { questionAnswerObj: JSON.stringify(questionAnswerObj) },
        success:function(result){
          var i;
          var out = "<table class=\"table table-striped\">";
          out += "<th>Question #</th><th>Answer Key</th><th>Your Answer Is</th>";
          x = result;
          $("#answers").empty();
          for (i = 0; i < x.length; i++) {
            out +=  "<tr><td>"  +  x[i].question_number + 
                    "</td><td>" +  x[i].answer_key +
                    "</td><td>" + x[i].your_answer + "</td></tr>";
          }
          out += "</table>";
          $("#answers").append(out);

        }
      }); // ajax
    }); // #submitExam
  });
</script>
</head>
<body>

  <h2> Chapter 19: The Creative Touch </h2>
  <hr>

  <form id="myForm" >

    <p>1. Ways to create client interest in nail art include displaying artful tips in a glass case or frame, inserting photos of creative nail art into a porfolio, and _________.
		<table class="table table-condensed">
		  <tr><td><input type="radio" name="nails_19_1" value="a"></td><td>a) showing written testimonies from clients </td></tr>
		  <tr><td><input type="radio" name="nails_19_1" value="b"></td><td>b) wearing beautiful nail art on yor own nails </td></tr>
		  <tr><td><input type="radio" name="nails_19_1" value="c"></td><td>c) posting a list of client contact information who have nail art </td></tr>
		  <tr><td><input type="radio" name="nails_19_1" value="d"></td><td>d) display only one medium and prepare to discuss others </td></tr>
		</table>
    </p>

    <p>2. Nail art should be priced based on the cost of materials, time investment, the nail technician's level of expertise, the clientele, and _________.  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_2" value="a"></td><td>a) the area </td></tr>
		  <tr><td><input type="radio" name="nails_19_2" value="b"></td><td>b) only one </td></tr>
		  <tr><td><input type="radio" name="nails_19_2" value="c"></td><td>c) a few </td></tr>
		  <tr><td><input type="radio" name="nails_19_2" value="d"></td><td>d) units </td></tr>
  		</table>
    </p>

    <p>3. The light we see reflected from a surface is called ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_3" value="a"></td><td>a) ultraviolet light </td></tr>
  		  <tr><td><input type="radio" name="nails_19_3" value="b"></td><td>b) infrared light </td></tr>
  		  <tr><td><input type="radio" name="nails_19_3" value="c"></td><td>c) chromatics </td></tr>
  		  <tr><td><input type="radio" name="nails_19_3" value="d"></td><td>d) color </td></tr>
  		</table>
    </p>

    <p>4. Nail polish looks ________ when all colors are reflected. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_4" value="a"></td><td>a) black </td></tr>
  		  <tr><td><input type="radio" name="nails_19_4" value="b"></td><td>b) white </td></tr>
  		  <tr><td><input type="radio" name="nails_19_4" value="c"></td><td>c) red </td></tr>
  		  <tr><td><input type="radio" name="nails_19_4" value="d"></td><td>d) blue </td></tr>
  		</table>
    </p>

    <p>5. Which of the following is not a rimary color? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_5" value="a"></td><td>a) red </td></tr>
  		  <tr><td><input type="radio" name="nails_19_5" value="b"></td><td>b) green </td></tr>
  		  <tr><td><input type="radio" name="nails_19_5" value="c"></td><td>c) yellow </td></tr>
  		  <tr><td><input type="radio" name="nails_19_5" value="d"></td><td>d) blue </td></tr>
  		</table>
    </p>

    <p>6. When you mix equal parts of two primary colors, you create _______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_6" value="a"></td><td>a) a secondary color </td></tr>
  		  <tr><td><input type="radio" name="nails_19_6" value="b"></td><td>b) a tertiary color </td></tr>
  		  <tr><td><input type="radio" name="nails_19_6" value="c"></td><td>c) a complementary color </td></tr>
  		  <tr><td><input type="radio" name="nails_19_6" value="d"></td><td>d) a intermediate color </td></tr>
  		</table>
    </p>

    <p>7.The colors directly resulting from mixing equal parts of one primary color and one of its nearest secondary colors are called _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_7" value="a"></td><td>a) pastel colors </td></tr>
  		  <tr><td><input type="radio" name="nails_19_7" value="b"></td><td>b) analogous colors </td></tr>
  		  <tr><td><input type="radio" name="nails_19_7" value="c"></td><td>c) complementary colors </td></tr>
  		  <tr><td><input type="radio" name="nails_19_7" value="d"></td><td>d) tertiary colors </td></tr>
  		</table>
    </p>

    <p>8. Which of the following is not a secondary color? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_8" value="a"></td><td>a) orange </td></tr>
  		  <tr><td><input type="radio" name="nails_19_8" value="b"></td><td>b) yellow </td></tr>
  		  <tr><td><input type="radio" name="nails_19_8" value="c"></td><td>c) green </td></tr>
  		  <tr><td><input type="radio" name="nails_19_8" value="d"></td><td>d) violet </td></tr>
  		</table>
    </p>
    
    <p>9. Tertiary colors are also known as _________.
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_9" value="a"></td><td>a) secondary color </td></tr>
  		  <tr><td><input type="radio" name="nails_19_9" value="b"></td><td>b) analogous colors </td></tr>
  		  <tr><td><input type="radio" name="nails_19_9" value="c"></td><td>c) intermediate colors </td></tr>
  		  <tr><td><input type="radio" name="nails_19_9" value="d"></td><td>d) complementary colors </td></tr>
  		</table>
    </p>
    
    <p>10. When complementary colors are applied side by side, they _______ each other, making each other stand out or pop.
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_10" value="a"></td><td>a) enhance </td></tr>
  		  <tr><td><input type="radio" name="nails_19_10" value="b"></td><td>b) stabilize </td></tr>
  		  <tr><td><input type="radio" name="nails_19_10" value="c"></td><td>c) neutralize </td></tr>
  		  <tr><td><input type="radio" name="nails_19_10" value="d"></td><td>d) minimize </td></tr>
  		</table>
    </p>
    
    <p>11. Colors located beside each other on the color wheel are known as ________.
 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_11" value="a"></td><td>a) intermediate colors </td></tr>
  		  <tr><td><input type="radio" name="nails_19_11" value="b"></td><td>b) tertiary colors </td></tr>
  		  <tr><td><input type="radio" name="nails_19_11" value="c"></td><td>c) complementary colors </td></tr>
  		  <tr><td><input type="radio" name="nails_19_11" value="d"></td><td>d) analogous colors </td></tr>
  		</table>
    </p>
    
    <p>12. Red-videt and blue-green are examples of _______ colors. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_12" value="a"></td><td>a) secondary </td></tr>
  		  <tr><td><input type="radio" name="nails_19_12" value="b"></td><td>b) tertiary </td></tr>
  		  <tr><td><input type="radio" name="nails_19_12" value="c"></td><td>c) complementary </td></tr>
  		  <tr><td><input type="radio" name="nails_19_12" value="d"></td><td>d) analogous </td></tr>
  		</table>
    </p>
    
    <p>13. For a traditional French manicure look, the nail bed (up to the free edge) is one color, such as pink, peach, or ______, and the free edge of the nail plate is another color such as white.
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_13" value="a"></td><td>a) blue </td></tr>
  		  <tr><td><input type="radio" name="nails_19_13" value="b"></td><td>b) green </td></tr>
  		  <tr><td><input type="radio" name="nails_19_13" value="c"></td><td>c) beige </td></tr>
  		  <tr><td><input type="radio" name="nails_19_13" value="d"></td><td>d) aqua </td></tr>
  		</table>
    </p>
    
    <p>14. Which term refers to a swirled effect created hen you combine two or more colors while wet, and then mix them on the nail? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_14" value="a"></td><td>a) Marbleizing </td></tr>
  		  <tr><td><input type="radio" name="nails_19_14" value="b"></td><td>b) Color blocking </td></tr>
  		  <tr><td><input type="radio" name="nails_19_14" value="c"></td><td>c) French manicure </td></tr>
  		  <tr><td><input type="radio" name="nails_19_14" value="d"></td><td>d) Color fading </td></tr>
  		</table>
    </p>
    
    <p>15. When the top of a client's nail is light pink, the bottom is dark pink, and the middle is a combination of the to colors, this is known as ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_15" value="a"></td><td>a) color blocking </td></tr>
  		  <tr><td><input type="radio" name="nails_19_15" value="b"></td><td>b) color fading </td></tr>
  		  <tr><td><input type="radio" name="nails_19_15" value="c"></td><td>c) marbleizing </td></tr>
  		  <tr><td><input type="radio" name="nails_19_15" value="d"></td><td>d) swirling </td></tr>
  		</table>
    </p>
    
    <p>16. The tool used to create the marbleizing effect is called a ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_16" value="a"></td><td>a) style brush </td></tr>
  		  <tr><td><input type="radio" name="nails_19_16" value="b"></td><td>b) polish pen </td></tr>
  		  <tr><td><input type="radio" name="nails_19_16" value="c"></td><td>c) pusher </td></tr>
  		  <tr><td><input type="radio" name="nails_19_16" value="d"></td><td>d) stylus </td></tr>
  		</table>
    </p>
    
    <p>17. In a French manicure, the curved line where the pink and the white color meet on the nail is called_______.  
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_17" value="a"></td><td>a) color differentiator </td></tr>
  		  <tr><td><input type="radio" name="nails_19_17" value="b"></td><td>b) color separator </td></tr>
  		  <tr><td><input type="radio" name="nails_19_17" value="c"></td><td>c) the smile line </td></tr>
  		  <tr><td><input type="radio" name="nails_19_17" value="d"></td><td>d) the smile curve </td></tr>
  		</table>
    </p>
    
    <p>18. The very end of the bristles on a brush, farthest away from the handle, is referred to as the ______ deending on the style of the brush. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_18" value="a"></td><td>a) tip or chisel edge </td></tr>
  		  <tr><td><input type="radio" name="nails_19_18" value="b"></td><td>b) belly or round edge </td></tr>
  		  <tr><td><input type="radio" name="nails_19_18" value="c"></td><td>c) ferrule or flat edge  </td></tr>
  		  <tr><td><input type="radio" name="nails_19_18" value="d"></td><td>d) heel or box edge </td></tr>
  		</table>
    </p>

    <p>19. A nail technician is should master the ________ technique and variations of it to stay competituve in the marketplace. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_19" value="a"></td><td>a) gold leafing </td></tr>
  		  <tr><td><input type="radio" name="nails_19_19" value="b"></td><td>b) French manicure </td></tr>
  		  <tr><td><input type="radio" name="nails_19_19" value="c"></td><td>c) free-hand painting </td></tr>
  		  <tr><td><input type="radio" name="nails_19_19" value="d"></td><td>d) air brushing </td></tr>
  		</table>
    </p>

    <p>20. The metal band around the brush that helps to hold the bristies in place is called ________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_21" value="a"></td><td>a) a mandrel </td></tr>
  		  <tr><td><input type="radio" name="nails_19_21" value="b"></td><td>b) the heel </td></tr>
  		  <tr><td><input type="radio" name="nails_19_21" value="c"></td><td>c) a ferrule </td></tr>
  		  <tr><td><input type="radio" name="nails_19_21" value="d"></td><td>d) the banding </td></tr>
  		</table>
    </p>

    <p>21. The area in which the bristies meet the ferrule is called the ______ of the brush. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_22" value="a"></td><td>a) belly </td></tr>
  		  <tr><td><input type="radio" name="nails_19_22" value="b"></td><td>b) crust </td></tr>
  		  <tr><td><input type="radio" name="nails_19_22" value="c"></td><td>c) tip </td></tr>
  		  <tr><td><input type="radio" name="nails_19_22" value="d"></td><td>d) heel </td></tr>
  		</table>
    </p>

    <p>22. A line brush is not specificially recommended for _______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_22" value="a"></td><td>a) line work </td></tr>
  		  <tr><td><input type="radio" name="nails_19_22" value="b"></td><td>b) outlining </td></tr>
  		  <tr><td><input type="radio" name="nails_19_22" value="c"></td><td>c) blending </td></tr>
  		  <tr><td><input type="radio" name="nails_19_22" value="d"></td><td>d) lettering </td></tr>
  		</table>
    </p>

    <p>23. A _________ brush has a square tip with long bristies. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_23" value="a"></td><td>a) liner </td></tr>
  		  <tr><td><input type="radio" name="nails_19_23" value="b"></td><td>b) flat </td></tr>
  		  <tr><td><input type="radio" name="nails_19_23" value="c"></td><td>c) round </td></tr>
  		  <tr><td><input type="radio" name="nails_19_23" value="d"></td><td>d) spotter </td></tr>
  		</table>
    </p>

    <p>24. A spotter brush is also commonly known as a _______ brush. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_24" value="a"></td><td>a) detailer </td></tr>
  		  <tr><td><input type="radio" name="nails_19_24" value="b"></td><td>b) striper </td></tr>
  		  <tr><td><input type="radio" name="nails_19_24" value="c"></td><td>c) fan </td></tr>
  		  <tr><td><input type="radio" name="nails_19_24" value="d"></td><td>d) round </td></tr>
  		</table>
    </p>

    <p>25. Which term refers to the amount of force that an artist applies to the brush while stroking? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_25" value="a"></td><td>a) Pull </td></tr>
  		  <tr><td><input type="radio" name="nails_19_25" value="b"></td><td>b) Pressure </td></tr>
  		  <tr><td><input type="radio" name="nails_19_25" value="c"></td><td>c) Position </td></tr>
  		  <tr><td><input type="radio" name="nails_19_25" value="d"></td><td>d) Push </td></tr>
  		</table>
    </p>

    <p>26. Which term refers to how you hold the brush on the nail? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_26" value="a"></td><td>a) Pressure </td></tr>
  		  <tr><td><input type="radio" name="nails_19_26" value="b"></td><td>b) Pull </td></tr>
  		  <tr><td><input type="radio" name="nails_19_26" value="c"></td><td>c) Push </td></tr>
  		  <tr><td><input type="radio" name="nails_19_26" value="d"></td><td>d) Position </td></tr>
  		</table>
    </p>

    <p>27. Which of the following is not an example of a versatile design stroke? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_27" value="a"></td><td>a) Comma </td></tr>
  		  <tr><td><input type="radio" name="nails_19_27" value="b"></td><td>b) Ribbon </td></tr>
  		  <tr><td><input type="radio" name="nails_19_27" value="c"></td><td>c) Branch </td></tr>
  		  <tr><td><input type="radio" name="nails_19_27" value="d"></td><td>d) Teardrop </td></tr>
  		</table>
    </p>

    <p>28. When applying 3-D art over nail polish, ensure the polish is ________ before continuing. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_28" value="a"></td><td>a) completely curve </td></tr>
  		  <tr><td><input type="radio" name="nails_19_28" value="b"></td><td>b) completely dry </td></tr>
  		  <tr><td><input type="radio" name="nails_19_28" value="c"></td><td>c) partially dry </td></tr>
  		  <tr><td><input type="radio" name="nails_19_28" value="d"></td><td>d) pliable </td></tr>
  		</table>
    </p>

    <p>29. The more paint you put on the very tip of the brush, the _________ the beginning of the stroke will be. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_29" value="a"></td><td>a) wider </td></tr>
  		  <tr><td><input type="radio" name="nails_19_29" value="b"></td><td>b) deeper </td></tr>
  		  <tr><td><input type="radio" name="nails_19_29" value="c"></td><td>c) narrower </td></tr>
  		  <tr><td><input type="radio" name="nails_19_29" value="d"></td><td>d) thinner </td></tr>
  		</table>
    </p>
  
    <p>30. Any element that can be applied to the nail  as art is considered _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_30" value="a"></td><td>a) an adhesive </td></tr>
  		  <tr><td><input type="radio" name="nails_19_30" value="b"></td><td>b) adornment </td></tr>
  		  <tr><td><input type="radio" name="nails_19_30" value="c"></td><td>c) a decal </td></tr>
  		  <tr><td><input type="radio" name="nails_19_30" value="d"></td><td>d) an embellishment </td></tr>
  		</table>
    </p>

    <p>31. A nail art element that does not have its own adhesive backing, you can adhere it with resin, tip adhesive, or ______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_31" value="a"></td><td>a) tape </td></tr>
  		  <tr><td><input type="radio" name="nails_19_31" value="b"></td><td>b) base coat </td></tr>
  		  <tr><td><input type="radio" name="nails_19_31" value="c"></td><td>c) paste </td></tr>
  		  <tr><td><input type="radio" name="nails_19_31" value="d"></td><td>d) top coat </td></tr>
  		</table>
    </p>

    <p>32. The ideal aribrush systems for nail art are designed for ________ paint. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_32" value="a"></td><td>a) high-gloss </td></tr>
  		  <tr><td><input type="radio" name="nails_19_32" value="b"></td><td>b) fast-drying </td></tr>
  		  <tr><td><input type="radio" name="nails_19_32" value="c"></td><td>c) gravity-fed </td></tr>
  		  <tr><td><input type="radio" name="nails_19_32" value="d"></td><td>d) semi-gloss </td></tr>
  		</table>
    </p>

    <p>33. Which of the following is not part of the handle of an airbrush machine? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_33" value="a"></td><td>a) Trigger </td></tr>
  		  <tr><td><input type="radio" name="nails_19_33" value="b"></td><td>b) Fluid nozzle </td></tr>
  		  <tr><td><input type="radio" name="nails_19_33" value="c"></td><td>c) Needle </td></tr>
  		  <tr><td><input type="radio" name="nails_19_33" value="d"></td><td>d) Compressor </td></tr>
  		</table>
    </p>

    <p>34. The ________ connects the handle of an airbrush machine to the compressor. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_34" value="a"></td><td>a) air hose </td></tr>
  		  <tr><td><input type="radio" name="nails_19_34" value="b"></td><td>b) cap </td></tr>
  		  <tr><td><input type="radio" name="nails_19_34" value="c"></td><td>c) release line </td></tr>
  		  <tr><td><input type="radio" name="nails_19_34" value="d"></td><td>d) pressure regulator </td></tr>
  		</table>
    </p>

    <p>35. When using an airbrush machine, most nail professionals work at a pressure between _________. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_35" value="a"></td><td>a) 45 and 55 psi </td></tr>
  		  <tr><td><input type="radio" name="nails_19_35" value="b"></td><td>b) 85 and 100 psi </td></tr>
  		  <tr><td><input type="radio" name="nails_19_35" value="c"></td><td>c) 15 and 20 psi </td></tr>
  		  <tr><td><input type="radio" name="nails_19_35" value="d"></td><td>d) 25 and 35 psi </td></tr>
  		</table>
    </p>

    <p>36. When applied correctly, airbrush paint appears _______. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_36" value="a"></td><td>a) bright and powdery </td></tr>
  		  <tr><td><input type="radio" name="nails_19_36" value="b"></td><td>b) dull and powdery </td></tr>
  		  <tr><td><input type="radio" name="nails_19_36" value="c"></td><td>c) bright and glossy </td></tr>
  		  <tr><td><input type="radio" name="nails_19_36" value="d"></td><td>d) dull and glossy </td></tr>
  		</table>
    </p>

    <p>37. To create designs or specific shapes when airbrushing, you can use ________, a thin plastic with a sticy back that is cut by a machine into various shapes. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_37" value="a"></td><td>a) a model </td></tr>
  		  <tr><td><input type="radio" name="nails_19_37" value="b"></td><td>b) a precut diagram </td></tr>
  		  <tr><td><input type="radio" name="nails_19_37" value="c"></td><td>c) an airbrush stencil </td></tr>
  		  <tr><td><input type="radio" name="nails_19_37" value="d"></td><td>d) a blueprint </td></tr>
  		</table>
    </p>

    <p>38. When preparing for a nail cometition, it is recommended that you first _______.
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_38" value="a"></td><td>a) sketch out your idea </td></tr>
  		  <tr><td><input type="radio" name="nails_19_38" value="b"></td><td>b) determine what the theme is </td></tr>
  		  <tr><td><input type="radio" name="nails_19_38" value="c"></td><td>c) practice with a model </td></tr>
  		  <tr><td><input type="radio" name="nails_19_38" value="d"></td><td>d) put together your competition kit </td></tr>
  		</table>
    </p>

    <p>39. During the ________, the competition director or head judge will review the rules and guidelines to ensure everyone understands them and is able to comply. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_39" value="a"></td><td>a) briefing </td></tr>
  		  <tr><td><input type="radio" name="nails_19_39" value="b"></td><td>b) judging </td></tr>
  		  <tr><td><input type="radio" name="nails_19_39" value="c"></td><td>c) application period </td></tr>
  		  <tr><td><input type="radio" name="nails_19_39" value="d"></td><td>d) intermission </td></tr>
  		</table>
    </p>

    <p>40. The _______ category includes all freehand painting techniques that are not raised. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_40" value="a"></td><td>a) flat art </td></tr>
  		  <tr><td><input type="radio" name="nails_19_40" value="b"></td><td>b) 3-D art </td></tr>
  		  <tr><td><input type="radio" name="nails_19_40" value="c"></td><td>c) fantasy art </td></tr>
  		  <tr><td><input type="radio" name="nails_19_40" value="d"></td><td>d) design sculpture </td></tr>
  		</table>
    </p>

    <p>41. Any art that protrudes from the nails into the _______ nail art category.
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_41" value="a"></td><td>a) fantasy </td></tr>
  		  <tr><td><input type="radio" name="nails_19_41" value="b"></td><td>b) design sculpture </td></tr>
  		  <tr><td><input type="radio" name="nails_19_41" value="c"></td><td>c) embellishment </td></tr>
  		  <tr><td><input type="radio" name="nails_19_41" value="d"></td><td>d) 3-D </td></tr>
  		</table>
    </p>

    <p>42. The term ________ is a description used for nail art when more than one nail art medium is used to create a design. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_42" value="a"></td><td>a) "flat art" </td></tr>
  		  <tr><td><input type="radio" name="nails_19_42" value="b"></td><td>b) "3-D art" </td></tr>
  		  <tr><td><input type="radio" name="nails_19_42" value="c"></td><td>c) "mixed-media" </td></tr>
  		  <tr><td><input type="radio" name="nails_19_42" value="d"></td><td>d) "freestyle art" </td></tr>
  		</table>
    </p>

    <p>43. In ________ competitions, the technician is limited only by his or her own imagination. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_43" value="a"></td><td>a) Grand Illusion </td></tr>
  		  <tr><td><input type="radio" name="nails_19_43" value="b"></td><td>b) Fantasy Art </td></tr>
  		  <tr><td><input type="radio" name="nails_19_43" value="c"></td><td>c) Fanciful </td></tr>
  		  <tr><td><input type="radio" name="nails_19_43" value="d"></td><td>d) Dream Vision </td></tr>
  		</table>
    </p>

   <p>44. You will not need which of the following items when creating crystal art on polish using embellishments? 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_44" value="a"></td><td>a) Nail forms </td></tr>
  		  <tr><td><input type="radio" name="nails_19_44" value="b"></td><td>b) Top coat </td></tr>
  		  <tr><td><input type="radio" name="nails_19_44" value="c"></td><td>c) Tweezers </td></tr>
  		  <tr><td><input type="radio" name="nails_19_44" value="d"></td><td>d) Brush-on adhesive </td></tr>
  		</table>
    </p>

   <p>45. When creating crystal art on polish using embellishments, it is recommended that you _______ first. 
  		<table class="table table-condensed">
  		  <tr><td><input type="radio" name="nails_19_44" value="a"></td><td>a) place smaller crystals </td></tr>
  		  <tr><td><input type="radio" name="nails_19_44" value="b"></td><td>b) apply a base coat </td></tr>
  		  <tr><td><input type="radio" name="nails_19_44" value="c"></td><td>c) place larger crystals </td></tr>
  		  <tr><td><input type="radio" name="nails_19_44" value="d"></td><td>d) allow adhesive to dry </td></tr>
  		</table>
    </p>
  </form>
  
  <button id="submitExam" class="btn btn-lg btn-primary">Submit</button>

</body>
</html>

