<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#submitExam").click(function(){
      var questionAnswerObj = {};
      $('#myForm input[type=radio]:checked').each(function(){
  		  questionAnswerObj[this.name] = this.value;
  	  }); 
  
      $.ajax({
        type:'POST',
        url:'/submit_Exam',
        data: { questionAnswerObj: JSON.stringify(questionAnswerObj) },
        success:function(result){
          var i;
          var out = "<table class=\"table table-striped\">";
          out += "<th>Question #</th><th>Answer Key</th><th>Your Answer Is</th>";
          x = result;
          $("#answers").empty();
          for (i = 0; i < x.length; i++) {
            out +=  "<tr><td>"  +  x[i].question_number + 
                    "</td><td>" +  x[i].answer_key +
                    "</td><td>" + x[i].your_answer + "</td></tr>";
          }
          out += "</table>";
          $("#answers").append(out);

        }
      }); // ajax
    }); // #submitExam
  });
</script>
</head>
<body>

  <h2>Chapter 12 -- The Basics Of Electricity</h2>
  <hr>

  <form id="myForm" >

    <p>1.  The movement of particles around an atom that creates pure
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_1" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_1" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_1" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_1" value="d"></td></tr>
  		</table>
    </p>

    <p>2.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_2" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_2" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_2" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_2" value="d"></td></tr>
  		</table>
    </p>

    <p>3.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_3" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_3" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_3" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_3" value="d"></td></tr>
  		</table>
    </p>

    <p>4.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_4" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_4" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_4" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_4" value="d"></td></tr>
  		</table>
    </p>

    <p>5.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_5" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_5" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_5" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_5" value="d"></td></tr>
  		</table>
    </p>

    <p>6.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_6" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_6" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_6" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_6" value="d"></td></tr>
  		</table>
    </p>

    <p>7.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_7" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_7" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_7" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_7" value="d"></td></tr>
  		</table>
    </p>

    <p>8.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_8" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_8" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_8" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_8" value="d"></td></tr>
  		</table>
    </p>
    
    <p>9.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_9" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_9" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_9" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_9" value="d"></td></tr>
  		</table>
    </p>
    
    <p>10.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_10" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_10" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_10" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_10" value="d"></td></tr>
  		</table>
    </p>
    
    <p>11.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_11" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_11" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_11" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_11" value="d"></td></tr>
  		</table>
    </p>
    
    <p>12.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_12" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_12" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_12" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_12" value="d"></td></tr>
  		</table>
    </p>
    
    <p>13.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_13" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_13" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_13" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_13" value="d"></td></tr>
  		</table>
    </p>
    
    <p>14.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_14" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_14" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_14" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_14" value="d"></td></tr>
  		</table>
    </p>
    
    <p>15.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_15" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_15" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_15" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_15" value="d"></td></tr>
  		</table>
    </p>
    
    <p>16.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_16" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_16" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_16" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_16" value="d"></td></tr>
  		</table>
    </p>
    
    <p>17.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_17" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_17" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_17" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_17" value="d"></td></tr>
  		</table>
    </p>
    
    <p>18.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_18" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_18" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_18" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_18" value="d"></td></tr>
  		</table>
    </p>

    <p>19.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_19" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_19" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_19" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_19" value="d"></td></tr>
  		</table>
    </p>

    <p>20.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_20" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_20" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_20" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_20" value="d"></td></tr>
  		</table>
    </p>

    <p>21.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_21" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_21" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_21" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_21" value="d"></td></tr>
  		</table>
    </p>

    <p>22.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_22" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_22" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_22" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_22" value="d"></td></tr>
  		</table>
    </p>

    <p>23.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_23" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_23" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_23" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_23" value="d"></td></tr>
  		</table>
    </p>

    <p>24.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_24" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_24" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_24" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_24" value="d"></td></tr>
  		</table>
    </p>

    <p>25.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_25" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_25" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_25" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_25" value="d"></td></tr>
  		</table>
    </p>


    <p>26.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_26" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_26" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_26" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_26" value="d"></td></tr>
  		</table>
    </p>


    <p>27.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_27" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_27" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_27" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_27" value="d"></td></tr>
  		</table>
    </p>

    <p>28.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_28" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_28" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_28" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_28" value="d"></td></tr>
  		</table>
    </p>

    <p>29.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_29" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_29" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_29" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_29" value="d"></td></tr>
  		</table>
    </p>
  
    <p>30.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_30" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_30" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_30" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_30" value="d"></td></tr>
  		</table>
    </p>

    <p>31.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_31" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_31" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_31" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_31" value="d"></td></tr>
  		</table>
    </p>

    <p>32.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_32" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_32" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_32" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_32" value="d"></td></tr>
  		</table>
    </p>


    <p>33.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_33" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_33" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_33" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_33" value="d"></td></tr>
  		</table>
    </p>


    <p>34.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_34" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_34" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_34" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_34" value="d"></td></tr>
  		</table>
    </p>


    <p>35.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_35" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_35" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_35" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_35" value="d"></td></tr>
  		</table>
    </p>

    <p>36.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_36" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_36" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_36" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_36" value="d"></td></tr>
  		</table>
    </p>

    <p>37.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_37" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_37" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_37" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_37" value="d"></td></tr>
  		</table>
    </p>
    
    <p>38.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_38" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_38" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_38" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_38" value="d"></td></tr>
  		</table>
    </p>
    
    <p>39.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_39" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_39" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_39" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_39" value="d"></td></tr>
  		</table>
    </p>
    
    <p>40.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_40" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_40" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_40" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_40" value="d"></td></tr>
  		</table>
    </p>
    
    <p>41.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_41" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_41" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_41" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_41" value="d"></td></tr>
  		</table>
    </p>
    
    <p>42.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_42" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_42" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_42" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_42" value="d"></td></tr>
  		</table>
    </p>
    
    <p>43.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_43" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_43" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_43" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_43" value="d"></td></tr>
  		</table>
    </p>
    
    <p>44.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_44" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_44" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_44" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_44" value="d"></td></tr>
  		</table>
    </p>

    <p>45.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_45" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_45" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_45" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_45" value="d"></td></tr>
  		</table>
    </p>

    <p>46.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_46" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_46" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_46" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_46" value="d"></td></tr>
  		</table>
    </p>

    <p>47.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_47" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_47" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_47" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_47" value="d"></td></tr>
  		</table>
    </p>

    <p>48.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_48" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_48" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_48" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_48" value="d"></td></tr>
  		</table>
    </p>

    <p>49.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_49" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_49" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_49" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_49" value="d"></td></tr>
  		</table>
    </p>

    <p>50.  
  		<table class="table table-condensed">
  		  <tr><td>a)  </td><td><input type="radio" name="nails_12_50" value="a"></td></tr>
  		  <tr><td>b)  </td><td><input type="radio" name="nails_12_50" value="b"></td></tr>
  		  <tr><td>c)  </td><td><input type="radio" name="nails_12_50" value="c"></td></tr>
  		  <tr><td>d)  </td><td><input type="radio" name="nails_12_50" value="d"></td></tr>
  		</table>
    </p>

  </form>
  
  <button id="submitExam" class="btn btn-lg btn-primary">Submit</button>

</body>
</html>
