<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#submitExam").click(function(){
      var questionAnswerObj = {};
      $('#myForm input[type=radio]:checked').each(function(){
  		  questionAnswerObj[this.name] = this.value;
  	  }); 
  
      $.ajax({
        type:'POST',
        url:'/submit_Exam',
        data: { questionAnswerObj: JSON.stringify(questionAnswerObj) },
        success:function(result){
          var i;
          var out = "<table class=\"table table-striped\">";
          out += "<th>Question #</th><th>Answer Key</th><th>Your Answer Is</th>";
          x = result;
          $("#answers").empty();
          for (i = 0; i < x.length; i++) {
            out +=  "<tr><td>"  +  x[i].question_number + 
                    "</td><td>" +  x[i].answer_key +
                    "</td><td>" + x[i].your_answer + "</td></tr>";
          }
          out += "</table>";
          $("#answers").append(out);

        }
      }); // ajax
    }); // #submitExam
  });
</script>
</head>
<body>

  <h2>Chapter 8 -- Nail Structure And Growth</h2>
  <hr>

  <form id="myForm" >

    <p>1.  The hard protective plate located at the end of the finger or toe is called the _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  natural nail</td><td><input type="radio" name="nails_8_1" value="a"></td></tr>
  		  <tr><td>b)  cuticle</td><td><input type="radio" name="nails_8_1" value="b"></td></tr>
  		  <tr><td>c)  matrix</td><td><input type="radio" name="nails_8_1" value="c"></td></tr>
  		  <tr><td>d)  ligament</td><td><input type="radio" name="nails_8_1" value="d"></td></tr>
  		</table>
    </p>

    <p>2.  The fingernails and toenails are part of which body system?
  		<table class="table table-condensed">
  		  <tr><td>a)  digestive system</td><td><input type="radio" name="nails_8_2" value="a"></td></tr>
  		  <tr><td>b)  integumentary system</td><td><input type="radio" name="nails_8_2" value="b"></td></tr>
  		  <tr><td>c)  reproductive system</td><td><input type="radio" name="nails_8_2" value="c"></td></tr>
  		  <tr><td>d)  respiratory system</td><td><input type="radio" name="nails_8_2" value="d"></td></tr>
  		</table>
    </p>

    <p>3.  The _____ of the nails can reflect the general health of the body.
  		<table class="table table-condensed">
  		  <tr><td>a)  length</td><td><input type="radio" name="nails_8_3" value="a"></td></tr>
  		  <tr><td>b)  thickness</td><td><input type="radio" name="nails_8_3" value="b"></td></tr>
  		  <tr><td>c)  width</td><td><input type="radio" name="nails_8_3" value="c"></td></tr>
  		  <tr><td>d)  overall appearance</td><td><input type="radio" name="nails_8_3" value="d"></td></tr>
  		</table>
    </p>

    <p>4.  Which of the following is technically referred to as the onyx?
  		<table class="table table-condensed">
  		  <tr><td>a)  the matrix</td><td><input type="radio" name="nails_8_4" value="a"></td></tr>
  		  <tr><td>b)  the natural nail</td><td><input type="radio" name="nails_8_4" value="b"></td></tr>
  		  <tr><td>c)  the eponychium</td><td><input type="radio" name="nails_8_4" value="c"></td></tr>
  		  <tr><td>d)  the bed epithelium</td><td><input type="radio" name="nails_8_4" value="d"></td></tr>
  		</table>
    </p>

    <p>5.  The natural nail is primarily composed of what substance?
  		<table class="table table-condensed">
  		  <tr><td>a)  bile</td><td><input type="radio" name="nails_8_5" value="a"></td></tr>
  		  <tr><td>b)  hyponychium</td><td><input type="radio" name="nails_8_5" value="b"></td></tr>
  		  <tr><td>c)  keratin</td><td><input type="radio" name="nails_8_5" value="c"></td></tr>
  		  <tr><td>d)  carbohydrates</td><td><input type="radio" name="nails_8_5" value="d"></td></tr>
  		</table>
    </p>

    <p>6.  A normal, healthy nail is firm and flexible, shiny, slightly pink in color with a _____ surface.
  		<table class="table table-condensed">
  		  <tr><td>a)  smooth</td><td><input type="radio" name="nails_8_6" value="a"></td></tr>
  		  <tr><td>b)  brittle</td><td><input type="radio" name="nails_8_6" value="b"></td></tr>
  		  <tr><td>c)  hardened</td><td><input type="radio" name="nails_8_6" value="c"></td></tr>
  		  <tr><td>d)  thin</td><td><input type="radio" name="nails_8_6" value="d"></td></tr>
  		</table>
    </p>

    <p>7.  The keratin in natural nails is _____ the keratin in hair or skin.
  		<table class="table table-condensed">
  		  <tr><td>a)  the same as</td><td><input type="radio" name="nails_8_7" value="a"></td></tr>
  		  <tr><td>b)  darker than</td><td><input type="radio" name="nails_8_7" value="b"></td></tr>
  		  <tr><td>c)  softer than</td><td><input type="radio" name="nails_8_7" value="c"></td></tr>
  		  <tr><td>d)  more durable than</td><td><input type="radio" name="nails_8_7" value="d"></td></tr>
  		</table>
    </p>

    <p>8.  The nail plate is relatively _____ to water, allowing it to pass much more easily than it will pass through normal skin of equal thickness.
  		<table class="table table-condensed">
  		  <tr><td>a)  resistant</td><td><input type="radio" name="nails_8_8" value="a"></td></tr>
  		  <tr><td>b)  opposed</td><td><input type="radio" name="nails_8_8" value="b"></td></tr>
  		  <tr><td>c)  porous</td><td><input type="radio" name="nails_8_8" value="c"></td></tr>
  		  <tr><td>d)  absorbent</td><td><input type="radio" name="nails_8_8" value="d"></td></tr>
  		</table>
    </p>
    
    <p>9.  The lower the water content in the nail, the _____ the nail becomes.
  		<table class="table table-condensed">
  		  <tr><td>a)  more rigid</td><td><input type="radio" name="nails_8_9" value="a"></td></tr>
  		  <tr><td>b)  less rigid</td><td><input type="radio" name="nails_8_9" value="b"></td></tr>
  		  <tr><td>c)  darker</td><td><input type="radio" name="nails_8_9" value="c"></td></tr>
  		  <tr><td>d)  lighter</td><td><input type="radio" name="nails_8_9" value="d"></td></tr>
  		</table>
    </p>
    
    <p>10.  The portion of living skin that supports the nail plate as it grows toward the free edge is called the _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  nail groove</td><td><input type="radio" name="nails_8_10" value="a"></td></tr>
  		  <tr><td>b)  nail unit</td><td><input type="radio" name="nails_8_10" value="b"></td></tr>
  		  <tr><td>c)  nail fold</td><td><input type="radio" name="nails_8_10" value="c"></td></tr>
  		  <tr><td>d)  nail bed</td><td><input type="radio" name="nails_8_10" value="d"></td></tr>
  		</table>
    </p>
    
    <p>11.  The area under the nail plate has a _____ appearance extending from the lunula to just before the free edge of the nail.
  		<table class="table table-condensed">
  		  <tr><td>a)  bluish</td><td><input type="radio" name="nails_8_11" value="a"></td></tr>
  		  <tr><td>b)  pinkish</td><td><input type="radio" name="nails_8_11" value="b"></td></tr>
  		  <tr><td>c)  greenish</td><td><input type="radio" name="nails_8_11" value="c"></td></tr>
  		  <tr><td>d)  yellowish</td><td><input type="radio" name="nails_8_11" value="d"></td></tr>
  		</table>
    </p>
    
    <p>12.  Where are the nail plate cells formed?
  		<table class="table table-condensed">
  		  <tr><td>a)  the bed epithelium</td><td><input type="radio" name="nails_8_12" value="a"></td></tr>
  		  <tr><td>b)  the bone marrow</td><td><input type="radio" name="nails_8_12" value="b"></td></tr>
  		  <tr><td>c)  the matrix</td><td><input type="radio" name="nails_8_12" value="c"></td></tr>
  		  <tr><td>d)  the ligaments</td><td><input type="radio" name="nails_8_12" value="d"></td></tr>
  		</table>
    </p>
    
    <p>13.  What is the whitish half-moon shape at the base of the nail called?
  		<table class="table table-condensed">
  		  <tr><td>a)  the nail plate</td><td><input type="radio" name="nails_8_13" value="a"></td></tr>
  		  <tr><td>b)  the lunula</td><td><input type="radio" name="nails_8_13" value="b"></td></tr>
  		  <tr><td>c)  the eponychium</td><td><input type="radio" name="nails_8_13" value="c"></td></tr>
  		  <tr><td>d)  the hyponychium</td><td><input type="radio" name="nails_8_13" value="d"></td></tr>
  		</table>
    </p>
    
    <p>14.  The matrix area contains nerves, lymph, and _____ to nourish the matrix cells.
  		<table class="table table-condensed">
  		  <tr><td>a)  water supply</td><td><input type="radio" name="nails_8_14" value="a"></td></tr>
  		  <tr><td>b)  plasma</td><td><input type="radio" name="nails_8_14" value="b"></td></tr>
  		  <tr><td>c)  blood vessels</td><td><input type="radio" name="nails_8_14" value="c"></td></tr>
  		  <tr><td>d)  arteries</td><td><input type="radio" name="nails_8_14" value="d"></td></tr>
  		</table>
    </p>
    
    <p>15.  The _____ is the most visible and functional part of the nail unit.
  		<table class="table table-condensed">
  		  <tr><td>a)  cuticle</td><td><input type="radio" name="nails_8_15" value="a"></td></tr>
  		  <tr><td>b)  bed epithelium</td><td><input type="radio" name="nails_8_15" value="b"></td></tr>
  		  <tr><td>c)  nail plate</td><td><input type="radio" name="nails_8_15" value="c"></td></tr>
  		  <tr><td>d)  matrix</td><td><input type="radio" name="nails_8_15" value="d"></td></tr>
  		</table>
    </p>
    
    <p>16.  The free edge _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  is an integral part of the matrix</td><td><input type="radio" name="nails_8_16" value="a"></td></tr>
  		  <tr><td>b)  extends over the tip of the finger or toe</td><td><input type="radio" name="nails_8_16" value="b"></td></tr>
  		  <tr><td>c)  attaches directly to the nail bed</td><td><input type="radio" name="nails_8_16" value="c"></td></tr>
  		  <tr><td>d)  guides the nail plate along the nail bed</td><td><input type="radio" name="nails_8_16" value="d"></td></tr>
  		</table>
    </p>
    
    <p>17.  The cuticle is the dead, _____ tissue attached to the nail plate.
  		<table class="table table-condensed">
  		  <tr><td>a)  colorless</td><td><input type="radio" name="nails_8_17" value="a"></td></tr>
  		  <tr><td>b)  flaky</td><td><input type="radio" name="nails_8_17" value="b"></td></tr>
  		  <tr><td>c)  pinkish</td><td><input type="radio" name="nails_8_17" value="c"></td></tr>
  		  <tr><td>d)  hardened</td><td><input type="radio" name="nails_8_17" value="d"></td></tr>
  		</table>
    </p>
    
    <p>18.  Cuticle tissue is incredibly _____ and difficult to remove from the nail plate.
  		<table class="table table-condensed">
  		  <tr><td>a)  easy</td><td><input type="radio" name="nails_8_18" value="a"></td></tr>
  		  <tr><td>b)  tricky</td><td><input type="radio" name="nails_8_18" value="b"></td></tr>
  		  <tr><td>c)  difficult</td><td><input type="radio" name="nails_8_18" value="c"></td></tr>
  		  <tr><td>d)  tedious</td><td><input type="radio" name="nails_8_18" value="d"></td></tr>
  		</table>
    </p>

    <p>19.  The living skin at the base of the nail plate covering the matrix area is the _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  eponychium</td><td><input type="radio" name="nails_8_19" value="a"></td></tr>
  		  <tr><td>b)  hyponychium</td><td><input type="radio" name="nails_8_19" value="b"></td></tr>
  		  <tr><td>c)  cuticle</td><td><input type="radio" name="nails_8_19" value="c"></td></tr>
  		  <tr><td>d)  matrix</td><td><input type="radio" name="nails_8_19" value="d"></td></tr>
  		</table>
    </p>

    <p>20.  The _____ is the slightly thickened layer of skin that lies between the fingertip and the free edge of the nail plate.
  		<table class="table table-condensed">
  		  <tr><td>a)  eponychium</td><td><input type="radio" name="nails_8_20" value="a"></td></tr>
  		  <tr><td>b)  hyponychium</td><td><input type="radio" name="nails_8_20" value="b"></td></tr>
  		  <tr><td>c)  cuticle</td><td><input type="radio" name="nails_8_20" value="c"></td></tr>
  		  <tr><td>d)  matrix</td><td><input type="radio" name="nails_8_20" value="d"></td></tr>
  		</table>
    </p>

    <p>21.  A tough band of fibrous tissue that connects bones or holds an organ in place is called _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  a tendon</td><td><input type="radio" name="nails_8_21" value="a"></td></tr>
  		  <tr><td>b)  a tibia</td><td><input type="radio" name="nails_8_21" value="b"></td></tr>
  		  <tr><td>c)  a group</td><td><input type="radio" name="nails_8_21" value="c"></td></tr>
  		  <tr><td>d)  a ligament</td><td><input type="radio" name="nails_8_21" value="d"></td></tr>
  		</table>
    </p>

    <p>22.  Nail technicians are allowed to gentlly push back the eponychium but are prohibited from cutting or trimming any part of the eponychium because it is _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  a vital part of the nail unit</td><td><input type="radio" name="nails_8_22" value="a"></td></tr>
  		  <tr><td>b)  necessary for nail shape</td><td><input type="radio" name="nails_8_22" value="b"></td></tr>
  		  <tr><td>c)  critical to nail health</td><td><input type="radio" name="nails_8_22" value="c"></td></tr>
  		  <tr><td>d)  living skin</td><td><input type="radio" name="nails_8_22" value="d"></td></tr>
  		</table>
    </p>

    <p>23.  Cuticle conditioners are designed for the eponychium, lateral sidewalls, and _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  cuticle</td><td><input type="radio" name="nails_8_23" value="a"></td></tr>
  		  <tr><td>b)  nail plate</td><td><input type="radio" name="nails_8_23" value="b"></td></tr>
  		  <tr><td>c)  finger tips</td><td><input type="radio" name="nails_8_23" value="c"></td></tr>
  		  <tr><td>d)  hyponychium</td><td><input type="radio" name="nails_8_23" value="d"></td></tr>
  		</table>
    </p>

    <p>24.  Cuticle removers, when carefully applied to the nail plate, can speed removal of stubborn _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  sidewall tissue</td><td><input type="radio" name="nails_8_24" value="a"></td></tr>
  		  <tr><td>b)  nail bed tissue</td><td><input type="radio" name="nails_8_24" value="b"></td></tr>
  		  <tr><td>c)  free edge tissue</td><td><input type="radio" name="nails_8_24" value="c"></td></tr>
  		  <tr><td>d)  cuticle tissue</td><td><input type="radio" name="nails_8_24" value="d"></td></tr>
  		</table>
    </p>

    <p>25.  Ligaments are located at the base of the _____ and around the edges of the nail bed.
  		<table class="table table-condensed">
  		  <tr><td>a)  nail plate</td><td><input type="radio" name="nails_8_25" value="a"></td></tr>
  		  <tr><td>b)  matrix</td><td><input type="radio" name="nails_8_25" value="b"></td></tr>
  		  <tr><td>c)  sidewalls</td><td><input type="radio" name="nails_8_25" value="c"></td></tr>
  		  <tr><td>d)  lunula</td><td><input type="radio" name="nails_8_25" value="d"></td></tr>
  		</table>
    </p>


    <p>26.  The _____ are folds of normal skin that surround the nail plate.
  		<table class="table table-condensed">
  		  <tr><td>a)  nail folds</td><td><input type="radio" name="nails_8_26" value="a"></td></tr>
  		  <tr><td>b)  nail grooves</td><td><input type="radio" name="nails_8_26" value="b"></td></tr>
  		  <tr><td>c)  nail beds</td><td><input type="radio" name="nails_8_26" value="c"></td></tr>
  		  <tr><td>d)  matrices</td><td><input type="radio" name="nails_8_26" value="d"></td></tr>
  		</table>
    </p>


    <p>27.  The sidewall, also called the _____, is the fold of skin overlapping the side of the nail.
  		<table class="table table-condensed">
  		  <tr><td>a)  vertical nail fold</td><td><input type="radio" name="nails_8_27" value="a"></td></tr>
  		  <tr><td>b)  corrugation</td><td><input type="radio" name="nails_8_27" value="b"></td></tr>
  		  <tr><td>c)  horizontal nail fold</td><td><input type="radio" name="nails_8_27" value="c"></td></tr>
  		  <tr><td>d)  lateral nail fold</td><td><input type="radio" name="nails_8_27" value="d"></td></tr>
  		</table>
    </p>

    <p>28.  A normal nail grows forward from the _____ and extends over the tip of the finger.
  		<table class="table table-condensed">
  		  <tr><td>a)  matrix</td><td><input type="radio" name="nails_8_28" value="a"></td></tr>
  		  <tr><td>b)  free edge</td><td><input type="radio" name="nails_8_28" value="b"></td></tr>
  		  <tr><td>c)  lunula</td><td><input type="radio" name="nails_8_28" value="c"></td></tr>
  		  <tr><td>d)  nail bed</td><td><input type="radio" name="nails_8_28" value="d"></td></tr>
  		</table>
    </p>

    <p>29.  The length, width, and curvature of the _____ determine the thickness, width, and curvature of the natural nail plate.
  		<table class="table table-condensed">
  		  <tr><td>a)  ligament</td><td><input type="radio" name="nails_8_29" value="a"></td></tr>
  		  <tr><td>b)  bed epithelium</td><td><input type="radio" name="nails_8_29" value="b"></td></tr>
  		  <tr><td>c)  matrix</td><td><input type="radio" name="nails_8_29" value="c"></td></tr>
  		  <tr><td>d)  free edge</td><td><input type="radio" name="nails_8_29" value="d"></td></tr>
  		</table>
    </p>
  
    <p>30.  What can be done to make the nail plate grow thicker?
  		<table class="table table-condensed">
  		  <tr><td>a)  basic manicures</td><td><input type="radio" name="nails_8_30" value="a"></td></tr>
  		  <tr><td>b)  nothing</td><td><input type="radio" name="nails_8_30" value="b"></td></tr>
  		  <tr><td>c)  hot oil manicures</td><td><input type="radio" name="nails_8_30" value="c"></td></tr>
  		  <tr><td>d)  spa manicures</td><td><input type="radio" name="nails_8_30" value="d"></td></tr>
  		</table>
    </p>

    <p>31.  Nails grow slowest at what time of the year?
  		<table class="table table-condensed">
  		  <tr><td>a)  Summer</td><td><input type="radio" name="nails_8_31" value="a"></td></tr>
  		  <tr><td>b)  Spring</td><td><input type="radio" name="nails_8_31" value="b"></td></tr>
  		  <tr><td>c)  Fall</td><td><input type="radio" name="nails_8_31" value="c"></td></tr>
  		  <tr><td>d)  Winter</td><td><input type="radio" name="nails_8_31" value="d"></td></tr>
  		</table>
    </p>

    <p>32.  The nail of the _____ grows fastest.
  		<table class="table table-condensed">
  		  <tr><td>a)  thumb</td><td><input type="radio" name="nails_8_32" value="a"></td></tr>
  		  <tr><td>b)  index finger</td><td><input type="radio" name="nails_8_32" value="b"></td></tr>
  		  <tr><td>c)  middle finger</td><td><input type="radio" name="nails_8_32" value="c"></td></tr>
  		  <tr><td>d)  pinkie finger</td><td><input type="radio" name="nails_8_32" value="d"></td></tr>
  		</table>
    </p>


    <p>33.  Nails of _____ grow at a slower rate than others.
  		<table class="table table-condensed">
  		  <tr><td>a)  children</td><td><input type="radio" name="nails_8_33" value="a"></td></tr>
  		  <tr><td>b)  adults</td><td><input type="radio" name="nails_8_33" value="b"></td></tr>
  		  <tr><td>c)  adolescents</td><td><input type="radio" name="nails_8_33" value="c"></td></tr>
  		  <tr><td>d)  the elderly</td><td><input type="radio" name="nails_8_33" value="d"></td></tr>
  		</table>
    </p>


    <p>34.  Because of hormonal changes in the body, nail growth, _____ during the last trimester of pregnancy.
  		<table class="table table-condensed">
  		  <tr><td>a)  increases dramatically</td><td><input type="radio" name="nails_8_34" value="a"></td></tr>
  		  <tr><td>b)  decreases dramatically</td><td><input type="radio" name="nails_8_34" value="b"></td></tr>
  		  <tr><td>c)  stops altogether</td><td><input type="radio" name="nails_8_34" value="c"></td></tr>
  		  <tr><td>d)  varies dramatically</td><td><input type="radio" name="nails_8_34" value="d"></td></tr>
  		</table>
    </p>


    <p>35.  What causes the dramatic increases and decreases in the rate of nail growth during and after pregnancy?
  		<table class="table table-condensed">
  		  <tr><td>a)  a lack of prenatal vitamins</td><td><input type="radio" name="nails_8_35" value="a"></td></tr>
  		  <tr><td>b)  the use of prenatal vitamins</td><td><input type="radio" name="nails_8_35" value="b"></td></tr>
  		  <tr><td>c)  changes in diet</td><td><input type="radio" name="nails_8_35" value="c"></td></tr>
  		  <tr><td>d)  hormonal changes</td><td><input type="radio" name="nails_8_35" value="d"></td></tr>
  		</table>
    </p>

    <p>36.  Compared to the matrix found on fingernails, the matrix found on toenails is _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  shorter</td><td><input type="radio" name="nails_8_36" value="a"></td></tr>
  		  <tr><td>b)  longer</td><td><input type="radio" name="nails_8_36" value="b"></td></tr>
  		  <tr><td>c)  darker in color</td><td><input type="radio" name="nails_8_36" value="c"></td></tr>
  		  <tr><td>d)  lighter in color</td><td><input type="radio" name="nails_8_36" value="d"></td></tr>
  		</table>
    </p>

    <p>37.  Compared to fingernails, toenails grow _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  thinner</td><td><input type="radio" name="nails_8_37" value="a"></td></tr>
  		  <tr><td>b)  softer</td><td><input type="radio" name="nails_8_37" value="b"></td></tr>
  		  <tr><td>c)  slower</td><td><input type="radio" name="nails_8_37" value="c"></td></tr>
  		  <tr><td>d)  faster</td><td><input type="radio" name="nails_8_37" value="d"></td></tr>
  		</table>
    </p>
    
    <p>38.  How long does the replacement of the natural fingernail take?
  		<table class="table table-condensed">
  		  <tr><td>a)  2-3 weeks</td><td><input type="radio" name="nails_8_38" value="a"></td></tr>
  		  <tr><td>b)  6-8 weeks</td><td><input type="radio" name="nails_8_38" value="b"></td></tr>
  		  <tr><td>c)  2-4 months</td><td><input type="radio" name="nails_8_38" value="c"></td></tr>
  		  <tr><td>d)  4-6 months</td><td><input type="radio" name="nails_8_38" value="d"></td></tr>
  		</table>
    </p>
    
    <p>39.  How long does it take for the natural replacement of a toenail?
  		<table class="table table-condensed">
  		  <tr><td>a)  8-10 weeks</td><td><input type="radio" name="nails_8_39" value="a"></td></tr>
  		  <tr><td>b)  4-6 months</td><td><input type="radio" name="nails_8_39" value="b"></td></tr>
  		  <tr><td>c)  9-12 months</td><td><input type="radio" name="nails_8_39" value="c"></td></tr>
  		  <tr><td>d)  12-16 months</td><td><input type="radio" name="nails_8_39" value="d"></td></tr>
  		</table>
    </p>
    
    <p>40.  The natural nail is considered an appendage of the _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  skin</td><td><input type="radio" name="nails_8_40" value="a"></td></tr>
  		  <tr><td>b)  bone</td><td><input type="radio" name="nails_8_40" value="b"></td></tr>
  		  <tr><td>c)  hair</td><td><input type="radio" name="nails_8_40" value="c"></td></tr>
  		  <tr><td>d)  nail bed</td><td><input type="radio" name="nails_8_40" value="d"></td></tr>
  		</table>
    </p>
    
    <p>41.  The surface of a normal, healthy nail _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  has hollows</td><td><input type="radio" name="nails_8_41" value="a"></td></tr>
  		  <tr><td>b)  has wavy ridges</td><td><input type="radio" name="nails_8_41" value="b"></td></tr>
  		  <tr><td>c)  is unspotted</td><td><input type="radio" name="nails_8_41" value="c"></td></tr>
  		  <tr><td>d)  has excessive curvature</td><td><input type="radio" name="nails_8_41" value="d"></td></tr>
  		</table>
    </p>
    
    <p>42.  Oil-based nail conditioners _____.
  		<table class="table table-condensed">
  		  <tr><td>a)  are not recommended</td><td><input type="radio" name="nails_8_42" value="a"></td></tr>
  		  <tr><td>b)  can increase water loss</td><td><input type="radio" name="nails_8_42" value="b"></td></tr>
  		  <tr><td>c)  can improve nail flexibility</td><td><input type="radio" name="nails_8_42" value="c"></td></tr>
  		  <tr><td>d)  can soften cuticles</td><td><input type="radio" name="nails_8_42" value="d"></td></tr>
  		</table>
    </p>
    
    <p>43.  Nail folds form the nail groove or _____ on each side of the nail.
  		<table class="table table-condensed">
  		  <tr><td>a)  furrow</td><td><input type="radio" name="nails_8_43" value="a"></td></tr>
  		  <tr><td>b)  depression</td><td><input type="radio" name="nails_8_43" value="b"></td></tr>
  		  <tr><td>c)  trench</td><td><input type="radio" name="nails_8_43" value="c"></td></tr>
  		  <tr><td>d)  wrinkle</td><td><input type="radio" name="nails_8_43" value="d"></td></tr>
  		</table>
    </p>
    
    <p>44.  As a person ages, parts of the nail matrix begin to permanently slow down production, causing the plate to develop a series of _____ running the length of the plate.
  		<table class="table table-condensed">
  		  <tr><td>a)  wavy ridges</td><td><input type="radio" name="nails_8_44" value="a"></td></tr>
  		  <tr><td>b)  hard depression</td><td><input type="radio" name="nails_8_44" value="b"></td></tr>
  		  <tr><td>c)  wavy furrows</td><td><input type="radio" name="nails_8_44" value="c"></td></tr>
  		  <tr><td>d)  narrow grooves</td><td><input type="radio" name="nails_8_44" value="d"></td></tr>
  		</table>
    </p>

  </form>
  
  <button id="submitExam" class="btn btn-lg btn-primary">Submit</button>

</body>
</html>
